_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_flow_resistance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model flow resistance for
	a simulation area. The definition of the flow resistance properties
	are based on a global definition of rougthness classes and eddy viskosity
	classes. To come to the real flow resistance properties (rougthness, eddy viskosity and 
	marsh parameters) correction, scaling factors are defined.
	The classes for rougthness and eddy viskosities are identified by URIs and are not part
	of this schema.
	It is the task  of the software component, which compute the final property value to 
	resolve the global definitions. 
	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	<!-- xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="../gml3.1.1/base/gml.xsd"
		/-->
	
	<!--***********************************************************************
		Definition flowResistance Model 
		********************************************************************-->
		<!--xs:element 
			name="flowResistanceModel" 
			type="simBase:FlowResistanceModel"/>
		
		<xs:complexType name="FlowResistanceModel">
			<xs:complexContent>
				<xs:extension base="gml:AbstractGMLType">
					<xs:sequence>
						<xs:element
							ref="simBase:RougthnessCoverage"
							minOccurs="0" maxOccurs="1"/>
						<xs:element 
							ref="simBase:EddyViskosityCoverage"
							minOccurs="0" maxOccurs="1"/>
						<xs:element
							ref="simBase:MarshFactorCoverage"/>
					</xs:sequence>

				</xs:extension>
			</xs:complexContent>
		</xs:complexType-->
	
	<!-- ================================================================
		rougthness coverage property 
	================================================================= -->
	<xs:element 
		name="rougthnessCoverage"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="simBase:RougthnessCoverage"
							minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
		
	<!-- ================================================================
		Rougthness Coverage
	================================================================= -->
		<xs:element 
			name="RougthnessCoverage"
			type="simBase:RougthnessCoverageType">
		</xs:element>
		<xs:complexType 
			name="RougthnessCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiPointCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="simBase:rougthnessRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
	
	<!-- =================================================================
		rougthnessRangeSet
	================================================================== -->	
	<xs:element 
		name="rougthnessRangeSet"
		substitutionGroup="gml:rangeSet">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction 
					base="gml:RangeSetType">
					<!--xs:choice-->
					<xs:sequence>
						<xs:element 
							ref="simBase:RougthnessValueArray" 
							maxOccurs="unbounded"/>
					</xs:sequence>
					<!--/xs:choice-->
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>		
	</xs:element>
		
	<!-- =================================================================
		RougthnessValueArray
	================================================================== -->
	<xs:element 
		name="RougthnessValueArray"
		type="simBase:RougthnessValueArrayType"
		substitutionGroup="gml:ValueArray"
		>
	</xs:element>
	
	<xs:complexType 
		name="RougthnessValueArrayType">
		<xs:annotation>
			<xs:documentation>
				Aggregate value built from other Values using the Composite pattern. 
				It contains zero or an arbitrary number of valueComponent elements, 
				and zero or one valueComponents elements.  
				It may be used for strongly coupled aggregates (vectors, tensors) or 
				for arbitrary collections of values.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:ValueArrayType">
				<xs:sequence>
					<xs:element
						ref="simBase:rougthnessValue"
						minOccurs="0" maxOccurs="unbounded"/>
					<!-- xs:element 
						ref="gml:valueComponent" 
						minOccurs="0" maxOccurs="unbounded"/-->
					<!--xs:element ref="gml:valueComponents" minOccurs="0"/-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="rougthnessValue"
		type="simBase:RougthnessValuePropertyType"
		substitutionGroup="gml:valueComponent">
	
	</xs:element>
	
	<xs:complexType 
		name="RougthnessValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence>
					<xs:element 
						ref="simBase:_Rougthness"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
	
	================================================================== -->
	<xs:element 
		name="_Rougthness"
		type="simBase:AbstractRougthnessType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all rougthness elements
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractRougthnessType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		RMA10SRougthness
	================================================================== -->
	<xs:element 
		name="RMA10SRougthness"
		type="simBase:RMA10SRougthnessType"
		substitutionGroup="simBase:_Rougthness">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType 
		name="RMA10SRougthnessType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractRougthnessType">
				<xs:sequence>
					<!--TO DO -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		eddy viscosity coverage
	================================================================== -->	
	<xs:element 
		name="eddyViscosityCoverage"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="simBase:EddyViskosityCoverage"
							minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	
	<!-- =================================================================
		Eddy Viscosity Coverage
	================================================================== -->
		<xs:element 
			name="EddyViskosityCoverage"
			type="simBase:EddyViskosityCoverageType">
		</xs:element>
		<xs:complexType 
			name="EddyViskosityCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiCurveCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="simBase:eddyViscosityRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		
		<!-- =============================================================
			eddyViscosityRangeSet
		============================================================== -->
		<xs:element 
			name="eddyViscosityRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="simBase:EddyViscosityValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
		
	<!-- =================================================================
		EddyViscosityValueArray
	================================================================== -->
	<xs:element 
		name="EddyViscosityValueArray"
		type="simBase:EddyViscosityValueArrayType"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	
	<xs:complexType 
		name="EddyViscosityValueArrayType">
		<xs:annotation>
			<xs:documentation>
				Aggregate value built from other Values using the Composite pattern. 
				It contains zero or an arbitrary number of valueComponent elements, 
				and zero or one valueComponents elements.  
				It may be used for strongly coupled aggregates (vectors, tensors) or 
				for arbitrary collections of values.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:ValueArrayType">
				<xs:sequence>
					<xs:element
						ref="simBase:eddyViscosityValue"
						minOccurs="0" maxOccurs="unbounded"/>
					<!-- xs:element 
						ref="gml:valueComponent" 
						minOccurs="0" maxOccurs="unbounded"/-->
					<!--xs:element ref="gml:valueComponents" minOccurs="0"/-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		eddyViscosityValue
	================================================================== -->
	<xs:element 
		name="eddyViscosityValue"
		type="simBase:EddyViscosityValuePropertyType"
		substitutionGroup="gml:valueComponent">
	</xs:element>
	<xs:complexType 
		name="EddyViscosityValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="simBase:_EddyViscosity"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		_EddyViscosity substitution head
	================================================================== -->
	<xs:element 
		name="_EddyViscosity"
		type="simBase:AbstractEddyViscosityType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all eddy viskosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractEddyViscosityType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		RMA10SEddyViscosity
	================================================================== -->
	<xs:element 
		name="RMA10SEddyViscosity"
		type="simBase:RMA10SEddyViscosityType"
		substitutionGroup="simBase:_EddyViscosity">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType 
		name="RMA10SEddyViscosityType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractEddyViscosityType">
				<xs:sequence>
					<xs:element 
						name="yEddy"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Coefficients used to describe vertical 
								distribution of eddy
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						name="xzEddy"
						type="xs:long">
						<xs:annotation>
							<xs:documentation>
								XZ eddy coefficients for homogeneous flow,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						name="yzEddy"
						type="xs:long">
						<xs:annotation>
							<xs:documentation>
								XZ eddy coefficients for homogeneous flow,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		marsh factor coverage property
	================================================================== -->
	<xs:element 
		name="marshFactorCoverage"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="simBase:MarshFactorCoverage"
							minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<!-- =================================================================
			Marh Factor Coverage
	================================================================== -->
		<xs:element 
			name="MarshFactorCoverage"
			type="simBase:MarshFactorCoverageType">
		</xs:element>
		<xs:complexType 
			name="MarshFactorCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiCurveCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="simBase:marshFactorRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="marshFactorRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="simBase:MarshFactorValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="MarshFactorValueArray"
		type="simBase:MarshFactorValueArrayType"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	
	<xs:complexType 
		name="MarshFactorValueArrayType">
		<xs:annotation>
			<xs:documentation>
				Aggregate value built from other Values using the Composite pattern. It contains zero or an arbitrary number of valueComponent elements, and zero or one valueComponents elements.  It may be used for strongly coupled aggregates (vectors, tensors) or for arbitrary collections of values.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:ValueArrayType">
				<xs:sequence>
					<xs:element
						ref="simBase:marshFactorValue"
						minOccurs="0" maxOccurs="unbounded"/>
					<!-- xs:element 
						ref="gml:valueComponent" 
						minOccurs="0" maxOccurs="unbounded"/-->
					<!--xs:element ref="gml:valueComponents" minOccurs="0"/-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element
		name="marshFactorValue"
		type="simBase:MarshFactorValuePropertyType"
		substitutionGroup="gml:valueComponent"/>
		
	<xs:complexType 
		name="MarshFactorValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="simBase:_MarshFactor"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<!-- =================================================================
		_MarshFactor
	================================================================== -->
	<xs:element 
		name="_MarshFactor"
		type="simBase:AbstractMarshFactorType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all marsh factors
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractMarshFactorType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		RMA10SMarshFactor
	================================================================== -->
	<xs:element 
		name="RMA10SMarshFactor"
		type="simBase:RMA10SMarshFactorType"
		substitutionGroup="simBase:_MarshFactor">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="RMA10SMarshFactorType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractMarshFactorType">
				<xs:sequence>
					<xs:element 
						name="bottomElevationShift"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Bottom elevation shift for A0 at described node 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="deptRange"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Depth range at the described node over which 
								section reduces
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="minActiveFraction"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Minimum active fraction for the described node 
								over lower section
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="absoluteBottomElevation"
						type="xs:double"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Absolute bottom elevation to overrides the
								primary bottom elevation shift defined
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
			Rougthness correction factor
	================================================================== -->
	<xs:complexType name="RougthnessCorrectionFactorCollectionType">
		<xs:annotation>
			<xs:documentation>
				A colection of rougthness correction factors
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element ref="simBase:roughnessCorrectionFactor"/>
					<xs:element ref="simBase:roughnessCorrectionFactors"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		rougthnessCorrectionFactors
	================================================================== -->
	<xs:element 
			name="roughnessCorrectionFactors">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
							base="gml:FeatureArrayPropertyType">
						<xs:sequence>
							<xs:element 
								ref="simBase:RoughnessCorrectionFactor"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
	</xs:element>
	
	<!-- =================================================================
		rougthnessCorrectionFactor
	================================================================== -->
	<xs:element 
		name="roughnessCorrectionFactor"
		substitutionGroup="gml:featureMember">	
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="simBase:RoughnessCorrectionFactor"
							minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:attributeGroup 
						ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element 
		name="RoughnessCorrectionFactor"
		type="simBase:RoughnessCorrectionFactorType">
		<xs:annotation>
			<xs:documentation>
				The rougthness correction factor element maps a correction 
				factor to a defined eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType 
		name="RoughnessCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element 
						name="roughnessURI"
						type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The URI representing the rougthness classes 
								to be corrected.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element
						name="correctionFactor"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								The correction or scaling factor for the correction
							</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ====================================================================
					EddyViscosityCorrectionFactorCollectionType
		================================================================= -->
	<xs:complexType name="EddyViscosityCorrectionFactorCollectionType">
		<xs:annotation>
			<xs:documentation>
				A collection of eddy viscosity correction factors
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element ref="simBase:eddyViscosityCorrectionFactor"/>
					<xs:element ref="simBase:eddyViscosityCorrectionFactors"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ================================================================
		eddyViscosityCorrectionFactor
	================================================================= -->
	<xs:element 
		name="eddyViscosityCorrectionFactor"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="simBase:EddyViscosityCorrectionFactor"
							minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<!-- =================================================================
		eddyViscosityCorrectionFactors
	================================================================== -->
	<xs:element 
		name="eddyViscosityCorrectionFactors"
		substitutionGroup="gml:featureMembers">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
							base="gml:FeatureArrayPropertyType">
						<xs:sequence>
							<xs:element 
								ref="simBase:EddyViscosityCorrectionFactor"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
	</xs:element>
	
	
	<!-- =================================================================
		eddyViscosityCorrectionFactors
	================================================================== -->
	
	<!-- =================================================================
		EddyViscosityCorrectionFactor
	================================================================== -->
	<xs:element 
		name="EddyViscosityCorrectionFactor"
		type="simBase:EddyViscosityCorrectionFactorType">
		<xs:annotation>
			<xs:documentation>
				The eddy viscosity correction factor map a correction 
				factor to a defined eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="EddyViscosityCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>					
					<xs:element 
						name="eddyViscosityURI"
						type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The URI representing the eddy vikosity class to be 
								corrected
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element
						name="correctionFactor"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								The correction or scaling factor for the eddy viskosity
							</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>	
	
	<!-- ====================================================================
					MarshParamCorrectionFactorCollectionType
		================================================================= -->
	<xs:complexType name="MarshParamCorrectionFactorCollectionType">
		<xs:annotation>
			<xs:documentation>
				A collection of eddy viscosity correction factors
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element ref="simBase:marshParamCorrectionFactor"/>
					<xs:element ref="simBase:marshParamCorrectionFactors"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		marshParamCorrectionFactor
	================================================================== -->
	<xs:element 
		name="marshParamCorrectionFactor"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="simBase:MarshParamCorrectionFactor"
							minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup 
							ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<!-- =================================================================
		marshParamCorrectionFactors
	================================================================== -->
	<xs:element 
		name="marshParamCorrectionFactors"
		substitutionGroup="gml:featureMembers">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
							base="gml:FeatureArrayPropertyType">
						<xs:sequence>
							<xs:element 
								ref="simBase:MarshParamCorrectionFactor"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
	</xs:element>
	
	<!-- =================================================================
		MarshParamCorrectionFactor, type
	================================================================== -->
	<xs:element 
		name="MarshParamCorrectionFactor"
		type="simBase:MarshParamCorrectionFactorType">
		<xs:annotation>
			<xs:documentation>
				The eddy viscosity correction factor map a correction 
				factor to a defined eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType 
		name="MarshParamCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>					
					<xs:element 
						name="roughnessURI"
						type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The URI representing the rougthness class, 
								which associated marsh param definition is to be 
								corrected
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element
						name="marshParamFactor"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								The correction or scaling factor for the marsh factor
							</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
</xs:schema>