_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_flow_relationship.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model flow relationships
	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wb="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<!-- remote from ogc -->
	<!-- xs:import 	
		namespace="http://www.opengis.net/gml" 
		schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/ -->

	<!-- local modified for successful binding -->
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	
	<xs:include schemaLocation="simulation_model_math.xsd"/>
		<!--***********************************************************************
		Definition flowRelationship model 
		********************************************************************-->
	<xs:element 
		name="flowRelationshipModel" 
		type="xs:string"/>
	<!-- ==========================Marh Parameter Coverage================== -->
		<xs:element 
			name="FlowRelationshipCoverage"
			type="simBase:FlowRelationshipCoverageType">
			<xs:annotation>
				<xs:documentation>
					Represents a multipoint coverage with flow Relationship elements
					(_FlowRelationship and subtituable) as range set values 
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		
		<xs:complexType 
			name="FlowRelationshipCoverageType">
			<xs:annotation>
				<xs:documentation>
					Specifies a multipoint coverage with flow Relationship elements
					(_FlowRelationship and subtituable) as range set values 
				</xs:documentation>
			</xs:annotation>			
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiPointCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="simBase:flowRelationshipRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		
		<xs:element 
			name="flowRelationshipRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:annotation>
				<xs:documentation>
					Range Set containing only an array of flow relationships;
					(_FlowRelationship and its substitutes)
				</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<!--xs:choice-->
						<xs:sequence>	
							<xs:element 
								ref="simBase:FlowRelationshipValueArray" 
								minOccurs="1" maxOccurs="1"/>
							</xs:sequence>
						<!--/xs:choice-->
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="FlowRelationshipValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="FlowRelationshipValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="simBase:_FlowRelationship"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_FlowRelationship"
		type="simBase:AbstractFlowRelationshipType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all flow relationship elements
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractFlowRelationshipType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all flow relationship types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="QOverH"
		type="simBase:QOverHType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="QOverHType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="q">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="h">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="simBase:Polynom1D"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			AOverH element
	====================================================================== -->
	<xs:element 
		name="AOverH"
		type="simBase:AOverHType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define a area waterlevel relationship based on
				control point and an optional fitting polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<!-- =====================================================================
			AOverHType
	====================================================================== -->
	<xs:complexType 
		name="AOverHType">
		<xs:annotation>
			<xs:documentation>
				Type to define a area waterlevel relationship based on
				control points and an optional fitting 1d polynom
			</xs:documentation>
		</xs:annotation>
		
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element 
						name="a"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					
					<xs:element 
						name="h"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					
					<xs:element 
						ref="simBase:Polynom1D"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =====================================================================
			AOverHPolynom element
	====================================================================== -->
	<xs:element 
		name="AOverHPolynom"
		type="simBase:AOverHType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define a area waterlevel polynom only relationship
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =====================================================================
			AOverHPolynomType element
	====================================================================== -->
	<xs:complexType 
		name="AOverHPolynomType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element 
						ref="simBase:Polynom1D"
						minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			WlDisRel element
	====================================================================== -->
	<xs:element 
		name="FlowRelWlDis"
		type="simBase:FlowRelWlDisType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Define a watterlevel discharge relationship based on set of control
				point and an optional polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- ======================================================================
		FlowRelWldisType
	======================================================================= -->	
	<xs:complexType 
		name="FlowRelWlDisType">
		<xs:annotation>
			<xs:documentation>
				Type for watterlevel discharge relationship based on set of control
				point and an optional polynom
			</xs:documentation>
		</xs:annotation>		
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="waterLevel">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="discharge">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			FlowRelWlWlDis element
	====================================================================== -->
	<xs:element 
		name="FlowRelWlWlDis"
		type="simBase:FlowRelWlWlDisType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define a waterlevl water level relationship based
				on control point and an optional 2D polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<!-- =====================================================================
			WlWlDisReltType
	====================================================================== -->
	<xs:complexType 
		name="FlowRelWlWlDisType">
		<xs:annotation>
			<xs:documentation>
				Type for waterlevel water level discharge relationship based
				on control points and an optional 2D polynom
			</xs:documentation>
		</xs:annotation>
		
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element 
						name="wlHeadWater"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element 
						name="wlBottomWater"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element 
						name="discharge"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="simBase:Polynom2D"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
		WlAreaDisRel
	====================================================================== -->
	<xs:element 
		name="FlowRelWlAreaDis"
		type="simBase:FlowRelWlAreaType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Defines a watter level area relationship based on control, 
				measured, interpolation point and optionaly a 1D fitting
				polynom
			</xs:documentation>
		</xs:annotation>
				
	</xs:element>
	
	
	<!-- =====================================================================
		FlowWlAreaType
	====================================================================== -->
	<xs:complexType 
		name="FlowRelWlAreaType">
		<xs:annotation>
			<xs:documentation>
				Type for watter level area relationship based on control, 
				measured, interpolation points and optionaly a 1D fitting 
				polynom
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="waterLevel">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="area">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="simBase:Polynom1D"/>			
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		
</xs:schema>