_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_finite_elements_discretisation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements for a finite element discretisation model.
	The model kann be view in a different levels of complexity:
		i)level 0 the nodes
			Typically nodes wrapps points, i.e. the have 
			a geographical property.		
		ii)level 1 the edges
			Typical simple edges are made of node, one starting and one stoping node. 
			But the can also starts a a point and ends at an edges depending to the
			model need.	
		iii) the elements
			Groups edges.
		iv) level 4 the complexe element.
			complex elements groups element in a meaningfull context 
			or concept Elements are   
	All types and elements define here are abtract modellers are required to
	build costum type and elements for their domain 
	
	About node nature; while extending the node type to principle may be followed concerning
	the node nature:
		i) Multiple node type
		ii)Single node type with implicit nature to membership in an element
		or in a complex type.  
	About geometry Association:
		i) geometry should be assoiated to node.
		ii)other element geometry are implicitely defined.
		iii)Extra geometric shape may be associated to elements or complex element
		 in the case the shape are not esy to derive from their sub elements  	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	
	<!-- remote from ogc -->
	<!-- xs:import 	
		namespace="http://www.opengis.net/gml" 
		schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/ -->
	<!--xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="../gml3.1.1/base/gml.xsd"
		/-->
	<!-- local modified for successful binding -->
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
		
	<xs:include schemaLocation="simulation_model.xsd"/>
		
		<!--***********************************************************************
				Definition discretisation Model 
		********************************************************************-->
	<xs:element 
		name="feDiscretisationModel" 
		type="simBase:FEDiscretisationModelPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				To define a finite element discretisation model property.
				 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="FEDiscretisationModelPropertyType"
		>
			<xs:sequence>					
				<xs:element 
					ref="simBase:FEDiscretisationModel"
					minOccurs="0" maxOccurs="1"/>						
			</xs:sequence>
			<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<xs:element 
		name="FEDiscretisationModel"
		type="simBase:FEDiscretisationModelType"
		abstract="true"
		substitutionGroup="simBase:_Model"> 
		<xs:annotation>
			<xs:documentation>
				Represents a finite element discretisation with complex element, 
				simple elements, edges and nodes.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- ================================================================= 
		FEDirectedModelType
	====================================================================-->
	<xs:complexType 
		name="FEDiscretisationModelType"
		abstract="true">
		<xs:complexContent>
			<xs:extension
				base="simBase:AbstractModelType"><!--gml:FeaturePropertyType"-->
				<xs:sequence>					
					<xs:element 
						ref="simBase:feComplexElementProperty"
						minOccurs="0" maxOccurs="unbounded"/>
					<xs:element
						ref="simBase:feElementProperty"
						minOccurs="0" maxOccurs="unbounded"/>
					<xs:element
						ref="simBase:feNodeProperty"
						minOccurs="0" maxOccurs="unbounded"/>						
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	
	<!-- ================================================================= 
		directedNode
	====================================================================-->
	<xs:element
		name="directedNode"
		type="simBase:FEDirectedNodePropertyType"
		/>
		
	<!-- ================================================================= 
		FEDirectedNodePropertyType node
	====================================================================-->
	<xs:complexType name="FEDirectedNodePropertyType">
		<xs:annotation>
			<xs:documentation>
				Node property with an orientation attribute 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="0">
			<xs:element 
				ref="simBase:_FENode"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="orientation" type="gml:SignType" default="+"/>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	
	
	<!-- ================================================================= 
		FEDirectedEdgePropertyType
	====================================================================-->
	<xs:element 
		name="feDirectedEdge"
		type="simBase:FEDirectedEdgePropertyType"
		>
	</xs:element>
	
	<xs:complexType 
		name="FEDirectedEdgePropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				A directed nod holds a reference to an edge and 
				has a direction property element. 
				No attribute is used due to Kalpso limitations.
			</xs:documentation>			
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:_FEEdge"
				minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute 
			name="orientation" 
			type="gml:SignType" 
			default="+"/>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>

	<!-- ================================================================= 
		FENodePropertyType
	====================================================================-->
	<xs:complexType 
		name="FENodePropertyType">
		<!--xs:complexContent>
			<xs:restriction
				base="gml:AssociationType"-->
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="simBase:_FENode"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>	
	
	
	<!-- ================================================================= 
		FENodePropertyType
	====================================================================-->
	<xs:element 
		name="_FENode"
		abstract="true"
		type="simBase:FEAbstractNodeType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all nodes in a finite  element network
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
	
	<!-- ================================================================= 
		FEAbstractNodeType
	====================================================================-->
	<xs:complexType 
		name="FEAbstractNodeType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Abtracts type for the finite elements nodes.
				Its container property links it to the containing super
				elements an _FEEdge.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<!--xs:extension 
				base="gml:AbstractTopologyType"-->				
			<xs:extension 
				base="gml:AbstractFeatureType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- ================================================================= 
		FEEdgePropertyType
	====================================================================-->
	<xs:complexType 
		name="FEEdgesPropertyType">
		<!--xs:complexContent>
			<xs:restriction
				base="gml:FeaturePropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="simBase:_FEEdge"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>	
	
	<!-- ================================================================= 
		_FEEdge, subtitution head for edges
	====================================================================-->
	<xs:element 
		name="_FEEdge"
		abstract="true"
		type="simBase:FEAbstractEdgeType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all edged in a finite element network
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
	
	<!-- ================================================================= 
		FEAbstractEdgeType, base type for edges
	====================================================================-->
	<xs:complexType 
		name="FEAbstractEdgeType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for edges in a finite element network
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<!--xs:extension 
				base="gml:AbstractTopologyType"-->
			<xs:extension 
				base="gml:AbstractFeatureType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- ================================================================= 
		FEEdgePropertyType
	====================================================================-->
	<xs:complexType 
		name="FEElementPropertyType"
		abstract="true">
			<xs:complexContent>
			<xs:restriction
				base="gml:AssociationType">
				<xs:sequence minOccurs="0" maxOccurs="0">
					<xs:element 
						ref="simBase:_FEElement"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	
	<!-- =====================================================================
					_FEElement head of the substitution hierarchy for 
					the a finite element network
	====================================================================== -->
	<xs:element 
		name="_FEElement"
		abstract="true"
		type="simBase:FEAbstractElementType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all finite element
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
	
	
	<!-- =====================================================================
					FEAbstractElementType base type for finite elements
					the a finite element network
	====================================================================== -->
	<xs:complexType 
		name="FEAbstractElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for an elment in finite element  network  
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element
						name="elementContainer"
						type="simBase:FEElementContainerPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
			feComplexElementProperty
	================================================================= -->
	<xs:element 
		name="feComplexElementProperty"
		type="simBase:FEComplexElementPropertyType"
		abstract="true"
		substitutionGroup="gml:_association">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FEComplexElement. 
				This must be subtituted by a custom fe complex element property 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			feElementProperty
	================================================================= -->
	
	<xs:element 
		name="feElementProperty"
		type="simBase:FEElementPropertyType"
		substitutionGroup="gml:_association"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FEElement. 
				This must be subtituted by a custom finite element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			feEdgeProperty
	================================================================= -->
	
	<xs:element 
		name="feEgdeProperty"
		type="simBase:FEEdgesPropertyType"
		abstract="true"
		>
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FEEdge. 
				This must be subtituted by a custom edge element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			feNodeProperty
	================================================================= -->
	
	<xs:element 
		name="feNodeProperty"
		type="simBase:FENodePropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FENode. 
				This must be subtituted by a custom node element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			FEComplexElementPropertyType
	================================================================= -->
	
	<xs:complexType 
		name="FEComplexElementPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property type for defining complex elements
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction
				base="gml:AssociationType">
				<xs:sequence 
					minOccurs="0" maxOccurs="1">
					<xs:element ref="simBase:_FEComplexElement"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
			_FEComplexElement
	================================================================= -->
	<xs:element 
		name="_FEComplexElement"
		abstract="true"
		type="simBase:FEAbstractComplexElementType" substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				An element grouping finite elements, which together
				builds a meaningfull concept.
				E.g. The  main channel complexe element, which contains
				2D elements. This element acts as substitution group head.
			</xs:documentation>
		</xs:annotation>		
	</xs:element>	
	
	<!-- =================================================================
			FEAbstractComplexElementType
	================================================================= -->
	<xs:complexType 
		name="FEAbstractComplexElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for elements which group elements, forming a 
				meaning full concept
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractFeatureType">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
			feEdgeContainerPropertyType
	================================================================= -->
	<xs:element 
		name="feEdgeContainer"
		type="simBase:FEEdgeContainerPropertyType"/> 
		
	<xs:complexType 
		name="FEEdgeContainerPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Associates elements to the element the contains, edges
			</xs:documentation>
		</xs:annotation>
		<!-- xs:complexContent>
			<xs:restriction
				base="gml:ArrayAssociationType" -->
				<xs:sequence 
					minOccurs="0" 
					maxOccurs="1">
					<xs:element ref="simBase:_FEElement"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
			FENodeContainerPropertyType
	================================================================= -->
	<xs:element 
		name="feNodeContainer"
		type="simBase:FENodeContainerPropertyType"/>
	<xs:complexType 
		name="FENodeContainerPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Associates node to egde elements containing it.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction
				base="gml:AssociationType">
				<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element ref="simBase:_FEEdge"/>
				</xs:sequence>
				<!--xs:attributeGroup ref="gml:AssociationAttributeGroup"/ -->
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType> 
	
	<!-- =====================================================================
				elementContainer, _ComplexElements
	 ======================================================================-->
	<xs:element
		name="feElementContainer"
		type="simBase:FEElementContainerPropertyType"
		abstract="true"/>
	
	<!-- =====================================================================
				FEElementContainerPropertyType, _ComplexElements
	 ======================================================================-->
	
	<xs:complexType 
		name="FEElementContainerPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Associates an element to the complex element containing it
			</xs:documentation>
		</xs:annotation>
		<!-- xs:complexContent>
			<xs:restriction
				base="gml:ArrayAssociationType"-->		
				<xs:sequence minOccurs="1" maxOccurs="unbounded">
					<xs:element ref="simBase:_FEComplexElement"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!-- /xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
	
	================================================================== -->
	<xs:element 
		name="elementDisablingSpec"
		type="simBase:ElementDisablingSpecPropertyType">
	</xs:element>
	<xs:complexType 
		name="ElementDisablingSpecPropertyType"
		abstract="true">
		<xs:sequence>
			<xs:element 
				ref="simBase:ElementDisablingSpec"
				 minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- =================================================================
		ElementDisablingSpec
	================================================================== -->
	<xs:element 
		name="ElementDisablingSpec"
		type="simBase:ElementDisablingSpecType"
		substitutionGroup="gml:_GML">
	</xs:element>
	
	<xs:complexType 
			name="ElementDisablingSpecType">
			<xs:complexContent>
				<xs:extension 
					base="gml:AbstractGMLType">
					<xs:sequence>
						<xs:element 
							ref="gml:multiPosition"
							minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
	</xs:complexType>	
</xs:schema>