_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_control_model.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide sommon element for  simulation control control
	model.
	The SimulationControlConcept is define as building block
	for simulation control models.
	
	The often use TimeAndSpaceSimulationDomain
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
		

	<!-- =================================================================
	controlParameter Property
	================================================================== -->
	<xs:element 
		name="simulationControlConcept"
		type="simBase:SimulationControlConceptPropertyType"/>
	<xs:complexType name="SimulationControlConceptPropertyType">
		<xs:annotation>
			<xs:documentation>
				Property element to hold a _ControlParameter element,
				or a substitut
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:_SimulationControlConcept"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
		_ControlParameter
	================================================================== -->
	<xs:element 
		name="_SimulationControlConcept"
		type="simBase:AbstractSimulationControlConceptType"
		substitutionGroup="gml:_GML">
		<xs:annotation>
			<xs:documentation>
				Head  of the substitution group for simulation control
				parameters. 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractSimulationControlConceptType">
		<xs:annotation>
			<xs:documentation>
				Concept for controling a simulation procedure or algorithm
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType"/>
		</xs:complexContent>
	</xs:complexType>	
	<!-- =================================================================
		TimeAndSpaceSimualtionDomain
	================================================================== -->
	<xs:complexType 
		name="TimeAndSpaceSimulationDomainType">
		<xs:annotation>
			<xs:documentation>
				Difined Time and space domain for a simulation.
				This act for example as a restriction for used time 
				series and possible location for the discretisation 
				element location
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="simBase:AbstractSimulationControlConceptType">
				<xs:sequence>
					<xs:element 
						name="startTime"
						type="xs:time"
						minOccurs="1" maxOccurs="1"/>
					
					<xs:element 
						name="stopTime"
						type="xs:time"
						minOccurs="1" maxOccurs="1"/>
					
					<xs:element
						ref="gml:boundingBox"/>
						
					<xs:element
						name="allowSpacialOverlapping"
						type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								Govern the inclusion of dicretisation elements,
								which are not entirely in the space domain:
								==true allows inclusion
								==false dis-allows inclusion.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
</xs:schema>