_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_terrain.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model flow relationships
	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	
	
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	<!--xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="../3.1.1/base/gml.xsd"
		/-->
	
	<!-- =================================================================
		terrainModel
	================================================================== -->
	<xs:element 
		name="terrainModel" 
		type="simBase:TerrainModelPropertyType"/>

	<xs:complexType 
		name="TerrainModelPropertyType">
		<xs:annotation>
			<xs:documentation>
				Property type to defined terrain model of a 1d 2d static model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:TerrainModel"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
	 Terrain Model
	================================================================== -->
	<xs:element 
		name="TerrainModel" 
		type="simBase:TerrainModelType">
		<xs:annotation>
			<xs:documentation>
				Terrain model element with one terrain elevation element and 
				and roughness layer polygon elements.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType 
		name="TerrainModelType">
		<xs:annotation>
			<xs:documentation>
				Defined a terrain model type that contains an elevation model
				and a roughness layer polygon 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:terrainElevationModel"
				minOccurs="1" maxOccurs="1"/>
			<xs:element 
				ref="simBase:roughnessLayerPolynomCollection"
				minOccurs="1" maxOccurs="1"/>
			<xs:element
				ref="simBase:riverProfileNetwork"
				minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- =================================================================
		terrainElevationModel	
	================================================================== -->
	<xs:element 
		name="terrainElevationModel"
		type="simBase:TerrainElevationModelPropertyType"/>
	<xs:complexType 
		name="TerrainElevationModelPropertyType">
		<xs:annotation>
			<xs:documentation>
				To define an elevation model element for typicaly a terrain model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="simBase:TerrainElevationModel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
		Terrain elevation Model
	================================================================== -->
	<xs:element 
		name="TerrainElevationModel"
		type="simBase:TerrainElevationModelType"
		/>
	<xs:complexType 
		name="TerrainElevationModelType">
		<xs:annotation>
			<xs:documentation>
				Abstracts a terrain elevation. which kann hold a digital
				elevation model, which is just a cloud of points or a  
				triangulated irregular network
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element 
						ref="simBase:digitalElevationModel"
						minOccurs="0" maxOccurs="1"/>
					<xs:element 
						ref="simBase:triangulatedIrregularNetwork"
						minOccurs="0" maxOccurs="1"/>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		DigitalElevationModelPropertyType
	================================================================== -->	
	<xs:element 
		name="digitalElevationModel"
		type="simBase:DigitalElevationModelPropertyType">
	
	</xs:element>
	<xs:complexType name="DigitalElevationModelPropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Propriety type to hold a digital elevation model element
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="simBase:DigitalElevationModel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!--==================================================================
		Digital elevationModelType can be put in the controlPoint of TIN 
	===================================================================-->
	<xs:element 
		name="DigitalElevationModel" 
		type="simBase:DigitalElevationModelType" 
		substitutionGroup="gml:posList"/>
		
	<xs:complexType name="DigitalElevationModelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Represents cloud of points with (x y z) cordinates
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:DirectPositionListType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ================================================================
			triangulatedIrregularNetwork
	================================================================= -->
	<xs:element 
		name="triangulatedIrregularNetwork" 
		type="simBase:TriangulatedIrregularNetworkPropertyType"/>
	<xs:complexType name="TriangulatedIrregularNetworkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="simBase:TriangulatedIrregularNetwork"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
		TriangulatedIrregularNetwork
	================================================================== -->
	<xs:element 
		name="TriangulatedIrregularNetwork" 
		type="simBase:TriangulatedIrregularNetworkType" 
		substitutionGroup="gml:Surface"/>

	<xs:complexType 
		name="TriangulatedIrregularNetworkType">
		<xs:complexContent>
			<xs:extension base="gml:TinType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
	roughnessLayerPolynomCollection property
	================================================================== -->
	<xs:element 
		name="roughnessLayerPolynomCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element 
					ref="simBase:RoughnessLayerPolygonCollection"
					 minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		</xs:complexType>
	</xs:element>
			
	<!-- =================================================================
		RougthnessLayerPolygomCollection
	================================================================== -->
	<xs:element 
		name="RoughnessLayerPolygonCollection"
		type="simBase:RoughnessLayerPolygonCollectionType"
		substitutionGroup="gml:FeatureCollection">
	
	</xs:element>
	<xs:complexType 
		name="RoughnessLayerPolygonCollectionType">
		<xs:complexContent>
			<xs:restriction 
				base=" gml:FeatureCollectionType ">
				<xs:sequence>
					<xs:element ref="simBase:roughnessLayerMember"/>
					<xs:element ref="simBase:roughnessLayerPolygonMembers"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		roughnessLayerPolygonMembers
	================================================================== -->
	<xs:element
		name="roughnessLayerPolygonMembers"
		type="simBase:RoughnessLayerPolygonArrayPropertyType"/>
	
	<xs:complexType name="RoughnessLayerPolygonArrayPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureArrayPropertyType">
				<xs:sequence>
					<xs:element 
						ref="simBase:RoughnessPolygon" 
						minOccurs="0" 
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<!-- =================================================================
		Rougthness layer polynom member or property 
	===================================================================-->
	<xs:element 
		name="roughnessLayerMember"
		type="simBase:RoughnessLayerPolygonPropertyType"/>
		
	<xs:complexType 
		name="RoughnessLayerPolygonPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element 
						ref="simBase:RoughnessPolygon"
						 minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ================================================================
		roughnessPolynom
	================================================================= -->
	<xs:element 
		name="RoughnessPolygon"
		type="simBase:RoughnessPolygonType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Represents an area with uniform roughtness. 
				The rogthness is identify by a key
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType name="RoughnessPolygonType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gml:polygonProperty"/>
					<xs:element 
						name="roughnessID"
						type="xs:anyURI"
						minOccurs="1"	
						maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		riverProfileNetworkProperty
	================================================================== -->
	<xs:element 
		name="riverProfileNetworkProperty" 
		type="simBase:RiverProfileNetworkPropertyType"/>
	<xs:complexType 
		name="RiverProfileNetworkPropertyType">
		<xs:annotation>
			<xs:documentation>
				Wraps a wspn river profile into
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:riverProfileNetwork"
				 minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<xs:element
		name="riverProfileNetwork"
		type="simBase:RiverProfileNetworkType"
		substitutionGroup="gml:_Feature"/>
	<xs:complexType 
		name="RiverProfileNetworkType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element 
						ref="simBase:riverProfile"
						minOccurs="0" maxOccurs="unbounded"
						/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		riverProfile
	================================================================== -->
	<xs:element 
		name="riverProfile" 
		type="simBase:RiverProfilePropertyType"/>			
	<xs:complexType 
		name="RiverProfilePropertyType">
		<xs:sequence>
			<xs:element 
				ref="simBase:_RiverProfile"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
		_RiverProfile AbstractRiverProfile
	================================================================== -->
	<xs:element
		name="_RiverProfile"
		type="simBase:AbstractRiverProfileType"/>
	
	<xs:complexType 
		name="AbstractRiverProfileType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<!-- =================================================================
	WspmRiverProfileWrapper
	================================================================== -->
	
	<xs:element 
		name="WspmRiverProfileWrapper"
		type="simBase:WspmRiverProfileWrapperType"
		substitutionGroup="simBase:_RiverProfile">
	</xs:element>
	
	<xs:complexType
		name="WspmRiverProfileWrapperType">
			<xs:complexContent>
				<xs:extension 
					base="simBase:AbstractRiverProfileType">
					<xs:sequence>
						<xs:element
							name="usage">
							<xs:simpleType>
								<xs:restriction
									base="xs:string">
									<xs:enumeration value="1D"/>
									<xs:enumeration value="2D"/>
								</xs:restriction>								
							</xs:simpleType>
						</xs:element>
						<xs:element 
							ref="simBase:wspmRiverProfile"
							minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	<!-- =================================================================
		wspmRiverProfile
	================================================================== -->
	<xs:element 
		name="wspmRiverProfile" 
		type="simBase:WspmRiverProfilePropertyType"/>			
	<xs:complexType 
		name="WspmRiverProfilePropertyType">
		<xs:sequence>
			<!-- xs:element 
				ref="wspmprofile:Profile"/-->
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
</xs:schema>