_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_math.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provides Generic math types and elements:
	==Polynomes
		
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	<!--xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="../gml3.1.1/base/gml.xsd"
		/-->
	
	<!-- =================================================================
		polynom property 
	================================================================== -->
	<xs:element 
		name="polynom"
		type="simBase:Polynom1DPropertyType"/>
		
	<xs:complexType 
		name="PolynomPropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">				
			</xs:documentation>			
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:_Polynom"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- ======================================================================
			_Polynom element
	======================================================================= -->
	<xs:element
		name="_Polynom"
		type="simBase:AbstractPolynomType">
		<xs:annotation>
			<xs:documentation>
				Substitutions head for all polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- ======================================================================
			AbstractPolynomType
	======================================================================= -->
	<xs:complexType 
		name="AbstractPolynomType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all polynoms
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType"/>
		</xs:complexContent>
	</xs:complexType>


	<!-- ====================================================================
		polynom1D property
	====================================================================-->	
	<xs:element 
		name="polynom1D"
		type="simBase:Polynom1DPropertyType"/>
		
	<xs:complexType name="Polynom1DPropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				
			</xs:documentation>			
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:Polynom1D"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>	
	
	<!-- ======================================================================
			Polynom1D element
	======================================================================= -->
	<xs:element 
		name="Polynom1D"
		type="simBase:Polynom1DType"
		substitutionGroup="simBase:_Polynom">
		<xs:annotation>
			<xs:documentation>
				1D polynom; a0+a1*x^1+...+an*x^n
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- ======================================================================
			Polynom1DType
	======================================================================= -->
	<xs:complexType 
		name="Polynom1DType"
		abstract="false">
		<xs:annotation>
			<xs:documentation>
				Type for 1D polynoms: y=sum of ai*xi for all i less than oder
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractPolynomType">
				<xs:sequence>
					<xs:element 
						name="order"
						type="xs:positiveInteger"
						minOccurs="1" maxOccurs="1"/>
						
					<xs:element
						name="coeficients"
						type="gml:doubleList"
						minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		polynom2D property 
	================================================================== -->
	<xs:element 
		name="polynom2D"
		type="simBase:Polynom1DPropertyType"/>
		
	<xs:complexType 
		name="Polynom2DPropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">				
			</xs:documentation>			
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="simBase:Polynom2D"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- ======================================================================
			Polynom2D element
	======================================================================= -->
	<xs:element 
		name="Polynom2D"
		type="simBase:Polynom2DType"
		substitutionGroup="simBase:_Polynom">
		<xs:annotation>
			<xs:documentation>
				Represent a 2D polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ======================================================================
			Polynom2DType
	======================================================================= -->
	<xs:complexType 
		name="Polynom2DType"
		abstract="false">
		<xs:annotation>
			<xs:documentation>
				Type for 1D polynoms: y=sum of ai*bj*xi*yj for all i less 
										than orderX and jless than oderY
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractPolynomType">
				<xs:sequence>
					<xs:element 
						name="orderX"
						type="xs:positiveInteger"
						minOccurs="1" maxOccurs="1"/>
					<xs:element 
						name="orderY"
						type="xs:positiveInteger"
						minOccurs="1" maxOccurs="1"/>
					<xs:element 
						name="data"
						type="gml:DataBlockType"/>	
					<xs:element
						name="coeficients"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Table of coeficients as one dimentional array
								of double. index for aij is i*oderX+j  
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>
	