_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_terrain.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model terrain
	
	@author Patrice Congo
-->


<xs:schema
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
	xmlns:wbr="http://www.tu-harburg.de/wb/kalypso/schemata/roughness"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:wspmprofile="org.kalypso.model.wspmprofile"
	xmlns:wbGml="http://www.tu-harburg.de/wb/kalypso/schemata/wbgml"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>

	<xs:import namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd" />
	<xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/roughness"
		schemaLocation="roughness_model.xsd" />
	<xs:import namespace="org.kalypso.model.wspmprofile"
		schemaLocation="platform:/resource/KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/profile.xsd" />
	<xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/wbgml"
		schemaLocation="gml_imitations.xsd" />


	<!-- =================================================================
		terrainModel
		================================================================== -->
	<xs:element name="terrainModel"
		type="simBase:TerrainModelPropertyType" />

	<xs:complexType name="TerrainModelPropertyType">
		<xs:annotation>
			<xs:documentation>
				Property type to defined terrain model of a 1d 2d static
				model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="simBase:TerrainModel" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<!-- =================================================================
		Terrain Model
		================================================================== -->
	<xs:element name="TerrainModel" type="simBase:TerrainModelType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Terrain model element with one terrain elevation element
				and and roughness layer polygon elements.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="TerrainModelType">
		<xs:annotation>
			<xs:documentation>
				Defined a terrain model type that contains an elevation
				model and a roughness layer polygon
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element
						ref="simBase:terrainElevationModelSystem" minOccurs="1"
						maxOccurs="1" />
					<xs:element
						ref="simBase:roughnessLayerPolynomCollection" minOccurs="1"
						maxOccurs="1" />
					<xs:element
						ref="simBase:riverProfileNetworkCollectionMember" minOccurs="1"
						maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- =================================================================
		terrainElevationModelSystem	
		================================================================== -->
	<xs:element name="terrainElevationModelSystem"
		type="simBase:TerrainElevationModelSystemPropertyType" />
	<xs:complexType name="TerrainElevationModelSystemPropertyType">
		<xs:annotation>
			<xs:documentation>
				To define an elevation model element for typicaly a
				terrain model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="simBase:TerrainElevationModelSystem"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<!-- =================================================================
		Terrain elevation Model
		================================================================== -->
	<xs:element name="TerrainElevationModelSystem"
		type="simBase:TerrainElevationModelSystemType" />
	<xs:complexType name="TerrainElevationModelSystemType">
		<xs:annotation>
			<xs:documentation>
				Abstracts a terrain elevation. which kann hold a digital
				elevation model, which is just a cloud of points or a
				triangulated irregular network
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element 
							ref="simBase:terrainElevationModel" 
							minOccurs="0" maxOccurs="unbounded"/>
					<!--xs:element 
						ref="simBase:digitalElevationModel"
						minOccurs="0" maxOccurs="1"/>
						<xs:element 
						ref="simBase:triangulatedIrregularNetwork"
						minOccurs="0" maxOccurs="1"/-->

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		Elevation Model 
		===================================================================-->


	<xs:element name="_TerrainElevationModel"
		type="simBase:AbstractTerrainElevationModelType" abstract="true" />
	<xs:complexType name="AbstractTerrainElevationModelType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				The Based type for all terrain elevation modell.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="terrainElevationModel"
		type="simBase:TerrainElevationModelPropertyType" />

	<xs:complexType name="TerrainElevationModelPropertyType">
		<xs:sequence>
			<xs:element ref="simBase:_TerrainElevationModel"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>
	<!-- ===================================================================
		Native terrain elevation wrapper; the elevation type is recognized by the
		the file extension
		======================================================================= -->
	<xs:element name="NativeTerrainElevationModelWrapper"
		type="simBase:NativeTerrainElevationModelWrapperType"
		substitutionGroup="simBase:_TerrainElevationModel" />
	<xs:complexType name="NativeTerrainElevationModelWrapperType">
		<xs:annotation>
			<xs:documentation>
				Native terrain elevation wrapper; the elevation type is
				recognized by the file extension
			</xs:documentation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty
					kapp:functionId="org.kalypso.kalypsosimulationmodel.core.terrainmodel.geom.TerrainElevationShapeGeometry"
					kapp:property="simBase:geometry"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension
				base="simBase:AbstractTerrainElevationModelType">
				<xs:sequence>
					<xs:element 
						name="fileName" type="xs:anyURI" 
						minOccurs="0" maxOccurs="1" />
					<xs:element 
						name="geometry" 
						type="gml:LineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- =================================================================
		GridCoverageElevationModelPropertyType
		================================================================== -->
	<xs:element name="GridCoverageElevationModelWrapper"
		type="simBase:GridCoverageElevationModelWrapperType"
		substitutionGroup="simBase:_TerrainElevationModel" />
	<xs:complexType name="GridCoverageElevationModelWrapperType">
		<xs:annotation>
			<xs:documentation>
				Grid Coverage elevation wrapper; the elevation type is
				recognized by the file extension
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension
				base="simBase:AbstractTerrainElevationModelType">
				<xs:sequence>
					<xs:element name="gridCoverage"
						type="gml:FeaturePropertyType" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- =================================================================
		DigitalElevationModelPropertyType
		================================================================== -->
	<xs:element name="digitalElevationModel"
		type="simBase:DigitalElevationModelPropertyType">

	</xs:element>
	<xs:complexType name="DigitalElevationModelPropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Propriety type to hold a digital elevation model element
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="simBase:DigitalElevationModel" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<!--==================================================================
		Digital elevationModelType can be put in the controlPoint of TIN 
		===================================================================-->
	<xs:element name="DigitalElevationModel"
		type="simBase:DigitalElevationModelType"
		substitutionGroup="gml:posList" />

	<xs:complexType name="DigitalElevationModelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Represents cloud of points with (x y z) cordinates
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:DirectPositionListType" />
		</xs:complexContent>
	</xs:complexType>





	<!-- =================================================================
		roughnessLayerPolynomCollection property
		================================================================== -->
	<xs:element name="roughnessLayerPolynomCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element
					ref="simBase:RoughnessLayerPolygonCollection" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
			<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
		</xs:complexType>
	</xs:element>

	<!-- =================================================================
		RougthnessLayerPolygomCollection
		================================================================== -->
	<xs:element name="RoughnessLayerPolygonCollection"
		type="simBase:RoughnessLayerPolygonCollectionType"
		substitutionGroup="gml:_Feature">

	</xs:element>
	<xs:complexType name="RoughnessLayerPolygonCollectionType">
		<xs:complexContent>
			<xs:restriction
				base=" gml:AbstractFeatureCollectionType ">
				<xs:sequence>
					<xs:element ref="simBase:roughnessLayerMember"
						minOccurs="0" maxOccurs="unbounded" />
					<!--xs:element ref="simBase:roughnessLayerPolygonMembers"/-->
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<!-- =================================================================
		roughnessLayerPolygonMembers
		================================================================== -->
	<!--xs:element
		name="roughnessLayerPolygonMembers"
		type="simBase:RoughnessLayerPolygonArrayPropertyType"/>
		
		<xs:complexType name="RoughnessLayerPolygonArrayPropertyType">
		<xs:complexContent>
		<xs:restriction base="gml:FeatureArrayPropertyType">
		<xs:sequence>
		<xs:element 
		ref="simBase:RoughnessPolygon" 
		minOccurs="0" 
		maxOccurs="unbounded"/>
		</xs:sequence>
		</xs:restriction>
		</xs:complexContent>
		</xs:complexType -->


	<!-- =================================================================
		Rougthness layer polynom member or property 
		===================================================================-->
	<xs:element name="roughnessLayerMember"
		type="simBase:RoughnessLayerPolygonPropertyType" />

	<!--xs:complexType 
		name="RoughnessLayerPolygonPropertyType">
		<xs:complexContent>
		<xs:restriction base="gml:FeaturePropertyType">
		<xs:sequence>
		<xs:element 
		ref="simBase:RoughnessPolygon"
		minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		</xs:restriction>
		</xs:complexContent>
		</xs:complexType-->

	<xs:complexType name="RoughnessLayerPolygonPropertyType">
		<xs:sequence>
			<xs:element ref="simBase:RoughnessPolygon" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<!-- ================================================================
		roughnessPolynom
		================================================================= -->
	<xs:element name="RoughnessPolygon"
		type="simBase:RoughnessPolygonType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Represents an area with uniform roughtness. The
				rogthness is identify by a key
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RoughnessPolygonType">
		<xs:annotation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
					kapp:property="simBase:roughnessStyle" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<!--TODO Parser parse as GM_Surface if using gml:polygonProperty
						directly
					-->
					<!--xs:element ref="gml:polygonProperty"/ -->
					<!--xs:element 
						name="polygonProperty"
						type="gml:SurfacePropertyType"
						minOccurs="0" maxOccurs="1"/-->
					<!--xs:element
						ref="simBase:roughnessPolygonPatchProperty"
						minOccurs="1" maxOccurs="1"/ -->
					<!--xs:element
						ref="simBase:polygonProperty"
						minOccurs="0" maxOccurs="1"/-->


					<!-- <xs:element ref="simBase:polygonProperty"/> -->



					<!-- xs:element
						name="polygonProperty"
						type="gml:SurfacePropertyType"
						minOccurs="0" maxOccurs="1"/-->
					<!-- By Patrice: -->
					<!-- 
						<xs:element
						name="polygonPropertyQQ"
						type="gml:MultiPolygonType"
						minOccurs="0" maxOccurs="1"/>
					-->
					<!-- By Dejan: -->
					<xs:element name="polygonProperty"
						type="gml:MultiPolygonPropertyType" minOccurs="0" maxOccurs="1" />

					<!--xs:element 
						name="polygonProperty"
						type="gml:SurfacePropertyType"
						minOccurs="0" maxOccurs="1"/ -->
					<!--xs:element
						ref="gml:surfaceProperty"/-->
					<xs:element name="roughnessClassMember"
						type="simBase:RoughnessClassPropertyType" />
					<xs:element name="roughnessStyle" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RoughnessClassPropertyType">
		<xs:annotation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:documentReference>project:/.metadata/roughness.gml</kapp:documentReference>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="wbr:RoughnessCls" minOccurs="0"
				maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:element name="polygonProperty" type="gml:SurfacePropertyType" />

	<xs:element name="polygonPropertys"
		type="simBase:RoughnessPolygonPatchPropertyType" />
	<xs:complexType name="RoughnessPolygonPatchPropertyType">
		<xs:sequence>
			<xs:element ref="gml:_Geometry" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>


	<!-- =================================================================
		riverProfileNetwork
		================================================================== -->

	<xs:element name="riverProfileNetworkCollectionMember"
		type="simBase:RiverProfileNetworkCollectionPropertyType" />
	<xs:complexType name="RiverProfileNetworkCollectionPropertyType">
		<xs:annotation>
			<xs:documentation>
				An inline RiverProfileNetworkCollection - Property
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="simBase:RiverProfileNetworkCollection"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="RiverProfileNetworkCollection"
		type="simBase:RiverProfileNetworkCollectionType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="RiverProfileNetworkCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="simBase:riverProfileNetwork"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="riverProfileNetwork"
		type="simBase:RiverProfileNetworkPropertyType" />
	<xs:complexType name="RiverProfileNetworkPropertyType">
		<xs:annotation>
			<xs:documentation>
				Wraps a wspn river profile into
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="simBase:RiverProfileNetwork" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:element name="RiverProfileNetwork"
		type="simBase:RiverProfileNetworkType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="RiverProfileNetworkType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<!--  xs:element 
						ref="simBase:riverProfile"
						minOccurs="0" maxOccurs="unbounded"
						/-->
					<xs:element ref="simBase:riverProfile" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		riverProfile
		================================================================== -->
	<!-- xs:element 
		name="riverProfile" 
		type="simBase:RiverProfilePropertyType"/>			
		<xs:complexType 
		name="RiverProfilePropertyType">
		<xs:sequence>
		<xs:element 
		ref="simBase:_RiverProfile"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		</xs:complexType-->

	<!-- =================================================================
		_RiverProfile AbstractRiverProfile
		================================================================== -->
	<!-- xs:element
		name="_RiverProfile"
		type="simBase:AbstractRiverProfileType"
		abstract="true" substitutionGroup="gml:_Feature"/>
		
		<xs:complexType 
		name="AbstractRiverProfileType"
		abstract="true">
		<xs:complexContent>
		<xs:extension base="gml:AbstractFeatureType">
		</xs:extension>
		</xs:complexContent>
		</xs:complexType-->


	<!-- =================================================================
		WspmRiverProfileWrapper
		================================================================== -->

	<!-- xs:element 
		name="WspmRiverProfileWrapper"
		type="simBase:WspmRiverProfileWrapperType"
		substitutionGroup="simBase:_RiverProfile">
		</xs:element>
		
		<xs:complexType
		name="WspmRiverProfileWrapperType">
		<xs:complexContent>
		<xs:extension 
		base="simBase:AbstractRiverProfileType">
		<xs:sequence>
		<xs:element
		name="usage">
		<xs:simpleType>
		<xs:restriction
		base="xs:string">
		<xs:enumeration value="1D"/>
		<xs:enumeration value="2D"/>
		</xs:restriction>								
		</xs:simpleType>
		</xs:element>
		<xs:element 
		ref="simBase:wspmRiverProfile"
		minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
		</xs:complexType-->
	<!-- =================================================================
		wspmRiverProfile
		================================================================== -->
	<xs:element name="riverProfile"
		type="simBase:WspmRiverProfilePropertyType" />
	<xs:complexType name="WspmRiverProfilePropertyType">
		<xs:sequence>
			<!-- TODO: set minOccurs to 0, this is a must in combinasion with the 'AssiciationAttributeGroup' -->
			<xs:element ref="wspmprofile:Profile" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

</xs:schema>