_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_flow_relationship.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model flow relationships
	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	<!--xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="../gml3.1.1/base/gml.xsd"
		/-->
		
	<xs:include schemaLocation="simulation_model_math.xsd"/>
	
	<!-- xs:element 
		name="flowRelationshipModel" 
		type="xs:string"/ -->
	<!-- =================================================================
		FlowRelatioshipCoverage
	================================================================== -->
		<xs:element 
			name="FlowRelationshipCoverage"
			type="simBase:FlowRelationshipCoverageType"
			substitutionGroup="gml:MultiPointCoverage">
			<xs:annotation>
				<xs:documentation>
					Represents a multipoint coverage with flow Relationship elements
					(_FlowRelationship and subtituable) as range set values 
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		
		<xs:complexType 
			name="FlowRelationshipCoverageType">
			<xs:annotation>
				<xs:documentation>
					Specifies a multipoint coverage with flow Relationship elements
					(_FlowRelationship and subtituable) as range set values 
				</xs:documentation>
			</xs:annotation>			
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiPointCoverageType">
					<xs:sequence>
						<xs:element 
							ref="gml:multiPointDomain"
							minOccurs="1" maxOccurs="1"/>
						<xs:element 
							ref="simBase:flowRelationshipRangeSet"
							minOccurs="1" maxOccurs="1"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		
		<!-- =============================================================
			flowRelationshipRangeSet
		============================================================== -->
		<xs:element 
			name="flowRelationshipRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:annotation>
				<xs:documentation>
					Range Set containing only an array of flow relationships;
					(_FlowRelationship and its substitutes)
				</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:sequence>	
							<xs:element 
								ref="simBase:FlowRelationshipValueArray" 
								minOccurs="1" maxOccurs="1"/>
							</xs:sequence>
						
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
		
	<xs:element 
		name="FlowRelationshipValueArray"
		type="simBase:FlowRelationshipValueArrayType"
		substitutionGroup="gml:ValueArray"
		>
	</xs:element>
	
	<xs:complexType 
		name="FlowRelationshipValueArrayType">
		<xs:annotation>
			<xs:documentation>
				Aggregate value built from other Values using the Composite pattern. It contains zero or an arbitrary number of valueComponent elements, and zero or one valueComponents elements.  It may be used for strongly coupled aggregates (vectors, tensors) or for arbitrary collections of values.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:ValueArrayType">
				<xs:sequence>
					<xs:element
						ref="simBase:flowRelationshipValue"
						minOccurs="0" maxOccurs="unbounded"/>
					<!-- xs:element 
						ref="gml:valueComponent" 
						minOccurs="0" maxOccurs="unbounded"/-->
					<!--xs:element ref="gml:valueComponents" minOccurs="0"/-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element
		name="flowRelationshipValue"
		type="simBase:FlowRelationshipValuePropertyType"
		substitutionGroup="gml:valueComponent"/>
	<xs:complexType 
		name="FlowRelationshipValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence>
					<xs:element 
						ref="simBase:_FlowRelationship"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		_FlowRelationship, AbstractFlowRelationshipType
	================================================================== -->
	<xs:element 
		name="_FlowRelationship"
		type="simBase:AbstractFlowRelationshipType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all flow relationship elements
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractFlowRelationshipType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all flow relationship types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		QOverH
	================================================================== -->
	<xs:element 
		name="QOverH"
		type="simBase:QOverHType"
		substitutionGroup="simBase:_FlowRelationship">
	</xs:element>
		
	<xs:complexType 
		name="QOverHType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="q">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="h">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="simBase:polynom1D"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			AOverH element, AOverType
	====================================================================== -->
	<xs:element 
		name="AOverH"
		type="simBase:AOverHType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define a area waterlevel relationship based on
				control point and an optional fitting polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AOverHType">
		<xs:annotation>
			<xs:documentation>
				Type to define a area waterlevel relationship based on
				control points and an optional fitting 1d polynom
			</xs:documentation>
		</xs:annotation>		
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element 
						name="a"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					
					<xs:element 
						name="h"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					
					<xs:element 
						ref="simBase:polynom1D"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
	<!-- =====================================================================
			AOverHPolynom, AOverHPolynomType
	====================================================================== -->
	<xs:element 
		name="AOverHPolynom"
		type="simBase:AOverHType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define a area waterlevel polynom only relationship
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AOverHPolynomType">
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element 
						ref="simBase:polynom1D"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			WlDisRel, FlowRelWldisType
	====================================================================== -->
	<xs:element 
		name="FlowRelWlDis"
		type="simBase:FlowRelWlDisType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Define a watterlevel discharge relationship based on set of control
				point and an optional polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="FlowRelWlDisType">
		<xs:annotation>
			<xs:documentation>
				Type for watterlevel discharge relationship based on set of control
				point and an optional polynom
			</xs:documentation>
		</xs:annotation>		
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="waterLevel">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="discharge">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element
						ref="simBase:polynom1D"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			FlowRelWlWlDis, WlWlDisReltType
	====================================================================== -->
	<xs:element 
		name="FlowRelWlWlDis"
		type="simBase:FlowRelWlWlDisType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define a waterlevl water level relationship based
				on control point and an optional 2D polynom
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="FlowRelWlWlDisType">
		<xs:annotation>
			<xs:documentation>
				Type for waterlevel water level discharge relationship based
				on control points and an optional 2D polynom
			</xs:documentation>
		</xs:annotation>
		
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element 
						name="wlHeadWater"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element 
						name="wlBottomWater"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element 
						name="discharge"
						minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="simBase:polynom2D"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
		WlAreaDisRel, FlowWlAreaType
	====================================================================== -->
	<xs:element 
		name="FlowRelWlAreaDis"
		type="simBase:FlowRelWlAreaType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Defines a watter level area relationship based on control, 
				measured, interpolation point and optionaly a 1D fitting
				polynom
			</xs:documentation>
		</xs:annotation>
				
	</xs:element>
	
	<xs:complexType 
		name="FlowRelWlAreaType">
		<xs:annotation>
			<xs:documentation>
				Type for watter level area relationship based on control, 
				measured, interpolation points and optionaly a 1D fitting 
				polynom
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="waterLevel">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="area">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="simBase:polynom1D"/>			
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		
</xs:schema>