_import/trunk/Kalypso/sh/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/core/util/shapeImportDefaultSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Default schema for importing SHP data
	@author Dejan Antanaskovic
-->

<xs:schema targetNamespace="http://www.tuhh.de/Kalypso1D2D/shapeData" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:shpData="http://www.tuhh.de/Kalypso1D2D/shapeData">
	<!-- =========================================================== -->
	<!--Imports=========================================================== -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/>
	<!-- =========================================================== -->
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<!-- VectorDataModel=========================================================== -->
	<xs:element name="ShapeDataCollection" type="shpData:ShapeDataCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="ShapeDataCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="ShapeMemberFeature" type="shpData:ShapeMemberFeatureType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- FeatureMember=========================================================== -->
	<xs:complexType name="ShapeMemberFeatureType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="shpData:ShapeData"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- ShapeData============================================================== -->
	<xs:element name="ShapeData" type="shpData:ShapeFeatureType" substitutionGroup="gml:_Feature"/>
	<!-- ShapeFeatureType======================================================= -->
	<xs:complexType name="ShapeFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="ShapeGeometry" type="gml:PolygonPropertyType"/>
					<xs:element name="ShapeCustomProperty" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
