branches/hwv_sn_st_11-02/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/schemata/NAFortranLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Dipl.-Ing. Jessica Hübsch (Technische Universität Hamburg-Harburg) -->
<schema xmlns:naLog="http://www.tuhh.de/NAFortranLog" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" xmlns:zmlinline="inline.zml.kalypso.org" targetNamespace="http://www.tuhh.de/NAFortranLog" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.opengis.net/gml"/>
	<element name="LogMessage" type="naLog:LogType"/>
	<complexType name="LogType">
		<complexContent>
			<extension base="naLog:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="log" type="naLog:RecordAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonGeometricAbstractFeatureType" abstract="true">
		<complexContent>
			<restriction base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="RecordAssociationType">
		<sequence>
			<element ref="naLog:record"/>
		</sequence>
	</complexType>
	<element name="record" type="naLog:recordType" substitutionGroup="gml:_Feature"/>
	<complexType name="recordType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="level" type="string"/>
					<element name="class" type="string"/>
					<element name="method" type="string"/>
					<element name="message" type="string"/>
					<element name="element" type="string"/>
					<element name="param" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
