_import/trunk/KalypsoSachsen/KalypsoModelSpree/src/org/kalypso/lhwzsachsen/spree/schemata/ombrometer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.spree.ombrometer" version="0.1" xmlns:common="org.kalypso.spree.common" xmlns:ombrometer="org.kalypso.spree.ombrometer" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified">
	<annotation>
		<documentation>Deprecated. Use org.kalypso.hwv.ombrometer instead.</documentation>
    	<appinfo xmlns:kapp="org.kalypso.appinfo">
        	<kapp:gmlVersion>2.1.2</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="gml/feature.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="gml/bce/obslink.xsd"/>
	<import namespace="org.kalypso.spree.common" schemaLocation="common.xsd"/>

	<complexType name="OmbrometerCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="ombrometer:OmbrometerCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="OmbrometerCollection" type="ombrometer:OmbrometerCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="OmbrometerCollectionType">
		<complexContent>
			<extension base="common:EmptyFeatureBaseType">
				<sequence>
					<element ref="ombrometer:OmbrometerMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="OmbrometerMember" type="ombrometer:OmbrometerAssociationType" substitutionGroup="gml:featureMember"/>
	<complexType name="OmbrometerAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="ombrometer:Ombrometer"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Ombrometer" abstract="false" type="ombrometer:OmbrometerType" substitutionGroup="gml:_Feature"/>
	<complexType name="OmbrometerType">
		<complexContent>
			<extension base="common:EmptyFeatureBaseType">
				<sequence>
					<element name="name" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Name</label>
								<tooltip>Bezeichnung der Messstelle</tooltip>
								<description>Bezeichnung der Messstelle</description>
							</documentation>
						</annotation>
					</element>
					<element name="NR"  type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Nummer</label>
								<tooltip>Nummer der Messstelle</tooltip>
								<description>Messstellennummer</description>
							</documentation>
						</annotation>
					</element>
					<element ref="gml:location">
						<annotation>
							<documentation xml:lang="de">
								<label>Lage</label>
								<tooltip>Lage der Messstelle</tooltip>
								<description>Lage der Messstelle</description>
							</documentation>
						</annotation>
					</element>
					<element name="precipitation" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Niederschlag</label>
								<tooltip>Link auf die Messreihe</tooltip>
								<description>Link auf die Messreihe</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
