_dump/trunk/KalypsoModelWspmSchema/src/org/kalypso/model/eindim/schema/calculationEindim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:eindim="org.kalypso.model.eindim"
	targetNamespace="org.kalypso.model.eindim" elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<!-- 
	_________________________________________________________________________________________
	ELEMENTE
	_________________________________________________________________________________________
	-->
	<element name="calculationMember" type="eindim:CalculationPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="calculation" type="eindim:CalculationType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">ist ggf. Spezialisierung eines allg. calculation1D <label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="resultMember" type="eindim:ResultPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="result" type="eindim:ResultType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="resultDocumentMember" type="eindim:ResultDocumentPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="resultDocument" type="eindim:ResultDocumentType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="waterMember" type="eindim:WaterPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="water" type="eindim:WaterType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>Gewässer</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="strandMember" type="eindim:StrandPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="strand" type="eindim:StrandType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="strandElementMember" type="eindim:StrandElementPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="strandElement" type="eindim:StrandElementType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="profileMember" type="eindim:ProfilePropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="profile" type="eindim:ProfileType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="roughnessDefinitionCollectionMember" type="eindim:RoughnessDefinitionCollectionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="roughnessDefinitionCollection" type="eindim:RoughnessDefinitionCollectionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="roughnessDefinitionMember" type="eindim:RoughnessDefinitionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="roughnessDefinition" type="eindim:RoughnessDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="plantDefinitionCollectionMember" type="eindim:PlantDefinitionCollectionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="plantDefinitionCollection" type="eindim:PlantDefinitionCollectionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="plantDefinitionMember" type="eindim:PlantDefinitionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<element name="plantDefinition" type="eindim:PlantDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???</label>
				<tooltip>???</tooltip>
				<description>???</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	_________________________________________________________________________________________
	TYPEN
	_________________________________________________________________________________________	
	-->
	<complexType name="CalculationPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:calculation">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CalculationType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="user" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="creationDate" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element ref="eindim:resultMember" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="StrandPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:strand">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StrandType" abstract="false">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="eindim:waterMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="riverLine" type="gml:LineStringSegmentType">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerachse</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element ref="eindim:strandElementMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="StrandElementPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:strandElement">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StrandElementType">
		<complexContent>
			<annotation>
				<appinfo>We have two properties (line, markers) here, which are backuped by another property (profileMember). The time of last synchronization is stored in 'cacheDate'</appinfo>
			</annotation>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="line" type="gml:LineStringSegmentType">
						<annotation>
							<appinfo>This property is backed by profileMember, more explicit by the referenced profile-observation</appinfo>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="marker" type="gml:PointType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>This property is backed by profileMember, more explicit by the referenced profile-observation. This is more difficult than the line property bceause, it depends on
								the prfoile, how many points we have.</appinfo>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="cacheDate" type="dateTime">
						<annotation>
							<appinfo>This property represent the lastTime, when the cached proeprties (line, markers) have been synchronized against the profileMember</appinfo>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element ref="eindim:profileMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ProfilePropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:profile">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ProfileType">
		<annotation>
			<documentation>ggf. noch Spezialisierungen pro Rechenkern (Pasche, Knauf,...)</documentation>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- TODO: maybe restict type to specific observation (only profiles are allowed)-->
					<element name="station" type="double">
						<annotation>
							<appinfo>This property is backuped by the observation (profilMember) itself.</appinfo>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="profilMember" type="om:AbstractObservationType">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="WaterPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:water">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="WaterType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="name" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="kennziffer" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="direction" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element ref="eindim:profileMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element ref="eindim:strandMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="runOffEventMember" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="waterlevelEvent" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ResultPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:result">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ResultType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="eindim:calculationMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="calculationTime" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element ref="eindim:resultDocumentMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="resultObservationMember" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ResultDocumentPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:resultDocument">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ResultDocumentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="filePath" type="string">
						<annotation>
							<documentation xml:lang="de"><![CDATA[
								TODO: eigenen Typ definieren + 
								type handler (z.B. datei öffnen beim klick)]]>
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="RoughnessDefinitionCollectionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:roughnessDefinitionCollectionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RoughnessDefinitionCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="eindim:roughnessDefinitionMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="RoughnessDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:roughnessDefinitionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RoughnessDefinitionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="category" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueKS" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueKST" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="PlantDefinitionCollectionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:plantDefinitionCollectionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PlantDefinitionCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="eindim:plantDefinitionMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="PlantDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="eindim:plantDefinitionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PlantDefinitionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="category" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueAX" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueAY" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueDP" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???</label>
								<tooltip>???</tooltip>
								<description>???</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
</schema>
