_dump/trunk/KalypsoModelWspmSchema/src/org/kalypso/model/eindim/schema/wspmTuhhStat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.model.wspm.tuhh" xmlns:tuhh="org.kalypso.model.wspm.tuhh" xmlns:wspm="org.kalypso.model.wspm" xmlns:gml="http://www.opengis.net/gml"
	xmlns:om="http://www.opengis.net/om" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="0.1">
	<import namespace="org.kalypso.model.wspm" schemaLocation="./wspm.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<!-- Erweiterung für das instationäre WSPM der TU-HH -->
	<!-- 
	_________________________________________________________________________________________
	ELEMENTE
	_________________________________________________________________________________________
	-->
	<element name="calculationWspmTuhhStat" type="tuhh:CalculationWspmTuhhStatType" substitutionGroup="wspm:abstractCalculation">
		<annotation>
			<documentation xml:lang="de">
				<label>???Berechnung 1D-TUHH</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationModeMember" type="tuhh:CalculationModePropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???Referenz auf Art der Berechnung</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="calculationMode" abstract="true" type="tuhh:AbstractCalculationModeType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???Art der Berechnung</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationModeWaterlevel" type="tuhh:CalculationModeWaterlevelType" substitutionGroup="tuhh:calculationMode">
		<annotation>
			<documentation xml:lang="de">
				<label>???Wasserspiegellagenberechnung</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationModeBankfullUniform" type="tuhh:CalculationModeBankfullUniformType" substitutionGroup="tuhh:calculationMode">
		<annotation>
			<documentation xml:lang="de">
				<label>???Bordvollberechnung - stationär gleichförmige Abflussverhältnisse</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationModeBankfullNonUniform" type="tuhh:CalculationModeBankfullNonUniformType" substitutionGroup="tuhh:calculationMode">
		<annotation>
			<documentation xml:lang="de">
				<label>???Bordvollberechnung - stationär ungleichförmige Abflussverhältnisse</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationStartConditionMember" type="tuhh:CalculationStartConditionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???calculationStartConditionMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="calculationStartCondition" type="tuhh:CalculationStartConditionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???Randbedingung</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationStartConditionGrenztiefe" type="tuhh:CalculationStartConditionGrenztiefeType" substitutionGroup="tuhh:calculationStartCondition">
		<annotation>
			<documentation xml:lang="de">
				<label>???als Grenztiefe</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationStartConditionUniformSlope" type="tuhh:CalculationStartConditionUniformSlopeType" substitutionGroup="tuhh:calculationStartCondition">
		<annotation>
			<documentation xml:lang="de">
				<label>???Annahme stationär gleichförmiges Gefälle</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calculationStartConditionWaterlevel" type="tuhh:CalculationStartConditionWaterlevelType" substitutionGroup="tuhh:calculationStartCondition">
		<annotation>
			<documentation xml:lang="de">
				<label>???Direkteingabe Wasserspiegel</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="calculationWaterlevelParameterMember" type="tuhh:CalculationWaterlevelParameterPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???Referenz auf numerische Parameter</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="calculationWaterlevelParameter" type="tuhh:CalculationWaterlevelParameterType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???numerische Parameter</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="strandWspmTuhhStatMember" type="tuhh:StrandWspmTuhhStatPropertyType" substitutionGroup="wspm:strandMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???strandWspmTuhhStatMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="strandWspmTuhhStat" type="tuhh:StrandWspmTuhhStatType" substitutionGroup="wspm:strand">
		<annotation>
			<documentation xml:lang="de">
				<label>???strandWspmTuhhStat</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="influentStrandElementWspmTuhhStatMember" type="tuhh:InfluentStrandElementWspmTuhhStatPropertyType" substitutionGroup="wspm:strandElementMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???influentStrandElementWspmTuhhStatMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- TODO Überflüssig?, kann evntuell weg. -->
	<element name="influentStrandElementWspmTuhhStat" type="wspm:InfluentStrandElementType" substitutionGroup="wspm:abstractStrandElement">
		<annotation>
			<documentation xml:lang="de">
				<label>???influentStrandElementWspmTuhhStat</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="profileStrandElementWspmTuhhStatMember" type="tuhh:ProfileStrandElementWspmTuhhStatPropertyType" substitutionGroup="wspm:strandElementMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???profileStrandElementWspmTuhhStatMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="profileStrandElementWspmTuhhStat" type="tuhh:ProfileStrandElementWspmTuhhStatType" substitutionGroup="wspm:abstractStrandElement">
		<annotation>
			<documentation xml:lang="de">
				<label>???profileStrandElementWspmTuhhStat</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="subStrandDefinitionMember" type="tuhh:subStrandDefinitionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???subStrandDefinitionMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="subStrandDefinition" type="tuhh:subStrandDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???subStrandDefinition</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="specialOptionsMember" type="tuhh:specialOptionsPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???element:specialOptionsMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="specialOptions" type="tuhh:specialOptionsType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???element:specialOptions</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	_________________________________________________________________________________________
	TYPEN
	_________________________________________________________________________________________	
	-->
	<complexType name="CalculationWspmTuhhStatType">
		<complexContent>
			<extension base="wspm:AbstractCalculationType">
				<sequence>
					<element ref="tuhh:strandWspmTuhhStatMember">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerstrang</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<!-- TODO bezeichnungen englisch machen -->
					<!-- TODO: Texte besser! -->
					<element name="fliessgesetz">
						<annotation>
							<documentation xml:lang="de">
								<label>???Fließgesetz</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="darcyRohr">
									<annotation>
										<documentation xml:lang="de">
											<label>???äquivalente Sandrauheiten nach Darcy-Weisbach (Rohrströmungen)</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="darcyOffeneGerinne">
									<annotation>
										<documentation xml:lang="de">
											<label>???äquivalente Sandrauheiten nach Darcy-Weisbach (offene Gerinne mit Formeinfluss)</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="manningStrickler">
									<annotation>
										<documentation xml:lang="de">
											<label>???Rauheitsbeiwerte nach Gauckler-Manning-Strickler</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element ref="tuhh:subStrandDefinitionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???Abschnittsdefinition</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="wspm:roughnessDefinitionCollectionMember" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>???Referenz auf Rauheitsdefinition</label>
								<tooltip>???tooltip</tooltip>
								<description>???Optional. If present, used to map the roughness-classes in the profile to real values (i.e. the profile must have used the same roughness
								classes)</description>
							</documentation>
						</annotation>
					</element>
					<!-- TODO use better word for 'plant' everywhere -->
					<element ref="wspm:plantDefinitionCollectionMember" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>???Referenz auf Bewuchsdefinition</label>
								<tooltip>???tooltip</tooltip>
								<description>???Optional. If present, used to map the plant-classes in the profile to real values (i.e. the profile must have used the same roughness classes)
								</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:calculationModeMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???calculationModeMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationModePropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:calculationMode">
						<annotation>
							<documentation xml:lang="de">
								<label>???calculationMode</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractCalculationModeType" abstract="true">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="type" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???Art der Berechnung --- </label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationModeWaterlevelType">
		<complexContent>
			<extension base="tuhh:AbstractCalculationModeType">
				<sequence>
					<!-- TODO force it to be one of the water's runOffEvents? -->
					<element name="runOffEventMember" type="om:AbstractObservationPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>???Referenz auf Abflussereignis</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:calculationStartConditionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???Referenz auf Randbedingung</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:calculationWaterlevelParameterMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???Referenz auf numerische Parameter</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationModeBankfullUniformType">
		<complexContent>
			<extension base="tuhh:AbstractCalculationModeType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationModeBankfullNonUniformType">
		<complexContent>
			<extension base="tuhh:AbstractCalculationModeType">
				<sequence>
					<element ref="tuhh:calculationStartConditionMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???tuhh:calculationStartConditionMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="minimalRunOff" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???minimalRunOff</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="maximalRunOff" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???maximalRunOff</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="runOffStep" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???runOffStep</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:calculationWaterlevelParameterMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???tuhh:calculationWaterlevelParameterMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationStartConditionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:calculationStartCondition">
						<annotation>
							<documentation xml:lang="de">
								<label>???tuhh:calculationStartCondition</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CalculationStartConditionType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence> </sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationStartConditionGrenztiefeType">
		<complexContent>
			<extension base="tuhh:CalculationStartConditionType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationStartConditionUniformSlopeType">
		<complexContent>
			<extension base="tuhh:CalculationStartConditionType">
				<sequence>
					<element name="slope" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???slope</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationStartConditionWaterlevelType">
		<complexContent>
			<extension base="tuhh:CalculationStartConditionType">
				<sequence>
					<element name="waterlevel" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???Anfangswasserspiegel</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationWaterlevelParameterPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:calculationWaterlevelParameter">
						<annotation>
							<documentation xml:lang="de">
								<label>???numersiche Parameter???</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CalculationWaterlevelParameterType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="wspIteration">
						<annotation>
							<documentation xml:lang="de">
								<label>???Berechnung des Waserspiegels</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="simpleIteration">
									<annotation>
										<documentation xml:lang="de">
											<label>???einfache Iteration</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="exactIteration">
									<annotation>
										<documentation xml:lang="de">
											<label>???genaue Berechnung durch Einschlussiteration</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="verzoegerungsverlust">
						<annotation>
							<documentation xml:lang="de">
								<label>???Verzögerungsverlust</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="dvwk">
									<annotation>
										<documentation xml:lang="de">
											<label>???nach DVWK (beta = 0.67)</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="bjoernsen">
									<annotation>
										<documentation xml:lang="de">
											<label>???nach Björnsen (beta = 0.5)</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="dfg">
									<annotation>
										<documentation xml:lang="de">
											<label>???nach DFG (beta = 2 / (1+Ai + 1/Ai) )</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="reibungsverlust">
						<annotation>
							<documentation xml:lang="de">
								<label>???Art der Berechnung von Reibungsverlust</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="trapezFormula">
									<annotation>
										<documentation xml:lang="de">
											<label>???nach Trapezformel</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="geometricFormula">
									<annotation>
										<documentation xml:lang="de">
											<label>???durch geometrische Mittelung</label>
											<tooltip>???tooltip</tooltip>
											<description>???description</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element ref="tuhh:specialOptionsMember">
						<annotation>
							<documentation xml:lang="de">
								<label>???elementRef:specialOptions</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="StrandWspmTuhhStatPropertyType">
		<complexContent>
			<restriction base="wspm:StrandPropertyType">
				<sequence>
					<element ref="tuhh:strandWspmTuhhStat">
						<annotation>
							<documentation xml:lang="de">
								<label>???tuhh:strandWspmTuhhStat</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StrandWspmTuhhStatType">
		<complexContent>
			<restriction base="wspm:StrandType">
				<sequence>
					<!--  The tuhh strand is restricted to certain, tuhh specific, elements -->
					<choice minOccurs="0" maxOccurs="unbounded">
						<element ref="tuhh:influentStrandElementWspmTuhhStatMember">
							<annotation>
								<documentation xml:lang="de">
									<label>???tuhh:influentStrandElementWspmTuhhStatMember</label>
									<tooltip>???tooltip</tooltip>
									<description>???description</description>
								</documentation>
							</annotation>
						</element>
						<element ref="tuhh:profileStrandElementWspmTuhhStatMember">
							<annotation>
								<documentation xml:lang="de">
									<label>???tuhh:profileStrandElementWspmTuhhStatMember</label>
									<tooltip>???tooltip</tooltip>
									<description>???description</description>
								</documentation>
							</annotation>
						</element>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="InfluentStrandElementWspmTuhhStatPropertyType">
		<complexContent>
			<restriction base="wspm:StrandElementPropertyType">
				<sequence>
					<element ref="tuhh:influentStrandElementWspmTuhhStat">
						<annotation>
							<documentation xml:lang="de">
								<label>???tuhh:influentStrandElementWspmTuhhStat</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="InfluentStrandElementWspmTuhhStatType">
		<complexContent>
			<extension base="wspm:InfluentStrandElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProfileStrandElementWspmTuhhStatPropertyType">
		<complexContent>
			<restriction base="wspm:StrandElementPropertyType">
				<sequence>
					<element ref="tuhh:profileStrandElementWspmTuhhStat">
						<annotation>
							<documentation xml:lang="de">
								<label>???tuhh:profileStrandElementWspmTuhhStat</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ProfileStrandElementWspmTuhhStatType">
		<complexContent>
			<extension base="wspm:ProfileStrandElementType">
				<sequence>
					<element name="distanceL" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???distanceL</label>
								<tooltip>???tooltip</tooltip>
								<description>Abstand UW??? linkes Vorland</description>
							</documentation>
						</annotation>
					</element>
					<element name="distanceM" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???distanceM</label>
								<tooltip>???tooltip</tooltip>
								<description>Abstand UW??? Hauptöffnung</description>
							</documentation>
						</annotation>
					</element>
					<element name="distanceR" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???distanceR</label>
								<tooltip>???tooltip</tooltip>
								<description>Abstand UW??? rechtes Vorland</description>
							</documentation>
						</annotation>
					</element>
					<element name="energyLoss" type="tuhh:EnergyLossType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???energyLoss</label>
								<tooltip>???tooltip</tooltip>
								<description/>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<simpleType name="EnergyLossType">
		<restriction base="string">
			<enumeration value="EINLAUF">
				<annotation>
					<documentation xml:lang="de">
						<label>Einlauf</label>
						<tooltip>???tooltip</tooltip>
						<description>???description</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KRUEMMER">
				<annotation>
					<documentation xml:lang="de">
						<label>Krümmer</label>
						<tooltip>???tooltip</tooltip>
						<description>???description</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ZUSATZVERLUST">
				<annotation>
					<documentation xml:lang="de">
						<label>Zusatz-Verlust</label>
						<tooltip>???tooltip</tooltip>
						<description>???description</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECHEN">
				<annotation>
					<documentation xml:lang="de">
						<label>Rechen</label>
						<tooltip>???tooltip</tooltip>
						<description>???description</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AUSLAUF">
				<annotation>
					<documentation xml:lang="de">
						<label>Auslauf</label>
						<tooltip>???tooltip</tooltip>
						<description>???description</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- 
	-->
	<complexType name="subStrandDefinitionPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>???subStrandDefinitionPropertyType</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:subStrandDefinition">
						<annotation>
							<documentation xml:lang="de">
								<label>???AbschnittsdefinitionPropertyType</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="subStrandDefinitionType">
		<annotation>
			<documentation xml:lang="de">
				<label>???subStrandDefinitionType</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="startStation" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>???Anfangsstation</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="endStation" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>???Endstation</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="specialOptionsPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>???propertyType:Zusatzoptionen</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:specialOptions">
						<annotation>
							<documentation xml:lang="de">
								<label>???Zusatzoptionen</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="specialOptionsType">
		<annotation>
			<documentation xml:lang="de">
				<label>???specialOptionsType:Zusatztoptionen</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="doCalcBridges" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>???Brücken mit Berechnen</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="doCalcBarrages" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>???Wehre mit Berechnen</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
</schema>
