_import/trunk/Kalypso/KalypsoFloodRiskAnalysis/src/org/kalypso/floodrisk/schema/ContextModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.tuhh.de/floodrisk/contextModel" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:risk_cm="http://www.tuhh.de/floodrisk/contextModel">
	<!-- =========================================================== -->
	<!--Imports=========================================================== -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/>
	<!-- =========================================================== -->
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<!-- ContextModel=========================================================== -->
	<xs:element name="ContextModel" type="risk_cm:ContextModelType"/>
	<xs:complexType name="ContextModelType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="LanduseCollectionMember" type="risk_cm:LanduseCollectionMemberAssociationType"/>
					<xs:element name="AdministrationUnitCollectionMember" type="risk_cm:AdministrationUnitCollectionMemberAssociationType" minOccurs="0"/>
					<xs:element name="DamageFunctionCollectionMember" type="risk_cm:DamageFunctionCollectionMemberAssociationType"/>
					<xs:element name="AssetValueCollectionMember" type="risk_cm:AssetValueCollectionMemberAssociationType"/>
					<xs:element name="DamageFunctionMappingCollectionMember" type="risk_cm:DamageFunctionMappingCollectionMemberAssociationType"/>
					<xs:element name="AssetValueMappingCollectionMember" type="risk_cm:AssetValueMappingCollectionMemberAssociationType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- LanduseCollectionMember=========================================================== -->
	<xs:complexType name="LanduseCollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:LanduseCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LanduseCollection" type="risk_cm:LanduseCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="LanduseCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="LanduseMember" type="risk_cm:LanduseMemberAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- LanduseMember=========================================================== -->
	<xs:complexType name="LanduseMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:Landuse"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Landuse" type="risk_cm:LanduseFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="LanduseFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- AdministrationUnitCollectionMember=========================================================== -->
	<xs:complexType name="AdministrationUnitCollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:AdministrationUnitCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AdministrationUnitCollection" type="risk_cm:AdministrationUnitCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AdministrationUnitCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="AdministrationUnitMember" type="risk_cm:AdministrationUnitMemberAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- AdministrationUnitMember=========================================================== -->
	<xs:complexType name="AdministrationUnitMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:AdministrationUnit"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AdministrationUnit" type="risk_cm:AdministrationUnitFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AdministrationUnitFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<!--<element name="Unit" type="string"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- DamageFunctionCollectionMember=========================================================== -->
	<xs:complexType name="DamageFunctionCollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:DamageFunctionCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DamageFunctionCollection" type="risk_cm:DamageFunctionCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="DamageFunctionCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="DamageFunctionMember" type="risk_cm:DamageFunctionAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- DamageFunctionMember=========================================================== -->
	<xs:complexType name="DamageFunctionAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:DamageFunction"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DamageFunction" type="risk_cm:DamageFunctionFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="DamageFunctionFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Function" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- AssetValueCollectionMember=========================================================== -->
	<xs:complexType name="AssetValueCollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:AssetValueCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AssetValueCollection" type="risk_cm:AssetValueCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AssetValueCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="AssetValueMember" type="risk_cm:AssetValueAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- AssetValueMember=========================================================== -->
	<xs:complexType name="AssetValueAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:AssetValue"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AssetValue" type="risk_cm:AssetValueFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AssetValueFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Value" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- DamageFunctionMappingCollectionMember=========================================================== -->
	<xs:complexType name="DamageFunctionMappingCollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:DamageFunctionMappingCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DamageFunctionMappingCollection" type="risk_cm:DamageFunctionMappingCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="DamageFunctionMappingCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="DamageFunctionMappingMember" type="risk_cm:DamageFunctionMappingMemberAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- DamageFunctionMappingMember=========================================================== -->
	<xs:complexType name="DamageFunctionMappingMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:DamageFunctionMapping"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DamageFunctionMapping" type="risk_cm:DamageFunctionMappingFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="DamageFunctionMappingFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="DamageFunctionLink" type="risk_cm:DamageFunctionLinkType"/>
					<xs:element name="LanduseLink" type="risk_cm:LanduseLinkType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- AssetValueMappingCollectionMember=========================================================== -->
	<xs:complexType name="AssetValueMappingCollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:AssetValueMappingCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AssetValueMappingCollection" type="risk_cm:AssetValueMappingCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AssetValueMappingCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="AssetValueMappingMember" type="risk_cm:AssetValueMappingMemberAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- AssetValueMappingMember=========================================================== -->
	<xs:complexType name="AssetValueMappingMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_cm:AssetValueMapping"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AssetValueMapping" type="risk_cm:AssetValueMappingFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AssetValueMappingFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="AssetValueLink" type="risk_cm:AssetValueLinkType"/>
					<xs:element name="LanduseLink" type="risk_cm:LanduseLinkType" maxOccurs="unbounded"/>
					<xs:element name="AdministrationUnitLink" type="risk_cm:AdministrationUnitLinkType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<xs:complexType name="DamageFunctionLinkType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="risk_cm:DamageFunction"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="AssetValueLinkType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="risk_cm:AssetValue"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="LanduseLinkType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="risk_cm:Landuse"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="AdministrationUnitLinkType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="risk_cm:AdministrationUnit"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
