_import/trunk/Kalypso/KalypsoFloodRiskAnalysis/src/org/kalypso/floodrisk/schema/RasterDataModel.xsd.bak2

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.tuhh.de/floodrisk/rasterData" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:risk_rd="http://www.tuhh.de/floodrisk/rasterData">
	<!-- =========================================================== -->
	<!--Imports=========================================================== -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="base/gml.xsd"/>
	<!-- =========================================================== -->
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<!-- =========================================================== -->
	<!-- RasterDataModel=========================================================== -->
	<xs:element name="RasterDataModel" type="risk_rd:RasterDataModelType"/>
	<xs:complexType name="RasterDataModelType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractCoverageType">
				<xs:sequence>
					<xs:element name="RectifiedGridCoverage" type="risk_rd:RectifiedGridCoverageType" substitutionGroup="gml:_DiscreteCoverage"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RectifiedGridCoverageType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractDiscreteCoverageType">
				<xs:sequence>
					<xs:group ref="gml:StandardObjectProperties"/>
					<xs:element ref="gml:boundedBy" minOccurs="0"/>
					<xs:element ref="gml:rectifiedGridDomain"/>
					<xs:element ref="gml:rangeSet"/>
					<xs:element ref="gml:coverageFunction" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>	
</xs:schema>
