_import/trunk/Kalypso/KalypsoFloodRiskAnalysis/src/org/kalypso/floodrisk/schema/rectifiedGridCoverage2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://elbe.wb.tu-harburg.de/rectifiedGridCoverage" elementFormDefault="qualified" version="2.06" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:rgc="http://elbe.wb.tu-harburg.de/rectifiedGridCoverage">
	<!-- include constructs from the GML observation schema -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="base/gml.xsd"/>
	<!-- === global declarations ============================================ -->
	<!-- RectifiedGridCoverageMember=========================================================== -->
	<element name="RectifiedGridCoverageMember" type="rgc:RectifiedGridCoverageMemberAssociationType" substitutionGroup="gml:_Coverage"/>
	<!-- ==============================================================-->
	<complexType name="RectifiedGridCoverageMemberAssociationType">
		<complexContent>
			<restriction base="gml:AbstractCoverageType">
				<sequence>
					<element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:description" minOccurs="0"/>
					<element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:boundedBy" minOccurs="0"/>
					<element ref="gml:location" minOccurs="0"/>
					<element ref="gml:rectifiedGridDomain"/>
					<element ref="rgc:rangeSet"/>
					<element ref="gml:coverageFunction" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="rangeSet" type="rgc:FileRangeSetType" substitutionGroup="gml:rangeSet"/>
	<!-- =========================================================== -->
	<complexType name="FileRangeSetType">
		<complexContent>
			<restriction base="gml:RangeSetType">
				<sequence>
					<element name="File" type="rgc:FileType"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="FileType">
			<sequence>
				<element name="fileName" type="anyURI"/>
			</sequence>
	</complexType>
</schema>
