KalypsoCore/etc/schemas/template/featureview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Gernot Belger (BCE GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="featureview.template.kalypso.org"
	xmlns:kalypso="types.template.kalypso.org" targetNamespace="featureview.template.kalypso.org"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import namespace="types.template.kalypso.org" schemaLocation="./layerTypes.xsd" />

	<xs:element name="featuretemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="layer" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="kalypso:layerType" />
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="view" type="ns1:FeatureviewType" minOccurs="0"
					maxOccurs="unbounded">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="featureview" type="ns1:FeatureviewType" />
	<xs:complexType name="FeatureviewType">
		<xs:complexContent>
			<xs:extension base="ns1:compositeType">
				<xs:attribute name="typename" type="xs:QName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ControlType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ns1:layoutData" />
		</xs:sequence>
		<xs:attribute name="style" type="xs:string" use="required" />
		<xs:attribute name="tooltip" type="xs:string" use="optional" default="" />
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="enabled" type="xs:boolean" use="optional" default="true" />
	</xs:complexType>
	<xs:complexType name="PropertyControlType">
		<xs:complexContent>
			<xs:extension base="ns1:ControlType">
				<xs:attribute name="property" type="xs:QName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LayoutType" />
	<xs:complexType name="layoutDataType" />
	<xs:complexType name="compositeType">
		<xs:complexContent>
			<xs:extension base="ns1:ControlType">
				<xs:sequence minOccurs="0">
					<xs:element ref="ns1:layout" />
					<xs:element ref="ns1:control" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="composite" type="ns1:compositeType" substitutionGroup="ns1:control" />
	<xs:element name="group" substitutionGroup="ns1:composite">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:compositeType">
					<xs:attribute name="text" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control" type="ns1:ControlType" />
	<xs:element name="label" type="ns1:LabelType" substitutionGroup="ns1:control"/>
	<xs:complexType name="LabelType">
		<xs:complexContent>
			<xs:extension base="ns1:PropertyControlType">
				<xs:attribute name="text" type="xs:string" use="optional" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="validatorlabel" type="ns1:ValidatorLabelType" substitutionGroup="ns1:control"/>
	<xs:complexType name="ValidatorLabelType">
		<xs:complexContent>
			<xs:extension base="ns1:PropertyControlType"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="text" substitutionGroup="ns1:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:PropertyControlType">
					<xs:attribute name="editable" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="button" substitutionGroup="ns1:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:PropertyControlType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="radiobutton" substitutionGroup="ns1:control">
		<xs:annotation>
			<xs:documentation>
				The radio button just sets the value of a feature to the given value
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:PropertyControlType">
					<xs:attribute name="text" type="xs:string" use="optional" default="" />
					<xs:attribute name="valueToSet" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="combo" substitutionGroup="ns1:control">
		<xs:annotation>
			<xs:documentation>A combo let the user choose between several values.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:PropertyControlType">
					<xs:sequence>
						<xs:element name="entry" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									An entry represant a selectable item from the combo box. The
									label is the string displayed to the user. The value (string
									element content) will be parsed by the appropriate
									IMarhsallingTypeHandler to the required value.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="label" type="xs:string" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkbox" substitutionGroup="ns1:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:PropertyControlType">
					<xs:attribute name="editable" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table" substitutionGroup="ns1:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:PropertyControlType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="subcomposite" type="ns1:SubcompositeType" substitutionGroup="ns1:control"/>
	<xs:complexType name="SubcompositeType">
		<xs:complexContent>
			<xs:extension base="ns1:PropertyControlType" />
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element name="layout" type="ns1:LayoutType" abstract="true" />
	<xs:element name="gridLayout" substitutionGroup="ns1:layout">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:LayoutType">
					<xs:attribute name="horizontalSpacing" type="xs:int" use="optional" default="5" />
					<xs:attribute name="verticalSpacing" type="xs:int" use="optional" default="5" />
					<xs:attribute name="marginWidth" type="xs:int" use="optional" default="5" />
					<xs:attribute name="marginHeight" type="xs:int" use="optional" default="5" />
					<xs:attribute name="numColumns" type="xs:int" use="optional" default="2" />
					<xs:attribute name="makeColumnsEqualWidth" type="xs:boolean" use="optional"
						default="false" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="layoutData" type="ns1:layoutDataType" abstract="true" />

	<xs:element name="gridData" type="ns1:GridDataType" substitutionGroup="ns1:layoutData"/>
	<xs:complexType name="GridDataType">
		<xs:complexContent>
			<xs:extension base="ns1:layoutDataType">
				<xs:attribute name="verticalAlignment" type="xs:string" use="optional"
					default="2" />
				<xs:attribute name="horizontalAlignment" type="xs:string" use="optional"
					default="2" />
				<xs:attribute name="widthHint" type="xs:int" use="optional" default="-1" />
				<xs:attribute name="heightHint" type="xs:int" use="optional" default="-1" />
				<xs:attribute name="horizontalIndent" type="xs:int" use="optional" default="0" />
				<xs:attribute name="horizontalSpan" type="xs:int" use="optional" default="1" />
				<xs:attribute name="verticalSpan" type="xs:int" use="optional" default="1" />
				<xs:attribute name="grabExcessHorizontalSpace" type="xs:boolean" use="optional"
					default="false" />
				<xs:attribute name="grabExcessVerticalSpace" type="xs:boolean" use="optional"
					default="false" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>
