KalypsoCore/etc/schemas/template/featureview.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Gernot Belger (BCE GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fv="featureview.template.kalypso.org" xmlns:tv="gistableview.template.kalypso.org" xmlns:kalypso="types.template.kalypso.org" targetNamespace="featureview.template.kalypso.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="types.template.kalypso.org" schemaLocation="./layerTypes.xsd" />
	<xs:import namespace="gistableview.template.kalypso.org" schemaLocation="./gistableview.xsd" />

	<xs:element name="featuretemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="layer" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="kalypso:layerType" />
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="view" type="fv:FeatureviewType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional" />

		</xs:complexType>
	</xs:element>

	<xs:element name="featureview" type="fv:FeatureviewType" />
	<xs:complexType name="FeatureviewType">
		<xs:complexContent>
			<xs:extension base="fv:compositeType">
				<xs:attribute name="typename" type="xs:QName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ControlType">
		<xs:sequence>
			<xs:element name="backgroundColor" type="xs:anyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<p>The background-color of the control.</p>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="visibleOperation" type="xs:anyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<p>The visibility of the control.</p>
						<p>If set, replaces the 'visible' attribute.</p>
						<p>The type of this element must be of type ogc:FilterType of the ogc filter specification (http://www.opengis.net/ogc).</p>
						<p>REMARK: the type is anyType here to reuse the 'buildFromDom' methods of the deegree Operation implementation.</p>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enabledOperation" type="xs:anyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<p>The enablement of the control.</p>
						<p>See also 'visibleOperation'.</p>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="fv:layoutData" />
		</xs:sequence>
		<xs:attribute name="style" type="xs:string" use="required" />
		<xs:attribute name="tooltip" type="xs:string" use="optional" default="" />
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="enabled" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="toolkit" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>
					<p>Use form toolkit for rendering the resulting feature view?</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="border" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>
					<p>Enclose feature view by a border</p>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PropertyControlType">
		<xs:complexContent>
			<xs:extension base="fv:ControlType">
				<xs:attribute name="property" type="xs:QName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LayoutType" />
	<xs:complexType name="layoutDataType" />
	<xs:complexType name="compositeType">
		<xs:complexContent>
			<xs:extension base="fv:ControlType">
				<xs:sequence minOccurs="0">
					<xs:element ref="fv:layout" />
					<xs:element ref="fv:control" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="property" type="xs:QName" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="composite" type="fv:compositeType" substitutionGroup="fv:control" />
	<xs:element name="group" substitutionGroup="fv:composite">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:compositeType">
					<xs:attribute name="text" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tabFolder" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:ControlType">
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="tabItem">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="tabLabel" type="xs:string" />
									<xs:element ref="fv:control" minOccurs="1" maxOccurs="1" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control" type="fv:ControlType" />
	<xs:element name="label" type="fv:LabelType" substitutionGroup="fv:control" />
	<xs:complexType name="LabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType">
				<xs:attribute name="text" type="xs:string" use="optional" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="validatorlabel" type="fv:ValidatorLabelType" substitutionGroup="fv:control" />
	<xs:complexType name="ValidatorLabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="geometrylabel" type="fv:GeometryLabelType" substitutionGroup="fv:control" />
	<xs:complexType name="GeometryLabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="colorlabel" type="fv:ColorLabelType" substitutionGroup="fv:control" />
	<xs:complexType name="ColorLabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="text" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element name="format" type="xs:anyType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<p>The format for this textfield.</p>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="editable" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="button" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="radiobutton" substitutionGroup="fv:control">
		<xs:annotation>
			<xs:documentation>The radio button just sets the value of a feature to the given value</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:attribute name="text" type="xs:string" use="optional" default="" />
					<xs:attribute name="valueToSet" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="combo" substitutionGroup="fv:control">
		<xs:annotation>
			<xs:documentation>A combo let the user choose between several values.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element name="sorter" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:annotation>
										<xs:documentation>The list of parameters for the sorter. Will be given to the implementation of the extension-point.</xs:documentation>
									</xs:annotation>
									<xs:element name="param" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>An arbitrary key/value-pair of strings.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="name" type="xs:string" />
											<xs:attribute name="value" type="xs:string" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="id" type="xs:string" use="optional" />
							</xs:complexType>
						</xs:element>
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									An entry represant a selectable item from the combo box. The label is the string displayed to the user. The value (string element content) will be parsed by the
									appropriate IMarhsallingTypeHandler to the required value.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="label" type="xs:string" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkbox" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element name="text" type="xs:string" minOccurs="0" />
					</xs:sequence>
					<xs:attribute name="editable" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="spinner" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:attribute name="increment" type="xs:unsignedInt" use="optional" default="1" />
					<xs:attribute name="pageIncrement" type="xs:unsignedInt" use="optional" default="10" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="image" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="extensioncontrol" substitutionGroup="fv:control">
		<xs:annotation>
			<xs:documentation>A (generic) control which implementation is provided by extensions of the extension-point 'org.kalypso.ui.featureViewExtensionControl'</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>The list of parameters for this control. Will be given to the implementation of the extension-point.</xs:documentation>
						</xs:annotation>
						<xs:element name="param" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>An arbitrary key/value-pair of strings.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" />
								<xs:attribute name="value" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="extension-id" type="xs:string">
						<xs:annotation>
							<xs:documentation>The id of the extension which implements this control.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="tupleResult" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element name="recordsFixed" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="en">If set to true, adding, removing and moving records is forbidden.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="toolbar" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="command" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="commandId" type="xs:string" use="required" />
											<xs:attribute name="style" type="xs:string" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="addStandardItems" type="xs:boolean" default="true" />
							</xs:complexType>
						</xs:element>
						<xs:choice>
							<xs:element name="columnProviderId" type="xs:string">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										Id of a columnProvider which provides the column to be shown in a more dynamic way than the static columnDescriptors. See extension-point
										org.kalypso.core.columnProvider
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="columnDescriptor" type="fv:ColumnDescriptor" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">This list of column descriptors describes which column and how are to be shown in the table.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="table" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element ref="tv:gistableview" />
					</xs:sequence>
					<xs:attribute name="showToolbar" type="xs:boolean" use="optional" default="false" />
					<xs:attribute name="showContextMenu" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="subcomposite" type="fv:SubcompositeType" substitutionGroup="fv:control" />
	<xs:complexType name="SubcompositeType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType">
				<!-- TODO: at LEAST change to qname; never just use the property-tag-name, its not unique!
					BETTER: use gml-xpath to select property. See ControlType-enableOperation for an example. -->
				<xs:attribute name="selector" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="layout" type="fv:LayoutType" abstract="true" />
	<xs:element name="gridLayout" substitutionGroup="fv:layout">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:LayoutType">
					<xs:attribute name="horizontalSpacing" type="xs:int" use="optional" default="5" />
					<xs:attribute name="verticalSpacing" type="xs:int" use="optional" default="5" />
					<xs:attribute name="marginWidth" type="xs:int" use="optional" default="5" />
					<xs:attribute name="marginHeight" type="xs:int" use="optional" default="5" />
					<xs:attribute name="numColumns" type="xs:int" use="optional" default="2" />
					<xs:attribute name="makeColumnsEqualWidth" type="xs:boolean" use="optional" default="false" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="layoutData" type="fv:layoutDataType" abstract="true" />

	<xs:element name="gridData" type="fv:GridDataType" substitutionGroup="fv:layoutData" />
	<xs:complexType name="GridDataType">
		<xs:complexContent>
			<xs:extension base="fv:layoutDataType">
				<xs:sequence>
					<xs:element name="excludeOperation" type="xs:anyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								<p>The 'exclude' member of the GridData.</p>
								<p>See also 'visibleOperation' of the type 'ControlType'.</p>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="verticalAlignment" type="xs:string" use="optional" default="2" />
				<xs:attribute name="horizontalAlignment" type="xs:string" use="optional" default="2" />
				<xs:attribute name="widthHint" type="xs:int" use="optional" default="-1" />
				<xs:attribute name="heightHint" type="xs:int" use="optional" default="-1" />
				<xs:attribute name="horizontalIndent" type="xs:int" use="optional" default="0" />
				<xs:attribute name="horizontalSpan" type="xs:int" use="optional" default="1" />
				<xs:attribute name="verticalSpan" type="xs:int" use="optional" default="1" />
				<xs:attribute name="grabExcessHorizontalSpace" type="xs:boolean" use="optional" default="false" />
				<xs:attribute name="grabExcessVerticalSpace" type="xs:boolean" use="optional" default="false" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ColumnDescriptor">
		<xs:attribute name="component" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Id of the component this descriptions applies to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="editable" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>If false, the column will not be editable for the user. Defaults to true.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="optional" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>
					If true, the given component must be available in the data, else an error message will occur. If false, the column will be just ignored if the component is not available.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:int" use="optional" default="100">
			<xs:annotation>
				<xs:documentation>The width in pixels of the column. Defaults to 100.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="widthPercent" type="xs:int" use="optional" default="-1">
			<xs:annotation>
				<xs:documentation>
					The width in percent of the column i respect of the total width of the table. If not -1, each resize adjusts the columns width according to this setting. If not -1, the width
					attribute is regarded as minimum width. Defaults to -1.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alignment" type="xs:string" use="optional" default="SWT.CENTER">
			<xs:annotation>
				<xs:documentation>Alignment of the column: valid values: SWT.LEFT, SWT.RIGHT, SWT.CENTER.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resizeable" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>If false, the column cannot be resized by the user. Defaults to true.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="moveable" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>If false, the column cannot be moved by the user. Defaults to true.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayFormat" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Format string used to format entries (in order to display them) of this column. See String.format for valid values.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullFormat" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>String used for display if the value is null.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parseFormat" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Format string used to parse user edited entries of this column. Possible values are type dependend. Used within the XsdBaseGuiTypeHandler implementations.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Label of the column header. If not set, the name of the associated phenomenon is used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

</xs:schema>
