_import/trunk/Kalypso/sh/WorkflowModel/etc/binding/workflow/cases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.renew.de/workflow/cases" xmlns:rwf="http://www.renew.de/workflow/cases" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" elementFormDefault="qualified" version="1.0.0">

	<complexType name="Case">
		<sequence>
			<element name="Name" type="string" maxOccurs="1" minOccurs="1" />
		</sequence>
		<attribute name="URI" type="ID" use="required" />
	</complexType>	
	
</schema>