_import/trunk/KalypsoFlows/KalypsoModelFlows/src/org/kalypso/flows/resources/v0.3/mrsMeasure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:mrs="http://schema.kalypso.wb.tu-harburg.de/measure/mrs"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schema.kalypso.wb.tu-harburg.de/measure/mrs"
	elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd" />
	<element name="MrsMeasure" type="mrs:MrsMeasureType" />
	<complexType name="MrsMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="mrsMeasureMember"
						type="mrs:MrsMeasureAssociationType" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ________MrsMeasureFeature__________________ -->
	<complexType name="MrsMeasureAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="mrs:MrsMeasureFeature" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="MrsMeasureFeature" type="mrs:MrsMeasureFeatureType"
		substitutionGroup="gml:_Feature" />
	<complexType name="MrsMeasureFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="line"
						type="gml:LineStringPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Mulden-Rigolen-Geometrie</label>
								<tooltip>
									Laenge des Mulden-Rigolen-Systems
								</tooltip>
								<description>
									Geometrie der Massnahme
									Mulden-Rigolen
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Swale and trench geometry</label>
								<tooltip>
									Length of swale and trench system
								</tooltip>
								<description>
									Geometry swale and trench measure
								</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
