_import/trunk/KalypsoFlows/KalypsoModelFlows/src/org/kalypso/flows/resources/v0.3/sealingMeasure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	xmlns:slg="http://schema.kalypso.wb.tu-harburg.de/measure/sealing"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schema.kalypso.wb.tu-harburg.de/measure/sealing"
	elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd" />
	<element name="SealingMeasure" type="slg:SealingMeasureType" />
	<complexType name="SealingMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="sealingMeasureMember"
						type="slg:SealingMeasureAssociationType" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ________ScrabLayerGeomFeature__________________ -->
	<complexType name="SealingMeasureAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="slg:SealingMeasureFeature"
						minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="SealingMeasureFeature"
		type="slg:SealingMeasureFeatureType" substitutionGroup="gml:_Feature" />
	<complexType name="SealingMeasureFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="area"
						type="gml:PolygonPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Versieglungsgradaenderung</label>
								<tooltip>
									Flaeche der
									Versieglungsgradaenderung
								</tooltip>
								<description>
									Geometrie der Massnahme
									Mulden-Rigolen
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>
									change of surface sealing factor
									geometry
								</label>
								<tooltip>
									area of surface sealing change
									measure
								</tooltip>
								<description>
									Geometry of surface sealing change
									measure
								</description>
							</documentation>
						</annotation>
					</element>
					<element name="sealingfactor" type="double" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
