branches/kalypso_12.11/KalypsoModelRCM/etc/schema/thiessenStations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.model.rcm.thiessen" version="0.1" xmlns:th="org.kalypso.model.rcm.thiessen" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified">
  <import namespace="http://www.opengis.net/gml" />
  <import namespace="obslink.zml.kalypso.org" />

  <element name="ThiessenStationCollection" substitutionGroup="gml:_Feature">
    <complexType>
      <complexContent>
        <extension base="gml:AbstractFeatureType">
          <sequence>
            <element name="stationMember" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <sequence minOccurs="1" maxOccurs="1">
                  <element ref="th:ThiessenStation" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="ThiessenStation" substitutionGroup="gml:_Feature">
    <annotation>
      <documentation xml:lang="de">
        <name>Station</name>
        <label>${property:http://www.opengis.net/gml#description;-}</label>
        <tooltip>Station</tooltip>
        <description>Station</description>
      </documentation>
    </annotation>

    <complexType>
      <complexContent>
        <extension base="gml:AbstractFeatureType">
          <sequence>
            <element name="active" type="boolean" />
            <element name="stationLocation" type="gml:PointPropertyType" />
            <element name="thiessenArea" type="gml:PolygonPropertyType" />
            <element name="stationLink">
              <complexType>
                <sequence minOccurs="0" maxOccurs="0">
                  <element ref="gml:_Feature" />
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
              </complexType>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
</schema>