_import/trunk/Kalypso/sh/KalypsoAFGUIFramework/etc/binding/workflow/workflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.kalypso.org/afgui/workflow" xmlns:kwf="http://www.kalypso.org/afgui/workflow" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" elementFormDefault="qualified" version="1.0.0" xml:lang="en">
	<!-- ==============================================================
		elements and types
		============================================================== -->

	<simpleType name="EHelpType">
		<annotation>
			<appinfo>
				<jaxb:typesafeEnumClass />
			</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="PLAIN_TEXT" />
			<enumeration value="HTML" />
		</restriction>
	</simpleType>

	<simpleType name="EActivityExeState">
		<annotation>
			<appinfo>
				<jaxb:typesafeEnumClass />
			</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="AVAILABLE" />
			<enumeration value="REQUESTED" />
		</restriction>
	</simpleType>

	<complexType name="Activity">
		<sequence>
			<element name="Help" maxOccurs="1">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="type" type="kwf:EHelpType" />
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="Name" type="string" maxOccurs="1" minOccurs="1" />
		</sequence>
		<attribute name="state" type="kwf:EActivityExeState" />
		<attribute name="URI" type="ID" use="required" />
	</complexType>

	<complexType name="Task">
		<complexContent>
			<extension base="kwf:Activity">
				<sequence>
					<annotation>
						<appinfo>
							<jaxb:property name="Activities" />
						</appinfo>
					</annotation>
					<element name="Activity" type="kwf:Activity" maxOccurs="unbounded" />
				</sequence>
				<attribute name="context" type="IDREF">
					<annotation>
						<appinfo>
							<jaxb:property>
								<jaxb:baseType name="TaskGroup" />
							</jaxb:property>
						</appinfo>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="TaskGroup">
		<complexContent>
			<extension base="kwf:Task">
				<choice maxOccurs="unbounded">
					<annotation>
						<appinfo>
							<jaxb:property name="Tasks" />
						</appinfo>
					</annotation>
					<element name="Task" type="kwf:Task" />
					<element name="TaskGroup" type="kwf:TaskGroup" />
				</choice>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Phase">
		<complexContent>
			<extension base="kwf:Activity">
				<sequence>
					<annotation>
						<appinfo>
							<jaxb:property name="TaskGroups" />
						</appinfo>
					</annotation>
					<element name="TaskGroup" type="kwf:TaskGroup" minOccurs="1" maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Workflow">
		<complexType>
			<complexContent>
				<extension base="kwf:Activity">
					<sequence>
						<annotation>
							<appinfo>
								<jaxb:property name="Phases" />
							</appinfo>
						</annotation>
						<element name="Phase" type="kwf:Phase" minOccurs="1" maxOccurs="unbounded" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>
