trunk/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_flowrel.xsd

<?xml version="1.0" encoding="UTF-8"?>

	<!--
		Provides schema for the 1d flow relations of the 1d2d model @author
		Gernot Belger
	-->

<xs:schema targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d"
	xmlns:wb1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d"
	xmlns:wspmTuhh="org.kalypso.model.wspm.tuhh"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
	xmlns:math="org.kalypso.gml.common.math" xmlns:wspmprof="org.kalypso.model.wspmprofile"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
	xmlns:obs1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/observation"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>

	<xs:import namespace="http://www.opengis.net/gml" />
	<xs:import namespace="http://www.opengis.net/om" />
	<xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" />
	<xs:import namespace="org.kalypso.model.wspmprofile" />
	<xs:import namespace="org.kalypso.model.wspm.tuhh" />
	<xs:import namespace="org.kalypso.gml.common.math" />
	<xs:import namespace="http://www.tu-harburg.de/wb/kalypso/schemata/observation"
		schemaLocation="sim_1d2d_observation.xsd" />

	<xs:element name="_FlowRelation1D" type="wb1d2d:AbstractFlowRelation1DType"
		abstract="true" substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>Abstract substitution-head of all 1D-parameter
				relations</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="AbstractFlowRelation1DType"
		abstract="true">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="wspmTuhhCalculationMember" minOccurs="0"
						maxOccurs="1" type="wb1d2d:WspmTuhhCalculationPropertyType">

					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="_FlowRelation2D" type="wb1d2d:AbstractFlowRelation2DType"
		abstract="true" substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>Abstract substitution-head of all flow
				relations-parameter</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="AbstractFlowRelation2DType"
		abstract="true">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="wspmTuhhCalculationMember" minOccurs="0"
						maxOccurs="1" type="wb1d2d:WspmTuhhCalculationPropertyType">

					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WspmTuhhCalculationPropertyType">
		<xs:sequence>
			<!--  TODO: restrict to profiles of certain type -->
			<xs:element ref="wspmTuhh:CalculationReibConstWspmTuhhSteadyState"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!--
		================================================ King Flow Relation
		==================================================
	-->

	<xs:element name="KingFlowRelation" type="wb1d2d:KingFlowRelationType"
		substitutionGroup="wb1d2d:_FlowRelation1D">
		<xs:annotation>

			<xs:documentation>
				Flowrelations (Profile Geometry)

			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="KingFlowRelationType">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractFlowRelation1DType">
				<xs:sequence>
					<xs:element name="kingProfileMember" type="wb1d2d:KingProfilePropertyType" />
					<xs:element name="width" type="xs:decimal">
						<xs:annotation>

							<xs:documentation>
								Width [m]
								Width of Riverbed [m]
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ss1" type="xs:decimal" minOccurs="0">
						<xs:annotation>

							<xs:documentation>
								bankslope right
								bankslope right
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ss2" type="xs:decimal" minOccurs="0">
						<xs:annotation>

							<xs:documentation>
								bankslope left
								bankslope left
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wids" type="xs:decimal">
						<xs:annotation>

							<xs:documentation>
								Storage Width
								Width of profile storage if water
								reaches flood plain
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="widbs" type="xs:decimal">
						<xs:annotation>
							<xs:documentation>
								Übertretungshöhe

								Übertretungshöhe des Ufers - entspricht geringster Höhe des Wasserstands im
								Hochwasserspeicher
								
							</xs:documentation>

						</xs:annotation>
					</xs:element>
					<xs:element name="wss" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Böschungsneigung Speicher
								Neigung der Böschung
								des Hochwasserspeichers
							</xs:documentation>

						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="KingProfilePropertyType">
		<xs:sequence>
			<!--  TODO: restrict to profiles of certain type -->
			<xs:element ref="wspmprof:Profile" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!--
		================================================ Polynomial Flow
		Relation (Teschke) ==================================================
	-->
	<xs:element name="TeschkeFlowRelation" type="wb1d2d:TeschkeFlowRelationType"
		substitutionGroup="wb1d2d:_FlowRelation1D">
		<xs:annotation>
			<xs:documentation>
				Netzparameter (Polynome)
				Netzparameter (Polynomiale
				Repräsentation von Profilen)
			</xs:documentation>

		</xs:annotation>
	</xs:element>

	<xs:complexType name="TeschkeFlowRelationType">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractFlowRelation1DType">
				<xs:sequence>
					<xs:element name="pointsMember" type="wb1d2d:HPointsPropertyType">
						<xs:annotation>
							<xs:documentation>
								Punkte
							</xs:documentation>
							<xs:documentation>
								Points
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="polynomialMember" type="math:Polynomial1DPropertyType"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Polygon
							</xs:documentation>

						</xs:annotation>
					</xs:element>
					<xs:element name="station" type="xs:decimal" minOccurs="0">
						<xs:annotation>

							<xs:documentation>
								Station [km]

								Optional definition of station. If set length of Finite Element between
								nodes will be
								set as distance between kilometers 
								
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileMember" type="wb1d2d:LinkedProfilePropertyType"
						minOccurs="0">
						<xs:annotation>

							<xs:documentation>
								Profile
								Profile Reference
								<xs:description>Reference to profile</xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slope" type="xs:decimal" minOccurs="0">
						<xs:annotation>

							<xs:documentation>
								Slope
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LinkedProfilePropertyType">
		<xs:annotation>
			<xs:documentation>A link to a wspm profile.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="wspmprof:Profile" minOccurs="0"
				maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:complexType name="HPointsPropertyType">
		<xs:annotation>
			<xs:documentation>An inline Observation-Member.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="wb1d2d:HPointsObservation" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="HPointsObservation" type="om:ObservationType"
		substitutionGroup="om:Observation" />


	<!--
		================================================ Buildings
		==================================================
	-->

	<xs:element name="BuildingFlowRelation" type="wb1d2d:AbstractBuildingFlowRelationType"
		abstract="true" substitutionGroup="wb1d2d:_FlowRelation1D">
		<xs:annotation>

			<xs:documentation>
				Control Structure (1D)
				Control Structure (1D), i.e.
				weir, bridge etc.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="BuildingFlowRelation2D" type="wb1d2d:AbstractBuildingFlowRelation2DType"
		abstract="true" substitutionGroup="wb1d2d:_FlowRelation2D">
		<xs:annotation>

			<xs:documentation>
				Building (2D)
				Building (2D)
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="AbstractBuildingFlowRelationType"
		abstract="true">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractFlowRelation1DType">
				<xs:sequence>
					<xs:element name="kind" type="wb1d2d:buildingKind"
						fixed="10">
						<xs:annotation>
							<xs:documentation>
								Fließformel
							
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="direction" type="gml:DegreeValueType"
						nillable="false" default="0">
						<xs:annotation>
							<xs:documentation>

								Direction of flow for this building
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="observation"
						type="obs1d2d:ObservationWithSourcePropertyType">
						<xs:annotation>
							<xs:documentation>

								Parameters
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileMember" type="wb1d2d:LinkedProfilePropertyType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>

								Profile Reference
								<xs:description>Reference to profile</xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AbstractBuildingFlowRelation2DType"
		abstract="true">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractFlowRelation2DType">
				<xs:sequence>
					<xs:element name="kind" type="wb1d2d:buildingKind"
						fixed="10">
						<xs:annotation>
							<xs:documentation>Fließformel</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="direction" type="gml:DegreeValueType"
						nillable="false" default="0">
						<xs:annotation>
							<xs:documentation>

								Direction of flow for this building
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QSymmetry" type="xs:boolean" default="false">
						<xs:annotation>
							<xs:documentation>
								Symmetrisches Abflussverhalten in beide Fließrichtungen 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="observation"
						type="obs1d2d:ObservationWithSourcePropertyType">
						<xs:annotation>
							<xs:documentation>
								Parameter
								
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--
						<xs:element name="profileMember"
						type="wb1d2d:LinkedProfilePropertyType" minOccurs="0">
						<xs:annotation> <xs:documentation > Profil Referenz auf Profil
						<xs:description>Referenz auf Profil</xs:description>
						</xs:documentation> <xs:documentation > Profile Profile Reference
						<xs:description>Reference to profile</xs:description>
						</xs:documentation> </xs:annotation> </xs:element>
					-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="buildingKind">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"></xs:enumeration>
			<xs:enumeration value="2"></xs:enumeration>
			<xs:enumeration value="3"></xs:enumeration>
			<xs:enumeration value="4"></xs:enumeration>
			<xs:enumeration value="5"></xs:enumeration>
			<xs:enumeration value="6"></xs:enumeration>
			<xs:enumeration value="7"></xs:enumeration>
			<xs:enumeration value="8"></xs:enumeration>
			<xs:enumeration value="9"></xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>
						Tabellarisch
					</xs:documentation>
					<xs:documentation>
						Tabular
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="WeirFlowRelation" type="wb1d2d:WeirFlowRelationType"
		substitutionGroup="wb1d2d:BuildingFlowRelation">
		<xs:annotation>
			<xs:documentation>

				Weir (1D)
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="WeirFlowRelationType">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractBuildingFlowRelationType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="WeirFlowRelation2D" type="wb1d2d:WeirFlowRelationType2D"
		substitutionGroup="wb1d2d:BuildingFlowRelation2D">
		<xs:annotation>
			<xs:documentation>

				Weir (2D)
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="WeirFlowRelationType2D">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractBuildingFlowRelation2DType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="BridgeFlowRelation" type="wb1d2d:BridgeFlowRelationType"
		substitutionGroup="wb1d2d:BuildingFlowRelation">
		<xs:annotation>
			<xs:documentation>

				Bridge (1D)
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="BridgeFlowRelationType">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractBuildingFlowRelationType" />
		</xs:complexContent>
	</xs:complexType>


</xs:schema>
