_import/trunk/KalypsoSachsen/KalypsoConfSachsen/deployable-client/client/plugins/com.objfac.xmleditor_2.0.10/.cache/meta.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- meta must be the root element of
	 the meta.xml resource.
-->
<!ELEMENT meta (file*)>

<!-- Each cached resource is described
     by a file element.
-->
<!ELEMENT file (pub,abs,rel)>

<!-- If the null attribute is specified,
     pub must be empty. Otherwise, it
     contains the PUBLIC id of a resource.
-->
<!ELEMENT pub (#PCDATA)>
<!ATTLIST pub
	null (true) #IMPLIED
>

<!-- If the null attribute is specified,
     pub must be empty. Otherwise, it
     contains the original absolute URL
     location of a resource.
-->
<!ELEMENT abs (#PCDATA)>
<!ATTLIST abs
	null (true) #IMPLIED
>

<!-- The rel element must be non-empty.
     It specifies the URL of the cached
     resource relative to the meta.xml resource.
-->
<!ELEMENT rel (#PCDATA)>