_import/trunk/Kalypso/KalypsoDSS/src/org/kalypso/dss/resources/measures2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Anneliese Fey (TU Hamburg-Harburg) -->
<schema xmlns:dss="http://www.tuhh.de/kalypsoDSS" xmlns:par="http://www.tuhh.de/parameter" xmlns:na="http://www.tuhh.de/kalypsoNA" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xplan="http://www.xplanung.de/bplangml" targetNamespace="http://www.tuhh.de/kalypsoDSS" elementFormDefault="qualified" version="0.4">
	<import namespace="http://www.xplanung.de/bplangml" schemaLocation="BPlan-Minimal_measures.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<import namespace="http://www.tuhh.de/kalypsoNA" schemaLocation="namodell.xsd"/>
	<import namespace="http://www.tuhh.de/parameter" schemaLocation="parameter.xsd"/>
	<element name="DSSMeasures" type="dss:DSSMeasuresType">
		<annotation>
			<documentation xml:lang="de">
				<label>DSS Maßnahmen Kalypso</label>
				<tooltip>Maßnahmendatei</tooltip>
				<description>Maßnahmen</description>
			</documentation>
			<documentation xml:lang="en">
				<label>DSS measure Kalypso</label>
				<tooltip>measures file</tooltip>
				<description>Measures</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="DSSMeasuresType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="measuresMember" type="dss:DSSMeasureAssociationFeatureType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ________measure member__________________ -->
	<complexType name="DSSMeasureAssociationFeatureType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="dss:_Measure"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--____________________Abstract measure supertype for all measures_______________________________ -->
	<element name="_Measure" type="gml:AbstractFeatureType" abstract="true" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">

						</documentation>
			<documentation xml:lang="en">
								acts as head of substitutiongroup "Measure"
						</documentation>
		</annotation>
	</element>
	<!-- ____________________concrete measuers___________________________________________________ -->
	<element name="ALBMeasure" type="dss:ALBMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Nutzungsaenderung</label>
				<tooltip>Enthaelt Daten für eine Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</tooltip>
				<description>Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="ALBMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="measureGeom" type="gml:PolygonPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>System Geometrie</label>
								<tooltip>Geometrie des Nutzungstypen</tooltip>
								<description>Fläche der Nutzungsänderung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
					<element name="landuseMember" type="dss:ALBMeasureAssociationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ALBMeasureAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="dss:NutzungALB" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>Nutzungsaenderung</label>
								<tooltip>Enthaelt Daten für eine Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</tooltip>
								<description>Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="NutzungALB" type="dss:NutzungALBType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>ALB Nutzungstype</label>
				<tooltip>Enthaelt ALB Nutzungstype mit prozentualem Flaechenanteil</tooltip>
				<description>ALB Nutzungstype mit prozentualem Flaechenanteil</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="NutzungALBType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="albNutzung" type="dss:NutzungAssociation"/>
					<element name="percentage" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Flaechenanteil</label>
								<tooltip>Flaechenanteil des ALB Nutzungstype</tooltip>
								<description>ALB Nutzungstype mit prozentualem Flaechenanteil</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NutzungAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="par:Nutzung">
						<annotation>
							<documentation xml:lang="de">
								<label>Nutzungsparameter</label>
								<tooltip>Parameter des ALB Nutzungstypen</tooltip>
								<description>Parameter des ALB Nutzungstypen</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--__________________________________Rueckhaltebeckenmaßnahme________________________________________ -->
	<element name="RetensionBasinMeasure" type="dss:RetensionBasinMeasureType" substitutionGroup="dss:_Measure"/>
	<complexType name="RetensionBasinMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="basinGeom" type="gml:PolygonPropertyType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Rueckhaltebeckengeometrie</label>
								<tooltip>Aussenlinie des Rueckhaltebeckens</tooltip>
								<description>Flaeche des Rueckhaltebeckens</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
					<element name="storageChannel" type="dss:storageChannelAssociation" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="storageChannelAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:StorageChannel" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--_____________________________________________Mulden-Rigolen-Maßnahme____________________________________ -->
	<element name="SwaleTrechSystemMeasure" type="dss:SwaleTrechSystemMeasureType" substitutionGroup="dss:_Measure"/>
	<complexType name="SwaleTrechSystemMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="systemGeom" type="gml:PolygonPropertyType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Muldengeometrie</label>
								<tooltip>Aussenlinie des Mulden-Rigolen-Systems</tooltip>
								<description>Flaeche des Mulden-Rigolen-Systems</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
					<element name="swaleTrenchMeasure" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--___________________________________________Nutzungsänderungen aus dem Bebauungsplan_____________________________ -->
	<element name="BaugebietFlaechenTeilMeasure" type="dss:BaugebietFlaechenTeilMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Baugebiet</label>
				<tooltip>Aussenlinie des Baugebiets</tooltip>
				<description>Flaeche des Baugebiets</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="BaugebietFlaechenTeilMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:BaugebietsFlaechenTeilAssociation"/>
					<!--
					<element name="WaldFlaeche" type="xplan:WaldFlaecheType"/>
					<element name="LandwirtschaftsFlaeche" type="xplan:LandwirtschaftsFlaecheType"/>
					<element name="FreiFlaeche" type="xplan:FreiFlaecheType"/>
-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BaugebietsFlaechenTeilAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:BaugebietsFlaechenTeil"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="GemeinbedarfsFlaecheMeasure" type="dss:GemeinbedarfsFlaecheMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Gemeinbedarfsflaeche</label>
				<tooltip>Gemeinbedarfsflaeche im B-Plan</tooltip>
				<description>Gemeinbedarfsflaeche im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="GemeinbedarfsFlaecheMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:GemeinbedarfsFlaecheMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GemeinbedarfsFlaecheMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:GemeinbedarfsFlaeche"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="SpielSportanlagenFlaecheMeasure" type="dss:SpielSportanlagenFlaecheMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Sportanlagenflaeche</label>
				<tooltip>Spiel- und Sportanlagenflaechen im B-Plan</tooltip>
				<description>Spiel- und Sportanlagenflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="SpielSportanlagenFlaecheMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:SpielSportanlagenFlaecheMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SpielSportanlagenFlaecheMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:SpielSportanlagenFlaeche"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VerEntsorgungsFlaecheMeasure" type="dss:VerEntsorgungsFlaecheMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Versorgungsflaechen</label>
				<tooltip>Ver- und Entsorgungsflaechen im B-Plan</tooltip>
				<description>Ver- und Entsorgungsflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="VerEntsorgungsFlaecheMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:VerEntsorgungsFlaecheMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VerEntsorgungsFlaecheMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:VerEntsorgungsFlaeche"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VerkehrsFlaecheMeasure" type="dss:VerkehrsFlaecheMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Verkehrsflaechen</label>
				<tooltip>Verkehrsflaechen im B-Plan</tooltip>
				<description>Verkehrsflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="VerkehrsFlaecheMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:VerkehrsFlaecheMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VerkehrsFlaecheMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:VerkehrsFlaeche"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VerkehrsflaecheBesondererZweckbestimmungMeasure" type="dss:VerkehrsflaecheBesondererZweckbestimmungMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Verkehrsflaechen m. bes. ZB</label>
				<tooltip>Verkehrsflaechen mit besonderer Zweckbestimmung im B-Plan</tooltip>
				<description>Verkehrsflaechen mit besonderer Zweckbestimmung im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="VerkehrsflaecheBesondererZweckbestimmungMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:VerkehrsflaecheBesondererZweckbestimmungMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VerkehrsflaecheBesondererZweckbestimmungMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:VerkehrsflaecheBesondererZweckbestimmung"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="NebenanlagenStellplaetzeGaragenflaechenMeasure" type="dss:NebenanlagenStellplaetzeGaragenflaechenMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Stellplaetze</label>
				<tooltip>Nebenanlagen für Stellplaetze und Garagenflaechen im B-Plan</tooltip>
				<description>Nebenanlagen für Stellplaetze und Garagenflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="NebenanlagenStellplaetzeGaragenflaechenMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:NebenanlagenStellplaetzeGaragenflaechenMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NebenanlagenStellplaetzeGaragenflaechenMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:NebenanlagenStellplaetzeGarabenflaechen"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="NebenanlagenFlaecheMeasure" type="dss:NebenanlagenFlaecheMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Nebenanlagen</label>
				<tooltip>Nebenanlagen im B-Plan</tooltip>
				<description>Nebenanlagen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="NebenanlagenFlaecheMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:NebenanlagenFlaecheMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NebenanlagenFlaecheMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:NebenanlagenFlaeche"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="GruenFlaecheMeasure" type="dss:GruenFlaecheMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Gruenflaechen</label>
				<tooltip>Gruenflaechen im B-Plan</tooltip>
				<description>Gruenflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="GruenFlaecheMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="bPlanFlaechen" type="dss:GruenFlaecheMeasureAssociation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GruenFlaecheMeasureAssociation">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="xplan:GruenFlaeche"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
