trunk/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/roughness_model.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Provides gml schema types and elements to model roughness. Basic
		element is the Roughness element which can be grouped in a collection

		@author Patrice Congo @author Dejan Antanaskovic
	-->
<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wbr="http://www.tu-harburg.de/wb/kalypso/schemata/roughness"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:common="org.kalypso.gml.common"
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/roughness"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd" />
	<xs:import namespace="org.kalypso.gml.common" />
	<!--
		=================================================================
		RoughnessCollection
		==================================================================
	-->
	<xs:element name="RoughnessClsCollection" type="wbr:RoughnessClsCollectionType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="RoughnessClsCollectionType">
		<xs:annotation>
			<xs:documentation>
				A collection made up of roughnesses
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="wbr:roughnessClsMember" minOccurs="0"
						maxOccurs="unbounded" />
					<xs:element ref="wbr:roughness_GroundClsMember"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="wbr:roughness_VegetationClsMember"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="wbr:roughness_EddyViscosityClsMember"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--
		=================================================================
		roughnessVegetationMember;
		==================================================================
	-->
	<xs:element name="roughnessClsMember" type="wbr:RoughnessClsPropertyType" />
	<xs:complexType name="RoughnessClsPropertyType">
		<xs:sequence>
			<xs:element ref="wbr:RoughnessCls" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<!--
		=================================================================
		roughnessMember; Roughness_GroundClsPropertyType
		==================================================================
	-->
	<xs:element name="roughness_GroundClsMember" type="wbr:Roughness_GroundClsPropertyType" />
	<xs:complexType name="Roughness_GroundClsPropertyType">
		<xs:sequence>
			<xs:element ref="wbr:Roughness_GroundCls" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>
	<!--
		=================================================================
		roughnessMember; Roughness_VegetationClsPropertyType
		==================================================================
	-->
	<xs:element name="roughness_VegetationClsMember" type="wbr:Roughness_VegetationClsPropertyType" />
	<xs:complexType name="Roughness_VegetationClsPropertyType">
		<xs:sequence>
			<xs:element ref="wbr:Roughness_VegetationCls" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>
	<!--
		=================================================================
		roughnessMember; Roughness_EddyViscosityClsPropertyType
		==================================================================
	-->
	<xs:element name="roughness_EddyViscosityClsMember"
		type="wbr:Roughness_EddyViscosityClsPropertyType" />
	<xs:complexType name="Roughness_EddyViscosityClsPropertyType">
		<xs:sequence>
			<xs:element ref="wbr:Roughness_EddyViscosityCls"
				minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<!--
		=================================================================
		Roughness
		==================================================================
	-->
	<xs:element name="RoughnessCls" type="wbr:RoughnessClsType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				
					<![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no name-}]]>

			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Roughness_GroundCls" type="wbr:Roughness_GroundClsType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
					<![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no name-}]]>

			</xs:documentation>

		</xs:annotation>
	</xs:element>
	<xs:element name="Roughness_VegetationCls" type="wbr:Roughness_VegetationClsType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
					<![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no name-}]]>

			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Roughness_EddyViscosityCls" type="wbr:Roughness_EddyViscosityClsType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
					<![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no name-}]]>

			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--
		=================================================================
		Roughness
		==================================================================
	-->
	<xs:complexType name="RoughnessClsType">
		<xs:annotation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:groundTypeName" kapp:isVirtual="true"
					kapp:valueType="xs:string" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:vegetationTypeName" kapp:isVirtual="true"
					kapp:valueType="xs:string" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:eddyViscosityTypeName" kapp:isVirtual="true"
					kapp:valueType="xs:string" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:ks" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:axay" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:dp" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:exx" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:eyx" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:exy" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:eyy" kapp:isVirtual="true" kapp:valueType="xs:double" />
				<kapp:functionProperty
					kapp:functionId="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
					kapp:property="wbr:charactV" kapp:isVirtual="true" kapp:valueType="xs:double" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="roughness_GroundLink" type="wbr:RoughnessGroundLinkType"
						nillable="true">
						<xs:annotation>
							<xs:documentation>Rauheitsklasse
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roughness_VegetationLink" type="wbr:RoughnessVegetationLinkType"
						nillable="true">
						<xs:annotation>
							<xs:documentation>Vegetationsklasse
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roughness_EddyViscosityLink" type="wbr:RoughnessEddyViscosityLinkType"
						nillable="true">
						<xs:annotation>
							<xs:documentation>Wirbelviskosität
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--
						xs:element name="groundTypeName" type="xs:string"> </xs:element>
						<xs:element name="vegetationTypeName" type="xs:string">
						</xs:element
					-->
					<!--xs:element name="ks" type="xs:double" / -->
					<!--xs:element name="axay" type="xs:double" / -->
					<!--xs:element name="dp" type="xs:double" / -->

					<xs:element name="colorStyle" type="common:color">
						<xs:annotation>
							<xs:documentation>
								Farbdarstellung der Rauheitsklasse
								in der Karte
								
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RoughnessGroundLinkType">
		<xs:annotation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:documentReference>roughness.gml</kapp:documentReference>

				<!--
					IMPORTANT!!!

					<kapp:documentReference>roughness.gml</kapp:documentReference>
					should be written in one line, exactly like this! Please check if
					your auto-formatting breaks it into: <kapp:documentReference>
					roughness.gml </kapp:documentReference> than fix it manually...
				-->

			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="wbr:Roughness_GroundCls" minOccurs="0"
				maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:complexType name="RoughnessVegetationLinkType">
		<xs:annotation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:documentReference>roughness.gml</kapp:documentReference>

				<!--
					IMPORTANT!!!

					<kapp:documentReference>roughness.gml</kapp:documentReference>
					should be written in one line, exactly like this! Please check if
					your auto-formatting breaks it into: <kapp:documentReference>
					roughness.gml </kapp:documentReference> than fix it manually...
				-->

			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="wbr:Roughness_VegetationCls" minOccurs="0"
				maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:complexType name="RoughnessEddyViscosityLinkType">
		<xs:annotation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:documentReference>roughness.gml</kapp:documentReference>

				<!--
					IMPORTANT!!!

					<kapp:documentReference>roughness.gml</kapp:documentReference>
					should be written in one line, exactly like this! Please check if
					your auto-formatting breaks it into: <kapp:documentReference>
					roughness.gml </kapp:documentReference> than fix it manually...
				-->

			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="wbr:Roughness_EddyViscosityCls"
				minOccurs="0" maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:complexType name="Roughness_EddyViscosityClsType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="exx" type="xs:double" default="500.0">
						<xs:annotation>
							<xs:documentation>ε(xx) [Pa/s]
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eyx" type="xs:double" default="500.0">
						<xs:annotation>
							<xs:documentation>ε(yx) [Pa/s]
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="exy" type="xs:double" default="500.0">
						<xs:annotation>
							<xs:documentation>ε(xy) [Pa/s]
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eyy" type="xs:double" default="500.0">
						<xs:annotation>
							<xs:documentation>ε(yy) [Pa/s]
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Roughness_VegetationClsType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="axay" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ax, ay [m]

								Distance of the vegetation [m]

							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minInclusive value="0.0" />
								<xs:maxInclusive value="200.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dp" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Diameter of the vegetation elements
								[m]
								
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minInclusive value="0.0" />
								<xs:maxInclusive value="10.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="eddy" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Die Wirbelviskosität [Pas]
								beeinflusst die Turbulenzbildung.
								
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minInclusive value="1000.0" />
								<xs:maxInclusive value="30000.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="charactV" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Zu erwartende charakteristische
								Geschwindigkeit [m/s]
								
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minExclusive value="0.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Roughness_GroundClsType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="ks">
						<xs:annotation>
							<xs:documentation>
								äquivalente Sandrauheit [m]
								
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minExclusive value="0.0" />
								<xs:maxInclusive value="1.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--
		=================================================================
		roughnessCorrection Property
		==================================================================
	-->
	<xs:element name="roughnessClsCorrection" type="wbr:RoughnessClsCorrectionPropertyType" />
	<xs:complexType name="RoughnessClsCorrectionPropertyType">
		<xs:sequence>
			<xs:element ref="wbr:RoughnessClsCorrection" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>
	<!--
		=================================================================
		Roughnesscorrection
		==================================================================
	-->
	<xs:element name="RoughnessClsCorrection" type="wbr:RoughnessClsCorrectionType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="RoughnessClsCorrectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="ksCor" type="xs:double" minOccurs="0" />
					<xs:element name="axayCor" type="xs:double" minOccurs="0" />
					<xs:element name="dpCor" type="xs:double" minOccurs="0" />
					<xs:element name="eddyCor" type="xs:double" minOccurs="0" />
					<xs:element name="charactVCor" type="xs:double"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--
		=================================================================
		DirectRoughnessClassCorrection
		==================================================================
	-->
	<xs:element name="DirectRoughnessClsCorrection" type="wbr:DirectRoughnessClsCorrectionType" />
	<xs:complexType name="DirectRoughnessClsCorrectionType">
		<xs:annotation>
			<xs:documentation>
				Type for element that defined a global collection
				factor
				for roughness classes. The roughness classes is
				identified by
				its URI
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="wbr:roughnessClsCorrection" />
					<!--  TODO change to link to roughness-class -->
					<xs:element name="roughnessURI" type="xs:anyURI" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--
		================================================================= uri
		==================================================================
	-->
	<xs:element name="uri" type="xs:anyURI" />
</xs:schema>
