trunk/KalypsoProjectDatabase/srcservice/IProjectDatabase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://sei.database.project.kalypso.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sei.database.project.kalypso.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sei.database.project.kalypso.org/" schemaLocation="IProjectDatabase_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createProject">
    <part name="parameters" element="tns:createProject"/>
  </message>
  <message name="createProjectResponse">
    <part name="parameters" element="tns:createProjectResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="testMethod">
    <part name="parameters" element="tns:testMethod"/>
  </message>
  <message name="testMethodResponse">
    <part name="parameters" element="tns:testMethodResponse"/>
  </message>
  <message name="getProjectHeads">
    <part name="parameters" element="tns:getProjectHeads"/>
  </message>
  <message name="getProjectHeadsResponse">
    <part name="parameters" element="tns:getProjectHeadsResponse"/>
  </message>
  <portType name="IProjectDatabase">
    <operation name="createProject">
      <input message="tns:createProject"/>
      <output message="tns:createProjectResponse"/>
      <fault message="tns:IOException" name="IOException"/>
    </operation>
    <operation name="testMethod">
      <input message="tns:testMethod"/>
      <output message="tns:testMethodResponse"/>
    </operation>
    <operation name="getProjectHeads">
      <input message="tns:getProjectHeads"/>
      <output message="tns:getProjectHeadsResponse"/>
    </operation>
  </portType>
</definitions>

