_dump/trunk/KalypsoModelWspmSobekCore/etc/schemas/pi/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by WL | Delft Hydraulics (WL | Delft Hydraulics) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="fewsOpenMI">
                <xs:complexType>
                        <xs:sequence>
                                <xs:choice>
                                        <xs:element name="input">
                                                <xs:annotation>
                                                        <xs:documentation>Time series listed here will be exposed as input ExchangeItems during component initialisation. Values from these exchange items will be written into PI time series.</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                        <xs:sequence>
                                                                <xs:element name="timeSeries" minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:complexType>
                                                                                <xs:attribute name="units" use="required">
                                                                                        <xs:annotation>
                                                                                                <xs:documentation>"m"</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:simpleType>
                                                                                                <xs:restriction base="xs:string"/>
                                                                                        </xs:simpleType>
                                                                                </xs:attribute>
                                                                                <xs:attribute name="quantity" use="required">
                                                                                        <xs:annotation>
                                                                                                <xs:documentation>"depth"</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:simpleType>
                                                                                                <xs:restriction base="xs:string"/>
                                                                                        </xs:simpleType>
                                                                                </xs:attribute>
                                                                                <xs:attribute name="parameter" use="required">
                                                                                        <xs:annotation>
                                                                                                <xs:documentation>Parameter, e.g. "water depth"</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:simpleType>
                                                                                                <xs:restriction base="xs:string"/>
                                                                                        </xs:simpleType>
                                                                                </xs:attribute>
                                                                                <xs:attribute name="location" use="required">
                                                                                        <xs:annotation>
                                                                                                <xs:documentation>Location name, e.g. "station1"</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:simpleType>
                                                                                                <xs:restriction base="xs:string"/>
                                                                                        </xs:simpleType>
                                                                                </xs:attribute>
                                                                                <xs:attribute name="file" use="required">
                                                                                        <xs:annotation>
                                                                                                <xs:documentation>Where to write output FEWS-PI XML file</xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:simpleType>
                                                                                                <xs:restriction base="xs:string"/>
                                                                                        </xs:simpleType>
                                                                                </xs:attribute>
                                                                                <xs:attribute name="timeStep" type="xs:duration">
                                                                                        <xs:annotation>
                                                                                                <xs:documentation>Format is "PnYnMnDTnHnMnS", for example: "P1Y", "-P1DT2H", "PT1M". Here we will accept only (!) durations which use days and below, e.g.: "P1DT1H", "PT1M". If time step is not defined component will try to get values as discrete times (if corresponding interface is available).</xs:documentation>
                                                                                        </xs:annotation>
                                                                                </xs:attribute>
                                                                        </xs:complexType>
                                                                </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="directoryPath" use="required">
                                                                <xs:annotation>
                                                                        <xs:documentation>Directory where time series listed below will be written, if they will be connected to another components as providers of data.</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:simpleType>
                                                                        <xs:restriction base="xs:string"/>
                                                                </xs:simpleType>
                                                        </xs:attribute>
                                                </xs:complexType>
                                        </xs:element>
                                        <xs:element name="output">
                                                <xs:annotation>
                                                        <xs:documentation>FEWS-PI files to be read during component initialisation and exposed as output ExchangeItems so that they can be connected to another OpenMI components.</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                        <xs:attribute name="directoryPath" use="required">
                                                                <xs:annotation>
                                                                        <xs:documentation>Directory containing list of FEWS-PI time series files to be read and exposed as input exchange items</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:simpleType>
                                                                        <xs:restriction base="xs:string"/>
                                                                </xs:simpleType>
                                                        </xs:attribute>
                                                </xs:complexType>
                                        </xs:element>
                                </xs:choice>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
</xs:schema>
