_dump/trunk/KalypsoModelWspmSobekCore/etc/schemas/pi/pi_structures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by WL | Delft Hydraulics (WL | Delft Hydraulics) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!--xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" -->
<!--xmlns:fews="http://www.wldelft.nl/fews/PI" -->
<!--targetNamespace="http://www.wldelft.nl/fews/PI" -->
<!--elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0>-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fews="http://www.wldelft.nl/fews/PI" targetNamespace="http://www.wldelft.nl/fews/PI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
        <xs:include schemaLocation="pi_bceFixes.xsd"/>
        <!-- pi_sharedtypes type="fews:idString" -->
	<xs:element name="structureId" type="xs:string"/>
	<xs:element name="structureName" type="xs:string"/>
	<xs:element name="measurementStationId" type="xs:string"/>
	<xs:element name="branchId" type="xs:string"/>
	<xs:element name="y" type="xs:double"/>
	<xs:element name="x" type="xs:double"/>
	<xs:element name="StructureDefinitions">
		<xs:complexType>
			<xs:sequence>
			<!--  bcefix: changed minoccurs to 0 instead of 1 -->
				<xs:element ref="fews:structureDefinition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="structureDefinitionType" type="xs:string"/>
	<xs:element name="crossSectionType" type="xs:string"/>
	<xs:element name="structureDefinitionName" type="xs:string"/>
	<xs:element name="structureDefinitionId" type="xs:string"/>
	<xs:element name="structureDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:structureDefinitionId"/>
				<xs:element ref="fews:structureDefinitionName"/>
				<xs:element ref="fews:structureDefinitionType"/>
				<xs:element ref="fews:crossSectionType"/>
				<xs:element ref="fews:tabulatedCrossSection" minOccurs="0"/>
				<xs:element ref="fews:yzCrossSection" minOccurs="0"/>
				<xs:element ref="fews:Parameters"/>
				<xs:element ref="fews:Controllers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--<xs:element name="Rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:row" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cell" type="xs:string"/>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:cell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>-->
	<xs:element name="roughnessType" type="xs:string"/>
	<xs:element name="parameter">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="fews:table" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="double"/>
						<xs:enumeration value="long"/>
						<xs:enumeration value="string"/>
						<xs:enumeration value="table"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Controllers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:controller" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!--	<xs:element name="column">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="datetime"/>
						<xs:enumeration value="double"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>-->
	<xs:element name="Triggers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:trigger" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="triggerType" type="xs:string"/>
	<xs:element name="triggerParameter" type="xs:string"/>
	<xs:element name="triggerName" type="xs:string"/>
	<xs:element name="triggerId" type="xs:string"/>
	<xs:element name="trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:triggerId"/>
				<xs:element ref="fews:triggerName"/>
				<xs:element ref="fews:triggerType"/>
				<xs:element ref="fews:triggerParameter"/>
				<xs:element ref="fews:structureId" minOccurs="0"/>
				<xs:element ref="fews:measurementStationId" minOccurs="0"/>
				<xs:element ref="fews:checkOnDirection"/>
				<xs:element ref="fews:timeTable"/>
				<xs:element ref="fews:and2NextTrigger"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:table"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:info"/>
				<xs:element ref="fews:Rows"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Structures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:structure" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="structure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:structureId"/>
				<xs:element ref="fews:structureName"/>
				<xs:element ref="fews:branchId"/>
				<xs:element ref="fews:x"/>
				<xs:element ref="fews:y"/>
				<xs:element ref="fews:StructureDefinitions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
<!--	<xs:element name="interpolation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Interpolation.Block"/>
								<xs:enumeration value="Interpolation.Continuous"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="period" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Seconds"/>
								<xs:enumeration value="No"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>-->
<!--	<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:interpolation" minOccurs="0"/>
				<xs:element ref="fews:Columns"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>-->
	<xs:element name="controllerType" type="xs:string"/>
	<xs:element name="controllerName" type="xs:string"/>
	<xs:element name="controllerId" type="xs:string"/>
	<xs:element name="controller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:controllerId"/>
				<xs:element ref="fews:controllerName"/>
				<xs:element ref="fews:controllerType"/>
				<xs:element ref="fews:controlledParameter"/>
				<xs:element ref="fews:controlledActive"/>
				<xs:element ref="fews:controlFrequency"/>
				<xs:element ref="fews:Parameters"/>
				<xs:element ref="fews:Triggers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="controlledParameter" type="xs:string"/>
	<xs:element name="controlledActive">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="True"/>
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="controlFrequency" type="xs:byte"/>
	<!--<xs:element name="Columns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:column" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>-->
	<xs:element name="tabulatedCrossSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:roughnessType"/>
				<xs:element ref="fews:tabulatedCrossSectionData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="yzCrossSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:roughnessType"/>
				<xs:element ref="fews:yzCrossSectionData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tabulatedCrossSectionData">
		<xs:complexType>
			<xs:attribute name="totalWidth" type="xs:double" use="required"/>
			<xs:attribute name="height" type="xs:double" use="required"/>
			<xs:attribute name="flowWidth" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="yzCrossSectionData">
		<xs:complexType>
			<xs:attribute name="csy" type="xs:double" use="required"/>
			<xs:attribute name="z" type="xs:double" use="required"/>
			<xs:attribute name="roughness" type="xs:double" use="optional"/>
			<xs:attribute name="mark" type="xs:integer" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkOnDirection">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="True"/>
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="and2NextTrigger">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="True"/>
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
