_dump/trunk/KalypsoModelWspmSobekCore/etc/schemas/pi/pi_structures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by WL | Delft Hydraulics (WL | Delft Hydraulics) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="y" type="xs:decimal"/>
	<xs:element name="x" type="xs:decimal"/>
	<xs:element name="structureName">
		<xs:complexType/>
	</xs:element>
	<xs:element name="structureId" type="xs:byte"/>
	<xs:element name="structureDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="structureDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="structureDefinitionType" type="xs:string"/>
	<xs:element name="structureDefinitionName" type="xs:string"/>
	<xs:element name="structureDefinitionId" type="xs:string"/>
	<xs:element name="structureDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="structureDefinitionId"/>
				<xs:element ref="structureDefinitionName"/>
				<xs:element ref="structureDefinitionType"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="Parameters"/>
						<xs:element ref="controllers" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="ClosedCrossSection"/>
						<xs:element ref="Parameters"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="row" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="roughnessType" type="xs:string"/>
	<xs:element name="parameter">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Table" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="double"/>
						<xs:enumeration value="long"/>
						<xs:enumeration value="string"/>
						<xs:enumeration value="table"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="crossSectionData">
		<xs:complexType>
			<xs:attribute name="totalwidth" type="xs:string" use="required"/>
			<xs:attribute name="height" type="xs:string" use="required"/>
			<xs:attribute name="flowwidth" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="controllers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Controller" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="column">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="datetime"/>
						<xs:enumeration value="double"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cell" type="xs:string"/>
	<xs:element name="branchId" type="xs:byte"/>
	<xs:element name="Triggers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Trigger" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TriggerType" type="xs:string"/>
	<xs:element name="TriggerParameter" type="xs:string"/>
	<xs:element name="TriggerName" type="xs:string"/>
	<xs:element name="TriggerId" type="xs:string"/>
	<xs:element name="Trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TriggerId"/>
				<xs:element ref="TriggerName"/>
				<xs:element ref="TriggerType"/>
				<xs:element ref="TriggerParameter"/>
				<xs:element ref="StructureId"/>
				<xs:element ref="MeasurementStationId"/>
				<xs:element ref="CheckOnDirection"/>
				<xs:element ref="TimeTable"/>
				<xs:element ref="And2NextTrigger"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Table"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Info"/>
				<xs:element ref="rows"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Structures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Structure" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StructureId">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Structure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="structureId"/>
				<xs:element ref="structureName"/>
				<xs:element ref="branchId"/>
				<xs:element ref="x"/>
				<xs:element ref="y"/>
				<xs:element ref="structureDefinitions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MeasurementStationId">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Interpolation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Interpolation.Block"/>
								<xs:enumeration value="Interpolation.Continuous"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Period" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Yes"/>
								<xs:enumeration value="No"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Interpolation" minOccurs="0"/>
				<xs:element ref="Columns"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControllerType" type="xs:string"/>
	<xs:element name="ControllerName" type="xs:string"/>
	<xs:element name="ControllerId" type="xs:string"/>
	<xs:element name="Controller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ControllerId"/>
				<xs:element ref="ControllerName"/>
				<xs:element ref="ControllerType"/>
				<xs:element ref="ControlledParameter"/>
				<xs:element ref="ControlledActive"/>
				<xs:element ref="ControlFrequency"/>
				<xs:element ref="Parameters"/>
				<xs:element ref="Triggers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlledParameter" type="xs:string"/>
	<xs:element name="ControlledActive">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="True"/>
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlFrequency" type="xs:byte"/>
	<xs:element name="Columns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="column" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClosedCrossSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="roughnessType"/>
				<xs:element ref="crossSectionData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckOnDirection">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="True"/>
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="And2NextTrigger">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="True"/>
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
