_import/trunk/KalypsoSachsenAnhalt/KalypsoModelSaale/src/org/kalypso/lhwsachsenanhalt/saale/schemata/pegel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.saale.pegel" version="0.1" xmlns:obslink="obslink.zml.kalypso.org" xmlns:pegel="org.kalypso.saale.pegel" xmlns:common="org.kalypso.saale.common" xmlns:ombrometer="org.kalypso.saale.ombrometer" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<import namespace="http://www.opengis.net/gml" schemaLocation="basis/feature.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="basis/obslink.xsd"/>
	<import namespace="org.kalypso.saale.common" schemaLocation="common.xsd"/>
	<import namespace="org.kalypso.saale.ombrometer" schemaLocation="ombrometer.xsd"/>
	<element name="PegelCollectionAssociation" type="pegel:PegelCollectionAssociationType" substitutionGroup="gml:featureMember"/>
	<complexType name="PegelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="pegel:PegelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="PegelCollection" type="pegel:PegelCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="PegelCollectionType">
		<complexContent>
			<extension base="common:EmptyFeatureBaseType">
				<sequence>
					<element ref="pegel:PegelMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PegelMember" type="pegel:PegelAssociationType" substitutionGroup="gml:featureMember"/>
	<complexType name="PegelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="pegel:Pegel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Pegel" type="pegel:PegelType" substitutionGroup="gml:_Feature"/>
	<complexType abstract="true" name="PegelType">
		<complexContent>
			<extension base="common:EmptyFeatureBaseType">
				<sequence>
					<element name="PNR"  type="string"> <annotation><documentation xml:lang="de"><label>Pegelnummer</label><tooltip>Pegelnummer</tooltip><description>Pegelnummer</description></documentation></annotation></element>
					<element name="Name"  type="string"> <annotation><documentation xml:lang="de"><label>Pegelname</label><tooltip>Pegelname</tooltip><description>Pegelname</description></documentation></annotation></element>
					<element name="Gewaesser"  type="string"> <annotation><documentation xml:lang="de"><label>Gewässername</label><tooltip>Gewässername</tooltip><description>Gewässername</description></documentation></annotation></element>
					<element name="ZG"  type="int"> <annotation><documentation xml:lang="de"><label>Zwischengebiet</label><tooltip>Zwischengebiet im Modell</tooltip><description>Zwischengebiet im Modell</description></documentation></annotation></element>
					<element name="Land"  type="string"> <annotation><documentation xml:lang="de"><label>Land</label><tooltip>Bundesland</tooltip><description>Bundesland</description></documentation></annotation></element>
					<element name="WN1"  type="string"> <annotation><documentation xml:lang="de"><label>BezWG1</label><tooltip>Bezeichnung der Alarmstufe</tooltip><description>Bezeichnung der Alarmstufe</description></documentation></annotation></element>
					<element name="WN2"  type="string"> <annotation><documentation xml:lang="de"><label>BezWG1</label><tooltip>Bezeichnung der Alarmstufe</tooltip><description>Bezeichnung der Alarmstufe</description></documentation></annotation></element>
					<element name="WN3"  type="string"> <annotation><documentation xml:lang="de"><label>BezWG1</label><tooltip>Bezeichnung der Alarmstufe</tooltip><description>Bezeichnung der Alarmstufe</description></documentation></annotation></element>
					<element name="WN4"  type="string"> <annotation><documentation xml:lang="de"><label>BezWG1</label><tooltip>Bezeichnung der Alarmstufe</tooltip><description>Bezeichnung der Alarmstufe</description></documentation></annotation></element>
					<element name="WN5"  type="string"> <annotation><documentation xml:lang="de"><label>BezWG1</label><tooltip>Bezeichnung der Alarmstufe</tooltip><description>Bezeichnung der Alarmstufe</description></documentation></annotation></element>
					<element name="W1"  type="int"> <annotation><documentation xml:lang="de"><label>WGrenze1</label><tooltip>Richtwert der Alarmstufe</tooltip><description>Richtwert der Alarmstufe</description></documentation></annotation></element>
					<element name="W2"  type="int"> <annotation><documentation xml:lang="de"><label>WGrenze2</label><tooltip>Richtwert der Alarmstufe</tooltip><description>Richtwert der Alarmstufe</description></documentation></annotation></element>
					<element name="W3"  type="int"> <annotation><documentation xml:lang="de"><label>WGrenze3</label><tooltip>Richtwert der Alarmstufe</tooltip><description>Richtwert der Alarmstufe</description></documentation></annotation></element>
					<element name="W4"  type="int"> <annotation><documentation xml:lang="de"><label>WGrenze4</label><tooltip>Richtwert der Alarmstufe</tooltip><description>Richtwert der Alarmstufe</description></documentation></annotation></element>
					<element name="W5"  type="int"> <annotation><documentation xml:lang="de"><label>WGrenze5</label><tooltip>Richtwert der Alarmstufe</tooltip><description>Richtwert der Alarmstufe</description></documentation></annotation></element>
					<element name="BezqGmin"  type="string"> <annotation><documentation xml:lang="de"><label>BezQGMIN</label><tooltip>BezQGMIN</tooltip><description>BezQGMIN</description></documentation></annotation></element>
					<element name="QGMIN"  type="int"> <annotation><documentation xml:lang="de"><label>QGMIN</label><tooltip>QGMIN</tooltip><description>QGMIN</description></documentation></annotation></element>
					<element name="BEZQGMAX"  type="string"> <annotation><documentation xml:lang="de"><label>BEZQMAX</label><tooltip>BEZQMAX</tooltip><description>BEZQMAX</description></documentation></annotation></element>
					<element name="QGMAX"  type="int"> <annotation><documentation xml:lang="de"><label>QGMAX</label><tooltip>QGMAX</tooltip><description>QGMAX</description></documentation></annotation></element>
					<element name="Vorsp"  type="int"> <annotation><documentation xml:lang="de"><label>Vorhersagezeit</label><tooltip>Vorhersagezeit[h]</tooltip><description>Vorhersagezeit[h]</description></documentation></annotation></element>
					<element name="WDAT"  type="int"> <annotation><documentation xml:lang="de"><label>WDATEN</label><tooltip>WDATEN</tooltip><description>WDATEN</description></documentation></annotation></element>
					<element name="QDAT"  type="int"> <annotation><documentation xml:lang="de"><label>QDATEN</label><tooltip>QDATEN</tooltip><description>QDATEN</description></documentation></annotation></element>
					<element name="VORGP"  type="int"> <annotation><documentation xml:lang="de"><label>VorgabePegel</label><tooltip>VorgabePegel</tooltip><description>VorgabePegel</description></documentation></annotation></element>
					<element name="KUM"  type="int"> <annotation><documentation xml:lang="de"><label>Kumulativ</label><tooltip>Kumulativ</tooltip><description>Kumulativ</description></documentation></annotation></element>
					<element name="WMIN"  type="int"> <annotation><documentation xml:lang="de"><label>WMIN</label><tooltip>WMIN</tooltip><description>WMIN</description></documentation></annotation></element>
					<element name="WMAX"  type="int"> <annotation><documentation xml:lang="de"><label>WMAX</label><tooltip>WMAX</tooltip><description>WMAX</description></documentation></annotation></element>
					<element name="QMAX"  type="int"> <annotation><documentation xml:lang="de"><label>QMAX</label><tooltip>QMAX</tooltip><description>QMAX</description></documentation></annotation></element>
					<element name="DWMAX"  type="int"> <annotation><documentation xml:lang="de"><label>DWMAX</label><tooltip>DWMAX</tooltip><description>DWMAX</description></documentation></annotation></element>
					<element name="DQMAX"  type="int"> <annotation><documentation xml:lang="de"><label>DQMAX</label><tooltip>DQMAX</tooltip><description>DQMAX</description></documentation></annotation></element>
					<element name="NNW"  type="int"> <annotation><documentation xml:lang="de"><label>NNW</label><tooltip>NNW</tooltip><description>NNW</description></documentation></annotation></element>
					<element name="MNW"  type="int"> <annotation><documentation xml:lang="de"><label>MNW</label><tooltip>MNW</tooltip><description>MNW</description></documentation></annotation></element>
					<element name="MW"  type="int"> <annotation><documentation xml:lang="de"><label>MW</label><tooltip>MW</tooltip><description>MW</description></documentation></annotation></element>
					<element name="MHW"  type="int"> <annotation><documentation xml:lang="de"><label>MHW</label><tooltip>MHW</tooltip><description>MHW</description></documentation></annotation></element>
					<element name="HHW"  type="int"> <annotation><documentation xml:lang="de"><label>HHW</label><tooltip>HHW</tooltip><description>HHW</description></documentation></annotation></element>
					<element name="NNQ"  type="int"> <annotation><documentation xml:lang="de"><label>NNQ</label><tooltip>NNQ</tooltip><description>NNQ</description></documentation></annotation></element>
					<element name="MNQ"  type="int"> <annotation><documentation xml:lang="de"><label>MNQ</label><tooltip>MNQ</tooltip><description>MNQ</description></documentation></annotation></element>
					<element name="MQ"  type="int"> <annotation><documentation xml:lang="de"><label>MQ</label><tooltip>MQ</tooltip><description>MQ</description></documentation></annotation></element>
					<element name="MHQ"  type="int"> <annotation><documentation xml:lang="de"><label>MHQ</label><tooltip>MHQ</tooltip><description>MHQ</description></documentation></annotation></element>
					<element name="HHQ"  type="int"> <annotation><documentation xml:lang="de"><label>HHQ</label><tooltip>HHQ</tooltip><description>HHQ</description></documentation></annotation></element>				
					<element name="Bodenfrost"  type="int"> <annotation><documentation xml:lang="de"><label>Bodenfrost</label><tooltip>Bodenfrost</tooltip><description>Bodenfrost</description></documentation></annotation></element>
					<element name="Feuchte"  type="int"> <annotation><documentation xml:lang="de"><label>Feuchte</label><tooltip>Tage Verfrühung (negative Zahl) bzw. Verspätung der Feuchteentwicklung (Standard 0)</tooltip><description>Tage Verfrühung (negative Zahl) bzw. Verspätung der Feuchteentwicklung (Standard 0)</description></documentation></annotation></element>
					<element name="SchneeTyp"  type="int"> <annotation><documentation xml:lang="de"><label>Schnee</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Steuerung"  type="int"> <annotation><documentation xml:lang="de"><label>Steuerung</label><tooltip>Art der Steuerung Nummer gemäß Menü für Wehr oder Talsperre</tooltip><description>Art der Steuerung Nummer gemäß Menü für Wehr oder Talsperre</description></documentation></annotation></element>
					<element name="Variante"  type="string"> <annotation><documentation xml:lang="de"><label>Variante</label><tooltip>Textbezeichnung der Variante</tooltip><description>Textbezeichnung der Variante</description></documentation></annotation></element>
					<element name="STATUS"  type="string"> <annotation><documentation xml:lang="de"><label>STATUS</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve2"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve2</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve3"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve3</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve4"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve4</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve5"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve5</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve6"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve6</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve7"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve7</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve8"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve8</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve9"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve9</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="Reserve10"  type="string"> <annotation><documentation xml:lang="de"><label>Reserve10</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element ref="gml:location"/>
					<element name="Durchfluß" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Durchfluß_gerechnet" type="obslink:TimeseriesLinkFeatureProperty"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="Gebiet" type="pegel:GebietType" substitutionGroup="pegel:Pegel">
		<annotation>
			<documentation xml:lang="de">
				<label>Einzugsgebiet</label>
				<tooltip>Einzugsgebiet</tooltip>
				<description>Einzugsgebiet</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="GebietType">
		<complexContent>
			<extension base="pegel:PegelType">
				<sequence>
					<!-- Parameter aus Met_Geb.std -->
					<element name="AE"  type="double"><annotation><documentation xml:lang="de"><label>AE</label><tooltip>AE</tooltip><description></description></documentation></annotation></element>
<!--					
					<element name="Stat1"  type="string"><annotation><documentation xml:lang="de"><label>Stat1</label><tooltip>Stat1</tooltip><description></description></documentation></annotation></element>
					<element name="Fakt1"  type="double"><annotation><documentation xml:lang="de"><label>Fakt1</label><tooltip>Fakt1</tooltip><description></description></documentation></annotation></element>
					<element name="Stat2"  type="string"><annotation><documentation xml:lang="de"><label>Stat2</label><tooltip>Stat2</tooltip><description></description></documentation></annotation></element>
					<element name="Fakt2"  type="double"><annotation><documentation xml:lang="de"><label>Fakt2</label><tooltip>Fakt2</tooltip><description></description></documentation></annotation></element>
					<element name="Stat3"  type="string"><annotation><documentation xml:lang="de"><label>Stat3</label><tooltip>Stat3</tooltip><description></description></documentation></annotation></element>
					<element name="Fakt3"  type="double"><annotation><documentation xml:lang="de"><label>Fakt3</label><tooltip>Fakt3</tooltip><description></description></documentation></annotation></element>
					<element name="Stat4"  type="string"><annotation><documentation xml:lang="de"><label>Stat4</label><tooltip>Stat4</tooltip><description></description></documentation></annotation></element>
					<element name="Fakt4"  type="double"><annotation><documentation xml:lang="de"><label>Fakt4</label><tooltip>Fakt4</tooltip><description></description></documentation></annotation></element>
					<element name="Stat5"  type="string"><annotation><documentation xml:lang="de"><label>Stat5</label><tooltip>Stat5</tooltip><description></description></documentation></annotation></element>
					<element name="Fakt5"  type="double"><annotation><documentation xml:lang="de"><label>Fakt5</label><tooltip>Fakt5</tooltip><description></description></documentation></annotation></element>
-->					
					<element name="Snownr"  type="int"> <annotation><documentation xml:lang="de"><label>Snownr</label><tooltip>Snownr</tooltip><description></description></documentation></annotation></element>
					<element name="QuantNr." type="string"> <annotation><documentation xml:lang="de"><label>QuantNr.</label><tooltip>QuantNr.</tooltip><description></description></documentation></annotation></element>
					<element name="Region"  type="string"> <annotation><documentation xml:lang="de"><label>Region</label><tooltip>Region</tooltip><description></description></documentation></annotation></element>
					<element name="LM1"  type="int"> <annotation><documentation xml:lang="de"><label>LM1</label><tooltip>LM1</tooltip><description></description></documentation></annotation></element>
					<element name="LM2"  type="int"> <annotation><documentation xml:lang="de"><label>LM2</label><tooltip>LM2</tooltip><description></description></documentation></annotation></element>
					<element name="LM3"  type="int"> <annotation><documentation xml:lang="de"><label>LM3</label><tooltip>LM3</tooltip><description></description></documentation></annotation></element>
					<element name="LM4"  type="int"> <annotation><documentation xml:lang="de"><label>LM4</label><tooltip>LM4</tooltip><description></description></documentation></annotation></element>	

					<!-- Parameter aus EGMPAR.HWP -->
					<element name="L" type="int"><annotation><documentation xml:lang="de"><label>L</label><tooltip>effektive Länge der Anstiegsfunktion h(t)</tooltip><description>effektive Länge der Anstiegsfunktion h(t)</description></documentation></annotation></element>
					<element name="N" type="int"><annotation><documentation xml:lang="de"><label>N</label><tooltip>INDEX für den Direktabfluss - Rückgangsbeginn</tooltip><description>INDEX für den Direktabfluss - Rückgangsbeginn</description></documentation></annotation></element>
					<element name="M" type="int"><annotation><documentation xml:lang="de"><label>M</label><tooltip>INDEX für den Direktabfluss - Rückgangsende</tooltip><description>INDEX für den Direktabfluss - Rückgangsende</description></documentation></annotation></element>
					<element name="IWE"  type="int"> <annotation><documentation xml:lang="de"><label>IWE</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="ISOA" type="int"> <annotation><documentation xml:lang="de"><label>ISOA</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="ISOE" type="int"> <annotation><documentation xml:lang="de"><label>ISOE</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="IWA"  type="int"> <annotation><documentation xml:lang="de"><label>IWA</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="NRH"  type="int"> <annotation><documentation xml:lang="de"><label>NRH</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="IP9"  type="int"> <annotation><documentation xml:lang="de"><label>IP9</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="IP10" type="int"> <annotation><documentation xml:lang="de"><label>IP10</label><tooltip></tooltip><description></description></documentation></annotation></element>
					
					<element name="PAR_1" type="double"> <annotation><documentation xml:lang="de"><label>PAR_1</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_2" type="double"> <annotation><documentation xml:lang="de"><label>PAR_2</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_3" type="double"> <annotation><documentation xml:lang="de"><label>PAR_3</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_4" type="double"> <annotation><documentation xml:lang="de"><label>PAR_4</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_5" type="double"> <annotation><documentation xml:lang="de"><label>PAR_5</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_6" type="double"> <annotation><documentation xml:lang="de"><label>PAR_6</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_7" type="double"> <annotation><documentation xml:lang="de"><label>PAR_7</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_8" type="double"> <annotation><documentation xml:lang="de"><label>PAR_8</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_9" type="double"> <annotation><documentation xml:lang="de"><label>PAR_9</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="PAR_10" type="double"> <annotation><documentation xml:lang="de"><label>PAR_10</label><tooltip></tooltip><description></description></documentation></annotation></element>
					 
					<element name="G_1"  type="double"> <annotation><documentation xml:lang="de"><label>G_1</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_2"  type="double"> <annotation><documentation xml:lang="de"><label>G_2</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_3"  type="double"> <annotation><documentation xml:lang="de"><label>G_3</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_4"  type="double"> <annotation><documentation xml:lang="de"><label>G_4</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_5"  type="double"> <annotation><documentation xml:lang="de"><label>G_5</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_6"  type="double"> <annotation><documentation xml:lang="de"><label>G_6</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_7"  type="double"> <annotation><documentation xml:lang="de"><label>G_7</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_8"  type="double"> <annotation><documentation xml:lang="de"><label>G_8</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_9"  type="double"> <annotation><documentation xml:lang="de"><label>G_9</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_10" type="double"> <annotation><documentation xml:lang="de"><label>G_10</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_11" type="double"> <annotation><documentation xml:lang="de"><label>G_11</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_12" type="double"> <annotation><documentation xml:lang="de"><label>G_12</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_13" type="double"> <annotation><documentation xml:lang="de"><label>G_13</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_14" type="double"> <annotation><documentation xml:lang="de"><label>G_14</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_15" type="double"> <annotation><documentation xml:lang="de"><label>G_15</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_16" type="double"> <annotation><documentation xml:lang="de"><label>G_16</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_17" type="double"> <annotation><documentation xml:lang="de"><label>G_17</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="G_18" type="double"> <annotation><documentation xml:lang="de"><label>G_18</label><tooltip></tooltip><description></description></documentation></annotation></element>
					 
					<element name="H_1"  type="double"> <annotation><documentation xml:lang="de"><label>H_1</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_2"  type="double"> <annotation><documentation xml:lang="de"><label>H_2</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_3"  type="double"> <annotation><documentation xml:lang="de"><label>H_3</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_4"  type="double"> <annotation><documentation xml:lang="de"><label>H_4</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_5"  type="double"> <annotation><documentation xml:lang="de"><label>H_5</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_6"  type="double"> <annotation><documentation xml:lang="de"><label>H_6</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_7"  type="double"> <annotation><documentation xml:lang="de"><label>H_7</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_8"  type="double"> <annotation><documentation xml:lang="de"><label>H_8</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_9"  type="double"> <annotation><documentation xml:lang="de"><label>H_9</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_10" type="double"> <annotation><documentation xml:lang="de"><label>H_10</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_11" type="double"> <annotation><documentation xml:lang="de"><label>H_11</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_12" type="double"> <annotation><documentation xml:lang="de"><label>H_12</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_13" type="double"> <annotation><documentation xml:lang="de"><label>H_13</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_14" type="double"> <annotation><documentation xml:lang="de"><label>H_14</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_15" type="double"> <annotation><documentation xml:lang="de"><label>H_15</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_16" type="double"> <annotation><documentation xml:lang="de"><label>H_16</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_17" type="double"> <annotation><documentation xml:lang="de"><label>H_17</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_18" type="double"> <annotation><documentation xml:lang="de"><label>H_18</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_19" type="double"> <annotation><documentation xml:lang="de"><label>H_19</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_20" type="double"> <annotation><documentation xml:lang="de"><label>H_20</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_21" type="double"> <annotation><documentation xml:lang="de"><label>H_21</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_22" type="double"> <annotation><documentation xml:lang="de"><label>H_22</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_23" type="double"> <annotation><documentation xml:lang="de"><label>H_23</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_24" type="double"> <annotation><documentation xml:lang="de"><label>H_24</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_25" type="double"> <annotation><documentation xml:lang="de"><label>H_25</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_26" type="double"> <annotation><documentation xml:lang="de"><label>H_26</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_27" type="double"> <annotation><documentation xml:lang="de"><label>H_27</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_28" type="double"> <annotation><documentation xml:lang="de"><label>H_28</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_29" type="double"> <annotation><documentation xml:lang="de"><label>H_29</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_30" type="double"> <annotation><documentation xml:lang="de"><label>H_30</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_31" type="double"> <annotation><documentation xml:lang="de"><label>H_31</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_32" type="double"> <annotation><documentation xml:lang="de"><label>H_32</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_33" type="double"> <annotation><documentation xml:lang="de"><label>H_33</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_34" type="double"> <annotation><documentation xml:lang="de"><label>H_34</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_35" type="double"> <annotation><documentation xml:lang="de"><label>H_35</label><tooltip></tooltip><description></description></documentation></annotation></element>
					<element name="H_36" type="double"> <annotation><documentation xml:lang="de"><label>H_36</label><tooltip></tooltip><description></description></documentation></annotation></element>
					
					<!-- Gewichtung des Gebietsniederschlagmodells -->
					<element name="gewichtung" type="pegel:GewichtungsAssociationType" maxOccurs="unbounded"/>
					
   				    <element name="Niederschlag" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Schnee" type="obslink:TimeseriesLinkFeatureProperty"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- Relation TG nach RelationsFeature -->
	<complexType name="GewichtungsAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="pegel:GewichtungsElement"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- RelationsFeature -->
	<element name="GewichtungsElement" type="pegel:GewichtungsType" substitutionGroup="gml:_Feature"/>
	<complexType name="GewichtungsType">
		<complexContent>
			<extension base="common:EmptyFeatureBaseType">
				<sequence>
					<element name="faktor" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewichtung</label>
								<tooltip>Gewichtung</tooltip>
								<description>Kommentar</description>
							</documentation>
						</annotation>
					</element>
					<element name="ombrometerMember" type="ombrometer:OmbrometerAssociationType">
						<annotation>
							<documentation xml:lang="de">
								<label>Niederschlagsstation</label>
								<tooltip>Niederschlagsstation</tooltip>
								<description>Niederschlagsstation</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
</schema>
