KalypsoDWD/etc/schemas/dwd/dwd2zml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="dwdzml.dwd.kalypso.org" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dwdzmlConf">
		<xs:complexType>           
            <xs:sequence>
                <!-- code des Datensatzes der DWD-Raterdaten -->
                <xs:element name="dwdKey" type="xs:int"/>
                <xs:element name="numberOfCells" type="xs:int"/>
                <!--  -->
                <xs:element name="defaultStatusValue" type="xs:int"/>
                <xs:element name="target" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="targetZR" type="xs:string"/>
                            <xs:element name="map" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cellPos" type="xs:int"/>
                                        <xs:element name="factor" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
