_import/trunk/KalypsoSachsen/Data/KalypsoSpree/.model/schema/modell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.spree.modell" version="0.1" xmlns:spree="org.kalypso.spree.modell" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified">
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="obslink.xsd"/>

	<!-- Wrapper für TimeSeriesLinkType um diesen als Element ins Modell einzubinden -->	
	<complexType name="TimeseriesLinkType">
		<sequence>
			<element name="TimeseriesLink" type="obslink:TimeseriesLinkType" minOccurs="0"/>
		</sequence>
	</complexType>

	<!-- Eigentliches Spree-Modell -->	
	<element name="SpreeModell" type="spree:_SpreeModellType"/>
	<complexType name="_SpreeModellType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="PegelCollectionAssociation" type="spree:PegelCollectionAssociationType"/>
					<element name="TalsperreCollectionAssociation" type="spree:TalsperreCollectionAssociationType"/>
					<element name="VorgabeCollectionAssociation" type="spree:VorgabeCollectionAssociationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PegelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:PegelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="PegelCollection" type="spree:PegelCollectionType"/>
	<complexType name="PegelCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="PegelMember" type="spree:PegelAssociationType" minOccurs="10" maxOccurs="10"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PegelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:_Pegel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	
	<complexType name="EmptyFeatureBaseType">
		<complexContent>
			<restriction base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	
	<element name="_Pegel" abstract="true"  type="spree:_PegelType" substitutionGroup="gml:_Feature" />
	<complexType name="_PegelType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="Wasserstand_gemessenEingang" type="spree:TimeseriesLinkType"/>
					<element name="Wasserstand_gemessen" type="spree:TimeseriesLinkType"/>
					<element name="Wasserstand_gerechnet" type="spree:TimeseriesLinkType"/>
					<element name="Wasserstand_vorhersage" type="spree:TimeseriesLinkType"/>
					<element name="Wasserstand_vorhersageAblage" type="spree:TimeseriesLinkType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Einzugsgebiet" type="spree:_EinzugsgebietType" substitutionGroup="spree:_Pegel" />
	<complexType name="_EinzugsgebietType">
		<complexContent>
			<extension base="spree:_PegelType">
				<sequence>
					<element name="BodenfeuchteMin" type="double"/>
					<element name="Bodenfeuchte" type="double"/>
					<element name="BodenfeuchteMax" type="double"/>
					<element name="Ausdehnung" type="double"/>
					<element name="Niederschlag_gemessen" type="spree:TimeseriesLinkType"/>
					<element name="Niederschlag_prognose" type="spree:TimeseriesLinkType"/>
					<element name="Niederschlag_rechnung" type="spree:TimeseriesLinkType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="FlusslaufModell" type="spree:_FlusslaufModellType" substitutionGroup="spree:_Pegel"/>
	<complexType name="_FlusslaufModellType">
		<complexContent>
			<extension base="spree:_PegelType">
				<sequence>
					<element name="Korrektur_Faktor" type="double"/>
					<element name="Korrektur_Niveau" type="double"/>
					<element name="Korrektur_Laufzeit" type="double"/>
					<element name="KorrekturEmpfehlungLaufzeit" type="double"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="TalsperreCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:TalsperreCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="TalsperreCollection" type="spree:TalsperreCollectionType"/>
	<complexType name="TalsperreCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="TalsperreMember" type="spree:TalsperreAssociationType" minOccurs="2" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="TalsperreAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:Talsperre"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Talsperre" type="spree:_TalsperrenType" substitutionGroup="gml:_Feature"/>
	<complexType name="_TalsperrenType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Anfangsstauvolumen" type="double"/>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="Abgabe_eingang" type="spree:TimeseriesLinkType"/>
					<element name="Abgabe" type="spree:TimeseriesLinkType"/>
					<element name="Abgabe_plausibilisiert" type="spree:TimeseriesLinkType"/>
					<element name="Zufluss_berechnet" type="spree:TimeseriesLinkType"/>
					<element name="Stauinhalt" type="spree:TimeseriesLinkType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="VorgabeCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:VorgabeCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VorgabeCollection" type="spree:VorgabeCollectionType"/>
	<complexType name="VorgabeCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="VorgabeMember" type="spree:VorgabeAssociationType" minOccurs="5" maxOccurs="5"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VorgabeAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:_Vorgabe"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="_Vorgabe" abstract="true" type="spree:_VorgabeType" substitutionGroup="gml:_Feature"/>
	<complexType name="_VorgabeType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="Abfluss_eingang" type="spree:TimeseriesLinkType"/>
					<element name="Abfluss" type="spree:TimeseriesLinkType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Flutung" type="spree:_VorgabeType" substitutionGroup="spree:_Vorgabe"/>
	<complexType name="_FlutungType">
		<complexContent>
			<extension base="spree:_VorgabeType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Zufluss" type="spree:_ZuflussType" substitutionGroup="spree:_Vorgabe"/>
	<complexType name="_ZuflussType">
		<complexContent>
			<extension base="spree:_VorgabeType"/>
		</complexContent>
	</complexType>
</schema>
