branches/hwv_11-02_2011-04-08_st/KalypsoModelRisk/src/org/kalypso/risk/model/schema/schemata/PredefinedDataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of Kalypso
        
        Copyright (c) 2008 by
        
        Björnsen Beratende Ingenieure GmbH, Koblenz, Germany (Bjoernsen Consulting Engineers), http://www.bjoernsen.de
        Technische Universität Hamburg-Harburg, Institut für Wasserbau, Hamburg, Germany
        (Technical University Hamburg-Harburg, Institute of River and Coastal Engineering), http://www.tu-harburg.de/wb/
        
        Kalypso is free software: you can redistribute it and/or modify it under the terms  
        of the GNU Lesser General Public License (LGPL) as published by the Free Software 
        Foundation, either version 3 of the License, or (at your option) any later version.
        
        Kalypso is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
        warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
        
        You should have received a copy of the GNU Lesser General Public
        License along with Kalypso.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:krpd="http://www.tu-harburg.de/wb/kalypso/risk/schemata/predefinedDataset" xmlns:kr_common="http://www.tu-harburg.de/wb/kalypso/risk/schemata/common" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:common="org.kalypso.gml.common" targetNamespace="http://www.tu-harburg.de/wb/kalypso/risk/schemata/predefinedDataset" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:annotation>
                <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                        <kapp:gmlVersion>3.1.1</kapp:gmlVersion>
                </xs:appinfo>
        </xs:annotation>
        <xs:import namespace="http://www.opengis.net/gml"/>
        <xs:import namespace="org.kalypso.gml.common"/>
        <xs:import namespace="http://www.tu-harburg.de/wb/kalypso/risk/schemata/common" schemaLocation="Common.xsd"/>
        <xs:element name="PredefinedDataset" type="krpd:PredefinedDataset" substitutionGroup="gml:_Feature"/>
        <xs:complexType name="PredefinedDataset">
                <xs:complexContent>
                        <xs:restriction base="gml:AbstractFeatureCollectionType">
                                <xs:sequence>
                                        <xs:element ref="krpd:landuseClassesDefaultColorsCollection" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krpd:damageFunctionsCollection" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krpd:assetValueClassesCollection" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:restriction>
                </xs:complexContent>
        </xs:complexType>
        <xs:element name="landuseClassesDefaultColorsCollection">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="krpd:DataCollection" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="damageFunctionsCollection">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="krpd:DataCollection" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="assetValueClassesCollection">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="krpd:DataCollection" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="DataCollection" type="krpd:DataCollectionType" substitutionGroup="gml:_Feature"> </xs:element>
        <xs:complexType name="DataCollectionType">
                <xs:complexContent>
                        <xs:extension base="gml:AbstractFeatureType">
                                <xs:sequence>
                                        <xs:element ref="krpd:dataMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:element name="dataMember" type="krpd:DataMemberPropertyType"/>
        <xs:complexType name="DataMemberPropertyType">
                <xs:sequence>
                        <xs:element ref="krpd:DataMember" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <xs:element name="DataMember" type="krpd:DataMemberType" substitutionGroup="gml:_Feature"> </xs:element>
        <xs:complexType name="DataMemberType">
                <xs:complexContent>
                        <xs:extension base="gml:AbstractFeatureType">
                                <xs:sequence>
                                        <xs:element name="value" type="xs:string"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>
