_dump/tags/branch_nofdp/KalypsoModelWspmSobekCore/etc/schemas/pi/pi_boundaries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by WL | Delft Hydraulics (WL | Delft Hydraulics) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fews="http://www.wldelft.nl/fews/PI" targetNamespace="http://www.wldelft.nl/fews/PI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
        <xs:include schemaLocation="pi_bceFixes.xsd"/>
        <xs:element name="Boundaries">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boundary" type="fews:BoundaryComplexType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Tabular boundary definition for hydraulic model (e.g. QH relation)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BoundaryComplexType">
		<xs:sequence>
			<xs:element name="locationId" type="xs:string">
				<xs:annotation>
					<xs:documentation>identifier can be used to link boundary to a location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boundaryType">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="table">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fews:info"/>
						<xs:element ref="fews:Rows"/>
					</xs:sequence>
					<xs:attribute name="name" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:element name="Rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:row" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:cell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="column">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="datetime"/>
						<xs:enumeration value="double"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cell" type="xs:string"/>-->
	<!--<xs:element name="Table">
		<xs:complexType/>
	</xs:element>-->
	<!--<xs:element name="Interpolation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Interpolation.Block"/>
								<xs:enumeration value="Interpolation.Continuous"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Period" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Yes"/>
								<xs:enumeration value="No"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>-->
	<!--<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:Interpolation" minOccurs="0"/>
				<xs:element ref="fews:Columns"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Columns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fews:column" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>-->
</xs:schema>
