trunk/KalypsoModelRCM/etc/schema/rainfallCatchmentModel_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.model.rcm.v2" xmlns:rcm="org.kalypso.model.rcm.v2" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:filter="org.kalypso.zml.core.filter" version="2" elementFormDefault="qualified">
  <!-- Annotation. -->
  <annotation>
    <documentation xml:lang="en"><![CDATA[Rainfall Catchment Model.<br>A general approach to generate rainfall for catchment areas.]]></documentation>
  </annotation>

  <!-- Imports. -->
  <import namespace="http://www.opengis.net/gml" />
  <import namespace="org.kalypso.zml.core.filter" />

  <!-- Root Element & Type -->
  <element name="RainfallCatchmentModel" substitutionGroup="gml:_Feature">
    <annotation>
      <documentation xml:lang="en"><![CDATA[The rainfall generation defines how to generate the rainfall for a set of catchments. I.e. it defines how to generate a timeseries for each catchment area.]]></documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="gml:AbstractFeatureType">
          <sequence>
            <element name="info" type="string" minOccurs="0" />
            <element name="log" type="anyURI" minOccurs="0" />
            <element name="targetMember" minOccurs="0">
              <complexType>
                <sequence>
                  <element ref="rcm:Target" />
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup" />
              </complexType>
            </element>
            <element name="metadataMember" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <sequence>
                  <element ref="rcm:Metadata" />
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup" />
              </complexType>
            </element>
            <element name="generatorMember" minOccurs="1" maxOccurs="unbounded">
              <complexType>
                <sequence>
                  <element ref="rcm:RainfallGenerator" minOccurs="0" />
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup" />
              </complexType>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <!-- Target Element & Type -->
  <element name="Target" substitutionGroup="gml:_Feature">
    <annotation>
      <documentation xml:lang="en"><![CDATA[This element represents one abstract possibility to generate rainfall for catchments. A generator must be able to return a timeserie for any given area (defined by a polygon geometry).]]></documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="gml:AbstractFeatureType">
          <sequence>
            <element name="catchments" type="gml:FeaturePropertyType" />
            <element name="featurePath" type="string" />
            <element name="observationPath" type="string" minOccurs="0" />
            <!-- FIXME: use gml filter instead here -->
            <element name="filter" type="string" minOccurs="0" />
            <!-- TODO: would be nice to use TimePeriodPropertyType here -->
            <element name="period" type="rcm:DateRangePropertyType" minOccurs="0">
              <annotation>
                <documentation xml:lang="en"><![CDATA[The time interval for which to create rainfall from this generator.]]></documentation>
              </annotation>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <!-- Metadata Element & Type -->
  <element name="Metadata" substitutionGroup="gml:_Feature">
    <complexType>
      <complexContent>
        <extension base="gml:AbstractFeatureType">
          <sequence>
            <element name="value" type="string" minOccurs="0" />
            <element name="catchmentProperty" type="QName" minOccurs="0">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Property of a catchment. The value will be copied as metadata into the resulting timeseries. If set, the property 'value' will be ignored.]]></documentation>
              </annotation>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <!-- RainfallGenerator Element & Type -->
  <element name="RainfallGenerator" type="rcm:RainfallGeneratorType" substitutionGroup="gml:_Feature" abstract="true">
    <annotation>
      <documentation xml:lang="en"><![CDATA[This element represents one abstract possibility to generate rainfall for catchments. A generator must be able to return a timeserie for any given area (defined by a polygon geometry).]]></documentation>
    </annotation>
  </element>
  <complexType name="RainfallGeneratorType" abstract="true">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="filterMember" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation xml:lang="en"><![CDATA[Filters that will be applied to the read timeseries. Multiple filters will be applied in the given order.]]></documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="filter:AbstractZmlFilter" />
              </sequence>
            </complexType>
          </element>
          <element name="validFrom" type="dateTime" minOccurs="0" maxOccurs="1" />
          <element name="validTo" type="dateTime" minOccurs="0" maxOccurs="1" />
          <element name="parameterType" type="string" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation xml:lang="en"><![CDATA[The type of timeseries (i.e. rainfall, temperature, ...) this generator is producing.]]></documentation>
            </annotation>
          </element>
          <element name="lastModified" type="dateTime" minOccurs="0" maxOccurs="1" />
          <!-- TODO: would be nice to use TimePeriodPropertyType here -->
          <element name="period" type="rcm:DateRangePropertyType">
            <annotation>
              <documentation xml:lang="en"><![CDATA[The time interval for which to create rainfall from this generator.]]></documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!-- OmbrometerRainfallGenerator Element & Type -->
  <element name="OmbrometerRainfallGenerator" substitutionGroup="rcm:RainfallGenerator">
    <annotation>
      <documentation xml:lang="en"><![CDATA[This generator creates the rainfall from ombrometer stations (each corresponding to a timeserie), with attached (thiessen) polygones that define the affected area of this station.]]></documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="rcm:RainfallGeneratorType">
          <sequence>
            <element name="ombrometerCollection" type="gml:FeaturePropertyType">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Refers to any feature that contains the ombrometer-features. Probably an external xlink.]]></documentation>
              </annotation>
            </element>
            <element name="ombrometerFeaturePath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to the given ombrometer collection. Denotes the list of given ombrometer features.]]></documentation>
              </annotation>
            </element>
            <element name="timeseriesLinkPath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to an ombrometer feature. Denotes a timeseries link that contains the attached timeserie of this ombrometer.]]></documentation>
              </annotation>
            </element>
            <element name="areaPath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to an ombrometer feature. Denotes the affected area of the corresponding ombrometer.]]></documentation>
              </annotation>
            </element>
            <element name="catchmentAreaPath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to a catchment feature. Denotes the area of the corresponding catchment.]]></documentation>
              </annotation>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <!-- InverseDistanceRainfallGenerator Element & Type -->
  <element name="InverseDistanceRainfallGenerator" substitutionGroup="rcm:RainfallGenerator">
    <annotation>
      <documentation xml:lang="en"><![CDATA[This generator creates the rainfall from ombrometer stations (each corresponding to a timeserie), using the inverse distance weighting.]]></documentation>
    </annotation>
    <complexType>
      <complexContent>
        <extension base="rcm:RainfallGeneratorType">
          <sequence>
            <element name="ombrometerCollection" type="gml:FeaturePropertyType">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Refers to any feature that contains the ombrometer-features. Probably an external xlink.]]></documentation>
              </annotation>
            </element>
            <element name="ombrometerFeaturePath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to the given ombrometer collection. Denotes the list of given ombrometer features.]]></documentation>
              </annotation>
            </element>
            <element name="timeseriesLinkPath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to an ombrometer feature. Denotes a timeseries link that contains the attached timeserie of this ombrometer.]]></documentation>
              </annotation>
            </element>
            <element name="stationLocationPath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to an ombrometer feature. Denotes the station location of the corresponding ombrometer.]]></documentation>
              </annotation>
            </element>
            <element name="numberOmbrometers" type="integer">
              <annotation>
                <documentation xml:lang="en"><![CDATA[The number of ombrometers, which should be included in the inverse distance weighting.]]></documentation>
              </annotation>
            </element>
            <element name="catchmentAreaPath" type="string">
              <annotation>
                <documentation xml:lang="en"><![CDATA[Feature path relative to a catchment feature. Denotes the area of the corresponding catchment.]]></documentation>
              </annotation>
            </element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <!-- TODO: Move into commons? -->
  <complexType name="DateRangePropertyType">
    <sequence minOccurs="0">
      <element ref="rcm:DateRange" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>

  <element name="DateRange" substitutionGroup="gml:_Feature">
    <complexType>
      <complexContent>
        <extension base="gml:AbstractFeatureType">
          <sequence>
            <element name="from" type="rcm:dateOrPattern"></element>
            <element name="to" type="rcm:dateOrPattern"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <simpleType name="dateOrPattern">
    <union memberTypes="dateTime string" />
  </simpleType>
</schema>