_import/trunk/_obsolete/KalypsoFloodRiskAnalysis/src/org/kalypso/floodrisk/schema/StatisticData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.tuhh.de/floodrisk/statisticData" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:risk_sd="http://www.tuhh.de/floodrisk/statisticData">
	<!-- =========================================================== -->
	<!--Imports=========================================================== -->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/>
	<!-- =========================================================== -->
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<!-- =========================================================== -->
	<!-- StatisticData=========================================================== -->
	<xs:element name="StatisticData" type="risk_sd:StatisticDataType"/>
	<xs:complexType name="StatisticDataType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="CollectionMember" type="risk_sd:CollectionMemberAssociationType"/>
					<xs:element name="OverallSum" type="xs:double" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<!-- CollectionMember=========================================================== -->
	<xs:complexType name="CollectionMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_sd:Collection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Collection" type="risk_sd:CollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="CollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0"/>
					<xs:element name="Sum" type="xs:double"/>
					<xs:element name="LanduseMember" type="risk_sd:LanduseMemberAssociationType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- LanduseMember=========================================================== -->
	<xs:complexType name="LanduseMemberAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="risk_sd:Landuse"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Landuse" type="risk_sd:LanduseFeatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="LanduseFeatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="minValue" type="xs:double"/>
					<xs:element name="maxValue" type="xs:double"/>
					<xs:element name="sum" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
