_dump/tags/Kalypso_2.2.0_RC1_build20091126/KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/wspm.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		This file is part of Kalypso Copyright (c) 2008 by Björnsen Beratende
		Ingenieure GmbH, Koblenz, Germany (Bjoernsen Consulting Engineers),
		http://www.bjoernsen.de Technische Universität Hamburg-Harburg,
		Institut für Wasserbau, Hamburg, Germany (Technical University
		Hamburg-Harburg, Institute of River and Coastal Engineering),
		http://www.tu-harburg.de/wb/ Kalypso is free software: you can
		redistribute it and/or modify it under the terms of the GNU Lesser
		General Public License (LGPL) as published by the Free Software
		Foundation, either version 3 of the License, or (at your option) any
		later version. Kalypso is distributed in the hope that it will be
		useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		Lesser General Public License for more details. You should have
		received a copy of the GNU Lesser General Public License along with
		Kalypso. If not, see <http://www.gnu.org/licenses/>.
	-->
<schema xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wspm="org.kalypso.model.wspm"
	xmlns:runoff="org.kalypso.model.wspmrunoff" xmlns:wspmcommon="org.kalypso.model.wspmcommon"
	xmlns:wspmprofile="org.kalypso.model.wspmprofile" targetNamespace="org.kalypso.model.wspm"
	elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="org.kalypso.model.wspmcommon" schemaLocation="wspmCommons.xsd" />
	<import namespace="org.kalypso.model.wspmrunoff" schemaLocation="runOff.xsd" />
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
	<import namespace="http://www.opengis.net/om"
		schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd" />
	<import namespace="http://www.opengis.net/swe"
		schemaLocation="http://dev.bjoernsen.de/ogc/schema/sweCommon/1.0.30/swe.xsd" />
	<import namespace="org.kalypso.model.wspmprofile"
		schemaLocation="profile.xsd" />
	<!-- schema for WSPM = 'water surface profile model' -->
	<!--
		_________________________________________________________________________________________
		ELEMENTS
		_________________________________________________________________________________________
	-->
	<element name="calculationMember" type="wspm:CalculationPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation>WSPM calculations</documentation>
		</annotation>
	</element>
	<element name="AbstractCalculation" abstract="true"
		type="wspm:AbstractCalculationType" substitutionGroup="gml:_Feature" />
	<!--
	-->
	<element name="waterBodyMember" type="wspm:WaterBodyPropertyType">
		<annotation>
			<documentation>Water bodies</documentation>
		</annotation>
	</element>
	<element name="WaterBody" type="wspm:WaterBodyType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>River</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="reachMember" type="wspm:ReachPropertyType">
		<annotation>
			<documentation>River string</documentation>
		</annotation>
	</element>
	<element name="AbstractReach" type="wspm:AbstractReachType"
		abstract="true" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>River string</documentation>
		</annotation>
	</element>
	<element name="roughnessDefinitionCollectionMember" type="wspm:RoughnessDefinitionCollectionPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation>Roughness definition lists</documentation>
		</annotation>
	</element>
	<element name="RoughnessDefinitionCollection" type="wspm:RoughnessDefinitionCollectionType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Roughness definition list</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="roughnessDefinitionMember" type="wspm:RoughnessDefinitionPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation>Roughness definitions</documentation>
		</annotation>
	</element>
	<element name="RoughnessDefinition" type="wspm:RoughnessDefinitionType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Roughness definition</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="vegetationDefinitionCollectionMember" type="wspm:VegetationDefinitionCollectionPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation>Vegetation definition lists</documentation>
		</annotation>
	</element>
	<element name="VegetationDefinitionCollection" type="wspm:VegetationDefinitionCollectionType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Vegetation definition list</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="vegetationDefinitionMember" type="wspm:VegetationDefinitionPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation>Vegetation definitions</documentation>
		</annotation>
	</element>
	<element name="VegetationDefinition" type="wspm:VegetationDefinitionType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Vegetation definition</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="CalcCreation" type="wspm:calcCreationType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Calculation creation</documentation>
		</annotation>
	</element>
	<!--
		_________________________________________________________________________________________
		TYPES
		_________________________________________________________________________________________
	-->
	<complexType name="CalculationPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:AbstractCalculation" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractCalculationType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="calcCreationMember" type="wspm:calcCreationInlinePropertyType">
						<annotation>
							<documentation>Calculation creation</documentation>
						</annotation>
					</element>
					<!--
						element ref="wspm:resultMember" minOccurs="0"
						maxOccurs="unbounded"/
					-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	-->
	<complexType name="ReachPropertyType">
		<sequence>
			<element ref="wspm:AbstractReach" />
		</sequence>
	</complexType>
	<complexType name="AbstractReachType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType" />
		</complexContent>
	</complexType>
	<complexType name="WaterBodyPropertyType">
		<sequence minOccurs="0">
			<element ref="wspm:WaterBody" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup" />
	</complexType>
	<complexType name="WaterBodyLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspm:WaterBody" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup" />
	</complexType>
	<complexType name="WaterBodyType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="refNr" type="string" nillable="true">
						<annotation>
							<documentation>River reference number (optional)</documentation>
						</annotation>
					</element>
					<element name="waterBodyCenterLine" type="gml:LineStringSegmentType">
						<annotation>
							<documentation>River center line</documentation>
						</annotation>
					</element>
					<element name="isDirectionUpstream" type="boolean" default="true">
						<annotation>
							<documentation><![CDATA[ Stationing direction.Selection means that stationing will be against flow direction. ]]></documentation>
						</annotation>
					</element>
					<element name="profileMember" minOccurs="0" maxOccurs="unbounded"
						type="wspm:ProfileInlinePropertyType">
						<annotation>
							<documentation>Profiles</documentation>
						</annotation>
					</element>
					<element ref="wspm:reachMember" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>River strings</documentation>
						</annotation>
					</element>
					<element name="runOffEventMember" type="runoff:RunOffEventInlinePropertyType"
						minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Discharge events</documentation>
						</annotation>
					</element>
					<element name="waterlevelFixationMember" type="runoff:WaterlevelFixationInlinePropertyType"
						minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Water surface fixings</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProfileInlinePropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="wspmprofile:Profile" />
		</sequence>
	</complexType>
	<complexType name="ProfileLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmprofile:Profile" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup" />
	</complexType>
	<!--
		Overwritten to have a nice annotation. HM, geht nicht, wie muss mans
		machen?
	-->
	<!--
		<complexType name="RunOffEventPropertyType"> <sequence minOccurs="0">
		<element ref="om:AbstractObservation"> <annotation> <documentation
		xml:lang="de">
		<label>${listProperty:http://www.opengis.net/gml#name;0}</label>
		<tooltip>Abflussereignis</tooltip>
		<description>Abflussereignis</description> </documentation>
		</annotation> </element> </sequence> <attributeGroup
		ref="gml:AssociationAttributeGroup"/> </complexType>
	-->
	<!--
	-->
	<!--
		<complexType name="ResultPropertyType"> <complexContent> <restriction
		base="gml:FeaturePropertyType"> <sequence> <element
		ref="wspm:Result"/> </sequence> </restriction> </complexContent>
		</complexType> <complexType name="ResultType"> <complexContent>
		<extension base="wspmcommon:EmptyFeatureBaseType"> <sequence> <element
		ref="wspm:calculationMember"/> <element name="calculationTime"
		type="dateTime"> <annotation> <documentation xml:lang="de">
		<label>???Zeitpunkt der Berechnung</label>
		<tooltip>???tooltip</tooltip>
		<description>???description</description> </documentation>
		</annotation> </element> <element ref="wspm:documentMember"
		minOccurs="0" maxOccurs="unbounded"/> <element
		name="observationMember" type="om:AbstractObservationPropertyType"
		minOccurs="0" maxOccurs="unbounded"> <annotation> <documentation
		xml:lang="de"> <label>???resultObservationMember</label>
		<tooltip>???tooltip</tooltip>
		<description>???description</description> </documentation>
		</annotation> </element> </sequence> </extension> </complexContent>
		</complexType>
	-->
	<!--
	-->
	<!--
		<complexType name="DocumentPropertyType"> <complexContent>
		<restriction base="gml:FeaturePropertyType"> <sequence> <element
		ref="wspm:Document"/> </sequence> </restriction> </complexContent>
		</complexType> <complexType name="DocumentType"> <complexContent>
		<extension base="wspmcommon:EmptyFeatureBaseType"> <sequence> <element
		name="label" type="string"> <annotation> <documentation xml:lang="de">
		<label>???label</label> <tooltip>???tooltip</tooltip>
		<description>???description</description> </documentation>
		</annotation> </element> <element name="filePath" type="string">
		<annotation> <documentation xml:lang="de"><![CDATA[ TODO: eigenen Typ
		definieren + type handler (z.B. datei öffnen beim klick)]]>
		<label>???filePath</label> <tooltip>???tooltip</tooltip>
		<description>???description</description> </documentation>
		</annotation> </element> </sequence> </extension> </complexContent>
		</complexType>
	-->
	<!--
	-->
	<complexType name="RoughnessDefinitionCollectionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:RoughnessDefinitionCollection" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RoughnessDefinitionCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="wspm:roughnessDefinitionMember" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	-->
	<complexType name="RoughnessDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:RoughnessDefinition" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RoughnessDefinitionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation>???label</documentation>
						</annotation>
					</element>
					<element name="category" type="int">
						<annotation>
							<documentation>???category</documentation>
						</annotation>
					</element>
					<element name="valueKS" type="double">
						<annotation>
							<documentation>???valueKS</documentation>
						</annotation>
					</element>
					<element name="valueKST" type="double">
						<annotation>
							<documentation>???valueKST</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	-->
	<complexType name="VegetationDefinitionCollectionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:VegetationDefinitionCollection" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VegetationDefinitionCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element ref="wspm:vegetationDefinitionMember" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	-->
	<complexType name="VegetationDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:VegetationDefinition" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VegetationDefinitionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation>???label</documentation>
						</annotation>
					</element>
					<element name="category" type="int">
						<annotation>
							<documentation>???category</documentation>
						</annotation>
					</element>
					<element name="valueAX" type="double">
						<annotation>
							<documentation>???valueAX</documentation>
						</annotation>
					</element>
					<element name="valueAY" type="double">
						<annotation>
							<documentation>???valueAY</documentation>
						</annotation>
					</element>
					<element name="valueDP" type="double">
						<annotation>
							<documentation>???valueDP</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	-->
	<complexType name="calcCreationInlinePropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="wspm:CalcCreation" />
		</sequence>
	</complexType>
	<complexType name="calcCreationType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="user" type="string" nillable="true">
						<annotation>
							<documentation>Creator</documentation>
						</annotation>
					</element>
					<element name="date" type="dateTime" nillable="true">
						<annotation>
							<documentation>Date of creation</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
