temp/tags/Kalypso_2.2.0_Milestone1_20090310/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/v1.0/suds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://sourceforge.kalypso.org/schemata/hydrology/suds" xmlns:suds="http://sourceforge.kalypso.org/schemata/hydrology/suds" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>2.1.2</kapp:gmlVersion>
		</appinfo>
		<documentation>Suds definitions available for a hydrology-modell.</documentation>
	</annotation>

	<import namespace="http://www.opengis.net/gml" />

	<element name="SudsCollection" substitutionGroup="gml:_Feature">
		<complexType>
			<complexContent>
				<extension base="gml:AbstractFeatureType">
					<sequence>
						<element name="sudMember" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element ref="suds:_Sud" />
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="_Sud" abstract="true" type="suds:AbstractSudType" substitutionGroup="gml:_Feature" />
	<complexType name="AbstractSudType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!--  What have all suds in common? -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Swale" abstract="true" substitutionGroup="suds:_Sud" />
	<complexType name="SwaleType">
		<complexContent>
			<extension base="suds:AbstractSudType">
				<sequence>
					<!--  What properties does a sud have? -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<!-- Reference to a sud. Used by landuse etc. to reference suds stored in the StudColection -->
	<complexType name="SudPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="suds:_Sud" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"></attributeGroup>
	</complexType>
	<!-- Sud-Property: Can be used to reference suds -->
	<element name="sudLinkMember" type="suds:SudPropertyType" />

</schema>
