branches/branch_kalypsoProduct_v2_0/KalypsoModelRisk/src/org/kalypso/risk/model/schema/schemata/RasterizationControlModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of Kalypso
        
        Copyright (c) 2008 by
        
        Björnsen Beratende Ingenieure GmbH, Koblenz, Germany (Bjoernsen Consulting Engineers), http://www.bjoernsen.de
        Technische Universität Hamburg-Harburg, Institut für Wasserbau, Hamburg, Germany
        (Technical University Hamburg-Harburg, Institute of River and Coastal Engineering), http://www.tu-harburg.de/wb/
        
        Kalypso is free software: you can redistribute it and/or modify it under the terms  
        of the GNU Lesser General Public License (LGPL) as published by the Free Software 
        Foundation, either version 3 of the License, or (at your option) any later version.
        
        Kalypso is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
        warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
        
        You should have received a copy of the GNU Lesser General Public
        License along with Kalypso.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:om="http://www.opengis.net/om" xmlns:krrcm="http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel" xmlns:kr_common="http://www.tu-harburg.de/wb/kalypso/risk/schemata/common" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:common="org.kalypso.gml.common" targetNamespace="http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:annotation>
                <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                        <kapp:gmlVersion>3.1.1</kapp:gmlVersion>
                </xs:appinfo>
        </xs:annotation>
        <xs:import namespace="http://www.opengis.net/gml"/>
        <xs:import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
        <xs:import namespace="org.kalypso.gml.common"/>
        <xs:import namespace="http://www.tu-harburg.de/wb/kalypso/risk/schemata/common" schemaLocation="Common.xsd"/>
        <!-- =================================================================
		RasterizationControlModel
		================================================================== -->
        <xs:element name="RasterizationControlModel" type="krrcm:RasterizationControlModelType" substitutionGroup="gml:_Feature"/>
        <xs:complexType name="RasterizationControlModelType">
                <xs:complexContent>
                        <xs:restriction base="gml:AbstractFeatureCollectionType">
                                <xs:sequence>
                                        <xs:element ref="krrcm:landuseClassMember" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krrcm:damageFunctionMember" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krrcm:assetValueClassMember" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krrcm:administrationUnitMember" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krrcm:landuseRiskTypeMember" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krrcm:riskZoneDefinitionMember" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="krrcm:riskStatisticResultMember" minOccurs="0" maxOccurs="1"/>
                                </xs:sequence>
                        </xs:restriction>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		landuseClassMember (root property)
		================================================================== -->
        <xs:element name="landuseClassMember" type="krrcm:LanduseClassPropertyType">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>Landnutzungsklassen</xs:label>
                                <xs:tooltip>Landnutzungsklassen</xs:tooltip>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>Land-Use Classes</xs:label>
                                <xs:tooltip>Land-Use Classes</xs:tooltip>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="LanduseClassPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:LanduseClass" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		Landuse classes
		================================================================== -->
        <xs:element name="LanduseClass" type="krrcm:LanduseClassType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-kein Name-}]]>
                                </xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-no name-}]]>
                                </xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="LanduseClassType">
                <xs:annotation>
                        <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                                <kapp:functionProperty kapp:functionId="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription" kapp:property="krrcm:name">
                                        <kapp:parameter>
                                                <kapp:name>shallOverwrite</kapp:name>
                                                <kapp:value>true</kapp:value>
                                        </kapp:parameter>
                                </kapp:functionProperty>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="kr_common:EmptyFeatureBaseType">
                                <xs:sequence>
                                        <xs:element name="name" type="xs:string">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Landnutzungsklasse</xs:label>
                                                                <xs:tooltip>Landnutzungsklasse</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Land-Use Class</xs:label>
                                                                <xs:tooltip>Land-Use Class</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="ordinalNumber" type="xs:int"/>
                                        <xs:element name="damageFunctionLink" type="krrcm:DamageFunctionLinkType" nillable="true">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Schadensfunktionsname</xs:label>
                                                                <xs:tooltip>Liefert für den jeweiligen Nutzungstyp den Schädigungsgrad (Vulnerabilität) in Prozent in Abhängigkeit der Einstauhöhe.</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Name of Damage Function</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="landuseRiskTypeLink" type="krrcm:LanduseRiskTypeLinkType" nillable="true">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Kategorie</xs:label>
                                                                <xs:tooltip>Für Einteilung in die Risikozonen</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Category</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="AssetValueClassLink" type="krrcm:AssetValueClassLinkType" nillable="true">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Vermögenswert-Klasse</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Asset Value Class</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="colorStyle" type="common:color">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Farbdarstellung</xs:label>
                                                                <xs:tooltip>Farbdarstellung der Landnutzungsklasse in der Karte</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Color Style</xs:label>
                                                                <xs:tooltip>Color Style of Land-Use Class in the Map</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="krrcm:statisticClassMember" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Statistische Daten</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Statistic Data</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="minDamage" type="xs:double" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Min. mittlerer Schaden an einer einzelnen Rasterzelle [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Min. Avg. Damage at a Single Raster Cell [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="maxDamage" type="xs:double" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Max. mittlerer Schaden an einer einzelnen Rasterzelle [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Max. Avg. Damage at a Single Raster Cell [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="averageAnnualDamage" type="xs:double" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Mittlerer jährlicher Schadenserwartungswert [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Average Annual Damage [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="totalDamage" type="xs:double" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Gesamtschaden [€/a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Total Damage [€/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="kr_common:inscriptionMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		statisticClassMember
		================================================================== -->
        <xs:element name="statisticClassMember" type="krrcm:StatisticClassPropertyType"/>
        <xs:complexType name="StatisticClassPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:StatisticClass" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <!-- =================================================================
		Statistic classes
		================================================================== -->
        <xs:element name="StatisticClass" type="krrcm:StatisticClassType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label><![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-kein Name-}]]></xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label><![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no Name-}]]></xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <!-- =================================================================
		Statistic type
		================================================================== -->
        <xs:complexType name="StatisticClassType">
                <xs:complexContent>
                        <xs:extension base="gml:AbstractFeatureType">
                                <xs:sequence>
                                        <xs:element name="statReturnPeriod" type="xs:int">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Wiederkehrintervall [a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Return Period [a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statMinDamage" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Min. spez. Schaden an einer einzelnen Rasterzelle [€/m²]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Min. Spec. Damage at a Single Raster Cell [€/m²]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statMaxDamage" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Max. spez. Schaden an einer einzelnen Rasterzelle [€/m²]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Max. Spec. Damage at a Single Raster Cell [€/m²] [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statAverageDamage" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Mittlerer spez. Schaden für eine einzelne Rasterzelle [€/m²]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Average Spec. Damage for a Single Raster Cell [€/m²] [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statAverageAnnualDamage" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Mittlerer jährlicher Schadenserwartungswert [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Average Annual Damage [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statSumDamage" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Summe der spezifischen Schäden [€/m²]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Summation of the Spec. Damages [€/m²]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statTotalDamage" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Gesamtschaden [€]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Total Damage [€]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="statFloodedArea" type="xs:decimal" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>betroffene Fläche [m²]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Flooded Area [m²]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		assetValueClassMember property
		================================================================== -->
        <xs:element name="assetValueClassMember" type="krrcm:AssetValueClassPropertyType">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>spez. Vermögenswerte</xs:label>
                                <xs:tooltip>spez. Vermögenswerte</xs:tooltip>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>Asset Values</xs:label>
                                <xs:tooltip>Asset Values</xs:tooltip>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="AssetValueClassPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:AssetValueClass" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		Asset value classes
		================================================================== -->
        <xs:element name="AssetValueClass" type="krrcm:AssetValueClassType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:name>spez. Vermögenswert</xs:name>
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;- kein Name -}]]>
                                </xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:name>Asset Value</xs:name>
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;- no name-}]]>
                                </xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="AssetValueClassType">
                <xs:annotation>
                        <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                                <kapp:functionProperty kapp:functionId="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription" kapp:property="krrcm:name">
                                        <kapp:parameter>
                                                <kapp:name>shallOverwrite</kapp:name>
                                                <kapp:value>true</kapp:value>
                                        </kapp:parameter>
                                </kapp:functionProperty>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="kr_common:EmptyFeatureBaseType">
                                <xs:sequence>
                                        <xs:element name="name" type="xs:string" default="---">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Vermögenswert-Klasse</xs:label>
                                                                <xs:tooltip>Vermögenswert-Klasse</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Asset Value Class</xs:label>
                                                                <xs:tooltip>Asset Value Class</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="administrationUnitLink" type="krrcm:AdministrationUnitLinkType" nillable="true">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Verwaltungseinheit</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Administration unit</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="value" type="xs:double" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>spezifischer Vermögenswert [€/m²]</xs:label>
                                                                <xs:tooltip>maximaler Vermögenswert (für jede Landnutzungsklasse)</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Asset Value [€/m²]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="kr_common:inscriptionMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		damageFunctionMember (root property)
		================================================================== -->
        <xs:element name="damageFunctionMember" type="krrcm:DamageFunctionPropertyType">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>Schadensfunktionen</xs:label>
                                <xs:tooltip>Schadensfunktionen</xs:tooltip>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>Damage Functions</xs:label>
                                <xs:tooltip>Damage Functions</xs:tooltip>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="DamageFunctionPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:DamageFunction" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		Damage Functions
		================================================================== -->
        <xs:element name="DamageFunction" type="krrcm:DamageFunctionType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:name>Schadensfunktion</xs:name>
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;- kein Name -}]]>
                                </xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:name>Damage Function</xs:name>
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;- no name-}]]>
                                </xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="DamageFunctionType">
                <xs:annotation>
                        <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                                <kapp:functionProperty kapp:functionId="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription" kapp:property="krrcm:name">
                                        <kapp:parameter>
                                                <kapp:name>shallOverwrite</kapp:name>
                                                <kapp:value>true</kapp:value>
                                        </kapp:parameter>
                                </kapp:functionProperty>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="kr_common:EmptyFeatureBaseType">
                                <xs:sequence>
                                        <xs:element name="name" type="xs:string" default="---">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Schadenfunktionsname</xs:label>
                                                                <xs:tooltip>Schadenfunktionsname</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Name of Damage Function</xs:label>
                                                                <xs:tooltip>Name of Damage Function</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="function" type="xs:string">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Funktion</xs:label>
                                                                <xs:tooltip>Funktion</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Function</xs:label>
                                                                <xs:tooltip>Function</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="kr_common:inscriptionMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		administrationUnitMember property
		================================================================== -->
        <xs:element name="administrationUnitMember" type="krrcm:AdministrationUnitPropertyType"/>
        <xs:complexType name="AdministrationUnitPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:AdministrationUnit" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		Administration units
		================================================================== -->
        <xs:element name="AdministrationUnit" type="krrcm:AdministrationUnitType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-kein Name-}]]>
                                </xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-no name-}]]>
                                </xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="AdministrationUnitType">
                <xs:annotation>
                        <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                                <kapp:functionProperty kapp:functionId="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription" kapp:property="krrcm:name">
                                        <kapp:parameter>
                                                <kapp:name>shallOverwrite</kapp:name>
                                                <kapp:value>true</kapp:value>
                                        </kapp:parameter>
                                </kapp:functionProperty>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="kr_common:EmptyFeatureBaseType">
                                <xs:sequence>
                                        <xs:element name="name" type="xs:string">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Verwaltungseinheit</xs:label>
                                                                <xs:tooltip>Verwaltungseinheit</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Administration Unit</xs:label>
                                                                <xs:tooltip>Administration Unit</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element ref="kr_common:inscriptionMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		landuseRiskTypeMember (root property)
		================================================================== -->
        <xs:element name="landuseRiskTypeMember" type="krrcm:LanduseRiskTypePropertyType">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>Kategorien</xs:label>
                                <xs:tooltip>Kategorien</xs:tooltip>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>Categories</xs:label>
                                <xs:tooltip>Categories</xs:tooltip>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="LanduseRiskTypePropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:LanduseRiskType" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		LanduseRiskType
		================================================================== -->
        <xs:element name="LanduseRiskType" type="krrcm:LanduseRiskTypeType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-kein Name-}]]>
                                </xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-no name-}]]>
                                </xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="LanduseRiskTypeType">
                <xs:annotation>
                        <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                                <kapp:functionProperty kapp:functionId="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription" kapp:property="krrcm:name">
                                        <kapp:parameter>
                                                <kapp:name>shallOverwrite</kapp:name>
                                                <kapp:value>true</kapp:value>
                                        </kapp:parameter>
                                </kapp:functionProperty>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="kr_common:EmptyFeatureBaseType">
                                <xs:sequence>
                                        <xs:element name="name" type="xs:string">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Kategorie</xs:label>
                                                                <xs:tooltip>Kategorie</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Category</xs:label>
                                                                <xs:tooltip>Category</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="isUrbanLanduseType" type="xs:boolean"/>
                                        <xs:element ref="kr_common:inscriptionMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- =================================================================
		riskZoneDefinitionMember property
		================================================================== -->
        <xs:element name="riskZoneDefinitionMember" type="krrcm:RiskZoneDefinitionPropertyType">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>Risikozonen</xs:label>
                                <xs:tooltip>Risikozonen</xs:tooltip>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>Risk Zones</xs:label>
                                <xs:tooltip>Risk Zones</xs:tooltip>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="RiskZoneDefinitionPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:RiskZoneDefinition" minOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		RiskZoneDefinition
		================================================================== -->
        <xs:element name="RiskZoneDefinition" type="krrcm:RiskZoneDefinitionType" substitutionGroup="gml:_Feature">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-kein Name-}]]>
                                </xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>
                                        <![CDATA[${property:http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterizationControlModel#name;-no name-}]]>
                                </xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="RiskZoneDefinitionType">
                <xs:annotation>
                        <xs:appinfo xmlns:kapp="org.kalypso.appinfo">
                                <kapp:functionProperty kapp:functionId="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription" kapp:property="krrcm:name">
                                        <kapp:parameter>
                                                <kapp:name>shallOverwrite</kapp:name>
                                                <kapp:value>true</kapp:value>
                                        </kapp:parameter>
                                </kapp:functionProperty>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="kr_common:EmptyFeatureBaseType">
                                <xs:sequence>
                                        <xs:element name="name" type="xs:string">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Risikozone</xs:label>
                                                                <xs:tooltip>Risikozone</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Risk Zone</xs:label>
                                                                <xs:tooltip>Risk Zone</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="lowerBoundaryValue" type="xs:double" default="0.0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>unterer Grenzwert für Risikozone [€/m²/a]</xs:label>
                                                                <xs:label>unterer Grenzwert für Risikozone [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Lower Zone Boundary Value [€/m²/a]</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="colorStyle" type="common:color">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Farbdarstellung</xs:label>
                                                                <xs:tooltip>Farbdarstellung der Rizikozone in der Karte</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Color Style</xs:label>
                                                                <xs:tooltip>Color Style of Risk Zone in the Map</xs:tooltip>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="zoneInternalNumber" type="xs:int" default="0">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Ordnungszahl</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Ordinal Number</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="isUrbanLanduseType" type="xs:boolean" default="false">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Städtischer Bereich</xs:label>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Urban area</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="landuseRiskTypeLink" type="krrcm:LanduseRiskTypeLinkType" nillable="true">
                                                <xs:annotation>
                                                        <xs:documentation xml:lang="de">
                                                                <xs:label>Kategorie</xs:label>
                                                                <xs:tooltip>Für Einteilung in die Risikozonen</xs:tooltip>
                                                        </xs:documentation>
                                                        <xs:documentation xml:lang="en">
                                                                <xs:label>Category</xs:label>
                                                        </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="kr_common:inscriptionMember" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- Link functions ======================================================== -->
        <xs:complexType name="LanduseClassLinkType">
                <xs:sequence>
                        <xs:element ref="krrcm:LanduseClass" minOccurs="0" maxOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <xs:complexType name="DamageFunctionLinkType">
                <xs:sequence>
                        <xs:element ref="krrcm:DamageFunction" minOccurs="0" maxOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <xs:complexType name="AdministrationUnitLinkType">
                <xs:sequence>
                        <xs:element ref="krrcm:AdministrationUnit" minOccurs="0" maxOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <xs:complexType name="LanduseRiskTypeLinkType">
                <xs:sequence>
                        <xs:element ref="krrcm:LanduseRiskType" minOccurs="0" maxOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <xs:complexType name="AssetValueClassLinkType">
                <xs:sequence>
                        <xs:element ref="krrcm:AssetValueClass" minOccurs="0" maxOccurs="0"/>
                </xs:sequence>
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        <!-- =================================================================
		riskStatisticResultMember property
		================================================================== -->
        <xs:element name="riskStatisticResultMember" type="krrcm:RiskStatisticResultPropertyType"/>
        <xs:complexType name="RiskStatisticResultPropertyType">
                <xs:sequence>
                        <xs:element ref="krrcm:RiskStatisticResult" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="RiskStatisticResult" type="krrcm:RiskStatisticResultType" substitutionGroup="om:Observation">
                <xs:annotation>
                        <xs:documentation xml:lang="de">
                                <xs:label>Statistische Auswertung</xs:label>
                        </xs:documentation>
                        <xs:documentation xml:lang="en">
                                <xs:label>Statistical Overview</xs:label>
                        </xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="RiskStatisticResultType">
                <xs:complexContent>
                        <xs:extension base="om:ObservationType"/>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>
