_import/tags/hwv_sachsen_deploy_20090912/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_results.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
	Provide schema for the results of the 1d2d model
	@author Thomas Jung
-->

<xs:schema targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dResults" xmlns:res1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dResults"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" xmlns:math="org.kalypso.gml.common.math" xmlns:wspmprof="org.kalypso.model.wspmprofile"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>

	<xs:import namespace="http://www.opengis.net/gml" />
	<xs:import namespace="http://www.opengis.net/om" />

	<!-- NodeResultCollection -->
	<xs:element name="NodeResultCollection" type="res1d2d:NodeResultCollectionType" substitutionGroup="gml:_Feature" />

	<xs:complexType name="NodeResultCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="nodeResultMember" type="res1d2d:NodeResultPropertyType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="NodeResultPropertyType">
		<xs:sequence>
			<xs:element ref="res1d2d:NodeResult" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- NodeResult -->

	<xs:element name="NodeResult" type="res1d2d:NodeResultType" substitutionGroup="gml:_Feature" />

	<xs:complexType name="NodeResultType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The results on one node of a 1d2d calculation.</xs:documentation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty kapp:functionId="org.kalypso.kalypsomodel1d2d.schema.functions.NodeResultVelocityFunction" kapp:property="res1d2d:velocityNorm" kapp:isVirtual="true"
					kapp:valueType="xs:double">
					<kapp:parameter>
						<kapp:name>vectorProperty</kapp:name>
						<kapp:value><![CDATA[{http://www.tu-harburg.de/wb/kalypso/schemata/1d2dResults}velocity]]></kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>resultKind</kapp:name>
						<kapp:value>norm</kapp:value>
					</kapp:parameter>
				</kapp:functionProperty>
				<kapp:functionProperty kapp:functionId="org.kalypso.kalypsomodel1d2d.schema.functions.NodeResultVelocityFunction" kapp:property="res1d2d:velocityRotation" kapp:isVirtual="true"
					kapp:valueType="xs:double">
					<kapp:parameter>
						<kapp:name>vectorProperty</kapp:name>
						<kapp:value><![CDATA[{http://www.tu-harburg.de/wb/kalypso/schemata/1d2dResults}velocity]]></kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>resultKind</kapp:name>
						<kapp:value>rotation</kapp:value>
					</kapp:parameter>
				</kapp:functionProperty>
				<kapp:functionProperty kapp:functionId="org.kalypso.kalypsomodel1d2d.schema.functions.NodeResultDepthFunction" kapp:property="res1d2d:depth" kapp:isVirtual="true"
					kapp:valueType="xs:double">
					<kapp:parameter>
						<kapp:name>location</kapp:name>
						<kapp:value><![CDATA[{http://www.tu-harburg.de/wb/kalypso/schemata/1d2dResults}location]]></kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>waterlevel</kapp:name>
						<kapp:value><![CDATA[{http://www.tu-harburg.de/wb/kalypso/schemata/1d2dResults}waterlevel]]></kapp:value>
					</kapp:parameter>
				</kapp:functionProperty>
			</xs:appinfo>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="calcId" type="xs:int">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Knotennummer</xs:label>
								<xs:tooltip><![CDATA[Knotennummer der Berechnung]]></xs:tooltip>
								<xs:description><![CDATA[Knotennummer der Berechnung]]></xs:description>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Node ID</xs:label>
								<xs:tooltip>Calculation Node ID</xs:tooltip>
								<xs:description>Calculation Node ID</xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="location" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Lage</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Location</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="waterlevel" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Wasserspiegellage</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Waterlevel</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="virtualdepth" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>virtuelle Fliesstiefe</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>virtualdepth</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="virtDepPrevStep" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>virtuelle Fliesstiefe des vorigen Zeitschritts</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>virtualdepth of the previous time step</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="virtDepOverTime" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Ableitung der virtuellen Fließtiefe nach der Zeit</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>derivative of virtual depth over time</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="virtDepOverTimePrevStep" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Ableitung der virtuellen Fließtiefe nach der Zeit im letzten Zeitschritt</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>derivative of virtual depth over time in last time step</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="depth" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Fliesstiefe</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>depth</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="velocity" type="gml:VectorType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Geschwindigkeit</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Velocity</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="velPrevStep" type="gml:VectorType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Geschwindigkeit im vorigen Zeitschritt</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>velocity of the previous time step</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="velOverTime" type="gml:VectorType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Ableitung der Geschwindigkeit nach der Zeit im vorigen Zeitschritt</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>derivative of the velocity with respect to time of the previous time step</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="velOverTimePrevStep" type="gml:VectorType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Ableitung der Geschwindigkeit nach der Zeit</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>derivative of the velocity with respect to time</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="discharge" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Abfluss</xs:label>
								<xs:description><![CDATA[nur für 1d Knoten-Elemente verfügbar.]]></xs:description>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Discharge</xs:label>
								<xs:description><![CDATA[only for 1d elements.]]></xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="midside" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Mittseitenknoten</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>midside node</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dry" type="xs:int">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>trockener Knoten</xs:label>
								<xs:description><![CDATA[zeigt an, ob Knoten während Berechnung trocken oder nass gesetzt ist.]]></xs:description>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>dry node</xs:label>
								<xs:description><![CDATA[indicates, if the node was set dry or wet during calculation.]]></xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- TIN Result -->
	<xs:element name="TinResult" type="res1d2d:TinResultType" substitutionGroup="gml:_Feature" />

	<xs:complexType name="TinResultType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="triangulatedSurfaceMember" type="res1d2d:TriangulatedSurfacePropertyType" />
					<xs:element name="unit" type="xs:string"></xs:element>
					<xs:element name="parameter" type="xs:string"></xs:element>
					<xs:element name="date" type="xs:dateTime"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TriangulatedSurfacePropertyType">
		<xs:sequence>
			<xs:element ref="gml:TriangulatedSurface" />
		</xs:sequence>
	</xs:complexType>

	<!-- Hydrograph Results -->
	<xs:element name="HydrographCollection" type="res1d2d:HydrographCollectionType" substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Ganglinien</xs:label>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>List of Hydropgraphs</xs:label>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="HydrographCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="hydrographMember" type="res1d2d:HydrographPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Ganglinie</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Hydrograph</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resultMember" type="res1d2d:HydrographResultPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation><![CDATA[paths to the resultfiles.]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HydrographPropertyType">
		<xs:sequence>
			<xs:element ref="res1d2d:Hydrograph" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HydrographResultPropertyType">
		<xs:sequence>
			<xs:element ref="res1d2d:HydrographResult" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>



	<xs:element name="Hydrograph" type="res1d2d:HydrographType" substitutionGroup="om:Observation">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Ganglinie</xs:label>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>Hydrographs</xs:label>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="HydrographResult" type="res1d2d:HydrographResultType">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Ergebnis</xs:label>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>result</xs:label>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="HydrographResultType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="path" type="xs:anyURI" nillable="false">
						<xs:annotation>
							<xs:documentation><![CDATA[Path to the result file.]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="xs:dateTime" nillable="false">
						<xs:annotation>
							<xs:documentation><![CDATA[Time of simulated timestep.]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HydrographType">
		<xs:complexContent>
			<xs:extension base="om:ObservationType"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
