_dump/trunk/KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schemata/wspm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wspm="org.kalypso.model.wspm"
	targetNamespace="org.kalypso.model.wspm" elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<!-- WSPM stands for 'water surface profile model' -->
	<!-- 
	_________________________________________________________________________________________
	ELEMENTS
	_________________________________________________________________________________________
	-->
	<element name="calculationMember" type="wspm:CalculationPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???calculationMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="abstractCalculation" abstract="true" type="wspm:AbstractCalculationType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">ist ggf. Spezialisierung eines allgemeinen calculation1D <label>???abstractCalculation</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="resultMember" type="wspm:ResultPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???Referenz auf Ergebnis</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="result" type="wspm:ResultType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???Ergebnis</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="resultDocumentMember" type="wspm:ResultDocumentPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???resultDocumentMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="resultDocument" type="wspm:ResultDocumentType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???resultDocument</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="waterBodyMember" type="wspm:WaterBodyPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???Referenz auf Gewässer</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="waterBody" type="wspm:WaterBodyType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>Gewässer</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="strandMember" type="wspm:StrandPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???Referenz auf Gewässerstrang</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="strand" type="wspm:StrandType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???Gewässerstrang</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="strandElementMember" type="wspm:StrandElementPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???strandElementMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="abstractStrandElement" type="wspm:AbstractStrandElementType" abstract="true" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???abstractStrandElement</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="influentStrandElement" type="wspm:InfluentStrandElementType" substitutionGroup="wspm:abstractStrandElement">
		<annotation>
			<documentation xml:lang="de">
				<label>???influentStrandElement</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="profileStrandElement" type="wspm:ProfileStrandElementType" substitutionGroup="wspm:abstractStrandElement">
		<annotation>
			<documentation xml:lang="de">
				<label>???profileStrandElement</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="roughnessDefinitionCollectionMember" type="wspm:RoughnessDefinitionCollectionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???roughnessDefinitionCollectionMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="roughnessDefinitionCollection" type="wspm:RoughnessDefinitionCollectionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???roughnessDefinitionCollection</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="roughnessDefinitionMember" type="wspm:RoughnessDefinitionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???roughnessDefinitionMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="roughnessDefinition" type="wspm:RoughnessDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???roughnessDefinition</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="vegetationDefinitionCollectionMember" type="wspm:VegetationDefinitionCollectionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???vegetationDefinitionCollectionMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="vegetationDefinitionCollection" type="wspm:VegetationDefinitionCollectionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???vegetationDefinitionCollection</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="vegetationDefinitionMember" type="wspm:VegetationDefinitionPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???vegetationDefinitionMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="vegetationDefinition" type="wspm:VegetationDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???vegetationDefinition</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="calcCreationMember" type="wspm:calcCreationPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???elementMember:Erstellung</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="calcCreation" type="wspm:calcCreationType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???element:Erstellung</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________	
	-->
	<complexType name="EmptyFeatureBaseType">
		<complexContent>
			<restriction base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalculationPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:abstractCalculation"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractCalculationType" abstract="true">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element ref="wspm:calcCreationMember"/>
					<element ref="wspm:resultMember" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="StrandPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:strand"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StrandType" abstract="false">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element ref="wspm:waterBodyMember"/>
					<element name="waterBodyCenterLine" type="gml:LineStringSegmentType">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerachse</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="wspm:strandElementMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="StrandElementPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:abstractStrandElement"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AbstractStrandElementType" abstract="true">
		<complexContent>
			<annotation>
				<appinfo>We have two properties (line, markers) here, which are backuped by another property (profileMember). The time of last synchronization is stored in 'cacheDate'</appinfo>
			</annotation>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InfluentStrandElementType">
		<complexContent>
			<annotation>
				<appinfo>We have two properties (line, markers) here, which are backuped by another property (profileMember). The time of last synchronization is stored in 'cacheDate'</appinfo>
			</annotation>
			<extension base="wspm:AbstractStrandElementType">
				<sequence>
					<element name="location" type="gml:PointType">
						<annotation>
							<documentation xml:lang="de">
								<label>???location???</label>
								<tooltip>???tooltip</tooltip>
								<description>Position des Zulaufs</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProfileStrandElementType">
		<complexContent>
			<annotation>
				<appinfo>We have two properties (line, markers) here, which are backuped by another property (profileMember). The time of last synchronization is stored in 'cacheDate'</appinfo>
			</annotation>
			<extension base="wspm:AbstractStrandElementType">
				<sequence>
					<element name="station" type="double">
						<annotation>
							<appinfo>This property is backuped by the observation (profileMember) itself.</appinfo>
							<documentation xml:lang="de">
								<label>???station</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="profileGeometry" type="gml:LineStringSegmentType">
						<annotation>
							<appinfo>This property is backed by profileMember, more explicit by the referenced profile-observation</appinfo>
							<documentation xml:lang="de">
								<label>???profileGeometry==</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="marker" type="gml:PointType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>This property is backed by profileMember, more explicit by the referenced profile-observation. This is more difficult than the line property bceause, it depends on
								the profile, how many points we have.</appinfo>
							<documentation xml:lang="de">
								<label>???marker</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="cacheDate" type="dateTime">
						<annotation>
							<appinfo>This property represent the lastTime, when the cached proeprties (line, markers) have been synchronized against the profileMember</appinfo>
							<documentation xml:lang="de">
								<label>???cacheDate</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="profileMember" type="om:AbstractObservationPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>???profileMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="WaterBodyPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:waterBody"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="WaterBodyType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="name" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???name</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="waterBodyRefNr" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???waterBodyRefNr</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="isDirectionUpstream" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>???isDirectionUpstream</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="profileMember" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???profileMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="wspm:strandMember" minOccurs="0" maxOccurs="unbounded"/>
					<element name="runOffEventMember" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???runOffEventMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="waterlevelFixation" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???waterlevelFixation</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ResultPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:result"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ResultType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element ref="wspm:calculationMember"/>
					<element name="calculationTime" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>???Zeitpunkt der Berechnung</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element ref="wspm:resultDocumentMember" minOccurs="0" maxOccurs="unbounded"/>
					<element name="resultObservationMember" type="om:AbstractObservationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>???resultObservationMember</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ResultDocumentPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:resultDocument"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ResultDocumentType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???label</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="filePath" type="string">
						<annotation>
							<documentation xml:lang="de"><![CDATA[
								TODO: eigenen Typ definieren + 
								type handler (z.B. datei öffnen beim klick)]]>
								<label>???filePath</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="RoughnessDefinitionCollectionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:roughnessDefinitionCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RoughnessDefinitionCollectionType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element ref="wspm:roughnessDefinitionMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="RoughnessDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:roughnessDefinition"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RoughnessDefinitionType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???label</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="category" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>???category</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueKS" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???valueKS</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueKST" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???valueKST</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="VegetationDefinitionCollectionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:vegetationDefinitionCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VegetationDefinitionCollectionType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element ref="wspm:vegetationDefinitionMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="VegetationDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:vegetationDefinition"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VegetationDefinitionType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="label" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???label</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="category" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>???category</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueAX" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???valueAX</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueAY" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???valueAY</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="valueDP" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???valueDP</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="calcCreationPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspm:calcCreation"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="calcCreationType">
		<complexContent>
			<extension base="wspm:EmptyFeatureBaseType">
				<sequence>
					<element name="user" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>???Benutzer</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
					<element name="creationDate" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>???Datum</label>
								<tooltip>???tooltip</tooltip>
								<description>???description</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
</schema>
