_dump/trunk/KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schemata/wspmProject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wspm="org.kalypso.model.wspm"
	xmlns:wspmproj="org.kalypso.model.wspmproj" targetNamespace="org.kalypso.model.wspmproj" elementFormDefault="qualified" version="0.1">
	<import namespace="org.kalypso.model.wspm" schemaLocation="wspm.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<!-- schema for WSPM projects -->
	<!-- TODO: KALYPSO-Header einfügen -->
	<!-- 
	_________________________________________________________________________________________
	ELEMENTS
	_________________________________________________________________________________________
	-->
	<element name="wspmProjectMember" type="wspmproj:WspmProjectPropertyType" substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>???wspmProjectMember</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<element name="WspmProject" type="wspmproj:WspmProjectType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>???WspmProject</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________	
	-->
	<complexType name="WspmProjectPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="wspmproj:WspmProject"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="WspmProjectType">
		<complexContent>
			<extension base="wspm:NamedFeatureBaseType">
				<sequence>
					<element ref="wspm:calculationMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="wspm:waterBodyMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="wspm:vegetationDefinitionCollectionMember" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="wspm:roughnessDefinitionCollectionMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
