_import/trunk/_obsolete/others/FloodRiskAnalysis/FloodRiskSchema/ContextModell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://elbe.wb.tu-harburg.de/floodrisk" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:hws="http://elbe.wb.tu-harburg.de/floodrisk">
	<!-- =========================================================== -->
	<!--Imports=========================================================== -->
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<!-- =========================================================== -->
	<!-- ContextModel=========================================================== -->
	<element name="ContextModel" type="hws:ContextModelType"/>
	<complexType name="ContextModelType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="LanduseCollectionMember" type="hws:LanduseCollectionMemberAssociationType"/>
					<element name="AdministrationUnitCollectionMember" type="hws:AdministrationUnitCollectionMemberAssociationType" minOccurs="0"/>
					<element name="DamageFunctionCollectionMember" type="hws:DamageFunctionCollectionMemberAssociationType"/>
					<element name="AssetValueCollectionMember" type="hws:AssetValueCollectionMemberAssociationType"/>
					<element name="DamageFunctionMappingCollectionMember" type="hws:DamageFunctionMappingCollectionMemberAssociationType"/>
					<element name="AssetValueMappingCollectionMember" type="hws:AssetValueMappingCollectionMemberAssociationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- LanduseCollectionMember=========================================================== -->
	<complexType name="LanduseCollectionMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:LanduseCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="LanduseCollection" type="hws:LanduseCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="LanduseCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="LanduseMember" type="hws:LanduseMemberAssociationType" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- LanduseMember=========================================================== -->
	<complexType name="LanduseMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:Landuse"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Landuse" type="hws:LanduseFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="LanduseFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Name" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- AdministrationUnitCollectionMember=========================================================== -->
	<complexType name="AdministrationUnitCollectionMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:AdministrationUnitCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="AdministrationUnitCollection" type="hws:AdministrationUnitCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="AdministrationUnitCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="AdministrationUnitMember" type="hws:AdministrationUnitMemberAssociationType" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- AdministrationUnitMember=========================================================== -->
	<complexType name="AdministrationUnitMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:AdministrationUnit"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="AdministrationUnit" type="hws:AdministrationUnitFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="AdministrationUnitFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Name" type="string"/>
					<!--<element name="Unit" type="string"/>-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- DamageFunctionCollectionMember=========================================================== -->
	<complexType name="DamageFunctionCollectionMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:DamageFunctionCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="DamageFunctionCollection" type="hws:DamageFunctionCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="DamageFunctionCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="DamageFunctionMember" type="hws:DamageFunctionAssociationType" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- DamageFunctionMember=========================================================== -->
	<complexType name="DamageFunctionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:DamageFunction"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="DamageFunction" type="hws:DamageFunctionFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="DamageFunctionFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Function" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- AssetValueCollectionMember=========================================================== -->
	<complexType name="AssetValueCollectionMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:AssetValueCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="AssetValueCollection" type="hws:AssetValueCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="AssetValueCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="AssetValueMember" type="hws:AssetValueAssociationType" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- AssetValueMember=========================================================== -->
	<complexType name="AssetValueAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:AssetValue"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="AssetValue" type="hws:AssetValueFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="AssetValueFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Value" type="double"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- DamageFunctionMappingCollectionMember=========================================================== -->
	<complexType name="DamageFunctionMappingCollectionMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:DamageFunctionMappingCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="DamageFunctionMappingCollection" type="hws:DamageFunctionMappingCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="DamageFunctionMappingCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="DamageFunctionMappingMember" type="hws:DamageFunctionMappingMemberAssociationType" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- DamageFunctionMappingMember=========================================================== -->
	<complexType name="DamageFunctionMappingMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:DamageFunctionMapping"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="DamageFunctionMapping" type="hws:DamageFunctionMappingFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="DamageFunctionMappingFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="DamageFunctionLink" type="hws:DamageFunctionLinkType"/>
					<element name="LanduseLink" type="hws:LanduseLinkType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- AssetValueMappingCollectionMember=========================================================== -->
	<complexType name="AssetValueMappingCollectionMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:AssetValueMappingCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="AssetValueMappingCollection" type="hws:AssetValueMappingCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="AssetValueMappingCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="AssetValueMappingMember" type="hws:AssetValueMappingMemberAssociationType" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- AssetValueMappingMember=========================================================== -->
	<complexType name="AssetValueMappingMemberAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="hws:AssetValueMapping"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="AssetValueMapping" type="hws:AssetValueMappingFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="AssetValueMappingFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="AssetValueLink" type="hws:AssetValueLinkType"/>
					<element name="LanduseLink" type="hws:LanduseLinkType" maxOccurs="unbounded"/>
					<element name="AdministrationUnitLink" type="hws:AdministrationUnitLinkType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<complexType name="DamageFunctionLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence minOccurs="0">
					<element ref="hws:DamageFunction"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="AssetValueLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence minOccurs="0">
					<element ref="hws:AssetValue"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="LanduseLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence minOccurs="0">
					<element ref="hws:Landuse"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="AdministrationUnitLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence minOccurs="0">
					<element ref="hws:AdministrationUnit"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
