_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns:kapp="org.kalypso.appinfo" xmlns:c1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dControl" targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dControl" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" />
	<!-- ==============================================================
		global element declarations
		============================================================== -->
	<element name="Control" type="c1d2d:ControlType"/>
	<annotation>
		<documentation xml:lang="de">
			<label>Control Parameter</label>
		</documentation>
		<documentation xml:lang="en">
			<label>control parameter</label>
		</documentation>
	</annotation>
	<complexType name="ControlType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Version" default="NEW">
						<annotation>
							<documentation xml:lang="de">
								<label>Version</label>
								<tooltip>Version des Rechenkerns RMA 10S</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="NEW">
									<annotation>
										<documentation xml:lang="de">
											<label>Neueste</label>
										</documentation>
										<documentation xml:lang="en">
											<label>latest</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="Version3.5"/>
								<enumeration value="test"/>
							</restriction>
						</simpleType>
					</element>
					<!-- ControlDataBlock-->
					<element name="VEGETA" type="boolean" default="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Berücksichtigung Bewuchs</label>
							</documentation>
						</annotation>
					</element>
					<!--C0-->
					<element name="IOPTZD" default="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Turbulenzmodell</label>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>original RMA-10 Methode</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="1">
									<annotation>
										<documentation xml:lang="de">
											<label>Henderson-Sellers</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="2">
									<annotation>
										<documentation xml:lang="de">
											<label>Lineare Verteilung</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="3">
									<annotation>
										<documentation xml:lang="de">
											<label>Gaussian Mellor-Yamada</label>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="IDNOPT" default="-1">
						<annotation>
							<documentation xml:lang="de">
								<label>Marsh Algorithmus</label>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>ohne Marsh</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="-1">
									<annotation>
										<documentation xml:lang="de">
											<label>Default Werte nutzen</label>
											<tooltip>Default Werte sind: (a=1,5; Übergangshöhe=0,67; Porosität=0,04)???</tooltip>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="-2">
									<annotation>
										<documentation xml:lang="de">
											<label>Eingabewerte nutzen</label>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="startsim" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>Start der instationären Berechnung</label>
								<tooltip>Startdatum und Zeit der instationären Berechnung, lediglich zur Information bei stationärer Berechnung.</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="IEDSW" default="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Wirbelviskositätsansatz</label>
								<tooltip/>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>Eingabedaten ohne Skalierung</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="1">
									<annotation>
										<documentation xml:lang="de">
											<label>Skalierung über Elementlänge</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="2">
									<annotation>
										<documentation xml:lang="de">
											<label>Smagorinsky-Ansatz</label>
										</documentation>
									</annotation>
								</enumeration>
								<!--
								<enumeration value="-1">
									<annotation>
										<documentation xml:lang="de">
											<label>Eingabedaten verwenden Elementtypenabhängig?</label>
										</documentation>
									</annotation>
								</enumeration>-->
								<!--
								<enumeration value="3">
									<annotation>
										<documentation xml:lang="de">
											<label>mit Fliessrichtung?</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="4">
									<annotation>
										<documentation xml:lang="de">
											<label>wie 3 mit 2tem?</label>
										</documentation>
									</annotation>
								</enumeration>-->
							</restriction>
						</simpleType>
					</element>
					<element name="TBFACT" default="0.2">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor Smagorinsky-Ansatz</label>
								<tooltip>Alfa Wert des Smagorinsky Ansatzes</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="double">
								<minInclusive value="0.02"/>
								<maxExclusive value="0.5"/>
							</restriction>
						</simpleType>
					</element>
					<element name="TBMIN" type="double" default="2000">
						<annotation>
							<documentation xml:lang="de">
								<label>Min. Wirbelviskosität</label>
								<tooltip>Minimale Wirbelviskosität beim Smagorinsky-Ansatz</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--
					<element name="IPROJ">
						<annotation>
							<documentation xml:lang="de">
								<label>Projektion</label>
								<tooltip>Pojektionsoptionen</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>Zeitabweichung</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="1">
									<annotation>
										<documentation xml:lang="de">
											<label>keine Projektion</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="2">
									<annotation>
										<documentation xml:lang="de">
											<label>Projektion auf aktuellem und vorherigem Wert</label>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
-->
					<!--C2-->
					<element name="OMEGA" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Breitengrad</label>
								<tooltip>Breitengrad zur Ermittlung der Corioliskraft [°]</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="ELEV" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswasserspiegel</label>
								<tooltip>Anfangswert des Wasserstandes über jeden Knoten [m]</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--C3-->
					<element name="UNOM" type="double" default="0.5">
						<annotation>
							<documentation xml:lang="de">
								<label>1D-Anfangsgeschwindigkeit</label>
							</documentation>
						</annotation>
					</element>
					<element name="UDIR">
						<annotation>
							<documentation xml:lang="de">
								<label>Geschwindigkeitsrichtung</label>
								<tooltip>Ungefähre Fließrichtung im Gegenuhrzeigersinn auf die globale x-Achse bezogen [°]</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="double">
								<minInclusive value="0.0"/>
								<maxInclusive value="360.0"/>
							</restriction>
						</simpleType>
					</element>
					<element name="HMIN" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Min. Anfangswassertiefe</label>
								<tooltip> Minimale Wassertiefe bei Simulationsstart [m]</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="DSET" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Trockenfalltiefe</label>
								<tooltip>Wassertiefe ab welcher Knoten trocken fällt [m].</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="DSETD" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Wiederbenetzungstiefe</label>
								<tooltip>Wassertiefe bei welcher trockener Knoten wiederbenetzt wird [m].</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--C5-->
					<element name="NITI">
						<annotation>
							<documentation xml:lang="de">
								<label>Max. Anzahl Interationsschritte (stationär)</label>
								<tooltip>Maximale Anzahl der Interationen für stationäre Berechnung (0 - ohne stationäre Berechnung).</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<minInclusive value="0"/>
								<maxInclusive value="50"/>
							</restriction>
						</simpleType>
					</element>
					<element name="NCYC" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>Anzahl der Zeitschritte (instationär)</label>
							</documentation>
						</annotation>
					</element>
					<element name="NITN">
						<annotation>
							<documentation xml:lang="de">
								<label>Max. Anzahl Interationsschritte (instationär)</label>
								<tooltip>Maximale Anzahl der Interationen für instationäre Berechnung.</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<minInclusive value="0"/>
								<maxInclusive value="50"/>
							</restriction>
						</simpleType>
					</element>
					<!--CV-->
					<element name="CONV_1" type="double" default="0.01">
						<annotation>
							<documentation xml:lang="de">
								<label>Konvergenzschranke vx</label>
								<tooltip>Maximale Änderung der Geschwindigkeit in x-Richtung [-]</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="CONV_2" type="double" default="0.01">
						<annotation>
							<documentation xml:lang="de">
								<label>Konvergenzschranke vy</label>
								<tooltip>Maximale Änderung der Geschwindigkeit in y-Richtung [-]</tooltip>
								<tooltip/>
							</documentation>
						</annotation>
					</element>
					<element name="CONV_3" type="double" default="0.001">
						<annotation>
							<documentation xml:lang="de">
								<label>Konvergenzschranke h</label>
								<tooltip>Maximale Änderung der Wassertiefe [-]</tooltip>
								<tooltip/>
							</documentation>
						</annotation>
					</element>
					<element name="IDRPT" default="1">
						<annotation>
							<documentation xml:lang="de">
								<label>Gleichungsdeaktivierung</label>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>alle aktiv</label>
											<tooltip>alle Gleichungen aktiv</tooltip>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="1">
									<annotation>
										<documentation xml:lang="de">
											<label>Gleichungsdeaktivierung</label>
											<tooltip>Gleichungsdeaktivierung nach Deaktivierungskriterium</tooltip>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="DRFACT" type="double" default="0.05">
						<annotation>
							<documentation xml:lang="de">
								<label>Deaktivierungskriterium</label>
								<tooltip>Deaktivierungskriterium für Gleichungen [-]</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--MP-->
					<element name="AC1" type="double" default="1.5">
						<annotation>
							<documentation xml:lang="de">
								<label>Marsh a???</label>
								<label>Marsh a???</label>
							</documentation>
						</annotation>
					</element>
					<element name="AC2" type="double" default="0.67">
						<annotation>
							<documentation xml:lang="de">
								<label>Übergangstiefe</label>
								<tooltip>Wassertiefe ab der Marsh-Algorithmus aktiviert wird [m].</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="AC3" type="double" default="0.04">
						<annotation>
							<documentation xml:lang="de">
								<label>Porosität</label>
								<tooltip>Porosität des Marsh-Bodens [-].</tooltip>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
