_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_flowrel.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  Provide schema for the concrete (1d) flow relations of the 1d2d model
	@author Gernot Belger
-->

<xs:schema targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d"
	xmlns:wb1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:math="org.kalypso.gml.common.math"
	xmlns:wspmprof="org.kalypso.model.wspmprofile" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
	xmlns:obs1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/observation" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>

	<xs:import namespace="http://www.opengis.net/gml" />
	<xs:import namespace="http://www.opengis.net/om" />
	<xs:import namespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" />
	<xs:import namespace="org.kalypso.model.wspmprofile" />
	<xs:import namespace="org.kalypso.gml.common.math" />
	<xs:import namespace="http://www.tu-harburg.de/wb/kalypso/schemata/observation" schemaLocation="sim_1d2d_observation.xsd" />

	<!-- ================================================
		King Flow Relation
		================================================== -->

	<xs:element name="KingFlowRelation" type="wb1d2d:KingFlowRelationType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Netzparameter (King)</xs:label>
				<xs:tooltip>Netzparameter (King)</xs:tooltip>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>Flowrelations (King)</xs:label>
				<xs:tooltip>Flowrelations (King)</xs:tooltip>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="KingFlowRelationType">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<!--  TODO: restrict to profiles of certain type -->
					<xs:element name="kingProfileMember" type="wb1d2d:KingProfilePropertyType" />
					<xs:element name="width" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Breite [m]</xs:label>
								<xs:tooltip>Breite der Sohle des Flussschlauches [m]</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Width [m]</xs:label>
								<xs:tooltip>Width of the riverbed [m]</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ss1" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Böschungsneigung rechts</xs:label>
								<xs:tooltip>Böschungsneigung rechts</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>bankslope right</xs:label>
								<xs:tooltip>bankslope right</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ss2" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Böschungsneigung links</xs:label>
								<xs:tooltip>Böschungsneigung links</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>bankslope left</xs:label>
								<xs:tooltip>bankslope left</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wids" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Speicherbreite</xs:label>
								<xs:tooltip>
									Breite des Speichers bei Übertreten des Ufers (Summe beider Vorländer)
								</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>TODO</xs:label>
								<xs:tooltip>TODO</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="widbs" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Übertretungshöhe</xs:label>
								<xs:tooltip>
									Übertretungshöhe des Ufers - entspricht geringster Höhe des Wasserstands im
									Hochwasserspeicher
								</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>TODO</xs:label>
								<xs:tooltip>TODO</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wss" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Böschungsneigung Speicher</xs:label>
								<xs:tooltip>Neigung der Böschung des Hochwasserspeichers</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>TODO</xs:label>
								<xs:tooltip>TODO</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="KingProfilePropertyType">
		<xs:sequence>
			<xs:element ref="wspmprof:Profile" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<!-- ================================================
		Polynomial Flow Relation (Teschke)
		================================================== -->
	<xs:element name="TeschkeFlowRelation" type="wb1d2d:TeschkeFlowRelationType"
		substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Netzparameter (Teschke)</xs:label>
				<xs:tooltip>Netzparameter (Teschke)</xs:tooltip>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>Flowrelations (Teschke)</xs:label>
				<xs:tooltip>Flowrelations (Teschke)</xs:tooltip>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="TeschkeFlowRelationType">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="pointsMember" type="wb1d2d:HPointsPropertyType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Punkte</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Points</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="polynomialMember" type="math:Polynomial1DPropertyType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Polygon</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Polygone</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="station" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Station [km]</xs:label>
								<xs:tooltip>
									Optionale Angabe der Station. Falls gesetzt, wird die Länge des FE-Elements als
									Differenz der anliegenden Stationierung ermittelt.
								</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Station [km]</xs:label>
								<xs:tooltip>
									TODO: I18N: Optional Angabe der Station. Falls gesetzt wird die Länge des
									FE-Elements als Differenz der anliegenden Stationierung ermittelt.
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileMember" type="wb1d2d:LinkedProfilePropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								Link to any profile. Just for documentation reason.
								<xs:label>Profil</xs:label>
								<xs:tooltip>Referenz auf Profil</xs:tooltip>
								<xs:description>Referenz auf Profil</xs:description>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Profile</xs:label>
								<xs:tooltip>Profile Reference</xs:tooltip>
								<xs:description>Reference to profile</xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slope" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Gefälle</xs:label>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Slope</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LinkedProfilePropertyType">
		<xs:annotation>
			<xs:documentation>A link to a wspm profile.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="wspmprof:Profile" minOccurs="0" maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:complexType name="HPointsPropertyType">
		<xs:annotation>
			<xs:documentation>An inline Observation-Member.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="wb1d2d:HPointsObservation" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="HPointsObservation" type="om:ObservationType" substitutionGroup="om:Observation" />


	<!-- ================================================
		Buildings
		================================================== -->

	<xs:element name="BuildingFlowRelation" type="wb1d2d:AbstractBuildingFlowRelationType" abstract="true" substitutionGroup="simBase:_FlowRelationship">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Bauwerk (1D)</xs:label>
				<xs:tooltip>Bauwerk (1D)</xs:tooltip>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>Building (1D)</xs:label>
				<xs:tooltip>Building (1D)</xs:tooltip>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="AbstractBuildingFlowRelationType" abstract="true">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="kind" type="wb1d2d:buildingKind" fixed="10">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Fließformel</xs:label>
								<xs:tooltip>Fließformel</xs:tooltip>
							</xs:documentation>
							<xs:documentation xml:lang="en">
								<xs:label>Kind</xs:label>
								<xs:tooltip>Kind</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="direction" type="gml:DegreeValueType" nillable="false" default="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Richtung</xs:label>
								<xs:tooltip>Fließrichtung des Bauwerks</xs:tooltip>
							</xs:documentation>
							<xs:documentation>
								<xs:label>Direction</xs:label>
								<xs:tooltip>Direction of flow for this building</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="observation" type="obs1d2d:ObservationWithSourcePropertyType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Parameter</xs:label>
								<xs:tooltip>Parameter</xs:tooltip>
							</xs:documentation>
							<xs:documentation>
								<xs:label>Parameters</xs:label>
								<xs:tooltip>Parameters</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="buildingKind" >
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"></xs:enumeration>
			<xs:enumeration value="2"></xs:enumeration>
			<xs:enumeration value="3"></xs:enumeration>
			<xs:enumeration value="4"></xs:enumeration>
			<xs:enumeration value="5"></xs:enumeration>
			<xs:enumeration value="6"></xs:enumeration>
			<xs:enumeration value="7"></xs:enumeration>
			<xs:enumeration value="8"></xs:enumeration>
			<xs:enumeration value="9"></xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation xml:lang="de">
						<xs:label>Tabellarisch</xs:label>
					</xs:documentation>
					<xs:documentation xml:lang="en">
						<xs:label>Tabular</xs:label>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="WeirFlowRelation" type="wb1d2d:WeirFlowRelationType" substitutionGroup="wb1d2d:BuildingFlowRelation">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Wehr (1D)</xs:label>
				<xs:tooltip>Wehr (1D)</xs:tooltip>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>Weir (1D)</xs:label>
				<xs:tooltip>Weir (1D)</xs:tooltip>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="WeirFlowRelationType">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractBuildingFlowRelationType"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="BridgeFlowRelation" type="wb1d2d:BridgeFlowRelationType" substitutionGroup="wb1d2d:BuildingFlowRelation">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Brücke (1D)</xs:label>
				<xs:tooltip>Brücke (1D)</xs:tooltip>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label>Brücke (1D)</xs:label>
				<xs:tooltip>Brücke (1D)</xs:tooltip>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="BridgeFlowRelationType">
		<xs:complexContent>
			<xs:extension base="wb1d2d:AbstractBuildingFlowRelationType"/>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
