_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_sub_model_static.xsd

<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wb="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ***************************IMPORTS********************************* -->
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
	/>
	<!-- xs:import 
		namespace="http://www.opengis.net/gml" 
		schemaLocation="D:/congo\eclipse_base/kalypso_workspace/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/ -->
	<!-- xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d"
		schemaLocation="simulation_model.xsd"
	/ -->
	<!-- **************************INCLUDES********************************** -->
	<xs:include schemaLocation="simulation_model.xsd"/>
	
	<!-- Static model Model modelling -->
	<!-- xs:element 
		name="staticModel1D2D" 
		type="wb:StaticModelPropertyType1D2D" 
		substitutionGroup="wb:staticModel"/ -->
		
	<xs:complexType name="StaticModelPropertyType1D2D">
		<xs:annotation>
			<xs:documentation>
				To define a static model property for a 1d 2d simulation model
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="wb:StaticModelPropertyType">
				<xs:sequence>
					<xs:element 
						ref="wb:StaticModel1D2D"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="StaticModel1D2D" 
		type="wb:StaticModelType1D2D" 
		substitutionGroup="wb:StaticModel">
		<xs:annotation>
			<xs:documentation>
				Static model element for combined 1D 2D unsteady simualtion  
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType 
		name="StaticModelType1D2D" 
		abstract="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<html>
				Define the static model for combined 1D 2D unteady simulation.
				The type basicaly encapsulate:
					<ul>
						<li/> a terrain model, which contains a digital 
							terrain models,	river pofiles and rougthness
							area delimitation.
						<li/>a dicretisation model, which provide an rma10s 
							compatible finite element discretisaion model. 
						<li/>a flow resistance model, define the flow resistance 
						properties, mostly correction factors e.g. to compute 
						real rougthness value from a global rougthness definition.
						<li/>a flow relation ship model, provide the flow 
							relationship necessary for a full definition of special
							elements.
					</ul>
				</html>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="wb:AbstractStaticModelType">
				<xs:sequence>
					<xs:element 
						name="terrainModel"
						type="wb:TerrainModelPropertyType"/>
					<xs:element 
						ref="wb:discretisationModel"/>
					<xs:element 
						ref="wb:flowResistanceModel"/>
					<xs:element 
						ref="wb:flowRelationshipModel"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--*********************************************************************** 
		Definition terrain Model 
		********************************************************************-->
<!-- xs:element name="terrainModel" type="xs:string"/ -->

	<xs:complexType 
		name="TerrainModelPropertyType">
		<xs:annotation>
			<xs:documentation>
				Property type to defined terrain model of a 1d 2d static model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				ref="wb:TerrainModel"
				minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<xs:element 
		name="TerrainModel" 
		type="wb:TerrainModelType">
		<xs:annotation>
			<xs:documentation>
				Terrain model element with one terrain elevation element and 
				and rougthness layer polygon elements.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType 
		name="TerrainModelType">
		<xs:annotation>
			<xs:documentation>
				Defined a terrain model type that contains an elevation model
				and a rougthness layer polygon 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element 
				name="terrainElevation"
				type="wb:TerrainElevationModelPropertyType"
				minOccurs="1" maxOccurs="1"/>
			<xs:element 
				name="rougthnessLayerPolygons"
				type="wb:RougthnessLayerPolygonCollectionType"
				minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType 
		name="TerrainElevationModelPropertyType">
		<xs:annotation>
			<xs:documentation>
				To define an elevation model element for typicaly a terrain model
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="wb:TerrainElevationModel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:element 
		name="TerrainElevationModel"
		type="wb:TerrainElevationModelType"
		/>
	<xs:complexType 
		name="TerrainElevationModelType">
		<xs:annotation>
			<xs:documentation>
				Abstracts a terrain elevation. which kann hold a digital
				elevation model, which is just a cloud of points or a  
				triangulated irregular network
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element 
						name="digitalElevationModel"
						type="wb:DigitalElevationModelPropertyType"/>
					<xs:element ref="wb:triangulatedIrregularNetwork"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
		
	<xs:complexType name="DigitalElevationModelPropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Propriety type to hold a digital elevation model element
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="wb:DigitalElevationModel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:element 
		name="DigitalElevationModel" 
		type="wb:DigitalElevationModelType" 
		substitutionGroup="gml:posList"/>
		
	<!-- can be put in the controlPoint of TIN -->
	<xs:complexType name="DigitalElevationModelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Represents cloud of points with (x y z) cordinates
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:DirectPositionListType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- +++++++++ -->
	<xs:element 
		name="triangulatedIrregularNetwork" 
		type="wb:TriangulatedIrregularNetworkPropertyType"/>
	<xs:complexType name="TriangulatedIrregularNetworkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wb:TriangulatedIrregularNetwork"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:element 
		name="TriangulatedIrregularNetwork" 
		type="wb:TriangulatedIrregularNetworkType" 
		substitutionGroup="gml:Surface"/>
	<!-- check surface subs -->
	<xs:complexType 
		name="TriangulatedIrregularNetworkType">
		<xs:complexContent>
			<xs:extension base="gml:TinType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- check this about best practice -->
			
	<xs:complexType 
		name="RougthnessLayerPolygonCollectionType">
		<xs:complexContent>
			<xs:restriction 
				base=" gml:FeatureCollectionType ">
				<xs:sequence>
					<xs:element ref="wb:rougthnessLayerMember"/>
					<xs:element ref="wb:rougthnessLayerPolygonMembers"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element
		name="rougthnessLayerPolygonMembers"
		type="wb:RougthnessLayerPolygonArrayPropertyType"/>
	<xs:element 
		name="rougthnessLayerMember"
		type="wb:RougthnessLayerPolygonPropertyType"/>
		
	<xs:complexType name="RougthnessLayerPolygonArrayPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureArrayPropertyType">
				<xs:sequence>
					<xs:element 
						ref="wb:RougthnessPolygon" 
						minOccurs="0" 
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType 
		name="RougthnessLayerPolygonPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="wb:RougthnessPolygon"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element 
		name="RougthnessPolygon"
		type="wb:RougthnessPolygonType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation>
				Represents an area with uniform roughtness. 
				The rogthness is identify by a key
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
	<xs:complexType name="RougthnessPolygonType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gml:polygonProperty"/>
					<xs:element 
						name="rougthnessID"
						type="xs:string"
						minOccurs="1"	
						maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	
	<!--***********************************************************************
		Definition discretisation Model 
		********************************************************************-->
	<xs:element 
		name="discretisationModel" 
		type="wb:DiscretisationModel1D2DPropertyType"/>
	<xs:complexType name="DiscretisationModel1D2DPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="wb:StaticModel1D2D"/>
					<xs:element 
						name="feComplexElements"
						type="wb:FEComplexElementsPropertyType"
						minOccurs="1" maxOccurs="1"/>
					<xs:element
						name="feElements"
						type="wb:FEElementsPropertyType"
						minOccurs="1" maxOccurs="1"/>
					<xs:element
						name="feNodes"
						type="wb:FENodePropertyType"/>
						
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="FENode"
		type="wb:FENodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Represents a node in a finite element network.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="FENodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The type for finite elements node.  
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="wb:FEAbstractNodeType">
				<xs:sequence>
					<xs:element 	
						ref="gml:pointProperty" 
						minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	<xs:complexType name="DirectedFENodePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wb:FENode"/>
		</xs:sequence>
		<xs:attribute name="orientation" type=" gml:SignType " default="+"/>
		<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
	</xs:complexType>

	<xs:element 
		name="FEEdge"
		type="wb:FEEdgeType">
	
	</xs:element>
	
	<xs:complexType 
		name="FEEdgeType">
		<xs:annotation>
			<xs:documentation>
				Edge in a finite element network.
				It is defined by 2 FE nodes and a middle node.
				Tow cases are possible:
					==For a real edge these 3 node muss have different 
						geometric properties.
					==Single point edge are also possible, in that case the all
				
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base=" gml:AbstractTopoPrimitiveType">
				<xs:sequence>	
					<xs:choice>
						<xs:sequence>
							<xs:element 
								name="directedFENode"
								type="wb:DirectedFENodePropertyType"
								minOccurs="2" 
								maxOccurs="2"/>
							<xs:element
								name="middleNode"
								type="wb:FENodeType"
								minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
						
						<xs:element 
							name="node"
							type="wb:FENodeType"/>					
					</xs:choice>
					<xs:element
						name="container"
						type="wb:FEEdgeContainerPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="FEDirectedEdgePropertyType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="wb:FEEdge"/>
		</xs:sequence>
		<xs:attribute name="orientation" type="gml:SignType" default="+"/>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>

	<!--  Abstracs edges, elements, complex element -->
	
	<xs:complexType 
		name="FENodePropertyType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="wb:_FENode"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>	
	
	<xs:element 
		name="_FENode"
		abstract="true"
		type="wb:FEAbstractNodeType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all finite elements
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
		
	<xs:complexType 
		name="FEAbstractNodeType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Abtracts type for the finite elements nodes.
				Its container property linkt it to the containing super
				elements. In this case edges.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
				<xs:sequence>
					<xs:element
						name="container"
						type="wb:FEEdgeContainerPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	
	<xs:complexType name="FEEdgesPropertyType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="wb:_FEEdge"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>	
	
	<xs:element 
		name="_FEEdge"
		abstract="true"
		type="wb:FEAbstractEdgeType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all finite element
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
		
	<xs:complexType 
		name="FEAbstractEdgeType"
		abstract="true">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	
	<xs:complexType name="FEElementsPropertyType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="wb:_FEElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:element 
		name="_FEElement"
		abstract="true"
		type="wb:FEAbstractElementType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all finite element
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
	
	<xs:complexType 
		name="FEAbstractElementType"
		abstract="true">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:complexType name="FEComplexElementsPropertyType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="wb:_FEComplexElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<xs:element 
		name="_FEComplexElement"
		abstract="true"
		type="wb:FEAbstractComplexeElementType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all finite element
			</xs:documentation>
		</xs:annotation>		
	</xs:element>	
	<xs:complexType 
		name="FEAbstractComplexeElementType"
		abstract="true">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- **************** concrete elements -->
	<xs:element 
		name="FE1DElement"
		type="wb:FE1DElementType"
		substitutionGroup="wb:_FEElement"
	/>
	<xs:complexType name="FE1DElementType">
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractElementType">
				<xs:sequence>
						<xs:element 
						name="directedEdge"
						type="wb:FEEdgeType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	<!-- ==============================2 D Element ============================ -->
	<xs:complexType name="FE2DElementsPropertyType">
		<xs:complexContent>
			<xs:restriction base="wb:FEComplexElementsPropertyType">
				<xs:sequence minOccurs="1" maxOccurs="unbounded">
					<xs:element ref="wb:FE2DElement"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="FE2DElement"
		type="wb:FE2DElementType"
		substitutionGroup="wb:_FEElement"/>
	
	<xs:complexType name="FE2DElementType">
		<xs:annotation>
			<xs:documentation>
				An 2D fe element is define bei 3 edges or 4 edges.
				singular edges cannot be used.
				the edges mus build a close kurve.				
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractElementType">
				<xs:choice>
					<xs:sequence>
						<xs:element 
							name="directedEdge"
							type="wb:FEEdgeType"
							minOccurs="3" maxOccurs="3"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element 
							name="directedEdge"
							type="wb:FEEdgeType"
							minOccurs="4" maxOccurs="4"/>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ================================================================ -->
	<xs:element 
		name="ContinuityLine"
		type="wb:FEContinuityLineType"
		substitutionGroup="wb:_FEElement"
		/>
	<xs:complexType name="FEContinuityLineType">
		<xs:annotation>
			<xs:documentation>
				A continuity is defined by a set of edges which for a kurve.
				==the resulting kurve is open
				==and non self-crossing
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractElementType">
					<xs:sequence>
						<xs:element 
							name="directedEdge"
							type="wb:FEEdgeType"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ================================================================= -->
	<xs:element 
		name="Junction1D2D"
		type="wb:FEJunction1D2DType"
		substitutionGroup="wb:_FEElement"/>
	<xs:complexType name="FEJunction1D2DType">
		<xs:annotation>
			<xs:documentation>
				A 1D 2D junction. It is a curve element made of edges.
				The starting and ending node must belong to finit element 
				from different nature. the starting point is from a one d structure
				and the ending node is a 2D network or a continuity line.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractElementType">
					<xs:sequence>
						<xs:element 
							name="directedEdge"
							type="wb:FEEdgeType"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ================================================================= -->
	<xs:element 
		name="Bridge"
		type="wb:FEBridgeType"
		substitutionGroup="wb:_FEElement"/>
	<xs:complexType name="FEBridgeType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractElementType">
					<xs:sequence>
						<xs:element 
							name="directedEdge"
							type="wb:FEEdgeType"
							minOccurs="1" maxOccurs="unbounded"/>
						<xs:element
							name="shape"
							type="gml:GeometryPropertyType"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ======================Main Channel=============================== -->
	<xs:element 
		name="MainChannel"
		type="wb:FEMainChannelType"
		substitutionGroup="wb:_FEComplexElement"/>
	<xs:complexType name="FEMainChannelType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractComplexeElementType">
					<xs:sequence>
						<xs:element 
							name="channel2DElement"
							type="wb:FE2DElementsPropertyType"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- ======================Channel Foreland============================= -->
	<xs:element 
		name="MainForeland"
		type="wb:FEChannelForelandType"
		substitutionGroup="wb:_FEComplexElement"/>
	<xs:complexType name="FEChannelForelandType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb:FEAbstractComplexeElementType">
					<xs:sequence>
						<xs:element 
							name="foreland2DElement"
							type="wb:FE2DElementsPropertyType"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- **************** Container types **************************** -->
	
	<xs:complexType name="FEEdgeContainerPropertyType">
		<xs:sequence minOccurs="1" maxOccurs="1">
		<xs:element ref="wb:FE1DElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<xs:complexType name="FENodeContainerPropertyType">
		<xs:sequence minOccurs="1" maxOccurs="1">
		<xs:element ref="wb:FEEdge"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<xs:complexType name="FEElementContainerPropertyType">
		<xs:sequence minOccurs="1" maxOccurs="1">
		<xs:element ref="wb:_FEComplexElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	
	
	
	
	<!--***********************************************************************
		Definition flowResistance Model 
		********************************************************************-->
		<xs:element 
			name="flowResistanceModel" 
			type="wb:FlowResistancePropertyType"/>
		
		<xs:complexType name="FlowResistancePropertyType">
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="wb:EddyViskosityCoverage"
							minOccurs="0" maxOccurs="1"/>
							
					</xs:sequence>
					<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	<!-- ==========================Eddy Viscosity Coverage================== -->
		<xs:element 
			name="EddyViskosityCoverage"
			type="wb:EddyViskosityCoverageType">
		</xs:element>
		<xs:complexType 
			name="EddyViskosityCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiCurveCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="wb:eddyViscosityRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="eddyViscosityRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="wb:EddyViscosityValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="EddyViscosityValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="EddyViscosityValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="wb:_EddyViscosity"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_EddyViscosity"
		type="wb:AbstractEddyViscosityType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all eddy viskosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractEddyViscosityType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="RMA10SEddyViscosity"
		type="wb:RMA10SEddyViscosityType"
		substitutionGroup="wb:_EddyViscosity">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="RMA10SEddyViscosityType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractEddyViscosityType">
				<xs:sequence>
					<xs:element 
						name="yEddy"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Coefficients used to describe vertical 
								distribution of eddy
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						name="xzEddy"
						type="xs:long">
						<xs:annotation>
							<xs:documentation>
								XZ eddy coefficients for homogeneous flow,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						name="yzEddy"
						type="xs:long">
						<xs:annotation>
							<xs:documentation>
								XZ eddy coefficients for homogeneous flow,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ==========================Marh Parameter Coverage================== -->
		<xs:element 
			name="MarshFactorCoverage"
			type="wb:MarshFactorCoverageType">
		</xs:element>
		<xs:complexType 
			name="MarshFactorCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiCurveCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="wb:marshFactorRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="marshFactorRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="wb:MarshFactorValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="MarshFactorValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="MarshFactorValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="wb:_MarshFactor"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_MarshFactor"
		type="wb:AbstractMarshFactorType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all eddy viskosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractMarshFactorType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="RMA10SMarshFactor"
		type="wb:RMA10SMarshFactorType"
		substitutionGroup="wb:_MarshFactor">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="RMA10SMarshFactorType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractMarshFactorType">
				<xs:sequence>
					<xs:element 
						name="bottomElevationShift"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Bottom elevation shift for A0 at described node 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="deptRange"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Depth range at the described node over which 
								section reduces
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="minActiveFraction"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Minimum active fraction for the described node 
								over lower section
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="absoluteBottomElevation"
						type="xs:double"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Absolute bottom elevation to overrides the
								primary bottom elevation shift defined
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =============================Rougthness=========================== -->
	<xs:element 
		name="rougthnessCorrectionFactors"
		type="wb:RougthnessCorrectionFactorPropertyType">
	</xs:element>
	<xs:complexType 
		name="RougthnessCorrectionFactorPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element ref="wb:RougthnessCorrectionFactor"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element 
		name="RougthnessCorrectionFactor"
		type="wb:RougthnessCorrectionFactorType">
	</xs:element>
	<xs:complexType 
		name="RougthnessCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>
					
					<xs:element 
						name="rougthnessURI"
						type="xs:anyURI">
					</xs:element>
					
					<xs:element
						name="correctionFactor"
						type="xs:double">						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!--***********************************************************************
		Definition flowRelationship model 
		********************************************************************-->
	<xs:element 
		name="flowRelationshipModel" 
		type="xs:string"/>
	<!-- ==========================Marh Parameter Coverage================== -->
		<xs:element 
			name="FlowRelationshipCoverage"
			type="wb:FlowRelationshipCoverageType">
		</xs:element>
		<xs:complexType 
			name="FlowRelationshipCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiPointCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="wb:flowRelationshipRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="flowRelationshipRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="wb:FlowRelationshipValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="FlowRelationshipValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="FlowRelationshipValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="wb:_FlowRelationship"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_FlowRelationship"
		type="wb:AbstractFlowRelationshipType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all flow relationship elements
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractFlowRelationshipType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all flow relationship types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="QOverH"
		type="wb:QOverHType"
		substitutionGroup="wb:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="QOverHType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="q">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="h">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="AOverH"
		type="wb:AOverHType"
		substitutionGroup="wb:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="AOverHType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="a">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="h">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="WlDisRel"
		type="wb:WlDisRelType"
		substitutionGroup="wb:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="WlDisRelType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="wl">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dis">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================================================================ -->
	<xs:element 
		name="WlWlDisRel"
		type="wb:WlWlDisRelType"
		substitutionGroup="wb:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="WlWlDisRelType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="wlHeadWatter">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="wl">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="h">
						<xs:simpleType>
							<xs:list itemType="xs:double"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ================================================================ -->
	<xs:element 
		name="WlAreaDisRel"
		type="wb:WlAreaDisRelType"
		substitutionGroup="wb:_FlowRelationship">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="WlAreaDisRelType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractFlowRelationshipType">
				<xs:sequence>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
