_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_operational.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  Provide schema for the operational model
	@author Patrice Congo
	@author Antanaskovic Dejan
-->

<xs:schema targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/operationalmodel"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
	xmlns:op1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/operationalmodel"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>

	<xs:import namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd" />
	<xs:import namespace="http://www.opengis.net/om"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/om/1.0.30/om.xsd" />
	<xs:import namespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" />

	<!-- ================================================
		
		================================================== -->

	<xs:element name="BoundaryCondition" type="op1d2d:BoundaryConditionType"
		substitutionGroup="simBase:_FlowRelationship" />

	<xs:complexType name="BoundaryConditionType">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractFlowRelationshipType">
				<xs:sequence>
					<xs:element name="dataSourceURI" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The source where the timeserie came from. TODO: maybe put it into
								the timeserie definition?
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeserie1D" type="op1d2d:Timeserie1DPropertyType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Timeserie1DPropertyType">
		<xs:sequence>
			<xs:element ref="op1d2d:Timeserie1D" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:element name="Timeserie1D" type="om:ObservationType" substitutionGroup="om:Observation" />

</xs:schema>
