_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns:om="http://www.opengis.net/om" xmlns:kapp="org.kalypso.appinfo"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
	xmlns:c1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dControl"
	xmlns:wb1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d"
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dControl"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" />
	<xs:import namespace="http://www.opengis.net/om" />
	<xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" />
	<xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" />
	<!-- =================================================================
		ControlModelGroup
		================================================================== -->
	<xs:element name="ControlModelGroup"
		type="c1d2d:ControlModelGroupType" substitutionGroup="simBase:_Model" />
	<xs:complexType name="ControlModelGroupType">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractModelType">
				<xs:sequence>
					<xs:element ref="c1d2d:controlModelCollection" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		controlModelCollection property
		================================================================== -->
	<xs:element name="controlModelCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="c1d2d:ControlModelCollection"
					minOccurs="0" />
			</xs:sequence>
			<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
		</xs:complexType>
	</xs:element>
	<!-- =================================================================
		ControlModelCollectionType
		================================================================== -->
	<xs:element name="ControlModelCollection"
		type="c1d2d:ControlModelCollectionType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="ControlModelCollectionType">
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element name="activeModelID"
						type="c1d2d:ActiveModelIDType" />
					<xs:element ref="c1d2d:controlModelMember"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- =================================================================
		ActiveModelIDType
		================================================================== -->
	<xs:complexType name="ActiveModelIDType">
		<xs:sequence>
			<xs:element ref="c1d2d:ControlModel" minOccurs="0"
				maxOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>
	<!-- =================================================================
		ControlModelMemberPropertyType member or property 
		===================================================================-->
	<xs:element name="controlModelMember"
		type="c1d2d:ControlModelMemberPropertyType" />
	<xs:complexType name="ControlModelMemberPropertyType">
		<xs:sequence>
			<xs:element ref="c1d2d:ControlModel" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>
	<!-- =================================================================
		
		================================================================== -->
	<xs:element name="ControlModel" type="c1d2d:ControlModelType"
		substitutionGroup="gml:_Feature">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label><![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no name-}]]></xs:label>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<xs:label><![CDATA[${listProperty:http://www.opengis.net/gml#name;0;-no name-}]]></xs:label>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ControlModelType">
		<xs:complexContent>
			<xs:extension base="simBase:AbstractControlModelType">
				<xs:sequence>
					<xs:element ref="wb1d2d:calculationUnit" />
					<xs:element name="Version" default="NEW">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Version</xs:label>
								<xs:tooltip>
									Version des Rechenkerns RMA 10S
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="NEW">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label>Neueste</xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label>latest</xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="Version3.5" />
								<xs:enumeration value="Test" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- ControlDataBlock-->
					<xs:element name="VEGETA" type="xs:boolean"
						default="true">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Berücksichtigung Bewuchs
								</xs:label>
								<xs:tooltip>
									Berücksichtigung der
									Bewuchsparameter bei der Berechnung
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IDNOPT" default="-1">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Marsh Algorithmus</xs:label>
								<xs:tooltip>
									Art der gesonderten Behandlung von
									nur teilweise Durchströmten
									Elementen (Randelemente).
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label>
												ohne Marsh
											</xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="-1">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[Default Werte nutzen]]></xs:label>
											<xs:tooltip><![CDATA[Default Werte sind: Deaktivierungstiefe=1.5m; Übergangstiefe=0.67m; Porosität=0.04)]]></xs:tooltip>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="-2">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label>
												Eingabewerte nutzen
											</xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="startsim" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Start der instationären Berechnung
								</xs:label>
								<xs:tooltip>
									Startdatum und Zeit der
									instationären Berechnung, lediglich
									zur Information bei stationärer
									Berechnung.
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--TODO: Nico will implement the options 5 and 6 later-->
					<xs:element name="IEDSW" default="10">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label><![CDATA[Wirbelviskositätsansatz]]></xs:label>
								<xs:tooltip><![CDATA[Wirbelviskositätsansatz]]></xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[00 konst. Wirbelviskosität (RMA)]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[00 const. eddy viscosity (RMA)]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="2">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[02 Smagorinsky Ansatz (RMA)]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[02 Smagorinsky approach (RMA)]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="10">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[10 konst. Wirbelviskosität]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[10 const. eddy viscosity]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="11">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[11 sohlinduzierte Turbulenz]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[11 bottom generated turbulence]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="12">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[12 Prandtl'scher Mischungswegansatz (konst.)]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[12 Prandtl's mixing length (const.)]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="13">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[13 Smagorinsky Ansatz]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[13 Smagorinsky approach]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="14">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[14 konst. Wirbelviskosität m. sohlind. Turb.]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[14 const. eddy viscosity w. bottom induced turb.]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="15">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[15 Prandtl'scher Mischungsweg u. sohlind. Turb.]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[15 Prandtl's mixing length w. bottom induced turb.]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="16">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label><![CDATA[16 Smagorinsky mit sohlinduzierter Turbulenz]]></xs:label>
										</xs:documentation>
										<xs:documentation
											xml:lang="en">
											<xs:label><![CDATA[16 Smagorinsky with bottom induced turbulence]]></xs:label>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<!--<xs:enumeration value="-1">
									<xs:annotation>
									<xs:documentation xml:lang="de">
									<xs:label>Eingabedaten verwenden Elementtypenabhängig?</xs:label>
									</xs:documentation>
									</xs:annotation>
									</xs:enumeration>-->
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TBFACT" default="0.2">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Faktor Smagorinsky-Ansatz [-]
								</xs:label>
								<xs:tooltip>
									Alfa Wert des Smagorinsky Ansatzes
									[-]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minInclusive value="0.02" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TBMIN" type="xs:double"
						default="2">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Min. Wirbelviskosität [m²/s]
								</xs:label>
								<xs:tooltip>
									Minimale Wirbelviskosität beim
									Smagorinsky-Ansatz [m²/s]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minInclusive value="0.02" />
								<xs:maxExclusive value="0.5" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="_p_bottom" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Modellparameter</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OMEGA" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Breitengrad [°]</xs:label>
								<xs:tooltip>
									Breitengrad zur Ermittlung der
									Corioliskraft [°]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ELEV" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Anfangswasserspiegel [m]
								</xs:label>
								<xs:tooltip>
									Anfangswert des Wasserstandes über
									jeden Knoten [m]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--C3-->
					<xs:element name="UNOM" type="xs:double"
						default="0.5">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									1D-Anfangsgeschwindigkeit [m/s]
								</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UDIR">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Geschwindigkeitsrichtung [°]
								</xs:label>
								<xs:tooltip>
									Ungefähre Fließrichtung im
									Gegenuhrzeigersinn auf die globale
									x-Achse bezogen [°]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minInclusive value="0.0" />
								<xs:maxInclusive value="360.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="HMIN" type="xs:double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Min. Anfangswassertiefe [m]
								</xs:label>
								<xs:tooltip>
									Minimale Wassertiefe bei
									Simulationsstart [m]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DSET" type="xs:double"
						default="0.1">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Trockenfalltiefe [m]
								</xs:label>
								<xs:tooltip>
									Wassertiefe ab welcher Knoten
									trocken fällt [m].
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DSETD" type="xs:double"
						default="0.09">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Wiederbenetzungstiefe [m]
								</xs:label>
								<xs:tooltip>
									Wassertiefe bei welcher trockener
									Knoten wiederbenetzt wird [m].
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="_steady" type="xs:boolean"
						default="true">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Stätionar Berechnung
								</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="_unsteady" type="xs:boolean"
						default="false">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Instätionar Berechnung
								</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--C5-->
					<xs:element name="NITI" default="1">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Max. Anzahl Iterationsschritte
									(stationär)
								</xs:label>
								<xs:tooltip>
									Maximale Anzahl der Iterationen für
									stationäre Berechnung
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1" />
								<xs:maxInclusive value="100" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- not needed - get it from timeseries count -1 -->
					<!--					<xs:element name="NCYC" type="int">
						<xs:annotation>
						<xs:documentation xml:lang="de">
						<xs:label>
						Anzahl der Zeitschritte
						(instationär)
						</xs:label>
						</xs:documentation>
						</xs:annotation>
						</xs:element>-->
					<xs:element name="NITN" default="1">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Max. Anzahl Iterationsschritte
									(instationär)
								</xs:label>
								<xs:tooltip>
									Maximale Anzahl der Iterationen für
									instationäre Berechnung.
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1" />
								<xs:maxInclusive value="50" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CONV_1" type="xs:double"
						default="0.01">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Konvergenzschranke vx [m/s]
								</xs:label>
								<xs:tooltip>
									Maximale Änderung der
									Geschwindigkeit in x-Richtung [m/s]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CONV_2" type="xs:double"
						default="0.01">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Konvergenzschranke vy [m/s]
								</xs:label>
								<xs:tooltip>
									Maximale Änderung der
									Geschwindigkeit in y-Richtung [m/s]
								</xs:tooltip>
								<xs:tooltip />
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CONV_3" type="xs:double"
						default="0.001">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Konvergenzschranke h [m]
								</xs:label>
								<xs:tooltip>
									Maximale Änderung der Wassertiefe
									[m]
								</xs:tooltip>
								<xs:tooltip />
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IDRPT" default="1">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Gleichungsdeaktivierung
								</xs:label>
								<xs:tooltip>
									Deaktivierung von nicht benötigten
									Gleichungen (konvergente
									Freiheitsgrade)
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="0">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label>
												Keine Deaktivierung
											</xs:label>
											<xs:tooltip>
												Alle Gleichungen aktiv
											</xs:tooltip>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:documentation
											xml:lang="de">
											<xs:label>
												Mögliche deaktivieren
											</xs:label>
											<xs:tooltip>
												Gleichungsdeaktivierung
												nach
												Deaktivierungskriterium
												(konvergente
												Freiheitsgrade)
											</xs:tooltip>
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DRFACT" type="xs:double"
						default="0.05">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Deaktivierungskriterium [-]
								</xs:label>
								<xs:tooltip>
									Deaktivierungskriterium für
									Gleichungen [-]
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--MP-->
					<xs:element name="AC1" type="xs:double"
						default="1.5">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>
									Deaktivierungstiefe [m]
								</xs:label>
								<xs:label>
									Tiefe unter der Oberfläche zur
									deaktivierung von Knoten [m]
								</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AC2" type="xs:double"
						default="0.67">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Übergangstiefe [m]</xs:label>
								<xs:tooltip>
									Wassertiefe ab der Marsh-Algorithmus
									aktiviert wird [m].
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AC3" type="xs:double"
						default="0.04">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Porosität [-]</xs:label>
								<xs:tooltip>
									Porosität des Marsh-Bodens [-].
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--CV-->
					<!--TODO: aus vorhandenen Lösungen auswählen...-->
					<xs:element name="_restart" type="xs:boolean"
						default="false">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Restart</xs:label>
								<xs:tooltip>
									Angabe des Restart Zeitschrittes
									(bei 0 wird eine neue Berechnung
									gestartet).
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="restartInfoMember" type="c1d2d:RestartInfoPropertyType"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Restart file paths</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IACCYC" type="xs:integer"
						default="1">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Restart step</xs:label>
								<xs:tooltip>
									Angabe des Restart Zeitschrittes
									(bei 0 wird eine neue Berechnung
									gestartet).
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FNAM3" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Restart file</xs:label>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="_steadyBC">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Relaxationsfaktor</xs:label>
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:enumeration value="0.1" />
								<xs:enumeration value="0.2" />
								<xs:enumeration value="0.3" />
								<xs:enumeration value="0.4" />
								<xs:enumeration value="0.5" />
								<xs:enumeration value="0.6" />
								<xs:enumeration value="0.7" />
								<xs:enumeration value="0.8" />
								<xs:enumeration value="0.9" />
								<xs:enumeration value="1.0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="timestepsMember"
						type="c1d2d:TimestepsObservationPropertyType">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Zeitschritte</xs:label>
								<xs:tooltip>
									Time Steps Entries
								</xs:tooltip>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimestepsObservationPropertyType">
		<xs:sequence>
			<xs:element ref="c1d2d:TimestepsObservation" minOccurs="0" />
		</xs:sequence>
		<!-- 
			<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
		-->
	</xs:complexType>
	<!--quasi Stationär Zeitschrittvorgabe -->
	<xs:element name="TimestepsObservation" type="om:ObservationType"
		substitutionGroup="om:Observation">
		<xs:annotation>
			<xs:documentation xml:lang="de">
				<xs:label>Zeitschrittvorgabe</xs:label>
				<xs:tooltip>
					Zeitschrittvorgabe der quasi stationären Berechnung
				</xs:tooltip>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RestartInfoPropertyType">
		<xs:sequence>
			<xs:element ref="c1d2d:RestartInfo" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup" />
	</xs:complexType>

	<xs:element name="RestartInfo" type="c1d2d:RestartInfoType"
		substitutionGroup="gml:_Feature">
	</xs:element>

	<xs:complexType name="RestartInfoType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="calculationUnitID"
						type="xs:string" minOccurs="1" maxOccurs="1" />
					<xs:element name="stepResultMetaID" type="xs:string"
						minOccurs="1" maxOccurs="1" />
					<xs:element name="filePath"
						type="xs:string" minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
