_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/sim_1d2d_control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gml="http://www.opengis.net/gml" xmlns:kapp="org.kalypso.appinfo"
	xmlns:c1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dControl"
	xmlns:om="http://www.opengis.net/om"
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2dControl"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd" />
	<import namespace="http://www.opengis.net/om"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/om/1.0.30/om.xsd" />
	<import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
		schemaLocation="platform:/resource/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_finite_elements_discretisation.xsd"
		/>	
	
	<!-- ==============================================================
		global element declarations
		============================================================== -->
	<!--element 
		name="ControlModel" 
		type="c1d2d:ControlModelType" 
		substitutionGroup="simBase:_Model"/>
	<annotation>
		<documentation xml:lang="de">
			<label>Control Parameter</label>
		</documentation>
		<documentation xml:lang="en">
			<label>control parameter</label>
		</documentation>
	</annotation>
	<complexType name="ControlModelType">
		<complexContent>
			<extension 
				base="simBase:AbstractControlModelType">
				<sequence>
					<element ref="c1d2d:complexElementControlModel"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType -->
	
	<!-- =================================================================
	
	================================================================== -->
	<element 
			name="controlModel" 
			type="c1d2d:ControlModelPropertyType" >
		<annotation>
			<documentation xml:lang="en">
			</documentation>
		</annotation>
	</element>
	<complexType 
		name="ControlModelPropertyType">
		<annotation>
			<documentation xml:lang="en">
			</documentation>
		</annotation>
		<sequence>
			<element 
				ref="c1d2d:Control" 
				minOccurs="0" maxOccurs="1"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ============================================================
	
	============================================================= -->
	<element 
		name="Control" 
		type="c1d2d:ControlModelType" 
		substitutionGroup="simBase:_Model"/>
	<annotation>
		<documentation xml:lang="de">
			<label>Control Parameter</label>
		</documentation>
		<documentation xml:lang="en">
			<label>control parameter</label>
		</documentation>
	</annotation>
	<complexType name="ControlModelType">
		<complexContent>
			<extension base="simBase:AbstractControlModelType">
				<sequence>
					<element
						name="boundaryZone1"
						type="gml:PointPropertyType"
						minOccurs="0" maxOccurs="1"/>
					<element
						name="boundaryZone2"
						type="gml:PointPropertyType"
						minOccurs="0" maxOccurs="1"/>
					<element ref="c1d2d:controlModel"/>
						
					<element name="Version" default="NEW">
						<annotation>
							<documentation xml:lang="de">
								<label>Version</label>
								<tooltip>
									Version des Rechenkerns RMA 10S
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="NEW">
									<annotation>
										<documentation xml:lang="de">
											<label>Neueste</label>
										</documentation>
										<documentation xml:lang="en">
											<label>latest</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="Version3.5" />
								<enumeration value="test" />
							</restriction>
						</simpleType>
					</element>
					<!-- ControlDataBlock-->
					<element name="VEGETA" type="boolean"
						default="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Berücksichtigung Bewuchs</label>
								<tooltip>
									Berücksichtigung der
									Bewuchsparameter bei der Berechnung
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--C0-->
					<!-- Jessica: Erst einmal fest auf 0 setzen (laut Nico)
						<element name="IOPTZD" default="0">
						<annotation>
						<documentation xml:lang="de">
						<label>Turbulenzmodell</label>
						</documentation>
						</annotation>
						<simpleType>
						<restriction base="string">
						<enumeration value="0">
						<annotation>
						<documentation xml:lang="de">
						<label>original RMA-10 Methode</label>
						</documentation>
						</annotation>
						</enumeration>
						<enumeration value="1">
						<annotation>
						<documentation xml:lang="de">
						<label>Henderson-Sellers</label>
						</documentation>
						</annotation>
						</enumeration>
						<enumeration value="2">
						<annotation>
						<documentation xml:lang="de">
						<label>Lineare Verteilung</label>
						</documentation>
						</annotation>
						</enumeration>
						<enumeration value="3">
						<annotation>
						<documentation xml:lang="de">
						<label>Gaussian Mellor-Yamada</label>
						</documentation>
						</annotation>
						</enumeration>
						</restriction>
						</simpleType>
						</element>-->
					<element name="IDNOPT" default="-1">
						<annotation>
							<documentation xml:lang="de">
								<label>Marsh Algorithmus</label>
								<tooltip>
									Art der gesonderten Behandlung von
									nur teilweise Durchströmten
									Elementen (Randelemente).
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>ohne Marsh</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="-1">
									<annotation>
										<documentation xml:lang="de">
											<label>
												Default Werte nutzen
											</label>
											<tooltip>
												Default Werte sind:
												(Deaktivierungstiefe=1.5m;
												Übergangstiefe=0.67m;
												Porosität=0.04)
											</tooltip>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="-2">
									<annotation>
										<documentation xml:lang="de">
											<label>
												Eingabewerte nutzen
											</label>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="startsim" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Start der instationären Berechnung
								</label>
								<tooltip>
									Startdatum und Zeit der
									instationären Berechnung, lediglich
									zur Information bei stationärer
									Berechnung.
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--TODO: Nico will implement the options 5 and 6 later-->
					<element name="IEDSW" default="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Wirbelviskositätsansatz</label>
								<tooltip>
									Wirbelviskositätsansatz
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
									<enumeration value="0">
									<annotation>
									<documentation xml:lang="de">
									<label>konstante Eingabedaten ohne Skalierung</label>
									</documentation>
									</annotation>
									</enumeration>
									<!--
									<enumeration value="1">
									<annotation>
									<documentation xml:lang="de">
									<label>Skalierung über Elementlänge</label>
									</documentation>
									</annotation>
									</enumeration>-->
								<!--<enumeration value="-1">
									<annotation>
									<documentation xml:lang="de">
									<label>Eingabedaten verwenden Elementtypenabhängig?</label>
									</documentation>
									</annotation>
									</enumeration>
									<enumeration value="3">
									<annotation>
									<documentation xml:lang="de">
									<label>mit Fliessrichtung?</label>
									</documentation>
									</annotation>
									</enumeration>
									<enumeration value="4">
									<annotation>
									<documentation xml:lang="de">
									<label>wie 3 mit 2tem?</label>
									</documentation>
									</annotation>
									</enumeration>-->
								<enumeration value="5">
									<annotation>
										<documentation xml:lang="de">
											<label>
												Konstante Wirbelviskosität
											</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="6">
									<annotation>
										<documentation xml:lang="de">
											<label>
												free shear-layer
											</label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="2">
									<annotation>
										<documentation xml:lang="de">
											<label>
												Smagorinsky-Ansatz
											</label>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="TBFACT" default="0.2">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Faktor Smagorinsky-Ansatz [-]
								</label>
								<tooltip>
									Alfa Wert des Smagorinsky Ansatzes [-]
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="double">
								<minInclusive value="0.02" />
								<maxExclusive value="0.5" />
							</restriction>
						</simpleType>
					</element>
					<element name="TBMIN" type="double" default="2">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Min. Wirbelviskosität [m²/s]
								</label>
								<tooltip>
									Minimale Wirbelviskosität beim Smagorinsky-Ansatz [m²/s]
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--
						<element name="IPROJ">
						<annotation>
						<documentation xml:lang="de">
						<label>Projektion</label>
						<tooltip>Pojektionsoptionen</tooltip>
						</documentation>
						</annotation>
						<simpleType>
						<restriction base="string">
						<enumeration value="0">
						<annotation>
						<documentation xml:lang="de">
						<label>Zeitabweichung</label>
						</documentation>
						</annotation>
						</enumeration>
						<enumeration value="1">
						<annotation>
						<documentation xml:lang="de">
						<label>keine Projektion</label>
						</documentation>
						</annotation>
						</enumeration>
						<enumeration value="2">
						<annotation>
						<documentation xml:lang="de">
						<label>Projektion auf aktuellem und vorherigem Wert</label>
						</documentation>
						</annotation>
						</enumeration>
						</restriction>
						</simpleType>
						</element>
					-->
					<!--C2-->
					<element name="OMEGA" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Breitengrad [°]</label>
								<tooltip>
									Breitengrad zur Ermittlung der Corioliskraft [°]
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="ELEV" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswasserspiegel [m]</label>
								<tooltip>
									Anfangswert des Wasserstandes über jeden Knoten [m]
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--C3-->
					<element name="UNOM" type="double" default="0.5">
						<annotation>
							<documentation xml:lang="de">
								<label>
									1D-Anfangsgeschwindigkeit [m/s]
								</label>
							</documentation>
						</annotation>
					</element>
					<element name="UDIR">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Geschwindigkeitsrichtung [°]
								</label>
								<tooltip>
									Ungefähre Fließrichtung im Gegenuhrzeigersinn auf die globale x-Achse bezogen [°]
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="double">
								<minInclusive value="0.0" />
								<maxInclusive value="360.0" />
							</restriction>
						</simpleType>
					</element>
					<element name="HMIN" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Min. Anfangswassertiefe [m]
								</label>
								<tooltip>
									Minimale Wassertiefe bei Simulationsstart [m]
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="DSET" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Trockenfalltiefe [m]</label>
								<tooltip>
									Wassertiefe ab welcher Knoten trocken fällt [m].
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="DSETD" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Wiederbenetzungstiefe [m]</label>
								<tooltip>
									Wassertiefe bei welcher trockener Knoten wiederbenetzt wird [m].
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--C5-->
					<element name="NITI">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Max. Anzahl Interationsschritte	(stationär)
								</label>
								<tooltip>
									Maximale Anzahl der Interationen für stationäre Berechnung (0 - ohne stationäre Berechnung).
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<minInclusive value="0" />
								<maxInclusive value="100" />
							</restriction>
						</simpleType>
					</element>
					<element name="NCYC" type="int">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Anzahl der Zeitschritte (instationär)
								</label>
							</documentation>
						</annotation>
					</element>
					<element name="NITN">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Max. Anzahl Interationsschritte (instationär)
								</label>
								<tooltip>
									Maximale Anzahl der Interationen für instationäre Berechnung.
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<minInclusive value="0" />
								<maxInclusive value="50" />
							</restriction>
						</simpleType>
					</element>
					<!--CV-->
					<element name="CONV_1" type="double"
						default="0.01">
						<annotation>
							<documentation xml:lang="de">
								<label>Konvergenzschranke vx [-]</label>
								<tooltip>
									Maximale Änderung der Geschwindigkeit in x-Richtung [-]
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="CONV_2" type="double"
						default="0.01">
						<annotation>
							<documentation xml:lang="de">
								<label>Konvergenzschranke vy [-]</label>
								<tooltip>
									Maximale Änderung der Geschwindigkeit in y-Richtung [-]
								</tooltip>
								<tooltip />
							</documentation>
						</annotation>
					</element>
					<element name="CONV_3" type="double"
						default="0.001">
						<annotation>
							<documentation xml:lang="de">
								<label>Konvergenzschranke h [-]</label>
								<tooltip>
									Maximale Änderung der Wassertiefe [-]
								</tooltip>
								<tooltip />
							</documentation>
						</annotation>
					</element>
					<element name="IDRPT" default="1">
						<annotation>
							<documentation xml:lang="de">
								<label>Gleichungsdeaktivierung</label>
								<tooltip>
									Deaktivierung von nicht benötigten Gleichungen (konvergente Freiheitsgrade)
								</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<enumeration value="0">
									<annotation>
										<documentation xml:lang="de">
											<label>
												Keine Deaktivierung
											</label>
											<tooltip>
												Alle Gleichungen aktiv
											</tooltip>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="1">
									<annotation>
										<documentation xml:lang="de">
											<label>
												Mögliche deaktivieren
											</label>
											<tooltip>
												Gleichungsdeaktivierung nach Deaktivierungskriterium (konvergente Freiheitsgrade)
											</tooltip>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="DRFACT" type="double"
						default="0.05">
						<annotation>
							<documentation xml:lang="de">
								<label>
									Deaktivierungskriterium [-]
								</label>
								<tooltip>
									Deaktivierungskriterium für Gleichungen [-]
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--MP-->
					<element name="AC1" type="double" default="1.5">
						<annotation>
							<documentation xml:lang="de">
								<label>Deaktivierungstiefe [m]</label>
								<label>
									Tiefe unter der Oberfläche zur deaktivierung von Knoten [m]
								</label>
							</documentation>
						</annotation>
					</element>
					<element name="AC2" type="double" default="0.67">
						<annotation>
							<documentation xml:lang="de">
								<label>Übergangstiefe [m]</label>
								<tooltip>
									Wassertiefe ab der Marsh-Algorithmus aktiviert wird [m].
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="AC3" type="double" default="0.04">
						<annotation>
							<documentation xml:lang="de">
								<label>Porosität [-]</label>
								<tooltip>
									Porosität des Marsh-Bodens [-].
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<!--CV-->
					<!--TODO: aus vorhandenen Lösungen auswählen...-->
					<element name="IACCYC" type="int" default="1">
						<annotation>
							<documentation xml:lang="de">
								<label>Restart</label>
								<tooltip>
									Angabe des Restart Zeitschrittes (bei 0 wird eine neue Berechnung gestartet).
								</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="timestepsMember"
						type="c1d2d:TimestepsObservationPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Zeitschritte</label>
								<tooltip>Time Steps Entries</tooltip>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TimestepsObservationPropertyType">
		<sequence>
			<element ref="c1d2d:TimestepsObservation" minOccurs="0" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup" />
	</complexType>

	<!--quasi Stationär Zeitschrittvorgabe -->
	<element name="TimestepsObservation" type="om:ObservationType"
		substitutionGroup="om:Observation">
		<annotation>
			<documentation xml:lang="de">
				<label>Zeitschrittvorgabe</label>
				<tooltip>
					Zeitschrittvorgabe der quasi stationären Berechnung
				</tooltip>
			</documentation>
		</annotation>
	</element>

<!-- 
	<complexType name="TimestepsObservationType">
		<annotation>
			<documentation>
				Observation event. carries a generic "result" properties of type "anyType".
			</documentation>
		</annotation>
		<complexContent>
			<extension base="om:ObservationType">
				<sequence>
					<element name="myResult" type="anyType"
						nillable="true">
						<annotation>
							<documentation>
								an xsi:type attribute may appear in the instance to indicate the type of the result
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
 -->

<!-- 
	<element name="Timesteps" 
					type="c1d2d:TimeserieType" 
					substitutionGroup="om:Observation"/>
	<complexType name="TimeserieType">
		<complexContent>
			<extension base="om:ObservationType">
				<sequence>
					<element name="date" type="date">
						<annotation>
							<documentation xml:lang="de">
								<label>Datum</label>
							</documentation>
							<documentation  xml:lang="en">								
								<label>Date</label>
							</documentation>
						</annotation>
					</element>
					<element name="hValue" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>H Value</label>
							</documentation>
							<documentation xml:lang="en">
								<label>H Value</label>
							</documentation>
						</annotation>
					</element>
					<element name="qValue" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Q Value</label>
							</documentation>
							<documentation xml:lang="en">
								<label>Q Value</label>
							</documentation>
						</annotation>
					</element>					
				</sequence>
			</extension>
		</complexContent>
	</complexType>	
-->
<!-- 
	<xs:element name="Timeserie" type="op1d2d:TimeserieType" substitutionGroup="om:Observation" />

	<xs:complexType name="TimeserieType">
		<xs:complexContent>
			<xs:extension base="om:ObservationType">
				<xs:sequence>
					<xs:element name="dataSourceURI" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<xs:label>Quelle</xs:label>
								<xs:tooltip>Herkunft der Zeitreihe</xs:tooltip>
								<xs:description>
									Beschreibt woher die Zeitreihe ursprünglich kam.
								</xs:description>
							</xs:documentation>
							<xs:documentation>
								The source where the timeserie came from. TODO: maybe put it into
								the timeserie definition?
								<xs:label>Source</xs:label>
								<xs:tooltip>Origin of the Timeserie</xs:tooltip>
								<xs:description>
									Describes where this timeserie came from.
								</xs:description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<complexType name="TableTimeStepPropertyType">
		<sequence>
			<element ref="c1d2d:TableTimeStep" minOccurs="0"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	
	<element name= "TableTimeStep" type="c1d2d:TimeType" substitutionGroup="gml:_Feature"/>
	<complexType name = "TimeType">
		<complexContent>
			<extension base = "gml:AbstractFeatureType">
				<sequence>
					<element name = "date" type = "date"/>
					<element name = "hValue" type = "double"/>
					<element name = "qValue" type = "double"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>	
-->	


</schema>
