_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/simulation_model_finite_elements_discretisation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model flow relationships
	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wb="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<!-- remote from ogc -->
	<!-- xs:import 	
		namespace="http://www.opengis.net/gml" 
		schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/ -->

	<!-- local modified for successful binding -->
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
		
		
		<!--***********************************************************************
				Definition discretisation Model 
		********************************************************************-->
	<xs:element 
		name="feDiscretisationModel" 
		type="wb:FEDiscretisationModelType">
		<xs:annotation>
			<xs:documentation>
				To define a finite element discretisation model property.
				 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="FEDiscretisationPropertyModelType">
			<xs:sequence>					
				<xs:element 
					ref="wb:FEDiscretisationModel"
					minOccurs="0" maxOccurs="1"/>						
			</xs:sequence>
			<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<xs:element 
		name="FEDiscretisationModel"
		type="wb:FEDiscretisationModelType">
	</xs:element>
	
	<xs:complexType name="FEDiscretisationModelType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					
					<xs:element 
						name="feComplexElements"
						type="wb:FEComplexElementsPropertyType"
						minOccurs="1" maxOccurs="1"/>
					<xs:element
						name="feElements"
						type="wb:FEElementsPropertyType"
						minOccurs="1" maxOccurs="1"/>
					<xs:element
						name="feNodes"
						type="wb:FENodePropertyType"/>
						
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	

	<xs:element
		name="directedNode"
		type="wb:FEDirectedNodePropertyType"/>
	<xs:complexType name="FEDirectedNodePropertyType">
		<xs:sequence minOccurs="0" maxOccurs="0">
			<xs:element ref="wb:_FENode"/>
		</xs:sequence>
		<xs:attribute name="orientation" type="gml:SignType" default="+"/>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	
	
	<!-- ================================================================= -->
	
	<xs:complexType 
		name="FEDirectedEdgePropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				A directed nod holds a reference to an edge and 
				has a direction property element. 
				No attribute is used due to Kalpso limitations.
			</xs:documentation>			
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="0">
			<xs:element ref="wb:_FEEdge"/>
		</xs:sequence>
		<xs:attribute name="orientation" type="gml:SignType" default="+"/>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>

	<!--  Abstracs edges, elements, complex element -->
	
	<xs:complexType 
		name="FENodePropertyType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="wb:_FENode"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>	
	
	<xs:element 
		name="_FENode"
		abstract="true"
		type="wb:FEAbstractNodeType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all nodes in a finite  element network
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
		
	<xs:complexType 
		name="FEAbstractNodeType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Abtracts type for the finite elements nodes.
				Its container property links it to the containing super
				elements an _FEEdge.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
				<xs:sequence>
					<xs:element
						name="container"
						type="wb:FEEdgeContainerPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	
	<xs:complexType name="FEEdgesPropertyType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="wb:_FEEdge"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>	
	
	<xs:element 
		name="_FEEdge"
		abstract="true"
		type="wb:FEAbstractEdgeType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all edged in a finite element network
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
		
	<xs:complexType 
		name="FEAbstractEdgeType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for edges in a finite element network
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
				<xs:sequence>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	
	<xs:complexType 
		name="FEElementsPropertyType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="wb:_FEElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	
	
	<!-- =====================================================================
					_FEElement head of the substitution hierarchy for 
					the a finite element network
	====================================================================== -->
	<xs:element 
		name="_FEElement"
		abstract="true"
		type="wb:FEAbstractElementType">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all finite element
			</xs:documentation>
		</xs:annotation>		
	</xs:element>
	
	
	<!-- =====================================================================
					FEAbstractElementType base type for finite elements
					the a finite element network
	====================================================================== -->
	<xs:complexType 
		name="FEAbstractElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for an elment in finite element  network  
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
				<xs:sequence>
					<xs:element
						name="elementContainer"
						type="wb:FEElementContainerPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
			feComplexElementProperty
	================================================================= -->
	<xs:element 
		name="feComplexElementProperty"
		type="wb:FEComplexElementsPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FEComplexElement. 
				This must be subtituted by a custom fe complex element property 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			feElementProperty
	================================================================= -->
	
	<xs:element 
		name="feElementProperty"
		type="wb:FEElementsPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FEElement. 
				This must be subtituted by a custom finite element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			feEdgeProperty
	================================================================= -->
	
	<xs:element 
		name="feEgdeProperty"
		type="wb:FEEdgesPropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FEEdge. 
				This must be subtituted by a custom edge element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			feNodeProperty
	================================================================= -->
	
	<xs:element 
		name="feNodeProperty"
		type="wb:FENodePropertyType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Property elements holding a _FENode. 
				This must be subtituted by a custom node element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================
			FEComplexElementPropertyType
	================================================================= -->
	
	<xs:complexType name="FEComplexElementsPropertyType">
		<xs:annotation>
			<xs:documentation>
				Property type for defining complex elements
			</xs:documentation>
		</xs:annotation>
		<xs:sequence 
			minOccurs="1" maxOccurs="1">
			<xs:element ref="wb:_FEComplexElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
			_FEComplexElement
	================================================================= -->
	<xs:element 
		name="_FEComplexElement"
		abstract="true"
		type="wb:FEAbstractComplexeElementType">
		<xs:annotation>
			<xs:documentation>
				An element grouping finite elements, which together
				builds a meaningfull concept.
				E.g. The  main channel complexe element, which contains
				2D elements. This element acts as substitution group head.
			</xs:documentation>
		</xs:annotation>		
	</xs:element>	
	
	<!-- =================================================================
			FEAbstractComplexElementType
	================================================================= -->
	<xs:complexType 
		name="FEAbstractComplexeElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for elements which group elements, forming a 
				meaning full concept
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- **************** Container types **************************** -->
	
	<!-- =================================================================
			feEdgeContainerPropertyType
	================================================================= -->
	<xs:complexType name="FEEdgeContainerPropertyType">
		<xs:annotation>
			<xs:documentation>
				Associates elements to the element the contains, edges
			</xs:documentation>
		</xs:annotation>
		<xs:sequence 
			minOccurs="1" 
			maxOccurs="unbounded">
			<xs:element ref="wb:_FEElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =================================================================
			FENodeContainerPropertyType
	================================================================= -->
	<xs:complexType 
		name="FENodeContainerPropertyType">
		<xs:annotation>
			<xs:documentation>
				Associates node to egde elements containing it.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
		<xs:element ref="wb:_FEEdge"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	<!-- =====================================================================
				elementContainer, _ComplexElements
	 ======================================================================-->
	<xs:element
		name="feElementContainer"
		type="wb:FEElementContainerPropertyType">
	</xs:element>
	
	<!-- =====================================================================
				FEElementContainerPropertyType, _ComplexElements
	 ======================================================================-->
	
	<xs:complexType 
		name="FEElementContainerPropertyType">
		<xs:annotation>
			<xs:documentation>
				Associates an element to the complex element containing it
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element ref="wb:_FEComplexElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	
	
		
</xs:schema>