_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/simulation_model_discretisation_1d2d.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements rma10s based 1d 2d final element model
		
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wb1d2d="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:simBase="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	<xs:import
		namespace="http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase"
		schemaLocation="platform:/resource/KalypsoModelSimulationBase/src/org/kalypso/kalypsosimulationmodel/schema/v0.0.0/simulation_model_finite_elements_discretisation.xsd"
		/>	
		
	<!--==================================================================
		Definition discretisation Model property 
	===================================================================-->
	<xs:element 
		name="fe1D2DDiscretisationModel" 
		type="wb1d2d:DiscretisationModel1D2DPropertyType"/>
		 
	<xs:complexType name="DiscretisationModel1D2DPropertyType">
		<!--xs:complexContent>
			<xs:restriction base="simBase:FEDiscretisationModelPropertyType"-->
				<xs:sequence>
						<xs:element ref="wb1d2d:FE1D2DDiscretisationModel"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
	FE1D2DDiscretisationModel 
	================================================================== -->
	<xs:element 
		name="FE1D2DDiscretisationModel"
		type="wb1d2d:FE1D2DDiscretisationModelType"
		substitutionGroup="simBase:FEDiscretisationModel"/>		
	
	<xs:complexType name="FE1D2DDiscretisationModelType">
		<xs:complexContent>
			<xs:restriction base="simBase:FEDiscretisationModelType">
				<xs:sequence>					
					<xs:element 
						ref="wb1d2d:fe1d2dComplexElement"
						minOccurs="1" maxOccurs="unbounded"/>
					<xs:element
						ref="wb1d2d:fe1d2dElement"
						minOccurs="1" maxOccurs="unbounded"/>
					<xs:element
						ref="wb1d2d:fe1d2dEdge"
						minOccurs="1" maxOccurs="unbounded"/>
					<xs:element
						ref="wb1d2d:fe1d2dNode"
						minOccurs="1" maxOccurs="unbounded"/>	
					<xs:element
						ref="simBase:elementDisablingSpec"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =================================================================
		FE1D2DNode 
	================================================================== -->
	<xs:element 
		name="FE1D2DNode"
		type="wb1d2d:FE1D2DNodeType"
		substitutionGroup="simBase:_FENode"
		>
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Represents a node in a 1d 2d finite element network.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="FE1D2DNodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The type for finite elements node in 1d 2d finit element 
				network. Such a node as a pointProperty and a links to node 
				conatiner which are edges.  
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="simBase:FEAbstractNodeType">
				<xs:sequence>
					<xs:element 	
						ref="gml:pointProperty" 
						minOccurs="1" maxOccurs="1"/>
					<xs:element
						ref="wb1d2d:fe1d2dNodeContainer"
						minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
		MiddleNode property
	================================================================== -->
	<xs:element 
		name="fe1d2dMiddleNode"
		type="wb1d2d:FE1D2DMiddleNodePropertyType"/>
		
	<xs:complexType 
		name="FE1D2DMiddleNodePropertyType">
		<!--xs:complexContent>
			<xs:restriction 
					base="simBase:FEDirectedNodePropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2DNode"
						minOccurs="1"	maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute 
					name="orientation" type="gml:SignType" default="+"/>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
		Directed node property
	================================================================== -->
	<xs:element 
		name="fe1d2dDirectedNode"
		type="wb1d2d:FE1D2DDirectedNodePropertyType"></xs:element>
	<xs:complexType 
		name="FE1D2DDirectedNodePropertyType">
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2DNode"
						minOccurs="1"	maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="orientation" type="gml:SignType" default="+"/>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>

	<!-- =================================================================
		Fe1D2dEdge 
	================================================================== -->
	<xs:element 
		name="FE1D2DEdge"
		type="wb1d2d:FE1D2DEdgeType"
		substitutionGroup="simBase:_FEEdge">
	</xs:element>
	
	<xs:complexType 
		name="FE1D2DEdgeType">
		<xs:annotation>
			<xs:documentation>
				Edge in a finite element network.
				It is defined by 2 FE nodes and a middle node.
				Tow cases are possible:
					==For a real edge these 3 node muss have different 
						geometric properties.
					==Single point edge are also possible, in that case the all
				
			</xs:documentation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty
					kapp:functionId="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2DEdgeTypeGeometry"
					kapp:property="wb1d2d:geometry"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractEdgeType">
				<xs:sequence>	
					<xs:element name="geometry" type="gml:LineStringPropertyType"/>
					<xs:element 
						ref="wb1d2d:fe1d2dDirectedNode"
						minOccurs="2" 
						maxOccurs="2"/>
					<xs:element
						ref="wb1d2d:fe1d2dMiddleNode"
						minOccurs="0" maxOccurs="1"/>
					<xs:element
						ref="wb1d2d:fe1d2dEdgeContainer"/>
					<!--xs:element
						name="container"
						type="wb1d2d:FE1D2DEdgeContainerPropertyType"/-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =====================================================================
			Singular edge
	 ======================================================================-->
	<xs:complexType 
		name="FE1D2DSingularEdgeType">
		<xs:annotation>
			<xs:documentation>
				A singular edge is an edge with the same starting stopping and 
				node. This concept is use to define singular continuity line.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="wb1d2d:FE1D2DEdgeType"> <!--simBase:FEAbstractEdgeType"-->
				<xs:sequence>	
					<xs:element
						ref="wb1d2d:fe1d2dDirectedEdge" 
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								starting and ending point of the node
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						ref="wb1d2d:fe1d2dEdgeContainer"/>
					<!--xs:element
						name="container"
						type="wb1d2d:FE1D2DEdgeContainerPropertyType"/ -->
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ================================================================= 
		DirectedEdge property type
	===================================================================-->
	<xs:element
		name="fe1d2dDirectedEdge"
		type="wb1d2d:FE1D2DDirectedEdgePropertyType"/>
	<xs:complexType name="FE1D2DDirectedEdgePropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				A directed nod holds a reference to an edge and 
				has a direction property element. 
				No attribute is used due to Kalpso limitations.
			</xs:documentation>			
		</xs:annotation>
		<!--xs:complexContent> 
			<xs:restriction 
				base="simBase:FEDirectedEdgePropertyType"-->
				<xs:sequence>
					<xs:element ref="simBase:_FEEdge"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!--  ================================================================
		Node property type 
	================================================================== -->
	<xs:element 
		name="fe1d2dNode"
		type="wb1d2d:FE1D2DNodePropertyType"/>
	<xs:complexType 
		name="FE1D2DNodePropertyType">
		<!--xs:complexContent>
			<xs:restriction 
				base="simBase:FENodePropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2DNode"
						 minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>	
	
	<!-- =================================================================
		element property type
	================================================================= -->
	<xs:element 
		name="fe1d2dElement"
		type="wb1d2d:FE1D2DElementPropertyType"/> 
	
	<xs:complexType 
		name="FE1D2DElementPropertyType">
		<!--xs:complexContent>
			<xs:restriction 
				base="simBase:FEElementPropertyType"--> 
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2DElement"
						 minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>	
	
	<!-- ====================================================================
		edge property type
	====================================================================-->	
	<xs:element 
		name="fe1d2dEdge"
		type="wb1d2d:FE1D2DEdgePropertyType"/>
		
	<xs:complexType name="FE1D2DEdgePropertyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				
			</xs:documentation>			
		</xs:annotation>
		<!--xs:complexContent>
			<xs:restriction 
				base="simBase:FEEdgesPropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2DEdge"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	
	<!-- =====================================================================
					FEAbstractElementType base type for finite elements
					the a finite element network
	====================================================================== -->
	<xs:complexType 
		name="FE1D2DAbstractElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for an elment in finite element  network  
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractTopologyType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- =================================================================
			FEComplexElementsPropertyType
	================================================================= -->
	<xs:element 
		name="fe1d2dComplexElement"
		type="wb1d2d:FE1D2DComplexElementPropertyType"
		/>
	
	<xs:complexType name="FE1D2DComplexElementPropertyType">
		<xs:annotation>
			<xs:documentation>
				Property type for defining complex elements
			</xs:documentation>
		</xs:annotation>
		<!--xs:complexContent-->
			<!--xs:restriction 
						base="simBase:FEComplexElementPropertyType"-->
				<xs:sequence> 
					<xs:element 
						ref="wb1d2d:FE1D2DComplexElement"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction-->
		<!-- /xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
		FE1D2DComplexElement
	================================================================== -->
	<xs:element 
		name="FE1D2DComplexElement"
		type="wb1d2d:FE1D2DComplexeElementType"
		substitutionGroup="simBase:_FEComplexElement"/>
		
	<xs:complexType 
		name="FE1D2DComplexeElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for elements which group elements, forming a 
				meaning full concept
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractComplexElementType">
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- =================================================================
		FE1D2DElementType
	================================================================== -->
	<xs:element 
		name="FE1D2DElement"
		type="wb1d2d:FE1D2DElementType"
		substitutionGroup="simBase:_FEElement"
		abstract="true"/>
	
	<xs:complexType 
		name="FE1D2DElementType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all 1d 2d elements.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractElementType">
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:fe1d2dElementContainer"/>
				</xs:sequence>
			</xs:extension>
			
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- =================================================================
		1d element property 
	================================================================== -->
	<xs:element 
		name="fe1d2d_1DElement"
		type="wb1d2d:FE1D2D_1DElementPropertyType"/>
		
	<xs:complexType name="FE1D2D_1DElementPropertyType">
		<!-- xs:complexContent>
			<xs:restriction 
				base="simBase:FEComplexElementPropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2D_1DElement"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
			FE1D2D_1DElement
	================================================================== -->
	<xs:element 
		name="FE1D2D_1DElement"
		type="wb1d2d:FE1D2D_1DElementType"
		substitutionGroup="wb1d2d:FE1D2DElement"
		/>
		
	<xs:complexType name="FE1D2D_1DElementType">
		<xs:annotation>
			<xs:documentation>
				Basic 1D elements in a finite element network.
				It just wraps an edge.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2DElementType">
				<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge"
							minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
			FE1D2D_1DRiverElement
	================================================================== -->
	<!--xs:element 
		name="FE1D2D_1DRiverElements"
		type="wb1d2d:FE1D2D_1DRiverElementTypes"
		substitutionGroup="wb1d2d:FE1D2DElement"
		/>
		
	<xs:complexType name="FE1D2D_1DRiverElementTypes">
		<xs:annotation>
			<xs:documentation>
				Basic section of a 1D River.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2DElementType">
				<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge"
							minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType -->
	<!-- =================================================================
		1d river section property
	================================================================== -->
	<!--xs:element 
		name="fe1d2d_1DRiverElement"
		type="wb1d2d:FE1D2D_1DRiverElementType"/>
		
	<xs:complexType name="FE1D2D_1DRiverElementPropertyType">
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2D_1DRiverElement"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType -->
	
	
	
	<!-- =================================================================
		2d element property 
	================================================================== -->
	<xs:element 
		name="fe1d2d_2DElement"
		type="wb1d2d:FE1D2D_2DElementPropertyType"/>
		
	<xs:complexType name="FE1D2D_2DElementPropertyType">
		<!-- xs:complexContent>
			<xs:restriction 
				base="simBase:FEComplexElementPropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2D_2DElement"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	
	<!-- =================================================================
			FE1D2DTriElement
	================================================================== -->
	<xs:element 
		name="FE1D2DTriElement"
		type="wb1d2d:FE1D2DTriElementType"
		substitutionGroup="wb1d2d:FE1D2D_2DElement"/>
	
	<xs:complexType name="FE1D2DTriElementType">
		<xs:annotation>
			<xs:documentation>
				An 2D fe element is defined by 3 edges.
				singular edges cannot be used.
				the edges must build a close kurve.				
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2D_2DElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge" minOccurs="3" maxOccurs="3"/>
					</xs:sequence>
				
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
		FE1D2DQuadriElement
	================================================================== -->
	<xs:element 
		name="FE1D2DQuadriElement"
		type="wb1d2d:FE1D2DQuadriElementType"
		substitutionGroup="wb1d2d:FE1D2D_2DElement"/>
	
	<xs:complexType name="FE1D2DQuadriElementType">
		<xs:annotation>
			<xs:documentation>
				An 2D fe element is defined by 4 edges.
				singular edges cannot be used.
				the edges must build a close kurve.				
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2D_2DElementType">
					<xs:sequence>
					<xs:element
						ref="wb1d2d:fe1d2dDirectedEdge"
						minOccurs="4" maxOccurs="4"/>
					</xs:sequence>
				
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ================================================================ 
			FE1D2D_2DElement
	==================================================================-->
	<xs:element
		name="FE1D2D_2DElement"
		type="wb1d2d:FE1D2D_2DElementType"
		substitutionGroup="wb1d2d:FE1D2DElement"/>
	
	<xs:complexType name="FE1D2D_2DElementType">
		<xs:annotation>
			<xs:documentation>
				An 2D fe element is defined by 4 edges.
				singular edges cannot be used.
				the edges must build a close kurve.				
			</xs:documentation>
			<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty
					kapp:functionId="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2D_2DElementTypeGeometry"
					kapp:property="wb1d2d:geometry"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2DElementType">
				<xs:sequence>
				<xs:element name="geometry" type="gml:PolygonPropertyType"></xs:element>
				</xs:sequence>
				</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ================================================================ 
	Continiuty line element
	==================================================================-->
	<!--xs:element 
		name="FE1D2DContinuityLine"
		type="wb1d2d:FE1D2DContinuityLineType"
		substitutionGroup="simBase:_FEElement"
		/>
	<xs:complexType name="FE1D2DContinuityLineType">
		<xs:annotation>
			<xs:documentation>
				A continuity is defined by a set of edges which for a kurve.
				==the resulting kurve is open
				==and non self-crossing
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType-->
	
	<xs:element 
		name="FE1D2DContinuityLine"
		type="wb1d2d:FE1D2DContinuityLineType"
		substitutionGroup="simBase:_FEComplexElement"
		/>
	<xs:complexType name="FE1D2DContinuityLineType">
		<xs:annotation>
			<xs:documentation>
				A continuity is defined by a set of edges which for a kurve.
				==the resulting kurve is open
				==and non self-crossing
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractComplexElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2d_1DElement"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
		FE1D2DJunction1D2D
	================================================================== -->
	<xs:element 
		name="FE1D2DJunction1D2D"
		type="wb1d2d:FE1D2DJunctionType"
		substitutionGroup="simBase:_FEElement"/>
	<xs:complexType name="FE1D2DJunctionType">
		<xs:annotation>
			<xs:documentation>
				A 1D 2D junction. It is a curve element made of edges.
				The starting and ending node must belong to finit element 
				from different nature. the starting point is from a one d structure
				and the ending node is a 2D network or a continuity line.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ================================================================= 
		Bridge element 
	===================================================================-->
	<!--xs:element 
		name="FE1D2DBridge"
		type="wb1d2d:FE1D2DBridgeType"
		substitutionGroup="simBase:_FEElement"/>
	<xs:complexType name="FE1D2DBridgeType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge"
							minOccurs="1" maxOccurs="unbounded"/>
						<xs:element
							name="shape"
							type="gml:GeometryPropertyType"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType-->
	
	<xs:element 
		name="FE1D2DBridge"
		type="wb1d2d:FE1D2DBridgeType"
		substitutionGroup="simBase:_FEComplexElement"/>
	<xs:complexType name="FE1D2DBridgeType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="simBase:FEAbstractComplexElementType">
					<xs:sequence>
						<!--xs:element 
							ref="wb1d2d:fe1d2dDirectedEdge"
							minOccurs="1" maxOccurs="unbounded"/ -->
						<xs:element
							ref="wb1d2d:fe1d2d_1DElement"
							minOccurs="1" maxOccurs="1"/>
						<xs:element
							name="shape"
							type="gml:GeometryPropertyType"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- =================================================================
				FE1D2D_1DRiverChannel
	================================================================== -->
	<xs:element 
		name="FE1D2D_1DRiverChannel"
		type="wb1d2d:FE1D2D_1DRiverChannelType"
		substitutionGroup="wb1d2d:FE1D2DComplexElement"/>
	<xs:complexType name="FE1D2D_1DRiverChannelType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2DComplexeElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2d_1DElement"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- =================================================================
				Main Channel
	================================================================== -->
	<xs:element 
		name="FE1D2DMainChannel"
		type="wb1d2d:FE1D2DMainChannelType"
		substitutionGroup="wb1d2d:FE1D2DComplexElement"/>
	<xs:complexType name="FE1D2DMainChannelType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2DComplexeElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2d_2DElement"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- =================================================================
				Channel Foreland
	================================================================== -->
	<xs:element 
		name="FE1D2DMainForeland"
		type="wb1d2d:FE1D2DChannelForelandType"
		substitutionGroup="wb1d2d:FE1D2DComplexElement"/>
	<xs:complexType name="FE1D2DChannelForelandType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="wb1d2d:FE1D2DComplexeElementType">
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:fe1d2d_2DElement"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	
	<!-- =================================================================
			fe12dEdgeContainer property 
	===================================================================-->
	<xs:element name="fe1d2dEdgeContainer"
		type="wb1d2d:FE1D2DEdgeContainerPropertyType">
	</xs:element>
	<xs:complexType name="FE1D2DEdgeContainerPropertyType"> 
		<xs:annotation>
			<xs:documentation>
				Associates elements to the element the contains, edges
			</xs:documentation>
		</xs:annotation>
		<!-- xs:complexContent>
			<xs:restriction 
				base="simBase:FEEdgeContainerPropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2D_1DElement" 
						minOccurs="0" 
						maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!-- /xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
			fe12dNodeContainer property 
	===================================================================-->
	<xs:element 
		name="fe1d2dNodeContainer"
		type="wb1d2d:FE1D2DNodeContainerPropertyType"/>  
	<xs:complexType 
		name="FE1D2DNodeContainerPropertyType">
		<xs:annotation>
			<xs:documentation>
				Associates node to egde elements containing it.
			</xs:documentation>
		</xs:annotation>
		<!--xs:complexContent>
			<xs:restriction 
				base="simBase:FENodeContainerPropertyType"--> 
					<xs:sequence>
						<xs:element 
							ref="wb1d2d:FE1D2DEdge"
							minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
	
	<!-- =================================================================
		fe1d2dElement Container property
	================================================================== -->
	<xs:element 
		name="fe1d2dElementContainer"
		type="wb1d2d:FE1D2DElementContainerPropertyType"/>
	
	<xs:complexType 
		name="FE1D2DElementContainerPropertyType">
		<xs:annotation>
			<xs:documentation>
				Associates an element to the complex element containing it
			</xs:documentation>
		</xs:annotation>
		<!-- xs:complexContent>
			<xs:restriction 
				base="simBase:FEElementContainerPropertyType"-->
				<xs:sequence>
					<xs:element 
						ref="wb1d2d:FE1D2DComplexElement"
						minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			<!--/xs:restriction>
		</xs:complexContent-->
	</xs:complexType>
		
</xs:schema>