_import/trunk/Kalypso/sh/KalypsoModel1D2D/src/org/kalypso/kalypsomodel1d2d/schema/v0.0/simulation_model_flow_resistance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  
	Provide schema elements to model flow resistance for
	a simulation area. The definition of the flow resistance properties
	are based on a global definition of rougthness classes and eddy viskosity
	classes. To come to the real flow resistance properties (rougthness, eddy viskosity and 
	marsh parameters) correction, scaling factors are defined.
	The classes for rougthness and eddy viskosities are identified by URIs and are not part
	of this schema.
	It is the task  of the software component, which compute the final property value to 
	resolve the global definitions. 
	
	@author Patrice Congo
-->


<xs:schema 
	targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wb="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<!-- remote from ogc -->
	<!-- xs:import 	
		namespace="http://www.opengis.net/gml" 
		schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/ -->

	<!-- local modified for successful binding -->
	<xs:import
		namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"
		/>
	<!--***********************************************************************
		Definition flowResistance Model 
		********************************************************************-->
		<xs:element 
			name="flowResistanceModel" 
			type="wb:FlowResistanceModel"/>
		
		<xs:complexType name="FlowResistanceModel">
			<xs:complexContent>
				<xs:extension base="gml:AbstractGMLType">
					<xs:sequence>
						<xs:element
							ref="wb:RougthnessCoverage"
							minOccurs="0" maxOccurs="1"/>
						<xs:element 
							ref="wb:EddyViskosityCoverage"
							minOccurs="0" maxOccurs="1"/>
						<xs:element
							ref="wb:MarshFactorCoverage"/>
					</xs:sequence>

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		
	<!-- ==========================Rougthness Coverage================== -->
		<xs:element 
			name="RougthnessCoverage"
			type="wb:RougthnessCoverageType">
		</xs:element>
		<xs:complexType 
			name="RougthnessCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiPointCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="wb:rougthnessRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="rougthnessRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="wb:RougthnessValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="RougthnessValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="RougthnessValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence>
					<xs:element 
						ref="wb:_Rougthness"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_Rougthness"
		type="wb:AbstractRougthnessType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all rougthness elements
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractRougthnessType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="RMA10SRougthness"
		type="wb:RMA10SRougthnessType"
		substitutionGroup="wb:_Rougthness">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="RMA10SRougthnessType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractRougthnessType">
				<xs:sequence>
					<!--TO DO -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		
	<!-- ==========================Eddy Viscosity Coverage================== -->
		<xs:element 
			name="EddyViskosityCoverage"
			type="wb:EddyViskosityCoverageType">
		</xs:element>
		<xs:complexType 
			name="EddyViskosityCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiCurveCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="wb:eddyViscosityRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="eddyViscosityRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="wb:EddyViscosityValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="EddyViscosityValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="EddyViscosityValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="wb:_EddyViscosity"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_EddyViscosity"
		type="wb:AbstractEddyViscosityType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all eddy viskosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractEddyViscosityType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="RMA10SEddyViscosity"
		type="wb:RMA10SEddyViscosityType"
		substitutionGroup="wb:_EddyViscosity">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="RMA10SEddyViscosityType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractEddyViscosityType">
				<xs:sequence>
					<xs:element 
						name="yEddy"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Coefficients used to describe vertical 
								distribution of eddy
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						name="xzEddy"
						type="xs:long">
						<xs:annotation>
							<xs:documentation>
								XZ eddy coefficients for homogeneous flow,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element
						name="yzEddy"
						type="xs:long">
						<xs:annotation>
							<xs:documentation>
								XZ eddy coefficients for homogeneous flow,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ==========================Marh Parameter Coverage================== -->
		<xs:element 
			name="MarshFactorCoverage"
			type="wb:MarshFactorCoverageType">
		</xs:element>
		<xs:complexType 
			name="MarshFactorCoverageType">
			<xs:complexContent>
				<xs:restriction 
					base="gml:MultiCurveCoverageType">
					<xs:sequence>
						<xs:element ref="gml:multiPointDomain"/>
						<xs:element ref="wb:marshFactorRangeSet"/>
						<xs:element ref="gml:coverageFunction" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>		
		</xs:complexType>
		<xs:element 
			name="marshFactorRangeSet"
			substitutionGroup="gml:rangeSet">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
						base="gml:RangeSetType">
						<xs:choice>
							<xs:element 
								ref="wb:MarshFactorValueArray" 
								maxOccurs="unbounded"/>
						</xs:choice>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>		
		</xs:element>
	<xs:element 
		name="MarshFactorValueArray"
		substitutionGroup="gml:ValueArray">
	</xs:element>
	<xs:complexType 
		name="MarshFactorValuePropertyType">
		<xs:complexContent>
			<xs:restriction 
				base="gml:ValuePropertyType">
				<xs:sequence minOccurs="0">
					<xs:element ref="wb:_MarshFactor"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	<xs:element 
		name="_MarshFactor"
		type="wb:AbstractMarshFactorType"
		substitutionGroup="gml:_Object"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Substitution head for all eddy viskosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType 
		name="AbstractMarshFactorType"
		abstract="true">
		<xs:annotation>
			<xs:documentation>
				Base type for all eddy vicosity types
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="RMA10SMarshFactor"
		type="wb:RMA10SMarshFactorType"
		substitutionGroup="wb:_MarshFactor">
		<xs:annotation>
			<xs:documentation>
				Element to define RMAS10S style vertical distribution 
				of eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:complexType 
		name="RMA10SMarshFactorType">
		<xs:complexContent>
			<xs:extension 
				base="wb:AbstractMarshFactorType">
				<xs:sequence>
					<xs:element 
						name="bottomElevationShift"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Bottom elevation shift for A0 at described node 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="deptRange"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Depth range at the described node over which 
								section reduces
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="minActiveFraction"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								Minimum active fraction for the described node 
								over lower section
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element 
						name="absoluteBottomElevation"
						type="xs:double"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Absolute bottom elevation to overrides the
								primary bottom elevation shift defined
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- =============================Rougthness correction factor===================== -->
	<xs:complexType name="RougthnessCorrectionFactorCollectionType">
		<xs:annotation>
			<xs:documentation>
				A colection of rougthness correction factors
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element ref="wb:rougthnessCorrectionFactor"/>
					<xs:element ref="wb:rougthnessCorrectionFactors"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="rougthnessCorrectionFactor"
		type="wb:RougthnessCorrectionFactorPropertyType"
		substitutionGroup="gml:featureMember">
	</xs:element>
	<xs:element 
			name="rougthnessCorrectionFactors">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
							base="gml:FeatureArrayPropertyType">
						<xs:sequence>
							<xs:element 
								ref="wb:RougthnessCorrectionFactor"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
	</xs:element>
	<xs:complexType 
		name="RougthnessCorrectionFactorPropertyType">
		<xs:complexContent>
			<xs:restriction base="gml:FeaturePropertyType">
				<xs:sequence>
					<xs:element 
						ref="wb:RougthnessCorrectionFactor"
						minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element 
		name="RougthnessCorrectionFactor"
		type="wb:RougthnessCorrectionFactorType">
		<xs:annotation>
			<xs:documentation>
				The rougthness correction factor element maps a correction 
				factor to a defined eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType 
		name="RougthnessCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element 
						name="rougthnessURI"
						type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The URI representing the rougthness classes 
								to be corrected.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element
						name="correctionFactor"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								The correction or scaling factor for the correction
							</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<!-- ====================================================================
					Eddy viskosity correction factor
		================================================================= -->
	<xs:complexType name="EddyViscosityCorrectionFactorCollectionType">
		<xs:annotation>
			<xs:documentation>
				A collection of eddy viscosity correction factors
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element ref="wb:eddyViscosityCorrectionFactor"/>
					<xs:element ref="wb:eddyViscosityCorrectionFactors"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="eddyViscosityCorrectionFactor"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="wb:EddyViscosityCorrectionFactor"
							minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element 
		name="eddyViscosityCorrectionFactors"
		substitutionGroup="gml:featureMembers">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
							base="gml:FeatureArrayPropertyType">
						<xs:sequence>
							<xs:element 
								ref="wb:EddyViscosityCorrectionFactor"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
	</xs:element>
	
	
	<xs:element 
		name="EddyViscosityCorrectionFactor"
		type="wb:EddyViscosityCorrectionFactorType">
		<xs:annotation>
			<xs:documentation>
				The eddy viscosity correction factor map a correction 
				factor to a defined eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType 
		name="EddyViscosityCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>					
					<xs:element 
						name="eddyViscosityURI"
						type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The URI representing the eddy vikosity class to be 
								corrected
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element
						name="correctionFactor"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								The correction or scaling factor for the eddy viskosity
							</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>	
	
	<!-- ====================================================================
					Marsh correction factor
		================================================================= -->
	<xs:complexType name="MarshParamCorrectionFactorCollectionType">
		<xs:annotation>
			<xs:documentation>
				A collection of eddy viscosity correction factors
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction 
				base="gml:AbstractFeatureCollectionType">
				<xs:sequence>
					<xs:element ref="wb:marshParamCorrectionFactor"/>
					<xs:element ref="wb:marshParamCorrectionFactors"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element 
		name="marshParamCorrectionFactor"
		substitutionGroup="gml:featureMember">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="gml:FeaturePropertyType">
					<xs:sequence>
						<xs:element 
							ref="wb:MarshParamCorrectionFactor"
							minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref=" gml:AssociationAttributeGroup "/>			
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element 
		name="marshParamCorrectionFactors"
		substitutionGroup="gml:featureMembers">
			<xs:complexType>
				<xs:complexContent>
					<xs:restriction 
							base="gml:FeatureArrayPropertyType">
						<xs:sequence>
							<xs:element 
								ref="wb:MarshParamCorrectionFactor"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
	</xs:element>
	
	
	<xs:element 
		name="MarshParamCorrectionFactor"
		type="wb:MarshParamCorrectionFactorType">
		<xs:annotation>
			<xs:documentation>
				The eddy viscosity correction factor map a correction 
				factor to a defined eddy viscosity
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType 
		name="MarshParamCorrectionFactorType">
		<xs:complexContent>
			<xs:extension 
				base="gml:AbstractGMLType">
				<xs:sequence>					
					<xs:element 
						name="roughnessURI"
						type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>
								The URI representing the rougthness class, 
								which associated marsh param definition is to be 
								corrected
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element
						name="marshParamFactor"
						type="xs:double">
						<xs:annotation>
							<xs:documentation>
								The correction or scaling factor for the marsh factor
							</xs:documentation>
						</xs:annotation>						
					</xs:element>					
				</xs:sequence>	
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
</xs:schema>