tags/Kalypso_2.2.0_Milestone2_20090817/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/schemata/control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:na="org.kalypso.na.control" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="org.kalypso.na.control"
	elementFormDefault="qualified" version="1.0">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>2.1.2</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd" />
	<element name="NAControl" type="na:_NAControlType" />
	<complexType name="_NAControlBaseType">
		<complexContent>
			<restriction base="gml:AbstractFeatureType" />
		</complexContent>
	</complexType>
	<complexType name="_NAControlType">
		<complexContent>
			<extension base="na:_NAControlBaseType">
				<sequence>
					<element name="scenarioId" type="string" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Szenario</label>
								<tooltip>Szenario des Rechenfalles (optionale Angabe), wird benutzt um zwischen Katastrophentest-Szenarien und echten Szenarien zu unterscheiden</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Scenario</label>
								<tooltip>Scenario of calculation case (optional), used to distinguish between disaster test szenarios and real szenarios</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="startsimulation" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>Start der Simulation</label>
								<tooltip>Startzeitpunkt der Modellrechung</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Simulation start</label>
								<tooltip>Beginning of the model calculation</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="startforecast" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>Start der Vorhersage</label>
								<tooltip>Startzeitpunkt der Vorhersagerechnung bzw. Ende der Modellrechnung bei Berechnung ohne Vorhersage</tooltip>
								<description>Startzeitpunkt der Vorhersage bei einer Berechnung mit Vorhersage/ Ende der Simulation bei Berechnung ohne Vorhersage</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Forecast start</label>
								<tooltip>Beginning of forecast calculation resp. end of the model calculation without forecast</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="hoursforecast" type="int" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Vorhersagezeitraum</label>
								<tooltip>Vorhersagezeitraum [h]</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Forecast period</label>
								<tooltip>Forecast period [h]</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="minutesTimestep" type="int" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Zeitschritt</label>
								<tooltip>Berechnungszeitschritt [min]</tooltip>
								<description>Zeitschritt in welchem die Berechnung der Ergebnisse erfolgt [min]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Timestep</label>
								<tooltip>Calculation time interval [min]</tooltip>
								<description>Timestep, in which the calculation takes place [min]</description>
							</documentation>
						</annotation>
					</element>
					<element name="versionKalypsoNA" type="na:versionEnumerationType">
						<annotation>
							<documentation xml:lang="de">
								<label>Version Kalypso-NA (optional)</label>
								<tooltip>Version des Kalypso-NA Rechenkerns (optionale Angabe)</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Version Kalypso-RRM (optional)</label>
								<tooltip>Version of Kalypso-RRM calculation kernel</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="editor" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Ersteller</label>
								<tooltip>Name des Erstellers</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Originator</label>
								<tooltip>Name of the originator</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="description" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Beschreibung</label>
								<tooltip>Kurzbeschreibung dieses Rechenfalls</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Description</label>
								<tooltip>Short description of this calculation</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="comment" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Kommentar</label>
								<tooltip>Langbeschreibung dieses Rechenfalls</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Comment</label>
								<tooltip>Detailed description of this calculation</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="calctime" type="dateTime">
						<annotation>
							<documentation xml:lang="de">
								<label>Erstellungszeitpunkt</label>
								<tooltip>Zeitpunkt der Erstellung des Rechenfalls</tooltip>
								<description />
							</documentation>
							<documentation xml:lang="en">
								<label>Starting point of the originator</label>
								<tooltip>Starting point of generation of calculation</tooltip>
								<description />
							</documentation>
						</annotation>
					</element>
					<element name="mergeCasePath" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Fortgesetzte Rechenvariante</label>
								<tooltip>Pfad auf fortgesetzte Rechenvariante</tooltip>
								<description></description>
							</documentation>
						</annotation>
					</element>
					<element name="pns" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>synthetische Niederschlag</label>
								<tooltip>Berechnung mit synthetischem Niederschlag</tooltip>
								<description>Berechnung mit synthetischem Niederschlag</description>
							</documentation>
							<documentation xml:lang="en">
								<label>synthetic precipitation</label>
								<tooltip>calculation based on synthetic precipitation</tooltip>
								<description>calculation based on synthetic precipitation</description>
							</documentation>
						</annotation>
					</element>
					<!--In der Oberfläche wird die Wiederkehrzeit verwendet - für das Modell wird dies zur Jährlichkeit umgerechnet-->
					<element name="xjah" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Wiederkehrzeit</label>
								<tooltip>Wiederkehrzeit [a]</tooltip>
								<description>Wiederkehrzeit des synthetischen Niederschlagereignisses [a]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>return period</label>
								<tooltip>return period [a]</tooltip>
								<description>return period [a]</description>
							</documentation>
						</annotation>
					</element>
					<element name="xwahl2" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Dauer</label>
								<tooltip>Niederschlagsdauer [min]</tooltip>
								<description>Dauer des synthetischen Niederschlagereignisses [min]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>duration</label>
								<tooltip>duration [min]</tooltip>
								<description>duration [min]</description>
							</documentation>
						</annotation>
					</element>
					<element name="ipver" type="na:ipverEnumerationType">
						<annotation>
							<documentation xml:lang="de">
								<label>Verteilung</label>
								<tooltip>Niederschlagsverteilung</tooltip>
								<description>Verteilung des synthetischen Niederschlagereignisses (block, linksschief, zentral, rechtsschief)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Distribution</label>
								<tooltip>precipitation distribution</tooltip>
								<description>distribution of the synthetic precipitation</description>
							</documentation>
						</annotation>
					</element>
					<element name="returnPeriod" type="na:PositiveIntType" default="1">
						<!-- default = "1" only for backward compatibility -->
						<annotation>
							<documentation xml:lang="de">
								<label><![CDATA[Wiederkehr Intervall (optional)]]></label>
								<tooltip><![CDATA[Wiederkehr Intervall (optional)]]></tooltip>
								<description><![CDATA[Wiederkehr Intervall (optional)]]></description>
							</documentation>
							<documentation xml:lang="en">
								<label><![CDATA[Return interval (optional)]]></label>
								<tooltip><![CDATA[Return interval (optional)]]></tooltip>
								<description><![CDATA[Return interval of the event (optional)]]></description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="PositiveIntType">
		<restriction base="int">
			<minInclusive value="1" />
		</restriction>
	</simpleType>
	<simpleType name="ipverEnumerationType">
		<restriction base="string">
			<enumeration value="Blockregen" />
			<enumeration value="linksschiefer Regen" />
			<enumeration value="Zentralregen" />
			<enumeration value="rechtsschiefer Regen" />
		</restriction>
	</simpleType>
	<simpleType name="versionEnumerationType">
		<restriction base="string">
			<enumeration value="v2.0.5">
				<annotation>
					<documentation>
						<label><![CDATA[Version 2.0.5]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="v2.0.6">
				<annotation>
					<documentation>
						<label><![CDATA[Version 2.0.6]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="v2.0.7">
				<annotation>
					<documentation>
						<label><![CDATA[Version 2.0.7]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="v2.0.8">
				<annotation>
					<documentation>
						<label><![CDATA[Version 2.0.8]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="v2.1.1">
				<annotation>
					<documentation>
						<label><![CDATA[Version 2.1.1]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="v2.1.3">
				<annotation>
					<documentation>
						<label><![CDATA[Version 2.1.3]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="neueste">
				<annotation>
					<documentation xml:lang="de">
						<label><![CDATA[Neueste Version]]></label>
					</documentation>
					<documentation xml:lang="en">
						<label><![CDATA[Latest version]]></label>
					</documentation>
				</annotation>
			</enumeration>
			<!-- 
			<enumeration value="latest" />
			 -->
			<enumeration value="test">
				<annotation>
					<documentation>
						<label><![CDATA[Test Version]]></label>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
