_import/trunk/Gaja3dService/schema/gaja3d/wpsExecute_gaja3d_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://org.kalypso.gaja3d.service"
	xmlns:tns="http://org.kalypso.gaja3d.service" elementFormDefault="qualified"
	xmlns:gml="http://www.opengis.net/gml" xmlns:wps="http://www.opengis.net/wps/1.0.0"
	xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink">

	<!--
		====================== I M P O R T S ======================
		===========================================================
	-->

	<import namespace="http://www.opengis.net/wps/1.0.0"
		schemaLocation="wps/1.0.0/wpsAll.xsd" />
	<import namespace="http://www.opengis.net/ows/1.1"
		schemaLocation="ows/1.1.0/owsAll.xsd" />
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink/1.0.0/xlinks.xsd" />

	<!--
		============ R E S O U R C E P R O P E R T I E S ===========
		============================================================
	-->

	<element name="_Gaja3DResourcePropertyLink" type="tns:Gaja3DResourcePropertyLinkType"
		abstract="true" />
	<complexType name="Gaja3DResourcePropertyLinkType">
		<complexContent>
			<extension base="tns:Gaja3DResourcePropertyType">
				<sequence>
					<element name="ref" type="anyURI" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Gaja3DResourcePropertyType">
		<sequence>
			<element name="identifier" type="ows:CodeType" />
		</sequence>
	</complexType>
	<element name="_Gaja3DResourceProperty" type="tns:Gaja3DResourcePropertyType"
		abstract="true" />

	<!-- property types -->

	<element name="Boundary" substitutionGroup="tns:_Gaja3DResourcePropertyLink">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyLinkType" />
			</complexContent>
		</complexType>
	</element>

	<element name="DemPoints" substitutionGroup="tns:_Gaja3DResourcePropertyLink">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyLinkType" />
			</complexContent>
		</complexType>
	</element>

	<element name="DemGrid" substitutionGroup="tns:_Gaja3DResourcePropertyLink">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyLinkType" />
			</complexContent>
		</complexType>
	</element>

	<element name="Breaklines" substitutionGroup="tns:_Gaja3DResourcePropertyLink">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyLinkType" />
			</complexContent>
		</complexType>
	</element>

	<element name="ModelTin" substitutionGroup="tns:_Gaja3DResourcePropertyLink">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyLinkType" />
			</complexContent>
		</complexType>
	</element>


	<!-- parameter types -->

	<element name="GridX" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="dx" type="double" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="GridY" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="dy" type="double" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="EdgeFilter" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="method" default="ood">
							<simpleType>
								<restriction base="string">
									<enumeration value="ood" />
									<enumeration value="sobel" />
									<enumeration value="prewitt" />
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="SmoothFilter" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="method" default="none">
							<simpleType>
								<restriction base="string">
									<enumeration value="bilateral" />
									<enumeration value="gauss" />
									<enumeration value="none" />
								</restriction>
							</simpleType>
						</element>
						<element name="smooth" type="int" default="9" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="FeatureDetector" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="method" default="simple">
							<simpleType>
								<restriction base="string">
									<enumeration value="simple" />
									<enumeration value="canny" />
								</restriction>
							</simpleType>
						</element>
						<element name="lowThresh" type="double" />
						<element name="highThresh" type="double" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="DistanceTolerance" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="tolerance" type="double" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="MinAngle" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="angle" type="double" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="MaxArea" substitutionGroup="tns:_Gaja3DResourceProperty">
		<complexType>
			<complexContent>
				<extension base="tns:Gaja3DResourcePropertyType">
					<sequence>
						<element name="area" type="double" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="CreateGridParameters" type="tns:CreateGridParametersType" />
	<element name="DetectBreaklinesParameters" type="tns:DetectBreaklinesParametersType" />
	<element name="CreateTinParameters" type="tns:CreateTinParametersType" />

	<!--
		==================== P A R A M E T E R S ===================
		============================================================
	-->
	<complexType name="CreateGridParametersType">
		<sequence>
			<element ref="tns:Boundary" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:DemPoints" minOccurs="0" />
			<element ref="tns:GridX" minOccurs="0" />
			<element ref="tns:GridY" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="CreateGridResponseType">
		<sequence>
			<element ref="tns:DemGrid" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="DetectBreaklinesParametersType">
		<sequence>
			<element ref="tns:Boundary" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:DemGrid" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:EdgeFilter" minOccurs="0" />
			<element ref="tns:SmoothFilter" minOccurs="0" />
			<element ref="tns:FeatureDetector" minOccurs="0" />
			<element ref="tns:DistanceTolerance" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="DetectBreaklinesResponseType">
		<sequence>
			<element ref="tns:Breaklines" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="CreateTinParametersType">
		<sequence>
			<element ref="tns:Boundary" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:Breaklines" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:DemGrid" minOccurs="0" maxOccurs="unbounded" />
			<element ref="tns:MinAngle" minOccurs="0" />
			<element ref="tns:MaxArea" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="CreateTinResponseType">
		<sequence>
			<element ref="tns:ModelTin" />
		</sequence>
	</complexType>
</schema>