KalypsoModelNA/src/org/kalypso/convert/namodel/schema/v0.1/namodell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:na="http://www.tuhh.de/kalypsoNA" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" targetNamespace="http://www.tuhh.de/kalypsoNA" elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="obslink.xsd"/>
	<!--<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	
               <element name="Abfluss" type="obslink:TimeseriesLinkType/>
        jetzt: <element name="Abfluss" type="obslink:TimeseriesLinkFeatureProperty/>
-->
	<element name="NaModell" type="na:NaModellType"/>
	<complexType name="NaModellType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="CatchmentCollectionMember" type="na:CatchmentCollectionAssociationType"/>
					<element name="ChannelCollectionMember" type="na:ChannelCollectionAssociationType"/>
					<element name="NodeCollectionMember" type="na:NodeCollectionAssociationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- __ Nodes _________________________________ -->
	<complexType name="NodeCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:NodeCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="NodeCollection" type="na:NodeCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="NodeCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="nodeMember" type="na:NodeAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NodeAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Node"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Node" type="na:NodeFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="NodeFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Ort" type="gml:PointPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Ort</label>
								<tooltip>geometriescher Ort</tooltip>
								<description>Geometrie des Objektes</description>
							</documentation>
						</annotation>
					</element>
					<element name="num" type="integer">
						<annotation>
							<documentation xml:lang="de">
								<label>Nummer</label>
								<tooltip>Knoten Nummer</tooltip>
								<description>Jedem Knoten ist eine Knotennummer zugewiesen. Diese ist eindeutig und sollte nicht veraendert werden</description>
							</documentation>
						</annotation>
					</element>
					<element name="generateResult" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>berechnen</label>
								<tooltip>Berechnung bzw. Ergebnisse erzeugen</tooltip>
								<description>Auswahl bewirkt, dass bei einer Berechnung ein Ergebnis für diesen Knoten erzeugt wird.</description>
							</documentation>
						</annotation>
					</element>
					<element name="downStreamChannelMember" type="na:ChannelAssociationType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Unterwasserstrang</label>
								<tooltip>Gewaesserstrang der Unterwasser anschliesst</tooltip>
								<description>Gewaesserstrang, welcher im weiteren Fliessverlauf Unterwasser anschliesst</description>
							</documentation>
						</annotation>
					</element>
					<!-- ZR Zufluss falls zufluss vorhanden -->
					<element name="zuflussZRRepository" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>Zufluss Eingang</label>
								<tooltip>Verknuepfte Zuflusszeitreihe, Eingangsdaten</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="zuflussZRRepositoryVorhersage" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>Zufluss Eingang</label>
								<tooltip>Verknuepfte Zuflusszeitreihe, Eingangsdaten Vorhersage</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="zuflussZR" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>Zufluss Berechnung</label>
								<tooltip>Verknuepfte Zuflusszeitreihe, Berechnungsdaten</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="nzufPfad" type="string"/>
					<!-- TODO loeschen -->
					<!-- ZR Pegel falls Pegel vorhanden-->
					<element name="pegelZRRepository" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>Pegel(rep)</label>
								<tooltip>Verknuepfung Pegel Repository</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="pegelZR" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>Pegel (lok)</label>
								<tooltip>Verknuepfung Pegel lokal</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<!-- ZR berechnet, hier wird das ergebnis gespeichert-->
					<element name="qberechnetZR" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>Abfluss berechnet</label>
								<tooltip>Berechnete Abflussganglinie</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="pegelBerechnetZRAblage" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>ZR Ablage Berechnung</label>
								<tooltip>Verknuepfung zur Ablage des Ergebnisses in der Datenbank</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<!-- verzweigung -->
					<element name="zproz" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Verzweigungsfaktor</label>
								<tooltip>Abflussanteil zum Verzweigungsknoten (0-1)</tooltip>
								<description>Anteil des Abflusses, der dem Verzweigungsknoten zugefuehrt wird (0-1)</description>
							</documentation>
						</annotation>
					</element>
					<element name="verzweigungNodeMember" type="na:NodeAssociationType">
						<annotation>
							<documentation xml:lang="de">
								<label>Verzweigung</label>
								<tooltip>Verknuepfung Zielknoten der Verzweigung</tooltip>
								<description>Zielknoten, dem der angegebene Verzweigungsanteil des Abflusses zugefuehrt wird</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ________Catchments__________________ -->
	<complexType name="CatchmentCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:CatchmentCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="CatchmentCollection" type="na:CatchmentCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CatchmentCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="catchmentMember" type="na:CatchmentAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Catchment" type="na:CatchmentFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!--
    ___________(inum,i5)____(ispk,i3)
(text,a80)
(flaech,*)
(pns,a1)_(kurzzeit,a)_(namfn,a)_(langzeit,a)_(faktn,f5.2)
(namft,a)_(namept,a)
(namfzf,a)
(namhydro,a)
(snowtype,a15)(ftem,*)_(fver,*)
    -->
					<element name="Ort" type="gml:PolygonPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Ort</label>
								<tooltip>geometriescher Ort</tooltip>
								<description>Geometrie des Objektes</description>
							</documentation>
						</annotation>
					</element>
					<element name="inum" type="integer">
						<annotation>
							<documentation xml:lang="de">
								<label>TG-Nummer</label>
								<tooltip>Teilgebietsnummer</tooltip>
								<description>Nummer des Teilgebietes</description>
							</documentation>
						</annotation>
					</element>
					<element name="generateResult" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>berechnen</label>
								<tooltip>Berechnung bzw. Ergebnisse erzeugen</tooltip>
								<description>Auswahl bewirkt, dass bei einer Berechnung ein Ergebnis für dieses Gebiet erzeugt wird.</description>
							</documentation>
						</annotation>
					</element>
					<element name="ispk" type="integer">
						<annotation>
							<documentation xml:lang="de">
								<label>Gebietsart</label>
								<tooltip>Art der Berechnung (Gebietsbearbeitungsfall)</tooltip>
								<description>Bearbeitung/Berechnung des Gebietes mit Hydrotopen - nicht veraenderbar</description>
							</documentation>
						</annotation>
					</element>
					<element name="text" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Kommentar</label>
								<tooltip>Gebietsbeschreibung</tooltip>
								<description>Kommentar/Beschreibung zur leichteren Gebietszuordnung, evtl. mittels Namensgebung </description>
							</documentation>
						</annotation>
					</element>
					<!-- TODO benoetigt ? -->
					<element name="flaech" type="long">
						<annotation>
							<documentation xml:lang="de">
								<label>TG-Flaeche</label>
								<tooltip>Flaeche des Teilgebietes [m^2]</tooltip>
								<description>Gesamtfläche des Teilgebietes [m^2]</description>
							</documentation>
						</annotation>
						<!-- JH, Flaeche kann auch aus der Hydrotopdatei hierher übernommen werden (wird im Modell ohnehin aus Hydrotopdatei übernommen)-->
					</element>
					<element name="pns" type="string"/>
					<!-- TODO loeschen, standardwert rausschreiben -->
					<element name="kurzzeit" type="string"/>
					<!-- TODO loeschen, da jetzt Teilgebietsmodell -->
					<element name="langzeit" type="string"/>
					<!-- TODO loeschen, da jetzt Teilgebietsmodell -->
					<element name="namfn" type="string"/>
					<!-- TODO loeschen, da standard-name -->
					<element name="faktn" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor Niederschlag</label>
								<tooltip>Korrekturfaktor des Niederschlages, multiplikativ</tooltip>
								<description>Korrekturfaktor mit dem alle Werte der Niederschlagszeitreihe zur Berechnung multipliziert werden</description>
							</documentation>
						</annotation>
					</element>
					<element name="namft" type="string"/>
					<!-- TODO loeschen, da standard-name -->
					<element name="namept" type="string"/>
					<!-- TODO loeschen, da standard-name -->
					<element name="namfzf" type="string"/>
					<!-- TODO zeitflaechenfunktion lesen -->
					<element name="namhydro" type="string"/>
					<!-- TODO hydrotope uebernehmen -->
					<element name="snowtype" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Schneetyp</label>
								<tooltip>Schneetyp Referenz DB</tooltip>
								<description>Schneetypen-Referenz auf Schneedatenbank</description>
							</documentation>
						</annotation>
						<!-- TODO standard oder snowdatei uebernehmen -->
					</element>
					<element name="ftem" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Temperaturverschiebung</label>
								<tooltip>Korrekturwert Temperatur, additiv [°C]</tooltip>
								<description>Korrekturwert, der zu jedem Wert der Temperaturzeitreihe addiert wird</description>
							</documentation>
						</annotation>
					</element>
					<element name="fver" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor Verdunstung</label>
								<tooltip>Korreturfaktor der Verdunstung (multiplikativ)</tooltip>
								<description>Korrekturfaktor mit dem alle Werte der Verdunstungszeitreihe zur Berechnung multipliziert werden</description>
							</documentation>
						</annotation>
					</element>
					<!--
(vsg,f5.3)(anzlayy,i5)_____(bimax,f5.1)_____(bianf,f5.1)(izkn_vers,f5.1)_____(tint,f5.1)_____(rintmx,f5.1)
-->
					<element name="vsg" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Versiegelungsgrad</label>
								<tooltip>Versiegelungsgrad (0.0-1.0)</tooltip>
								<description>Versiegelungsanteil des Teilgebietes (nur zur Info, Versiegelungsgrad zur Berechnung wird aus Hydrotop übernommen)</description>
							</documentation>
						</annotation>
						<!--JH, wird aus Hydrotopdatei übernommen (im Rechenkern), ist hier daher auch eigentlich überflüssig-->
					</element>
					<element name="anzlayy" type="integer"/>
					<!-- TODO loeschen sollte aus listtenanzahl hervorgehen-->
					<element name="bimax" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor max. Interzeption</label>
								<tooltip>Korrekturfaktor maximaler Inhalt Interzeptionsspeicher, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor zum maximalen Interzeptionsspeicherinhalt</description>
							</documentation>
						</annotation>
						<!-- JH, wird im Code nicht für ispk=7 verwendet, wegen doppelter Definition m_retlay-->
					</element>
					<element name="bianf" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor Inhalt Interzeption</label>
								<tooltip>Korrekturfaktor Anfangsinhalt Interzeptionsspeicher</tooltip>
								<description>Multiplikativer Faktor zur Korrektur des Anfangsinhaltes im Interzeptionsspeicher</description>
							</documentation>
						</annotation>
					</element>
					<element name="faktorBianf" type="double"/>
					<!-- TODO loeschen, bianf ist schon der faktor -->
					<element name="izkn_vers" type="integer">
						<annotation>
							<documentation xml:lang="de">
								<label>Zielknoten Qvers</label>
								<tooltip>Zielknoten Abfluss versiegelter Flächen</tooltip>
								<description>Zielknoten zu welchem bei Bedarf der Abfluss versiegelter Flächen umgeleitet werden kann</description>
							</documentation>
						</annotation>
						<!-- TODO loeschen, geht aus relation hervor, JH: nicht löschen, hat Bedeutung -->
					</element>
					<element name="tint" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anstieg Interflow</label>
								<tooltip>Anstiegsrate Interflow [mm/h]</tooltip>
								<description>Anstiegsrate des Interflows</description>
							</documentation>
						</annotation>
					</element>
					<element name="rintmx" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>max Interflow</label>
								<tooltip>maximaler Interflow [mm]</tooltip>
								<description>maximal moeglicher Interflow</description>
							</documentation>
						</annotation>
					</element>
					<!-- 
 (cinh,*)_(cind,*)_(cex,*)_(bmax,*)_(banf,*)_(fko,*)_(retlay,*)_(evalay,*)
siehe bodenkorrekturmember...
-->
					<element name="bodenkorrekturmember" type="na:bodenschichtkorrekturAssociationType" maxOccurs="10">
						<annotation>
							<documentation xml:lang="de">
								<label>Link Bodenkorrektur</label>
								<tooltip>Link Korrekturparameter Bodenschichten</tooltip>
								<description>Link zu den Bodenkorrekturparametern der einzelnen Bodenschichten des Teilgebietes</description>
							</documentation>
						</annotation>
					</element>
					<!--
(f_eva,f4.1)_(aint,f4.1)_(aigw,f6.2)_(fint,f4.2)_(ftra,f4.2)
(retvs,*)_(retob,*)_(retint,*)_(retbas,*)_(retgw,*)_(retklu,*)
(igwzu,*)
-->
					<element name="f_eva" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Korr. Verdunstung Vegetationsabhaengig</label>
								<tooltip>Vegetationsabhaengige Korrektur der Verdunstung</tooltip>
								<description>Vegetationsabhaengige Korrektur der Verdunstung</description>
							</documentation>
						</annotation>
						<!-- JH, wird fuer Gebietsbearbeitungsfall ispk =7 nicht verwendet-->
					</element>
					<element name="aint" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangsinhalt Interzeptionsspeicher</label>
								<tooltip>Anfangsinhalt Interzeptionsspeicher (Anfangswert)</tooltip>
								<description>Inhalt des Interzeptionsspeichers als Anfangswert für den ersten Berechnungszyklus </description>
							</documentation>
						</annotation>
					</element>
					<element name="aigw" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangsinhalt Grundwasserspeicher</label>
								<tooltip>Anfangsinhalt Grundwasserspeicher (Anfangswert)</tooltip>
								<description>Inhalt des Grundwasserspeichers als Anfangswert für den ersten Berechnungszyklus</description>
							</documentation>
						</annotation>
					</element>
					<element name="faktorAigw" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor AIGW</label>
								<tooltip>Optimierungsfaktor Anfangsinhalt GW Speicher</tooltip>
								<description>Faktor, welcher bei der Berechnung einer Optimierung den Anfangsinhalt Grundwasserspeicher optimiert</description>
							</documentation>
						</annotation>
					</element>
					<element name="fint" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor Interzeptionsspeicher</label>
								<tooltip>Korrekturfaktor des max. Interzeptiosspeichers Winterhalbjahr, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor des maximalen Inhaltes im Interzeptionsspeicher für das Winterhalbjahr</description>
							</documentation>
						</annotation>
					</element>
					<element name="ftra" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor Verdunstung</label>
								<tooltip>Korrekturfaktor der Verdunstung Winterhalbjahr, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor der Verdunstung für das Winterhalbjahr</description>
							</documentation>
						</annotation>
					</element>
					<element name="retvs" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>k QObfl.vers.</label>
								<tooltip>Retentionskonstante Oberflaechenabfluss, versiegelt [h]</tooltip>
								<description>Retentionskonstante (Speicherkonstante) des Oberflaechenabflusses versiegelter Flaechen</description>
							</documentation>
						</annotation>
					</element>
					<element name="retob" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>k QObfl.nat.</label>
								<tooltip>Retentionskonstante Oberflaechenabfluss, natuerlich [h]</tooltip>
								<description>Retentionskonstante (Speicherkonstante) des Oberflaechenabflusses natuerlicher Flaechen</description>
							</documentation>
						</annotation>
					</element>
					<element name="retint" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>k QIntf.</label>
								<tooltip>Retentionskonstante Interflow [h]</tooltip>
								<description>Retentionskonstante (Speicherkonstante) des Interflows</description>
							</documentation>
						</annotation>
					</element>
					<element name="faktorRetobRetint" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor RETOB,RETINT</label>
								<tooltip>Optimierungsfaktor Retentionskonstanten Oberflächenabfluss (natürlich) und Interflow</tooltip>
								<description>Faktor, welcher bei der Berechnung einer Optimierung die Retentionskonstanten des Oberflächenabflusses natürlicher Flächen und des Interflows optimiert</description>
							</documentation>
						</annotation>
					</element>
					<element name="retbas" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>k QBasis</label>
								<tooltip>Retentionskonstante Basisabfluss [h]</tooltip>
								<description>Retentionskonstante (Speicherkonstante) des Basisabflusses</description>
							</documentation>
						</annotation>
					</element>
					<element name="retgw" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>k QGw</label>
								<tooltip>Retentionskonstante Grundwasser [h]</tooltip>
								<description>Retentionskonstante (Speicherkonstante) des Grundwasserflusses in die Nachbargebiete</description>
							</documentation>
						</annotation>
					</element>
					<element name="retklu" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>k Q tiefenGw</label>
								<tooltip>Retentionskonstante Tiefengrundwasserleiter [h]</tooltip>
								<description>Retentionskonstante (Speicherkonstante) des Flusses im Tiefengrundwasserleiter</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="igwzu" type="integer"/>
					<!-- TODO loeschen, sollte aus listenanzahl hervorgehen -->
					<!--
 (ngwzu,*)_...
 (gwwi,*)_...
-->
					<element name="grundwasserabflussMember" type="na:grundwasserabflussAssociationType" maxOccurs="6">
						<annotation>
							<documentation xml:lang="de">
								<label>Link GW Relation</label>
								<tooltip>Link Grundwasserrelation</tooltip>
								<description>Link Grundwasserrelation in Nachbargebiete</description>
							</documentation>
						</annotation>
					</element>
					<element name="entwaesserungsStrangMember" type="na:ChannelAssociationType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Zielstrang</label>
								<tooltip>Relation zum Entwässerungsstrang</tooltip>
								<description>Relation zum dem Strang, in welchen das Teilgebiet entwässert.</description>
							</documentation>
						</annotation>
					</element>
					<!--	<element name="ngwzu" type="string"/>
					<element name="gwwi" type="string"/>
					-->
					<!-- (hgru,*)(hgro,*)(rtr,*)(pors,*)(gwsent,*)(klupor,*)(izkn,*)  -->
					<element name="hgru" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>min h GW</label>
								<tooltip>Maechtigkeit des Grundwasserleiters bis zur Gerinnesohle [m]</tooltip>
								<description>Grenzgrundwasserstand bei dessen Ueberschreitung Basisabfluss entsteht</description>
							</documentation>
						</annotation>
					</element>
					<element name="hgro" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>max h GW</label>
								<tooltip>Maechtigkeit Grundwasserleiter [m]</tooltip>
								<description>Maximaler Grundwasserstand, welcher der Maechtigkeit des Grundwasserleiters entspricht</description>
							</documentation>
						</annotation>
					</element>
					<element name="rtr" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Aufteilungsfaktor GW</label>
								<tooltip>Auteilungsfaktor flacher und tiefer Grundwasserleiter (0-1)</tooltip>
								<description>Auteilungsfaktor flacher und tiefer Grundwasserleiter (Angabe des Anteils flacher Grundwasserleiter)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="pors" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Porositaet GW</label>
								<tooltip>Porositaet Grundwasserspeicher (0-1)</tooltip>
								<description>Porositaet des Grundwasserspeichers</description>
							</documentation>
						</annotation>
					</element>
					<element name="gwsent" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Entnahme GW</label>
								<tooltip>Entnahmemenge Grundwasser [m^3/h]</tooltip>
								<description>kontinuierliche Entnahmemenge aus dem flachen Grundwasserspeicher [m^3/h]</description>
							</documentation>
						</annotation>
					</element>
					<element name="klupor" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Zuflussrate tiefenGW</label>
								<tooltip>Zuflussrate Tiefengrundwasserleiter [%]</tooltip>
								<description>Zuflussrate in den Tiefengrundwasserleiter (Anteil der Tiefengrundwasserflaeche an der Gesamtgebietsflaeche)</description>
							</documentation>
						</annotation>
					</element>
					<element name="izkn" type="integer">
						<annotation>
							<documentation xml:lang="de">
								<label>Relation tiefenGW</label>
								<tooltip>Relation zum Knoten des Tiefengrundwasserleiters</tooltip>
								<description>Rekation zum Knoten, welcher den Abfluss Tiefengrundwasser aufnimmt</description>
							</documentation>
						</annotation>
						<!-- TODO loeschen, sollte aus relation hervorgehen, JH: nicht löschen, ist weitere Relation. -->
					</element>
					<element name="temperaturZRRepository" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="temperaturZRRepositoryVorhersage" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="temperaturZR" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<!-- ZR niederschlag -->
					<element name="niederschlagZRRepository" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="niederschlagZRRepositoryVorhersage" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="niederschlagZR" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<!-- temperatur -->
					<element name="temperaturZRRepository" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="temperaturZRRepositoryVorhersage" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
					<element name="temperaturZR" type="obslink:TimeseriesLinkFeatureProperty">
						<annotation>
							<documentation xml:lang="de">
								<label>l</label>
								<tooltip>tip</tooltip>
								<description>.</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ______________Channels_____________________ -->
	<complexType name="ChannelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:ChannelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="ChannelCollection" type="na:ChannelCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="ChannelCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="channelMember" type="na:ChannelAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ChannelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:_Channel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="_Channel" type="na:AbstractChannelType" abstract="true" substitutionGroup="gml:_Feature"/>
	<!-- Channel super type -->
	<complexType name="AbstractChannelType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Ort" type="gml:LineStringPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Ort</label>
								<tooltip>geometriescher Ort</tooltip>
								<description>Geometrie des Objektes</description>
							</documentation>
						</annotation>
					</element>
					<element name="inum" type="integer">
						<annotation>
							<documentation xml:lang="de">
								<label>Nummer</label>
								<tooltip>Strangnummer</tooltip>
								<description>Nummer des Gewaesserstranges</description>
							</documentation>
						</annotation>
					</element>
					<element name="downStreamNodeMember" type="na:NodeAssociationType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Relation UW-Knoten</label>
								<tooltip>Relation Unterwasserknoten</tooltip>
								<description>Relation zum Unterwasserknoten des Stranges</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- Virtual Channel -->
	<element name="VirtualChannel" type="na:VirtualChannelFeatureType" substitutionGroup="na:_Channel"/>
	<complexType name="VirtualChannelFeatureType">
		<complexContent>
			<extension base="na:AbstractChannelType">
				<sequence>
					<!-- virtueller channel hat sonst keine properties -->
					<!--<element name="kjh" type="string"/>-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- KM-Channel -->
	<element name="KMChannel" type="na:KMChannelFeatureType" substitutionGroup="na:_Channel"/>
	<complexType name="KMChannelFeatureType">
		<complexContent>
			<extension base="na:AbstractChannelType">
				<sequence>
					<element name="qfmax" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Q-Bordvoll</label>
								<tooltip>bordvoller Abfluss [m^3/s]</tooltip>
								<description>maximaler Abfluss innerhalb des Flussschlauches</description>
							</documentation>
						</annotation>
					</element>
					<element name="c" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Aufteilungsfaktor F-V</label>
								<tooltip>Aufteilungsfaktor Fluss-Vorland</tooltip>
								<description>Abflussanteil, welcher ueber das Vorland abfliesst</description>
							</documentation>
						</annotation>
					</element>
					<element name="faktorRkf" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor k</label>
								<tooltip>Optimierungsfaktor Speicherkonstante k (Kalinin-Miljukov-Verfahren)</tooltip>
								<description>Faktor, welcher bei der Berechnung einer Optimierung die Speicherkonstante k optimiert (Kalinin-Miljukov-Verfahren)</description>
							</documentation>
						</annotation>
					</element>
					<element name="faktorRnf" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor n</label>
								<tooltip>Optimierungsfaktor Speicheranzahl n (Kalinin-Miljukov-Verfahren)</tooltip>
								<description>Faktor, welcher bei der Berechnung einer Optimierung die Speicheranzahl n optimiert (Kalinin-Miljukov-Verfahren)</description>
							</documentation>
						</annotation>
					</element>
					<element name="KMParameterMember" type="na:KMParameterAssociationType" minOccurs="5" maxOccurs="5">
						<annotation>
							<documentation xml:lang="de">
								<label>Ref. KM-Parameter</label>
								<tooltip>Referenz Kalinin-Miljukov Parameter</tooltip>
								<description>Referenz auf die Kalinin-Miljukov Parameter des Stranges</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- Storage Channel -->
	<element name="StorageChannel" type="na:StorageChannelFeatureType" substitutionGroup="na:_Channel"/>
	<complexType name="StorageChannelFeatureType">
		<complexContent>
			<extension base="na:AbstractChannelType">
				<sequence>
					<element name="iknotNodeMember" type="na:NodeAssociationType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Überlaufknoten</label>
								<tooltip>Zielknoten der Hochwasserentlastungsanlage</tooltip>
								<description>Zielknoten auf den die Hochwasserentlastungsanlage abschlägt (Falls 0 gewählt wird, wird der Überlauf zum Grundabfluss addiert und dem Endknoten des Speicherstranges zugeschlagen)</description>
							</documentation>
						</annotation>
					</element>
					<element name="c" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Aufteilungsfaktor</label>
								<tooltip>Aufteilungsfaktor zwischen QAA und QAN</tooltip>
								<description>Aufteilungsfaktor zwischen den Stationsgrößen QAA und QAN im Konvergenzkriterium (normal: 0.0) </description>
							</documentation>
						</annotation>
					</element>
					<element name="itext" type="string">
						<annotation>
							<documentation xml:lang="de">
								<label>Kommentar RHB</label>
								<tooltip>Kommentar / Name RHB</tooltip>
								<description>beliebiger Kommentar zum Rückhaltebecken</description>
							</documentation>
						</annotation>
					</element>
					<!--JH:evtl. durch Name abgedeckt, jedoch Name ist optional. Abfangen,falls nicht gesetzt-->
					<element name="sv" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangsinhalt</label>
								<tooltip>Anfangsbeckeninhalt [hm^3]</tooltip>
								<description>Beckeninhalt zu Beginn der Simulation</description>
							</documentation>
						</annotation>
					</element>
					<element name="vmax" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>max. Inhalt</label>
								<tooltip>max. Beckeninhalt [hm^3]</tooltip>
								<description>maximaler Beckeninhalt [hm^3]</description>
							</documentation>
						</annotation>
					</element>
					<element name="vmin" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>min. Inhalt</label>
								<tooltip>min. Beckeninhalt [hm^3]</tooltip>
								<description>minimaler Beckeninhalt [hm^3]</description>
							</documentation>
						</annotation>
					</element>
					<element name="hvvsqd" type="na:DiagramType">
						<annotation>
							<documentation xml:lang="de">
								<label>WVQ-Beziehung</label>
								<tooltip>Wasserstand [mNN]-Volumen [hm^3]-Abgabe [m^3/s]-Beziehung</tooltip>
								<description>Beziehung zwischen Wasserstand [mNN], Volumen/ Inhalt [hm^3] und Abgabe/ Abfluss [m^3/s] aus dem Speicher (max. 24 Wertepaare)</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--Kalinin-Miljukov Parameter -->
	<complexType name="KMParameterAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:KMParameter"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="KMParameter" type="na:KMParameterType"/>
	<complexType name="KMParameterType">
		<complexContent>
			<extension base="na:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="qrk" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Abfluss</label>
								<tooltip>Abfluss [m^3/s]</tooltip>
								<description>Es sollten mindestens 5 verschiedene Abfluessfaelle angegeben werden</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="rkf" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>K Fluss</label>
								<tooltip>Speicherkonstante Fluss [h]</tooltip>
								<description>Speicherkonstante K des Flusses (Kalinin-Muljukov)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="rnf" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>n Fluss</label>
								<tooltip>Speicheranzahl Fluss [-]</tooltip>
								<description>Anzahl n der Speicher des Flusses (Kalinin-Miljukov)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="rkv" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>K Vorland</label>
								<tooltip>Speicherkonstante Vorland [h]</tooltip>
								<description>Speicherkonstante K des Vorlandes (Kalinin-Muljukov)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="rnv" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>n Vorland</label>
								<tooltip>Speicheranzahl Vorland [-]</tooltip>
								<description>Anzahl n der Speicher des Vorlandes (Kalinin-Miljukov)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonGeometricAbstractFeatureType" abstract="true">
		<complexContent>
			<restriction base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="bodenschichtkorrekturAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:bodenschichtkorrektur"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="bodenschichtkorrektur" type="na:bodenschichtkorrekturType" substitutionGroup="gml:_Feature"/>
	<!--
 (cinh,*)_(cind,*)_(cex,*)_(bmax,*)_(banf,*)_(fko,*)_(retlay,*)_(evalay,*)
-->
	<complexType name="bodenschichtkorrekturType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="cinh" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>KZ-Faktor cin</label>
								<tooltip>Korrekturfaktor cin Kurzzeit, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor des Infiltrationsparameters in der Kurzzeitsimulation </description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="cind" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>LZ-Faktor cin</label>
								<tooltip>Korrekturfaktor cin Langzeit, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor des Infiltrationsparameters in der Langzeitsimulation</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="cex" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor cex</label>
								<tooltip>Korrekturfaktor cex, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor des Perkolationsparameters des Bodenhorizontes</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="bmax" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor max. Porenvolumen</label>
								<tooltip>Korrekturfaktor max. Porenvolumen, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor des maximalen Porenvolumens</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="banf" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangsbodenfeuchte</label>
								<tooltip>Anfangswert Bodenfeuchte</tooltip>
								<description>Anfangswert der Bodenfeuchte fuer des ersten Berechnungszyklus</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="fko" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor nFK</label>
								<tooltip>Korrekturfaktor nutzbare Feldkapazitaet, multiplikativ</tooltip>
								<description>Multiplikativer Korrekturfaktor der nutzbaren Feldkapazitaet</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="retlay" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Faktor k QIntf.</label>
								<tooltip>Korrekturfaktor Retentionskonstante Interflow, multiplikativ (0-1)</tooltip>
								<description>Multiplikativer Korrekturfaktor der Retentionskonstante Interflow (0-1)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="evalay" type="double"/>
					<!-- TODO loeschen und standard schreiben, da vom NA-modell nicht benutzt -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="grundwasserabflussAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:grundwasserabfluss"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="grundwasserabfluss" type="na:grundwasserabflussType" substitutionGroup="gml:_Feature"/>
	<complexType name="grundwasserabflussType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="ngwzu" type="na:CatchmentLinkType">
						<annotation>
							<documentation xml:lang="de">
								<label>TG Nummer GW-Relation</label>
								<tooltip>Teilgebietsnummer Grundwasserabfluss</tooltip>
								<description>Teilgebietsnummer des Gebietes, in welches das Grundwasser aus dem aktuellen Gebiet fliesst</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
					<element name="gwwi" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anteil GW-Abfluss</label>
								<tooltip>Anteil des Grundwasserabflusses</tooltip>
								<description>Anteil des Grundwasserabfluss in das Nachbargebiet (Summe = 1)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>l</label>
								<tooltip>t</tooltip>
								<description>d</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CatchmentLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<simpleType name="DiagramType">
		<restriction base="string"/>
	</simpleType>
</schema>
