KalypsoCore/etc/schemas/ratingtable/ratingtable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="ratingtable.binding.kalypso.org" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="ratingtable.binding.kalypso.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tables" type="RatingTableList"/>
	
	<xs:complexType name="RatingTableList">
		<xs:sequence>
			<xs:element name="table" type="RatingTable" minOccurs="0" 
				maxOccurs="unbounded"/>
		</xs:sequence>

		<!-- this information is important because if the observation needs to be
			auto-proxied, it allows kalypso to know what kind of proxy-axis it should 
			generate -->		
		<xs:attribute name="fromType" type="xs:string" use="required"/>
		<xs:attribute name="toType" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="RatingTable">
		<xs:sequence>
			<xs:element name="x" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="y" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="validity" type="xs:date" use="required"/>
		<xs:attribute name="offset" type="xs:int" use="optional"/>
	</xs:complexType>
</xs:schema>
