temp/trunk/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/v0.8/results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Dipl.-Ing. Jessica Hübsch (Technische Universität Hamburg-Harburg) -->
<schema xmlns:res="http://www.tuhh.de/results" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" xmlns:zmlinline="inline.zml.kalypso.org" targetNamespace="http://www.tuhh.de/results" elementFormDefault="qualified" version="0.8">
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="obslink.xsd"/>
	<import namespace="inline.zml.kalypso.org" schemaLocation="zmlinline.xsd"/>
	<element name="Results" type="res:ResultsType">
		<annotation>
			<documentation xml:lang="de">
				<label>Modell-Ergebnisse</label>
			</documentation>
			<documentation xml:lang="en">
				<label>model results</label>
			</documentation>
		</annotation>
	</element>
	<complexType name="ResultsType">
		<complexContent>
			<extension base="par:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="catchmentMember" type="res:CatchmentAssociationType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>besteht aus Teilgebietsliste</label>
							</documentation>
							<documentation xml:lang="en">
								<label>snow list</label>
							</documentation>
						</annotation>
					</element>
					<element name="channelMember" type="res:ChannelAssociationType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>besteht aus Strangliste</label>
							</documentation>
							<documentation xml:lang="en">
								<label>soil alyer list</label>
							</documentation>
						</annotation>
					</element>
					<element name="nodeMember" type="res:NodeAssociationType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>besteht aus Knotenliste</label>
							</documentation>
							<documentation xml:lang="en">
								<label>node list</label>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonGeometricAbstractFeatureType" abstract="true">
		<complexContent>
			<restriction base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	<!--___Catchment_________________________________________________-->
	<complexType name="CatchmentAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="res:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Catchment" type="res:CatchmentType" substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geometry" type="gml:PointPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Geometrie</label>
								<tooltip>geometriescher Ort</tooltip>
								<description>Geometrie des Objektes</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Geometry</label>
								<tooltip>geometric position</tooltip>
								<description>Geometry of the Object</description>
							</documentation>
						</annotation>
					</element>
					<element name="initialCatchmentParameterMember" type="res:InitialCatchmentParameterAssociationType" minOccurs="0" maxOccurs="100">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswerte</label>
								<tooltip>Anfangswerte</tooltip>
								<description>Anfangswerte, welche aus der vorherigen bzw. Langzeitsimulation ermittelt wurden</description>
							</documentation>
							<documentation xml:lang="en">
								<label>initial values</label>
								<tooltip>initial values</tooltip>
								<description>initial values</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--___Channel_________________________________________________-->
	<complexType name="ChannelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="res:Channel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Channel" type="res:ChannelType" substitutionGroup="gml:_Feature"/>
	<complexType name="ChannelType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geometry" type="gml:PointPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Geometrie</label>
								<tooltip>geometriescher Ort</tooltip>
								<description>Geometrie des Objektes</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Geometry</label>
								<tooltip>geometric position</tooltip>
								<description>Geometry of the Object</description>
							</documentation>
						</annotation>
					</element>
					<element name="initialChannelParameterMember" type="res:InitialChannelParameterAssociationType" minOccurs="0" maxOccurs="100">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswerte</label>
								<tooltip>Anfangswerte</tooltip>
								<description>Anfangswerte, welche aus der vorherigen bzw. Langzeitsimulation ermittelt wurden</description>
							</documentation>
							<documentation xml:lang="en">
								<label>initial values</label>
								<tooltip>initial values</tooltip>
								<description>initial values</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--___Node_________________________________________________-->
	<complexType name="NodeAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="res:Node"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Node" type="res:NodeType" substitutionGroup="gml:_Feature"/>
	<complexType name="NodeType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geometry" type="gml:PointPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Geometrie</label>
								<tooltip>geometriescher Ort</tooltip>
								<description>Geometrie des Objektes</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Geometry</label>
								<tooltip>geometric position</tooltip>
								<description>Geometry of the Object</description>
							</documentation>
						</annotation>
					</element>
					<!--
										<element name="initialNodeParameterMember" type="res:InitialNodeParameterAssociationType" minOccurs="0" maxOccurs="100">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswerte</label>
								<tooltip>Anfangswerte</tooltip>
								<description>Anfangswerte, welche aus der vorherigen bzw. Langzeitsimulation ermittelt wurden</description>
							</documentation>
							<documentation xml:lang="en">
								<label>initial values</label>
								<tooltip>initial values</tooltip>
								<description>initial values</description>
							</documentation>
						</annotation>
					</element>-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InitialCatchmentParameterAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="res:IniCatchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="IniCatchment" type="res:IniCatchmentType">
		<annotation>
			<documentation xml:lang="de">
				<label>Anfangswerte</label>
				<tooltip>Anfangswerte</tooltip>
				<description>Anfangswerte</description>
			</documentation>
			<documentation xml:lang="en">
				<label>Initial values</label>
				<tooltip>Initial values</tooltip>
				<description>Initial values</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="IniCatchmentType">
		<complexContent>
			<extension base="na:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="snow" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Schneehöhe</label>
								<tooltip>Schneehöhe</tooltip>
								<description>Schneehöhe [mm]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>snow depth</label>
								<tooltip>snow depth</tooltip>
								<description>snow depth [mm]</description>
							</documentation>
						</annotation>
					</element>
					<element name="gwsp" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Grundwasserstand</label>
								<tooltip>Grundwasserstand</tooltip>
								<description>Grundwasserstand [m]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>groundwater table</label>
								<tooltip>groundwater table</tooltip>
								<description>groundwater table [m]</description>
							</documentation>
						</annotation>
					</element>
					<element name="bof" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Bodenfeuchte</label>
								<tooltip>Bodenfeuchte</tooltip>
								<description>Bodenfeuchte</description>
							</documentation>
							<documentation xml:lang="en">
								<label>soil moisture</label>
								<tooltip>soil moisture</tooltip>
								<description>soil moisture</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InitialChannelParameterAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="res:IniChannel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="IniChannel" type="res:IniChannelType">
		<annotation>
			<documentation xml:lang="de">
				<label>Anfangswerte</label>
				<tooltip>Anfangswerte</tooltip>
				<description>Anfangswerte</description>
			</documentation>
			<documentation xml:lang="en">
				<label>Initial values</label>
				<tooltip>Initial values</tooltip>
				<description>Initial values</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="IniChannelType">
		<complexContent>
			<extension base="na:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="qgs" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Abfluss</label>
								<tooltip>Abfluss</tooltip>
								<description>Abfluss [m³/s]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>discharge</label>
								<tooltip>discharge</tooltip>
								<description>discharge [m³/s]</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
