_import/trunk/Kalypso/KalypsoModelFlood/src/org/kalypso/model/flood/schema/floodModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:flood="org.kalypso.model.flood" xmlns:cov="org.kalypso.gml.common.coverage"
	targetNamespace="org.kalypso.model.flood" elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
	<import namespace="org.kalypso.gml.common.coverage" />

	<element name="FloodModel" type="flood:FloodModelType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation >
				<name><![CDATA[FloodModel]]></name>
				<![CDATA[FloodModel]]>
				<![CDATA[FloodModel]]>
				<description><![CDATA[FloodModel]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="FloodModelType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="polygonMember" type="flood:FloodPolygonPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation >
								Polygon
								Polygon
								<description>Polygon</description>
							</documentation>
						</annotation>
					</element>
					<element name="eventMember" type="flood:RunoffEventPropertyType" minOccurs="0" maxOccurs="unbounded"></element>
					<element name="coveragesMember" type="flood:CoverageCollectionPropertyType" minOccurs="1" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CoverageCollectionPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="cov:CoverageCollection" />
		</sequence>
	</complexType>

	<complexType name="RunoffEventPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="flood:RunoffEvent" />
		</sequence>
	</complexType>

	<complexType name="RunoffEventReferencePropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="flood:RunoffEvent" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup" />
	</complexType>


	<element name="RunoffEvent" type="flood:RunoffEventType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation >
				<name><![CDATA[Ereignis]]></name>
				${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}
				<![CDATA[Ereignis]]>
				<description><![CDATA[Ereignis]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="RunoffEventType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="markedForProcessing" type="boolean" default="false" minOccurs="0" maxOccurs="1" />
					<element name="tinMember" type="flood:TinReferencePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation >
								<name><![CDATA[Wasserspiegellagen]]></name>
								<![CDATA[Wasserspiegellagen]]>
								<description><![CDATA[Wasserspiegellagen]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="resultCoveragesMember" type="flood:CoverageCollectionPropertyType" minOccurs="1" maxOccurs="1" nillable="false">
						<annotation>
							<documentation >
								<name><![CDATA[Fließtiefen]]></name>
								<![CDATA[Fließtiefen]]>
								<description><![CDATA[Fließtiefen]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="dataPath" type="string">
						<annotation>
							<documentation >
								<name><![CDATA[Datenverzeichnis]]></name>
								<![CDATA[Pfad zu den unterliegenden Daten]]>
								<description><![CDATA[Datenverzeichnis]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="returnPeriod" type="flood:PositiveIntType" default="1">
					<!-- default = "1" only for backward compatibility -->
						<annotation>
							<documentation >
								<![CDATA[Wiederkehr Intervall]]>
								<![CDATA[Wiederkehr Intervall]]>
								<description><![CDATA[Wiederkehr Intervall]]></description>
							</documentation>
							<documentation >
								<![CDATA[Return interval]]>
								<![CDATA[Return interval]]>
								<description><![CDATA[Return interval of the event]]></description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="PositiveIntType">
		<restriction base="int">
			<minInclusive value="1" />
		</restriction>
	</simpleType>

	<complexType name="TinReferencePropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="flood:TinReference" />
		</sequence>
	</complexType>

	<element name="TinReference" type="flood:TinReferenceType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation >
				<name><![CDATA[WSP-Referenz]]></name>
				${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}
				<![CDATA[Referenz auf einen Wasserspiegel]]>
				<description><![CDATA[Referenz auf einen Wasserspiegel]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="TinReferenceType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="min" type="decimal">
						<annotation>
							<documentation >
								<![CDATA[Minimum]]>
								<![CDATA[Minimum aller TIN-Werte]]>
								<description><![CDATA[Minimum aller TIN-Werte]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="max" type="decimal">
						<annotation>
							<documentation >
								<![CDATA[Maximum]]>
								<![CDATA[Maximum aller TIN-Werte]]>
								<description><![CDATA[Maximum aller TIN-Werte]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="sourceLocation" type="anyURI">
						<annotation>
							<documentation >
								<![CDATA[Quell-URL]]>
								<![CDATA[Herkunftsort der TIN-Daten]]>
								<description><![CDATA[Herkunftsort der TIN-Daten]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="sourcePath" type="string">
						<annotation>
							<documentation >
								<![CDATA[Quell-Pfad]]>
								<![CDATA[Pfad innerhalb der Herkunftsdatei]]>
								<description><![CDATA[GMLXPfad innerhalb der Herkunftsdatei auf die TIN-Geometry (gml:TriangulatedSurface)]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="sourceDate" type="dateTime">
						<annotation>
							<documentation >
								<![CDATA[Quell-Datum]]>
								<![CDATA[Datum der letzten Datenübernahme]]>
								<description><![CDATA[Datum der letzten Datenübernahme]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="sourceType">
						<annotation>
							<documentation >
								<![CDATA[Quelldateityp]]>
								<![CDATA[Datentyp der Quelldatei]]>
								<description><![CDATA[Datentyp der Quelldatei]]></description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="gml"></enumeration>
								<enumeration value="hmo"></enumeration>
								<enumeration value="shape"></enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="tin" type="flood:TriangulatedSurfacePropertyType">
						<annotation>
							<documentation >
								<![CDATA[Dreiecksnetz]]>
								<![CDATA[Die TIN-Geometry]]>
								<description><![CDATA[Die TIN-Geometry]]></description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TriangulatedSurfacePropertyType">
		<sequence>
			<element ref="gml:TriangulatedSurface" />
		</sequence>
	</complexType>

	<complexType name="FloodPolygonPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="flood:AbstractFloodPolygon" />
		</sequence>
	</complexType>

	<element name="AbstractFloodPolygon" type="flood:AbstractFloodPolygonType" abstract="true" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation >
				<name><![CDATA[Polygon]]></name>
				<![CDATA[Polygon]]>
				<![CDATA[Polygon]]>
				<description><![CDATA[Polygon]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="AbstractFloodPolygonType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="areaMember" type="gml:PolygonPropertyType" minOccurs="1" maxOccurs="1">
						<annotation>
							<documentation >
								Geometrie des Polygons
								Geometrie des Polygons
								<description>Geometrie des Polygons</description>
							</documentation>
						</annotation>
					</element>
					<element name="eventMember" type="flood:RunoffEventReferencePropertyType" minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="FloodExtrapolationPolygon" type="flood:FloodExtrapolationPolygonType" substitutionGroup="flood:AbstractFloodPolygon">
		<annotation>
			<documentation >
				<name><![CDATA[Extrapolationspolygon]]></name>
				<![CDATA[Extrapolationspolygon]]>
				<![CDATA[Extrapolationspolygon mit zusätzlichem Referenzpunkt.]]>
				<description><![CDATA[Extrapolationspolygon mit zusätzlichem Referenzpunkt.]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="FloodExtrapolationPolygonType">
		<annotation>
			<appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty kapp:functionId="org.kalypso.gmlschema.functionProperty.connectCentersByLine" kapp:property="flood:connectorLine" kapp:isVirtual="true"
					kapp:valueType="gml:LineString">
					<kapp:parameter>
						<kapp:name>geometry1Property</kapp:name>
						<kapp:value>{org.kalypso.model.flood}referencePoint</kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>geometry2Property</kapp:name>
						<kapp:value>{org.kalypso.model.flood}areaMember</kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>clip</kapp:name>
						<kapp:value>true</kapp:value>
					</kapp:parameter>
				</kapp:functionProperty>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="flood:AbstractFloodPolygonType">
				<sequence>
					<element name="referencePoint" type="gml:PointPropertyType">
						<annotation>
							<documentation >
								Bezugspunkt
								Bezugspunkt zum Höhenmodell
								<description>Bezugspunkt zum Höhenmodell</description>
							</documentation>
						</annotation>
					</element>
					<element name="connectorLine" type="gml:LineStringPropertyType">
						<annotation>
							<documentation >
								Verbindungslinie
								Verbindunglinie ziwschen Referenzpunkt und Fläche
								<description>Verbindunglinie ziwschen Referenzpunkt und Fläche</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="FloodClipPolygon" type="flood:FloodClipPolygonType" substitutionGroup="flood:AbstractFloodPolygon">
		<annotation>
			<documentation >
				<name><![CDATA[Clip-Polygon]]></name>
				<![CDATA[Clip-Polygon]]>
				<![CDATA[Clip-Polygon]]>
				<description><![CDATA[Clip-Polygon]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="FloodClipPolygonType">
		<complexContent>
			<extension base="flood:AbstractFloodPolygonType">
				<sequence minOccurs="1" maxOccurs="1">
					<element name="type" default="negative">
						<annotation>
							<documentation >
								<name><![CDATA[Art]]></name>
								<![CDATA[Art]]>
								<![CDATA[Art des Clip-Polygons]]>
								<description><![CDATA[Die Art des Clip-Polygon bestimmt, ob der angegebene Bereich explizit ausgeschlossen oder eingeschlossen wird.]]></description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="positive">
									<annotation>
										<documentation >
											<![CDATA[Einschluss]]>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="negative">
									<annotation>
										<documentation >
											<![CDATA[Ausschluss]]>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="FloodVolumePolygon" type="flood:FloodVolumePolygonType" substitutionGroup="flood:AbstractFloodPolygon">
		<annotation>
			<documentation >
				<name><![CDATA[Volumen-Polygon]]></name>
				<![CDATA[Volumen-Polygon]]>
				<![CDATA[Volumen-Polygon]]>
				<description><![CDATA[Volumen-Polygon]]></description>
			</documentation>
		</annotation>
	</element>

	<complexType name="FloodVolumePolygonType">
		<complexContent>
			<extension base="flood:AbstractFloodPolygonType">
				<sequence minOccurs="1" maxOccurs="1">
					<element name="volume" type="decimal">
						<annotation>
							<documentation >
								<name><![CDATA[Volumen]]></name>
								<![CDATA[Volumen]]>
								<description><![CDATA[]]></description>
							</documentation>
						</annotation>
					</element>
					<element name="waterlevel" type="decimal">
						<annotation>
							<documentation >
								<name><![CDATA[Wasserspiegel]]></name>
								<![CDATA[Wasserspiegel]]>
								<description><![CDATA[]]></description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


</schema>