trunk/KalypsoCore/etc/schemas/template/featureview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Gernot Belger (BCE GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fv="featureview.template.kalypso.org" xmlns:tv="gistableview.template.kalypso.org" xmlns:kalypso="types.template.kalypso.org" targetNamespace="featureview.template.kalypso.org" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import namespace="types.template.kalypso.org" schemaLocation="./layerTypes.xsd" />
	<xs:import namespace="gistableview.template.kalypso.org" schemaLocation="./gistableview.xsd" />

	<xs:element name="featuretemplate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="layer" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="kalypso:layerType" />
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="view" type="fv:FeatureviewType" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="featureview" type="fv:FeatureviewType" />
	<xs:complexType name="FeatureviewType">
		<xs:complexContent>
			<xs:extension base="fv:compositeType">
				<xs:attribute name="typename" type="xs:QName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ControlType">
		<xs:sequence minOccurs="0">
			<xs:element ref="fv:layoutData" />
		</xs:sequence>
		<xs:attribute name="style" type="xs:string" use="required" />
		<xs:attribute name="tooltip" type="xs:string" use="optional" default="" />
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="enabled" type="xs:boolean" use="optional" default="true" />
	</xs:complexType>
	<xs:complexType name="PropertyControlType">
		<xs:complexContent>
			<xs:extension base="fv:ControlType">
				<xs:attribute name="property" type="xs:QName" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LayoutType" />
	<xs:complexType name="layoutDataType" />
	<xs:complexType name="compositeType">
		<xs:complexContent>
			<xs:extension base="fv:ControlType">
				<xs:sequence minOccurs="0">
					<xs:element ref="fv:layout" />
					<xs:element ref="fv:control" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="composite" type="fv:compositeType" substitutionGroup="fv:control" />
	<xs:element name="group" substitutionGroup="fv:composite">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:compositeType">
					<xs:attribute name="text" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control" type="fv:ControlType" />
	<xs:element name="label" type="fv:LabelType" substitutionGroup="fv:control" />
	<xs:complexType name="LabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType">
				<xs:attribute name="text" type="xs:string" use="optional" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="validatorlabel" type="fv:ValidatorLabelType" substitutionGroup="fv:control" />
	<xs:complexType name="ValidatorLabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="geometrylabel" type="fv:GeometryLabelType" substitutionGroup="fv:control" />
	<xs:complexType name="GeometryLabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType">
				<xs:attribute name="text" type="xs:string" use="optional" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="colorlabel" type="fv:ColorLabelType" substitutionGroup="fv:control" />
	<xs:complexType name="ColorLabelType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType">
				<xs:attribute name="text" type="xs:string" use="optional" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="text" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:attribute name="editable" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="button" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="radiobutton" substitutionGroup="fv:control">
		<xs:annotation>
			<xs:documentation>The radio button just sets the value of a feature to the given value</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:attribute name="text" type="xs:string" use="optional" default="" />
					<xs:attribute name="valueToSet" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="combo" substitutionGroup="fv:control">
		<xs:annotation>
			<xs:documentation>A combo let the user choose between several values.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>An entry represant a selectable item from the combo box. The label is the string displayed to the user. The value (string element content) will be parsed by the appropriate IMarhsallingTypeHandler to the required value.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="label" type="xs:string" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkbox" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:attribute name="editable" type="xs:boolean" use="optional" default="true" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="image" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="extensioncontrol" substitutionGroup="fv:control">
		<xs:annotation>
			<xs:documentation>A (generic) control which implementation is provided by extensions of the extension-point 'org.kalypso.ui.featureViewExtensionControl'</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>The list of parameters for this control. Will be given to the implementation of the extension-point.</xs:documentation>
						</xs:annotation>
						<xs:element name="param" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>An arbitrary key/value-pair of strings.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" />
								<xs:attribute name="value" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="extension-id" type="xs:string">
						<xs:annotation>
							<xs:documentation>The id of the extension which implements this control.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="tupleResult" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element name="componentFormat">
							<xs:complexType>
								<xs:attribute name="id" type="xs:string" />
								<xs:attribute name="format" type="xs:string" />
								<xs:attribute name="alignment" type="xs:string" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table" substitutionGroup="fv:control">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:PropertyControlType">
					<xs:sequence>
						<xs:element ref="tv:gistableview" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="subcomposite" type="fv:SubcompositeType" substitutionGroup="fv:control" />
	<xs:complexType name="SubcompositeType">
		<xs:complexContent>
			<xs:extension base="fv:PropertyControlType" />
		</xs:complexContent>
	</xs:complexType>


	<xs:element name="layout" type="fv:LayoutType" abstract="true" />
	<xs:element name="gridLayout" substitutionGroup="fv:layout">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="fv:LayoutType">
					<xs:attribute name="horizontalSpacing" type="xs:int" use="optional" default="5" />
					<xs:attribute name="verticalSpacing" type="xs:int" use="optional" default="5" />
					<xs:attribute name="marginWidth" type="xs:int" use="optional" default="5" />
					<xs:attribute name="marginHeight" type="xs:int" use="optional" default="5" />
					<xs:attribute name="numColumns" type="xs:int" use="optional" default="2" />
					<xs:attribute name="makeColumnsEqualWidth" type="xs:boolean" use="optional" default="false" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="layoutData" type="fv:layoutDataType" abstract="true" />

	<xs:element name="gridData" type="fv:GridDataType" substitutionGroup="fv:layoutData" />
	<xs:complexType name="GridDataType">
		<xs:complexContent>
			<xs:extension base="fv:layoutDataType">
				<xs:attribute name="verticalAlignment" type="xs:string" use="optional" default="2" />
				<xs:attribute name="horizontalAlignment" type="xs:string" use="optional" default="2" />
				<xs:attribute name="widthHint" type="xs:int" use="optional" default="-1" />
				<xs:attribute name="heightHint" type="xs:int" use="optional" default="-1" />
				<xs:attribute name="horizontalIndent" type="xs:int" use="optional" default="0" />
				<xs:attribute name="horizontalSpan" type="xs:int" use="optional" default="1" />
				<xs:attribute name="verticalSpan" type="xs:int" use="optional" default="1" />
				<xs:attribute name="grabExcessHorizontalSpace" type="xs:boolean" use="optional" default="false" />
				<xs:attribute name="grabExcessVerticalSpace" type="xs:boolean" use="optional" default="false" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
