_obsolete/KalypsoDeegree/deegree/org/kalypsodeegree_impl/gml/schema/schemata/bplan/BPlanGML_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Dr. Joachim Benner (FZK/IAI) -->
<!-- 
	Anwendungsschema: BPlanGML
	Erzeugt von NAS Schema Generator
	Erstellt: 27.04.2005 13:10:27
-->
<xs:schema targetNamespace="http://www.xplanung.de/bplangml" xmlns:xplan="http://www.xplanung.de/bplangml" xmlns:gml="http://www.opengis.net/gml" xmlns:wfs="http://www.opengis.net/wfs" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.5">
	<!--xs:import namespace="http://www.opengis.net/gml" schemaLocation="gml/2.1.2/feature.xsd"/-->
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	<!-- Paket Praesentationsobjekte -->
	<xs:element name="BPlanPPO" type="xplan:BPlanPPOType" substitutionGroup="xplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanPPOType">
		<xs:annotation>
			<xs:documentation>
Punktförmiges Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PointPropertyType"/>
					<xs:element name="drehwinkel" type="xs:double" default="0" minOccurs="0"/>
					<xs:element name="skalierung" type="xs:double" default="1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLPO" type="xplan:BPlanLPOType" substitutionGroup="xplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanLPOType">
		<xs:annotation>
			<xs:documentation>
Linienförmiges Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:LineStringType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFPO" type="xplan:BPlanFPOType" substitutionGroup="xplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanFPOType">
		<xs:annotation>
			<xs:documentation>
Flächenförmiges Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PolygonPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanPraesentationsobjekt" type="xplan:BPlanPraesentationsobjektType" abstract="true" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanPraesentationsobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Generisches Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="signaturnummer" type="xs:string"/>
					<xs:element name="darstellungsprioritaetLinie" type="xs:integer" minOccurs="0"/>
					<xs:element name="darstellungsprioritaetFlaeche" type="xs:integer" minOccurs="0"/>
					<xs:element name="dientZurDarstellungVon" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanObjekt</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FontNeigungType">
		<xs:annotation>
			<xs:documentation>
Enumeration der definierten Fontneigungen. Für linkskursiv geneigte Schriften (z.B. Gewässernamen) sind speziell dafür geschaffene Fonts zu verwenden.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="senkrecht"/>
			<xs:enumeration value="kursiv"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HorizontaleAusrichtungType">
		<xs:annotation>
			<xs:documentation>
Enumeration der definierten Fontausrichtungen
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="linksbündig"/>
			<xs:enumeration value="rechtsbündig"/>
			<xs:enumeration value="zentrisch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BPlanPTO" type="xplan:BPlanPTOType" substitutionGroup="xplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanPTOType">
		<xs:annotation>
			<xs:documentation>
Textförmiges Präsentationsobjekt mit punktförmiger Textgeometrie.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="schriftinhalt" type="xs:string" minOccurs="0"/>
					<xs:element name="fontName" type="xs:string" minOccurs="0"/>
					<xs:element name="fontSperrung" type="xs:double" default="0" minOccurs="0"/>
					<xs:element name="fontGroesse" type="xs:double" minOccurs="0"/>
					<xs:element name="skalierung" type="xs:double" default="1" minOccurs="0"/>
					<xs:element name="fontFarbe" type="xplan:FarbeType" minOccurs="0"/>
					<xs:element name="fontNeigung" type="xplan:FontNeigungType" default="senkrecht" minOccurs="0"/>
					<xs:element name="horizontaleAusrichtung" type="xplan:HorizontaleAusrichtungType" default="linksbündig" minOccurs="0"/>
					<xs:element name="vertikaleAusrichtung" type="xplan:VertikaleAusrichtungType" default="Basis" minOccurs="0"/>
					<xs:element name="art" type="xs:string" minOccurs="0"/>
					<xs:element name="hat" type="gml:FeatureAssociationType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanLPO</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="position" type="gml:PointPropertyType"/>
					<xs:element name="drehwinkel" type="xs:double" default="0" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLTO" type="xplan:BPlanLTOType" substitutionGroup="xplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanLTOType">
		<xs:annotation>
			<xs:documentation>
Textförmiges Präsentationsobjekt mit linienförmiger Textgeometrie.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="schriftinhalt" type="xs:string" minOccurs="0"/>
					<xs:element name="fontName" type="xs:string" minOccurs="0"/>
					<xs:element name="fontSperrung" type="xs:double" default="0" minOccurs="0"/>
					<xs:element name="fontGroesse" type="xs:double" minOccurs="0"/>
					<xs:element name="skalierung" type="xs:double" default="1" minOccurs="0"/>
					<xs:element name="fontFarbe" type="xplan:FarbeType" minOccurs="0"/>
					<xs:element name="fontNeigung" type="xplan:FontNeigungType" default="senkrecht" minOccurs="0"/>
					<xs:element name="horizontaleAusrichtung" type="xplan:HorizontaleAusrichtungType" default="linksbündig" minOccurs="0"/>
					<xs:element name="vertikaleAusrichtung" type="xplan:VertikaleAusrichtungType" default="Basis" minOccurs="0"/>
					<xs:element name="art" type="xs:string" minOccurs="0"/>
					<xs:element name="hat" type="gml:FeatureAssociationType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanLPO</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="position" type="gml:LineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="VertikaleAusrichtungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Basis"/>
			<xs:enumeration value="Mitte"/>
			<xs:enumeration value="oben"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FarbeType">
		<xs:annotation>
			<xs:documentation>
Die externe Codelist AP_Farbe enthält die Namen und die Farbanteile der definierten Farben. Die Namen setzen sich zusammen aus einem Farbnamen und einer Angabe von 4 Farbanteilen, die die jeweiligen CMYK-Werte wiederspiegeln,
z.B. gelb-0-0-100-0 = 1000. Für Bildschirmdarstellungen sind diese Farbanteile i.d.R. in RGB-Werte umzurechnen.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="BPlanNutzungsschablone" type="xplan:BPlanNutzungsschabloneType" substitutionGroup="xplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanNutzungsschabloneType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPraesentationsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Basisobjekte -->
	<xs:element name="BPlanEbene" type="xplan:BPlanEbeneType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanEbeneType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="ebene" type="xs:integer" default="0"/>
					<xs:element name="bedeutung" type="xs:string" minOccurs="0"/>
					<xs:element name="gehoertZuBPlan" type="gml:FeatureAssociationType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlan</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="fachobjekt" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanObjekt</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="praesentationsobjekt" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanPraesentationsobjekt</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlan" type="xplan:BPlanType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanType">
		<xs:annotation>
			<xs:documentation>
sdvsdsdvsvvvsvyxvy
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="gkz" type="xs:integer"/>
					<xs:element name="name" type="xs:string" minOccurs="0"/>
					<xs:element name="nummer" type="xs:string" minOccurs="0"/>
					<xs:element name="beschreibung" type="xs:string" minOccurs="0"/>
					<xs:element name="stadt" type="xs:string" minOccurs="0"/>
					<xs:element name="begruendung" type="xs:string" minOccurs="0"/>
					<xs:element name="umweltbericht" type="xs:string" minOccurs="0"/>
					<xs:element name="realisierung" type="xs:string" minOccurs="0"/>
					<xs:element name="verfahrensstand" type="xs:string" minOccurs="0"/>
					<xs:element name="hoehenbezug" type="xs:string" minOccurs="0"/>
					<xs:element name="textlicheFestsetzungen" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TextlicheFestsetzung" type="xplan:TextlicheFestsetzungType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="datum" type="xs:date" minOccurs="0"/>
					<xs:element name="verfahrensMerkmale" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="VerfahrensMerkmal" type="xplan:VerfahrensMerkmalType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ebene" type="gml:FeatureAssociationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanEbene</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="umring" type="gml:PolygonPropertyType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFlaechenobjekt" type="xplan:BPlanFlaechenobjektType" abstract="true" substitutionGroup="xplan:BPlanObjekt"/>
	<xs:complexType name="BPlanFlaechenobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die zum Flächenschluss beitragen oder andere Flächen überlagern.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PolygonPropertyType"/>
					<xs:element name="flaechenschluss" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFlaechenschlussobjekt" type="xplan:BPlanFlaechenschlussobjektType" abstract="true" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BPlanFlaechenschlussobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die zusammen mit anderen Flächenschluss-Objekten das Planungsgebiet überschneidungsfrei überdecken.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLinienobjekt" type="xplan:BPlanLinienobjektType" abstract="true" substitutionGroup="xplan:BPlanObjekt"/>
	<xs:complexType name="BPlanLinienobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle linienförmigen Objekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:LineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanObjekt" type="xplan:BPlanObjektType" abstract="true" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanObjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse aller Bebauungsplanobjekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="text" type="xs:string" minOccurs="0"/>
					<xs:element name="nachrichtUebernahme" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="hinweis" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="aufnahmeAlsFestsetzung" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="gesetzlicheGrundlage" type="xs:string" minOccurs="0"/>
					<xs:element name="bedienungStart" type="xs:string" minOccurs="0"/>
					<xs:element name="bedienungEnde" type="xs:string" minOccurs="0"/>
					<xs:element name="startDatum" type="xs:date" minOccurs="0"/>
					<xs:element name="endDatum" type="xs:date" minOccurs="0"/>
					<xs:element name="textSchluessel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="abweichenderHoehenbezug" type="xs:string" minOccurs="0"/>
					<xs:element name="hMin" type="xs:double" minOccurs="0"/>
					<xs:element name="hMax" type="xs:double" minOccurs="0"/>
					<xs:element name="hZwingend" type="xs:double" minOccurs="0"/>
					<xs:element name="gehoertZuBPlanEbene" type="gml:FeatureAssociationType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BPlanEbene</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanPunktobjekt" type="xplan:BPlanPunktobjektType" abstract="true" substitutionGroup="xplan:BPlanObjekt"/>
	<xs:complexType name="BPlanPunktobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle punktförmigen Objekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PointPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanUeberlagerungsobjekt" type="xplan:BPlanUeberlagerungsobjektType" abstract="true" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BPlanUeberlagerungsobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die andere Flächen überlagern.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BundeslaenderType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SH"/>
			<xs:enumeration value="NI"/>
			<xs:enumeration value="HB"/>
			<xs:enumeration value="HH"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="HE"/>
			<xs:enumeration value="RP"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="BE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XPLANType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="..."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TextlicheFestsetzungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="schluessel" type="xs:string"/>
			<xs:element name="text" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VerfahrensMerkmalType">
		<xs:annotation>
			<xs:documentation>
Angaben zum Stand des Verfahrens
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vermerk" type="xs:string"/>
			<xs:element name="datum" type="xs:date"/>
			<xs:element name="signatur" type="xs:string"/>
			<xs:element name="signiert" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Paket Baugebiet, Baugebietsteil -->
	<xs:element name="BaugebietsFlaechenTeil" type="xplan:BaugebietsFlaechenTeilType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="BaugebietsFlaechenTeilType">
		<xs:annotation>
			<xs:documentation>
Teil eines Baugebiets mit einheitlicher Art und Maß der baulichen Nutzung.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="artDerBaulichenNutzung" type="xplan:ArtDerBaulichenNutzungType"/>
					<xs:element name="rechtlicheHerkunft" type="xplan:RechtlicheHerkunftType" minOccurs="0"/>
					<xs:element name="bauweise" type="xplan:BauweiseType" minOccurs="0"/>
					<xs:element name="bebauungsArt" type="xplan:BebauungsArtType" minOccurs="0"/>
					<xs:element name="bebauungVordereGrenze" type="xplan:GrenzBebauungType" minOccurs="0"/>
					<xs:element name="bebauungRueckwaertigeGrenze" type="xplan:GrenzBebauungType" minOccurs="0"/>
					<xs:element name="bebauungSeitlicheGrenze" type="xplan:GrenzBebauungType" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="gestaltung" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GestaltungBaugebiet" type="xplan:GestaltungBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ArtDerBaulichenNutzungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinsiedlungsgebiet"/>
			<xs:enumeration value="ReinesWohngebiet"/>
			<xs:enumeration value="AllgWohngebiet"/>
			<xs:enumeration value="BesonderesWohngebiet"/>
			<xs:enumeration value="Dorfgebiet"/>
			<xs:enumeration value="Mischgebiet"/>
			<xs:enumeration value="Kerngebiet"/>
			<xs:enumeration value="Gewerbegebiet"/>
			<xs:enumeration value="Industriegebiet"/>
			<xs:enumeration value="SondergebietErholung"/>
			<xs:enumeration value="SondergebietSonst"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BauweiseType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OffeneBauweise"/>
			<xs:enumeration value="GeschlosseneBauweise"/>
			<xs:enumeration value="AbweichendeBauweise"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RechtlicheHerkunftType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bundesrecht"/>
			<xs:enumeration value="Landesrecht"/>
			<xs:enumeration value="Gemeinderecht"/>
			<xs:enumeration value="KennzParag9BauGB"/>
			<xs:enumeration value="NachrichtlUebernahme"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Baugebiet" type="xplan:BaugebietType" substitutionGroup="xplan:BPlanObjekt"/>
	<xs:complexType name="BaugebietType">
		<xs:annotation>
			<xs:documentation>
Für die Bebauung vorgesehene Fläche.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="versionBauNVO" type="xs:string" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="gestaltung" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GestaltungBaugebiet" type="xplan:GestaltungBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="flaechenteil" type="gml:FeatureAssociationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:BaugebietsFlaechenTeil</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlaecheMitBesonderemNutzungszweck" type="xplan:FlaecheMitBesonderemNutzungszweckType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="FlaecheMitBesonderemNutzungszweckType">
		<xs:annotation>
			<xs:documentation>
Fläche gemäß §9 Abs. 1 Nr. 9 BauGB.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="gestaltung" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GestaltungBaugebiet" type="xplan:GestaltungBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GestaltungBaugebietType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DNmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DNmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FR" type="xs:decimal" minOccurs="0"/>
			<xs:element name="dachform" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FestsetzungenBaugebietType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
			<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
			<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
			<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Baugrenze" type="xplan:BaugrenzeType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="BaugrenzeType">
		<xs:annotation>
			<xs:documentation>
Baugrenze (§9 Abs. 1 Nr. 2 BauGB, §22 und 23 BauNVO)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="bautiefe" type="xs:double" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Baulinie" type="xplan:BaulinieType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="BaulinieType">
		<xs:annotation>
			<xs:documentation>
Baulinie (§9 Abs. 1 Nr. 2 BauGB, §22 und 23 BauNVO)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UeberbaubareGrundstuecksflaeche" type="xplan:UeberbaubareGrundstuecksflaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="UeberbaubareGrundstuecksflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zMin" type="xs:double" minOccurs="0"/>
					<xs:element name="zMax" type="xs:double" minOccurs="0"/>
					<xs:element name="zZwingend" type="xs:double" minOccurs="0"/>
					<xs:element name="baugrenze" type="gml:GeometryAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Baugrenze</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="baulinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Baulinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FirstRichtung" type="xplan:FirstRichtungType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="FirstRichtungType">
		<xs:annotation>
			<xs:documentation>
Gestaltungs-Festsetzung beruhend auf Landesrecht, gemäß §9 Abs. 4 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BebauungsArtType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Einzelhaeuser"/>
			<xs:enumeration value="Doppelhaeuser"/>
			<xs:enumeration value="Hausgruppen"/>
			<xs:enumeration value="EinzelDoppelhaeuser"/>
			<xs:enumeration value="EinzelhaeuserHausgruppen"/>
			<xs:enumeration value="DoppelhaeuserHausgruppen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GrenzBebauungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Verboten"/>
			<xs:enumeration value="Erlaubt"/>
			<xs:enumeration value="Erzwungen"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Gemeinbedarf, Spiel- und Sportanlagen -->
	<xs:element name="GemeinbedarfsFlaeche" type="xplan:GemeinbedarfsFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="GemeinbedarfsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, hier Flächen für den Gemeindebedarf (§9 Abs. 1 Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungGemeindebedarfType" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SpielSportanlagenFlaeche" type="xplan:SpielSportanlagenFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="SpielSportanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, hier Flächen für Sport- und Spielanlagen (§9 Abs. 1 Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungSpielSportanlageType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungGemeindebedarfType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OffentlicheVerwaltung"/>
			<xs:enumeration value="Schule"/>
			<xs:enumeration value="Kirche"/>
			<xs:enumeration value="Sozial"/>
			<xs:enumeration value="Gesundheit"/>
			<xs:enumeration value="Kultur"/>
			<xs:enumeration value="Sport"/>
			<xs:enumeration value="Schutzbauwerk"/>
			<xs:enumeration value="Feuerwehr"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungSpielSportanlageType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sportanlage"/>
			<xs:enumeration value="Spielanlage"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Ver- und Entsorgung -->
	<xs:element name="VerEntsorgungsFlaeche" type="xplan:VerEntsorgungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="VerEntsorgungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Versorgungsanlagen, für die Abfallentsorgung und Abwasserbeseitigung sowie für Ablagerungen (§9 Abs. 1, Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungVerEntsorgungType" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungVerEntsorgungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Elektrizitaet"/>
			<xs:enumeration value="Gas"/>
			<xs:enumeration value="Fernwaerme"/>
			<xs:enumeration value="Wasser"/>
			<xs:enumeration value="Abwasser"/>
			<xs:enumeration value="Abfall"/>
			<xs:enumeration value="Ablagerungen"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="VerEntsorgungsleitung" type="xplan:VerEntsorgungsleitungType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="VerEntsorgungsleitungType">
		<xs:annotation>
			<xs:documentation>
Hauptversorgungs- und Hauptabwasserleitungen (§9 Abs. 1, Nr. 13 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Verkehr -->
	<xs:element name="VerkehrsFlaeche" type="xplan:VerkehrsFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="VerkehrsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Verkehrsfläche (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="nutzungsform" type="xplan:NutzungsformType" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="begrenzungslinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Strassenbegrenzungslinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VerkehrsflaecheBesondererZweckbestimmung" type="xplan:VerkehrsflaecheBesondererZweckbestimmungType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="VerkehrsflaecheBesondererZweckbestimmungType">
		<xs:annotation>
			<xs:documentation>
Verkehrsfläche (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungVerkehrsflaecheType" minOccurs="0"/>
					<xs:element name="nutzungsform" type="xplan:NutzungsformType" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="begrenzungslinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Strassenbegrenzungslinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NutzungsformType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Privat"/>
			<xs:enumeration value="Oeffentlich"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungVerkehrsflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FlaechenParken"/>
			<xs:enumeration value="Fussgaengerbereich"/>
			<xs:enumeration value="VerkehrsberuhigterBereich"/>
			<xs:enumeration value="RadFussweg"/>
			<xs:enumeration value="Radweg"/>
			<xs:enumeration value="Fussweg"/>
			<xs:enumeration value="AbstellenVonFahrraedern"/>
			<xs:enumeration value="Bruecke"/>
			<xs:enumeration value="Durchgang"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Strassenbegrenzungslinie" type="xplan:StrassenbegrenzungslinieType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="StrassenbegrenzungslinieType">
		<xs:annotation>
			<xs:documentation>
Straßenbegrenzungslinie (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BereichOhneEinAusfahrt" type="xplan:BereichOhneEinAusfahrtType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="BereichOhneEinAusfahrtType">
		<xs:annotation>
			<xs:documentation>
Bereich ohne Ein- und Ausfahrt (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Einfahrtsbereich" type="xplan:EinfahrtsbereichType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="EinfahrtsbereichType">
		<xs:annotation>
			<xs:documentation>
Einfahrtsbereich (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Einfahrt" type="xplan:EinfahrtType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="EinfahrtType">
		<xs:annotation>
			<xs:documentation>
Einfahrt (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungLuftverkehrFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Flughafen"/>
			<xs:enumeration value="Landeplatz"/>
			<xs:enumeration value="Segelfluggelaende"/>
			<xs:enumeration value="HubschrauberLandeplatz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungBahnflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bahnanlage"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LuftverkehrFlaeche" type="xplan:LuftverkehrFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="LuftverkehrFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungLuftverkehrFlaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BahnFlaeche" type="xplan:BahnFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="BahnFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungBahnflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BahnLinie" type="xplan:BahnLinieType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="BahnLinieType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungBahnLinieType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungBahnLinieType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Strassenbahn"/>
			<xs:enumeration value="Seilbahn"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Wasser -->
	<xs:element name="WasserFlaeche" type="xplan:WasserFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="WasserFlaecheType">
		<xs:annotation>
			<xs:documentation>
Wasserfläche (§9 Abs. 1 Nr. 16 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungWasserflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungWasserflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hafen"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="WasserwirtschaftsFlaeche" type="xplan:WasserwirtschaftsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="WasserwirtschaftsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für die Wasserwirtschaft, den Hochwasserschutz  und die Regelungen des Wasserabflusses (§9 Abs. 1 Nr. 16 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungWasserwirtschaftsflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WasserrechtlicheFestsetzungsFlaeche" type="xplan:WasserrechtlicheFestsetzungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="WasserrechtlicheFestsetzungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen mit wasserrechtlichen Festsetzungen (§9 Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungWasserrechtlicheFestsetzungType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungWasserwirtschaftsflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HochwasserRueckhaltebecken"/>
			<xs:enumeration value="FestgesetztesUeberschwemmgebiet"/>
			<xs:enumeration value="NochNichtFestgesetztesUeberschwemmgebiet"/>
			<xs:enumeration value="UeberschwemmGefaehrdetesGebiet"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungWasserrechtlicheFestsetzungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SchutzgebietQuellGrundwasser"/>
			<xs:enumeration value="SchutzgebietOberflaechengewaesser"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Naturschutz -->
	<xs:element name="SchutzPflegeEntwicklungsFlaeche" type="xplan:SchutzPflegeEntwicklungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="SchutzPflegeEntwicklungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung von Flächen für Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (%9 Abs. 1 Nr. 20 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnpflanzungsFlaeche" type="xplan:AnpflanzungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AnpflanzungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung von Flächen zum Anpflanzen von Bäumen, Sträuchern und sonstigen Bepflanzungen (%9 Abs. 1 Nr. 25 Buchstabe a und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="pflanzen" type="xplan:PflanzenTypType" minOccurs="0"/>
					<xs:element name="pflanzenReihe" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:PflanzungLinienfoermig</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="pflanze" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:PflanzungPunktfoermig</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ErhaltungsFlaeche" type="xplan:ErhaltungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="ErhaltungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung von Flächen mit Bindungen für Bepflanzungen und für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern ($9 Abs. 1 Nr. 25 Buchstabe b) und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="pflanzen" type="xplan:PflanzenTypType" minOccurs="0"/>
					<xs:element name="pflanzenReihe" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:PflanzungLinienfoermig</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="pflanze" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:PflanzungPunktfoermig</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SchutzgebietFlaeche" type="xplan:SchutzgebietFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="SchutzgebietFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung von Schutzgebieten und Schutzobjekten im Sinne des Naturschutzrechts ($9 Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungSchutzgebietType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PflanzenTypType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Baeume"/>
			<xs:enumeration value="Straeucher"/>
			<xs:enumeration value="SonstBepflanzung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungSchutzgebietType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Naturschutzgebiet"/>
			<xs:enumeration value="Nationalpark"/>
			<xs:enumeration value="Landschaftsschutzgebiet"/>
			<xs:enumeration value="Naturpark"/>
			<xs:enumeration value="Naturdenkmal"/>
			<xs:enumeration value="GeschuetzterLandschaftsBestandteil"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PflanzungPunktfoermig" type="xplan:PflanzungPunktfoermigType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="PflanzungPunktfoermigType">
		<xs:annotation>
			<xs:documentation>
Einzelposition zum Anpflanzen von Bäumen, Sträuchern und sonstigen Bepflanzungen, sowie Bindungen für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern (§9 Abs. 1 Nr. 25 und Bbs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="art" type="xplan:ArtAnpflanzungType"/>
					<xs:element name="pflanzen" type="xplan:PflanzenTypType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PflanzungLinienfoermig" type="xplan:PflanzungLinienfoermigType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="PflanzungLinienfoermigType">
		<xs:annotation>
			<xs:documentation>
Linie zum Anpflanzen von Bäumen, Sträuchern und sonstigen Bepflanzungen, sowie Bindungen für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern (§9 Abs. 1 Nr. 25 und Bbs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="art" type="xplan:ArtAnpflanzungType"/>
					<xs:element name="pflanzen" type="xplan:PflanzenTypType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ArtAnpflanzungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Erhaltung"/>
			<xs:enumeration value="Anpflanzung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NebenanlagenStellplaetzeGarabenflaechen" type="xplan:NebenanlagenStellplaetzeGarabenflaechenType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="NebenanlagenStellplaetzeGarabenflaechenType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Landwirtschaft, Wald- und Grünflächen -->
	<xs:element name="LandwirtschaftsFlaeche" type="xplan:LandwirtschaftsFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="LandwirtschaftsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Landwirtschaft und Wald (hier: Landwirtschaft) (§9 Abs. 1 Nr. 18 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WaldFlaeche" type="xplan:WaldFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="WaldFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungWaldflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungWaldflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Erholungswald"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="GruenFlaeche" type="xplan:GruenFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="GruenFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungGruenflaecheType" minOccurs="0"/>
					<xs:element name="nutzungsForm" type="xplan:NutzungsformType" minOccurs="0"/>
					<xs:element name="festsetzungen" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungGruenflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Parkanlage"/>
			<xs:enumeration value="Dauerkleingarten"/>
			<xs:enumeration value="Sportplatz"/>
			<xs:enumeration value="Spielplatz"/>
			<xs:enumeration value="Zeltplatz"/>
			<xs:enumeration value="Badeplatz"/>
			<xs:enumeration value="Friedhof"/>
			<xs:enumeration value="Kleintierhaltung"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Sonstige Festsetzungen -->
	<xs:element name="RaeumlicherGeltungsbereich" type="xplan:RaeumlicherGeltungsbereichType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="RaeumlicherGeltungsbereichType">
		<xs:annotation>
			<xs:documentation>
Grenze des räumlichen Geltungsbereichs des Bebauungsplans (§9 Abs. 7 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="aufstellungsbeschluss" type="xs:date" minOccurs="0"/>
					<xs:element name="veraenderungssperre" type="xs:date" minOccurs="0"/>
					<xs:element name="satzungsbeschluss" type="xs:date" minOccurs="0"/>
					<xs:element name="rechtsverordnung" type="xs:date" minOccurs="0"/>
					<xs:element name="datumDesInkrafttretens" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AusgleichsFlaeche" type="xplan:AusgleichsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AusgleichsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen zum Ausgleich im Sinne des § 1a Abs.3 (§9 Abs. 1a BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="KennzeichnungFlaeche" type="xplan:KennzeichnungFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="KennzeichnungFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Kennzeichnungen gemäß §9 Abs. 5 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungKennzeichnungFlaecheType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungKennzeichnungFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Altlasten"/>
			<xs:enumeration value="Naturgewalten"/>
			<xs:enumeration value="Abbauflaeche"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="WegerechteBelasteteteFlaeche" type="xplan:WegerechteBelasteteteFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="WegerechteBelasteteteFlaecheType">
		<xs:annotation>
			<xs:documentation>
Mit Geh-, Fahr- und Leitungsrechten zu belastende Flächen (§ 9 Abs. 1 Nr. 21 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zugunstenVon" type="xs:string" minOccurs="0"/>
					<xs:element name="thema" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ImmissionsschutzFlaeche" type="xplan:ImmissionsschutzFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="ImmissionsschutzFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzungen der Flächen für besondere Anlagen und Vorkehrungen zum Schutz vor schädlichen Umwelteinwirkungen im Sinne des Bundes-
Immissionsschutzgesetzes (§ 9 Abs. 1 Nr. 23 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LuftreinhalteFlaeche" type="xplan:LuftreinhalteFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="LuftreinhalteFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung der Gebiete, in denen bestimmte, die Luft erheblich verunreinigende Stoffe nicht oder nur beschränkt verwendet werden dürfen (§ 9 Abs. 1 Nr. 23 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Stuetzmauer" type="xplan:StuetzmauerType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="StuetzmauerType">
		<xs:annotation>
			<xs:documentation>
Fläche für Aufschüttungen, Abgrabungen und Stützmauern, soweit sie    zur Herstellung des Straßenkörpers erforderlich sind (§ 9 Abs. 1 Nr. 26 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FreiFlaeche" type="xplan:FreiFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FreiFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung der Flächen, die von der Bebauung freizuhalten sind.  (§ 9 Abs. 1 Nr. 10 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlaecheAllgemein" type="xplan:FlaecheAllgemeinType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FlaecheAllgemeinType">
		<xs:annotation>
			<xs:documentation>
Aufnahme von flächenfaften Festsetzungen aus dem Landesrecht in 
einen Bebaaungsplan gemäß §9 Abs. 4 BauGB, sowie nachrichtliche Übernahme nach anderen gesetzlichen Vorschriften gemäß §9 Abs.6 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AusgleichsMassnahme" type="xplan:AusgleichsMassnahmeType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="AusgleichsMassnahmeType">
		<xs:annotation>
			<xs:documentation>
Maßnahme zum Ausgleich im Sinne des § 1a Abs.3 (§9 Abs. 1a BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="HoehenObjekt" type="xplan:HoehenObjektType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="HoehenObjektType">
		<xs:annotation>
			<xs:documentation>
Festsetzungen nach Absatz 1 für übereinanderliegende Geschosse und Ebenen und sonstige Teile baulicher Anlagen (§9 Abs.3 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="hoehe" type="xs:decimal"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="NebenanlagenFlaeche" type="xplan:NebenanlagenFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="NebenanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche für Nebenanlagen, die auf Grund anderer Vorschriften für die Nutzung von Grundstücken erforderlich sind, wie Spiel-, Freizeit- und Erholungsflächen sowie die Fläche für Stellplätze und Garagen mit ihren Einfahrten (§9 Abs. 4 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungNebenanlagenType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GemeinschaftsanlagenFlaeche" type="xplan:GemeinschaftsanlagenFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="GemeinschaftsanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche für Gemeinschaftsanlagen für bestimmte räumliche Bereiche wie    Kinderspielplätze, Freizeiteinrichtungen, Stellplätze und Garagen (§9 Abs. 22 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungGemeinschaftsanlagenType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungNebenanlagenType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Stellplaetze"/>
			<xs:enumeration value="Garagen"/>
			<xs:enumeration value="Spielplatz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungGemeinschaftsanlagenType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gemeinschaftsstellplaetze"/>
			<xs:enumeration value="Gemeinschaftsgaragen"/>
			<xs:enumeration value="Spielplatz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LinieAllgemein" type="xplan:LinieAllgemeinType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="LinieAllgemeinType">
		<xs:annotation>
			<xs:documentation>
Aufnahme von linienhaften Festsetzungen aus dem Landesrecht in 
einen Bebaaungsplan gemäß §9 Abs. 4 BauGB, sowie nachrichtliche Übernahme nach anderen gesetzlichen Vorschriften gemäß §9 Abs.6 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PunktAllgemein" type="xplan:PunktAllgemeinType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="PunktAllgemeinType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StuetzmauerLinie" type="xplan:StuetzmauerLinieType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="StuetzmauerLinieType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Aufschüttung, Abgrabung, Bodenschätze -->
	<xs:element name="AufschuettungsFlaeche" type="xplan:AufschuettungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AufschuettungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen auf Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Aufschüttungen
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AbgrabungsFlaeche" type="xplan:AbgrabungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AbgrabungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen auf Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Abgrabungen
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BodenschaetzeFlaeche" type="xplan:BodenschaetzeFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BodenschaetzeFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen auf Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Gewinnung von Bodenschätzen
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Stadterhaltung und Denkmalschutz -->
	<xs:element name="DenkmalschutzErhaltungsbereich" type="xplan:DenkmalschutzErhaltungsbereichType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="DenkmalschutzErhaltungsbereichType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DenkmalschutzEnsemble" type="xplan:DenkmalschutzEnsembleType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="DenkmalschutzEnsembleType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DenkmalschutzEinzelanlage" type="xplan:DenkmalschutzEinzelanlageType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="DenkmalschutzEinzelanlageType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
