_import/trunk/Kalypso/KalypsoDSS/src/org/kalypso/dss/resources/v0.1/BPlan-Minimal_measures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Anneliese Fey (TU Hamburg-Harburg) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Dr. Joachim Benner (FZK/IAI) -->
<!-- 
	xxx
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/3.1" xmlns:xplan="http://www.xplanung.de/bplangml" targetNamespace="http://www.xplanung.de/bplangml" elementFormDefault="qualified" version="3.1">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<xs:element name="BPlanObjekt" type="xplan:BPlanObjektType" abstract="true" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanObjektType" abstract="false">
		<xs:annotation>
			<xs:documentation>
Basisklasse aller Bebauungsplanobjekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="text" type="xs:string" minOccurs="0"/>
					<xs:element name="textSchluessel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFlaechenobjekt" type="xplan:BPlanFlaechenobjektType" abstract="true" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanFlaechenobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die zum Flächenschluss beitragen oder andere Flächen überlagern.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PolygonPropertyType"/>
					<xs:element name="flaechenschluss" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFlaechenschlussobjekt" type="xplan:BPlanFlaechenschlussobjektType" abstract="true" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BPlanFlaechenschlussobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die zusammen mit anderen Flächenschluss-Objekten das Planungsgebiet überschneidungsfrei überdecken.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLinienobjekt" type="xplan:BPlanLinienobjektType" abstract="true" substitutionGroup="xplan:BPlanObjekt"/>
	<xs:complexType name="BPlanLinienobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle linienförmigen Objekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:LineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanPunktobjekt" type="xplan:BPlanPunktobjektType" abstract="true" substitutionGroup="xplan:BPlanObjekt"/>
	<xs:complexType name="BPlanPunktobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle punktförmigen Objekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PointPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanUeberlagerungsobjekt" type="xplan:BPlanUeberlagerungsobjektType" abstract="true" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BPlanUeberlagerungsobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die andere Flächen überlagern.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Baugebiet, Baugebietsteil -->
	<xs:complexType name="festsetzungenAssociation">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureAssociationType">
				<xs:sequence>
					<xs:element ref="xplan:FestsetzungenBaugebiet"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FestsetzungenBaugebiet" type="xplan:FestsetzungenBaugebietType" substitutionGroup="gml:_Feature"/>
	<xs:element name="BaugebietsFlaechenTeil" type="xplan:BaugebietsFlaechenTeilType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="BaugebietsFlaechenTeilType">
		<xs:annotation>
			<xs:documentation>
Teil eines Baugebiets mit einheitlicher Art und Maß der baulichen Nutzung.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlaecheMitBesonderemNutzungszweck" type="xplan:FlaecheMitBesonderemNutzungszweckType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="FlaecheMitBesonderemNutzungszweckType">
		<xs:annotation>
			<xs:documentation>
Fläche gemäß §9 Abs. 1 Nr. 9 BauGB.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
					<xs:element name="gestaltung" type="xplan:GestaltungBaugebietType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GestaltungBaugebietType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DNmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DNmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FR" type="xs:decimal" minOccurs="0"/>
			<xs:element name="dachform" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FestsetzungenBaugebietType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Baugrenze" type="xplan:BaugrenzeType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="BaugrenzeType">
		<xs:annotation>
			<xs:documentation>
Baugrenze (§9 Abs. 1 Nr. 2 BauGB, §22 und 23 BauNVO)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="bautiefe" type="xs:double" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Baulinie" type="xplan:BaulinieType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="BaulinieType">
		<xs:annotation>
			<xs:documentation>
Baulinie (§9 Abs. 1 Nr. 2 BauGB, §22 und 23 BauNVO)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UeberbaubareGrundstuecksflaeche" type="xplan:UeberbaubareGrundstuecksflaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="UeberbaubareGrundstuecksflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zMin" type="xs:double" minOccurs="0"/>
					<xs:element name="zMax" type="xs:double" minOccurs="0"/>
					<xs:element name="zZwingend" type="xs:double" minOccurs="0"/>
					<!-- <xs:element name="baugrenze" type="gml:GeometryAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Baugrenze</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="baulinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Baulinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FirstRichtung" type="xplan:FirstRichtungType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="FirstRichtungType">
		<xs:annotation>
			<xs:documentation>
Gestaltungs-Festsetzung beruhend auf Landesrecht, gemäß §9 Abs. 4 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Gemeinbedarf, Spiel- und Sportanlagen -->
	<xs:element name="GemeinbedarfsFlaeche" type="xplan:GemeinbedarfsFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="GemeinbedarfsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, hier Flächen für den Gemeindebedarf (§9 Abs. 1 Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SpielSportanlagenFlaeche" type="xplan:SpielSportanlagenFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="SpielSportanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, hier Flächen für Sport- und Spielanlagen (§9 Abs. 1 Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Ver- und Entsorgung -->
	<xs:element name="VerEntsorgungsFlaeche" type="xplan:VerEntsorgungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="VerEntsorgungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Versorgungsanlagen, für die Abfallentsorgung und Abwasserbeseitigung sowie für Ablagerungen (§9 Abs. 1, Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xplan:ZweckbestimmungVerEntsorgungType" minOccurs="0"/>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungVerEntsorgungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Elektrizitaet"/>
			<xs:enumeration value="Gas"/>
			<xs:enumeration value="Fernwaerme"/>
			<xs:enumeration value="Wasser"/>
			<xs:enumeration value="Abwasser"/>
			<xs:enumeration value="Abfall"/>
			<xs:enumeration value="Ablagerungen"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="VerEntsorgungsleitung" type="xplan:VerEntsorgungsleitungType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="VerEntsorgungsleitungType">
		<xs:annotation>
			<xs:documentation>
Hauptversorgungs- und Hauptabwasserleitungen (§9 Abs. 1, Nr. 13 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Verkehr -->
	<xs:element name="VerkehrsFlaeche" type="xplan:VerkehrsFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="VerkehrsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Verkehrsfläche (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
					<!--<xs:element name="begrenzungslinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Strassenbegrenzungslinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VerkehrsflaecheBesondererZweckbestimmung" type="xplan:VerkehrsflaecheBesondererZweckbestimmungType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="VerkehrsflaecheBesondererZweckbestimmungType">
		<xs:annotation>
			<xs:documentation>
Verkehrsfläche (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<!-- <xs:element name="begrenzungslinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>xplan:Strassenbegrenzungslinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Wasser -->
	<xs:element name="WasserFlaeche" type="xplan:WasserFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="WasserFlaecheType">
		<xs:annotation>
			<xs:documentation>
Wasserfläche (§9 Abs. 1 Nr. 16 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WasserwirtschaftsFlaeche" type="xplan:WasserwirtschaftsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="WasserwirtschaftsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für die Wasserwirtschaft, den Hochwasserschutz  und die Regelungen des Wasserabflusses (§9 Abs. 1 Nr. 16 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WasserrechtlicheFestsetzungsFlaeche" type="xplan:WasserrechtlicheFestsetzungsFlaecheType" substitutionGroup="xplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="WasserrechtlicheFestsetzungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen mit wasserrechtlichen Festsetzungen (§9 Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Naturschutz -->
	<xs:element name="NebenanlagenStellplaetzeGarabenflaechen" type="xplan:NebenanlagenStellplaetzeGarabenflaechenType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="NebenanlagenStellplaetzeGarabenflaechenType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Landwirtschaft, Wald- und Grünflächen -->
	<xs:element name="LandwirtschaftsFlaeche" type="xplan:LandwirtschaftsFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="LandwirtschaftsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Landwirtschaft und Wald (hier: Landwirtschaft) (§9 Abs. 1 Nr. 18 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WaldFlaeche" type="xplan:WaldFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="WaldFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GruenFlaeche" type="xplan:GruenFlaecheType" substitutionGroup="xplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="GruenFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="festsetzungen" type="xplan:festsetzungenAssociation" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Sonstige Festsetzungen -->
	<xs:element name="FreiFlaeche" type="xplan:FreiFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FreiFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung der Flächen, die von der Bebauung freizuhalten sind.  (§ 9 Abs. 1 Nr. 10 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlaecheAllgemein" type="xplan:FlaecheAllgemeinType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FlaecheAllgemeinType">
		<xs:annotation>
			<xs:documentation>
Aufnahme von flächenfaften Festsetzungen aus dem Landesrecht in 
einen Bebaaungsplan gemäß §9 Abs. 4 BauGB, sowie nachrichtliche Übernahme nach anderen gesetzlichen Vorschriften gemäß §9 Abs.6 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="NebenanlagenFlaeche" type="xplan:NebenanlagenFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="NebenanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche für Nebenanlagen, die auf Grund anderer Vorschriften für die Nutzung von Grundstücken erforderlich sind, wie Spiel-, Freizeit- und Erholungsflächen sowie die Fläche für Stellplätze und Garagen mit ihren Einfahrten (§9 Abs. 4 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GemeinschaftsanlagenFlaeche" type="xplan:GemeinschaftsanlagenFlaecheType" substitutionGroup="xplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="GemeinschaftsanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche für Gemeinschaftsanlagen für bestimmte räumliche Bereiche wie    Kinderspielplätze, Freizeiteinrichtungen, Stellplätze und Garagen (§9 Abs. 22 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LinieAllgemein" type="xplan:LinieAllgemeinType" substitutionGroup="xplan:BPlanLinienobjekt"/>
	<xs:complexType name="LinieAllgemeinType">
		<xs:annotation>
			<xs:documentation>
Aufnahme von linienhaften Festsetzungen aus dem Landesrecht in 
einen Bebaaungsplan gemäß §9 Abs. 4 BauGB, sowie nachrichtliche Übernahme nach anderen gesetzlichen Vorschriften gemäß §9 Abs.6 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PunktAllgemein" type="xplan:PunktAllgemeinType" substitutionGroup="xplan:BPlanPunktobjekt"/>
	<xs:complexType name="PunktAllgemeinType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
