_import/trunk/Kalypso/KalypsoDSS/src/org/kalypso/dss/resources/v0.1/measures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Christoph Küpferle (TU Hamburg-Harburg) -->
<schema xmlns:dss="http://www.tuhh.de/kalypsoDSS" xmlns:par="http://www.tuhh.de/parameter" xmlns:na="http://www.tuhh.de/kalypsoNA" xmlns:sts="http://www.tuhh.de/NA/swaletrenchsystem" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xplan="http://www.xplanung.de/bplangml" targetNamespace="http://www.tuhh.de/kalypsoDSS" elementFormDefault="qualified" version="0.4">
	<import namespace="http://www.xplanung.de/bplangml" schemaLocation="BPlan-Minimal_measures.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<import namespace="http://www.tuhh.de/kalypsoNA" schemaLocation="namodell.xsd"/>
	<import namespace="http://www.tuhh.de/parameter" schemaLocation="parameter.xsd"/>
	<import namespace="http://www.tuhh.de/NA/swaletrenchsystem" schemaLocation="muldenRigole.xsd"/>
	<!--
	IMPORTANT!! ALL GEOMETRY PROPERTIES HAVE THE ELEMENT NAME POSITION
	-->
	<element name="DSSMeasures" type="dss:DSSMeasuresType">
		<annotation>
			<documentation xml:lang="de">
				<label>DSS Maßnahmen Kalypso</label>
				<tooltip>Maßnahmendatei</tooltip>
				<description>Maßnahmen</description>
			</documentation>
			<documentation xml:lang="en">
				<label>DSS measure Kalypso</label>
				<tooltip>measures file</tooltip>
				<description>Measures</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="DSSMeasuresType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="measuresMember" type="dss:DSSMeasureAssociationFeatureType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ________measure member__________________ -->
	<complexType name="DSSMeasureAssociationFeatureType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="dss:_Measure"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--____________________Abstract measure supertype for all measures_______________________________ -->
	<!-- Um mit XML Spy zu validieren muss abatract=false gesetzt sein (CK 17.11.05)
		 <element name="_Measure" type="gml:AbstractFeatureType" abstract="false" substitutionGroup="gml:_Feature"> 
	-->
	<element name="_Measure" type="gml:AbstractFeatureType" abstract="true" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">

						</documentation>
			<documentation xml:lang="en">
								acts as head of substitutiongroup "_Measure"
						</documentation>
		</annotation>
	</element>
	<!-- ____________________landuse measuers derived from ALB landuse type_____________________________ -->
	<element name="ALBLanduseMeasure" type="dss:ALBLanduseMeasureType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Nutzungsaenderung</label>
				<tooltip>Enthaelt Daten für eine Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</tooltip>
				<description>Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="ALBLanduseMeasureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="position" type="gml:PolygonPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>System Geometrie</label>
								<tooltip>Geometrie des Nutzungstypen</tooltip>
								<description>Fläche der Nutzungsänderung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
					<element name="landuseMember" type="dss:ALBLanduseMeasureAssociationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ALBLanduseMeasureAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="dss:NutzungALB">
						<annotation>
							<documentation xml:lang="de">
								<label>Nutzungsaenderung</label>
								<tooltip>Enthaelt Daten für eine Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</tooltip>
								<description>Nutzungsaenderung auf der Grundlage von ALB Nutzungungstypen</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="NutzungALB" type="dss:NutzungALBType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>ALB Nutzungstype</label>
				<tooltip>Enthaelt ALB Nutzungstype mit prozentualem Flaechenanteil</tooltip>
				<description>ALB Nutzungstype mit prozentualem Flaechenanteil</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="NutzungALBType">
		<complexContent>
			<extension base="par:NutzungType">
				<sequence>
					<element name="percentage" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Flaechenanteil</label>
								<tooltip>Flaechenanteil des ALB Nutzungstype</tooltip>
								<description>ALB Nutzungstype mit prozentualem Flaechenanteil</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--__________________________________Rueckhaltebeckenmaßnahme________________________________________ -->
	<element name="RetensionBasinMeasure" type="dss:RetensionBasinMeasureType" substitutionGroup="dss:_Measure"/>
	<complexType name="RetensionBasinMeasureType">
		<complexContent>
			<extension base="na:StorageChannelFeatureType">
				<sequence>
					<element name="position" type="gml:PolygonPropertyType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Rueckhaltebeckengeometrie</label>
								<tooltip>Aussenlinie des Rueckhaltebeckens</tooltip>
								<description>Flaeche des Rueckhaltebeckens</description>
							</documentation>
							<documentation xml:lang="en">
								<label>TODO</label>
								<tooltip>TODO</tooltip>
								<description>TODO</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--_____________________________________________Mulden-Rigolen-Maßnahme____________________________________ -->
	<element name="SwaleTrechSystemMeasure" type="sts:SwaleTrenchSysType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Mulen-Rigole</label>
				<tooltip>Mulden-Rigolen-Element</tooltip>
				<description>Mulden-Rigolen-Element</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<!--___________________________________________Nutzungsänderungen aus dem Bebauungsplan_____________________________ -->
	<!--
	<element name="BaugebietFlaechenTeilMeasure" type="dss:BaugebietFlaechenTeilMeasureType" substitutionGroup="dss:_Measure">
-->
	<element name="BaugebietFlaechenTeil" type="xplan:BaugebietsFlaechenTeilType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Baugebiet</label>
				<tooltip>Aussenlinie des Baugebiets</tooltip>
				<description>Flaeche des Baugebiets</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="GemeinbedarfsFlaeche" type="xplan:GemeinbedarfsFlaecheType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Gemeinbedarfsflaeche</label>
				<tooltip>Gemeinbedarfsflaeche im B-Plan</tooltip>
				<description>Gemeinbedarfsflaeche im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="SpielSportanlagenFlaecheMeasure" type="xplan:SpielSportanlagenFlaecheType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Sportanlagenflaeche</label>
				<tooltip>Spiel- und Sportanlagenflaechen im B-Plan</tooltip>
				<description>Spiel- und Sportanlagenflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="VerEntsorgungsFlaecheMeasure" type="xplan:VerEntsorgungsFlaecheType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Versorgungsflaechen</label>
				<tooltip>Ver- und Entsorgungsflaechen im B-Plan</tooltip>
				<description>Ver- und Entsorgungsflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="VerkehrsFlaeche" type="xplan:VerkehrsFlaecheType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Verkehrsflaechen</label>
				<tooltip>Verkehrsflaechen im B-Plan</tooltip>
				<description>Verkehrsflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="VerkehrsflaecheBesondererZweckbestimmung" type="xplan:VerkehrsflaecheBesondererZweckbestimmungType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Verkehrsflaechen m. bes. ZB</label>
				<tooltip>Verkehrsflaechen mit besonderer Zweckbestimmung im B-Plan</tooltip>
				<description>Verkehrsflaechen mit besonderer Zweckbestimmung im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="NebenanlagenStellplaetzeGaragenflaechenMeasure" type="xplan:NebenanlagenStellplaetzeGarabenflaechenType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Stellplaetze</label>
				<tooltip>Nebenanlagen für Stellplaetze und Garagenflaechen im B-Plan</tooltip>
				<description>Nebenanlagen für Stellplaetze und Garagenflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="NebenanlagenFlaeche" type="xplan:NebenanlagenFlaecheType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Nebenanlagen</label>
				<tooltip>Nebenanlagen im B-Plan</tooltip>
				<description>Nebenanlagen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
	<element name="GruenFlaeche" type="xplan:GruenFlaecheType" substitutionGroup="dss:_Measure">
		<annotation>
			<documentation xml:lang="de">
				<label>Gruenflaechen</label>
				<tooltip>Gruenflaechen im B-Plan</tooltip>
				<description>Gruenflaechen im B-Plan</description>
			</documentation>
			<documentation xml:lang="en">
				<label>TODO</label>
				<tooltip>TODO</tooltip>
				<description>TODO</description>
			</documentation>
		</annotation>
	</element>
</schema>
