_import/trunk/KalypsoSachsen/KalypsoModelWavos/src/org/kalypso/model/wavos/schemata/control.xsd

<schema targetNamespace="org.kalypso.wavos.control" version="0.1" xmlns:wavos="org.kalypso.wavos.control" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
        <import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
        <element name="WavosControl" type="wavos:_WavosControlType"/>
        <complexType name="_WavosControlBaseType">
                <complexContent>
                        <restriction base="gml:AbstractFeatureType"/>
                </complexContent>
        </complexType>
        <complexType name="_WavosControlType">
                <complexContent>
                        <extension base="wavos:_WavosControlBaseType">
                                <sequence>
                                        <element name="scenarioId" type="string" minOccurs="0" maxOccurs="1">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Szenario Id</label>
                                                                <tooltip>Id des Szenario in welchem die Rechnung durchgeführt wird</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="scenarioName" type="string" minOccurs="0" maxOccurs="1">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Szenario</label>
                                                                <tooltip>Name des Szenario in welchem die Rechnung durchgeführt wird</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="scenarioDescription" type="string" minOccurs="0" maxOccurs="1">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Szenario Beschreibung</label>
                                                                <tooltip>Beschreibung des Szenario in welchem die Rechnung durchgeführt wird</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <!---           will be calculated via Tagesanfang (startforecast - simulationDuration [d])      -->
                                        <element name="startsimulation" type="dateTime">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Start der Simulation</label>
                                                                <tooltip>Startzeitpunkt der Modellrechung</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="startforecast" type="dateTime" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Start der Vorhersage</label>
                                                                <tooltip>Startzeitpunkt der Vorhersagerechnung</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="simulationDuration" type="int" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de"> startsimulation = Tagesanfang(startforecast - simulationDuration) <label>Simulationszeitraum [d]</label>
                                                                <tooltip>Dauer der Simulationsrechnung [d]</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="forecastDuration" type="int" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Vorhersagezeitraum [h]</label>
                                                                <tooltip>Vorhersagezeitraum [h]</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="editor" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Ersteller</label>
                                                                <tooltip>Name des Erstellers</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="description" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Beschreibung</label>
                                                                <tooltip>Kurzbeschreibung dieses Rechenfalls</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="comment" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Kommentar</label>
                                                                <tooltip>Langbeschreibung dieses Rechenfalls</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="calctime" type="dateTime" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Erstellungszeitpunkt</label>
                                                                <tooltip>Zeitpunkt der Erstellung des Rechenfalls</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="calcMergePath" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Anfangswerte verwenden</label>
                                                                <tooltip>Anfangswerte verwenden</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="calcCaseContinued" type="boolean" default="false" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Rechenvariante fortsetzen</label>
                                                                <tooltip>Rechenvariante fortsetzen</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="intervalAmount" type="int" default="1" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Zeitschritt [h]</label>
                                                                <tooltip>Zeitschritt [h]</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="useAWerte" type="boolean" default="false" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Anfangswerte verwenden</label>
                                                                <tooltip>Anfangswerte verwenden</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
</schema>
