_import/trunk/KalypsoSachsen/KalypsoModelWavos/src/org/kalypso/model/wavos/schemata/modell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commons="org.kalypso.wavos.commons" xmlns:modell="org.kalypso.wavos.modell" xmlns:obslink="obslink.zml.kalypso.org" targetNamespace="org.kalypso.wavos.modell" elementFormDefault="qualified" version="0.1">
    <annotation>
        <appinfo xmlns:kapp="org.kalypso.appinfo">
            <kapp:gmlVersion>2.1.2</kapp:gmlVersion>
        </appinfo>
    </annotation>
    <!--    <import namespace="http://www.opengis.net/gml" schemaLocation="basis/feature.xsd"/>-->
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
    <import namespace="org.kalypso.wavos.commons" schemaLocation="commons.xsd"/>
    <import namespace="obslink.zml.kalypso.org" schemaLocation="gml/bce/obslink.xsd"/>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="WavosModell" type="modell:WavosModellType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Wavos-Modell</name>
                <label>Wavos-Modell</label>
                <tooltip>Wavos-Modell</tooltip>
                <description>Wavos-Modell</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="WavosModellType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Name</name>
                                <label>Name</label>
                                <tooltip>Name</tooltip>
                                <description>Name</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung</name>
                                <label>Beschreibung</label>
                                <tooltip>Beschreibung</tooltip>
                                <description>Beschreibung</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="internalModelId" type="commons:modellType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Modellgebiet</name>
                                <label>Modellgebiet</label>
                                <tooltip>Modellgebiet</tooltip>
                                <description>Modellgebiet</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:pegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegel</name>
                                <label>Pegel</label>
                                <tooltip>Pegel</tooltip>
                                <description>Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:vorhersagePegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Vorhersage-Pegel</name>
                                <label>Vorhersage-Pegel</label>
                                <tooltip>Vorhersage-Pegel</tooltip>
                                <description>Vorhersage-Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:zuflussPegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Zuflüsse</name>
                                <label>Zuflüsse</label>
                                <tooltip>Zuflüsse</tooltip>
                                <description>Zuflüsse</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        PEGEL (können wegen des ALTEN Schema-Parsers nicht in eigene XSD) 
    -->
    <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="AbstractPegel" type="modell:AbstractPegelType" substitutionGroup="gml:_Feature" abstract="true">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="vorhersagePegelMember" type="modell:VorhersagePegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Vorhersage-Pegel</name>
                <label>Vorhersage-Pegel</label>
                <tooltip>Vorhersage-Pegel</tooltip>
                <description>Vorhersage-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="VorhersagePegel" type="modell:VorhersagePegelType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Vorhersage-Pegel</name>
                <label>Vorhersage-Pegel</label>
                <tooltip>Vorhersage-Pegel</tooltip>
                <description>Vorhersage-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="zuflussPegelMember" type="modell:ZuflussPegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Zufluss-Pegel</name>
                <label>Zufluss-Pegel</label>
                <tooltip>Zufluss-Pegel</tooltip>
                <description>Zufluss-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="ZuflussPegel" type="modell:ZuflussPegelType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Zufluss-Pegel</name>
                <label>Zufluss-Pegel</label>
                <tooltip>Zufluss-Pegel</tooltip>
                <description>Zufluss-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="pegelMember" type="modell:AbstractPegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="Pegel" type="modell:AbstractPegelType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
    <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
    <complexType name="AbstractPegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:AbstractPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
    <complexType name="AbstractPegelType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="lage" type="gml:PointPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Lage</name>
                                <label>Lage</label>
                                <tooltip>Lage</tooltip>
                                <description>Lage</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname</name>
                                <label>Pegelname</label>
                                <tooltip>Pegelname</tooltip>
                                <description>Pegelname</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung des Pegels</name>
                                <label>Beschreibung des Pegels</label>
                                <tooltip>Beschreibung des Pegels</tooltip>
                                <description>Beschreibung des Pegels</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="id" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegel-ID</name>
                                <label>Pegel-ID</label>
                                <tooltip>Pegel-ID (Messstellen-ID)</tooltip>
                                <description>Pegel-ID (Messstellen-ID)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="nr" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>interne Pegel-Kennzeichnung</name>
                                <label>interne Pegel-Kennzeichnung</label>
                                <tooltip>interne Pegel-Kennzeichnung</tooltip>
                                <description>interne Pegel-Kennzeichnung</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="river" type="commons:riverType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Gewässer</name>
                                <label>Gewässer</label>
                                <tooltip>Gewässer</tooltip>
                                <description>Gewässer</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="VorhersagePegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:AbstractPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="VorhersagePegelType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence>
                    <element name="ganglinie_messwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Messwerte</name>
                                <label>Messwerte</label>
                                <tooltip>Messwerte</tooltip>
                                <description>Messwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_modellwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                    <name>Modellwerte</name>
                                    <label>Modellwerte</label>
                                    <tooltip>Modellwerte</tooltip>
                                    <description>Modellwerte</description>
                                </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_modellwerte_unten" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                    <name>Modellwerte (Untere Umhüllende)</name>
                                    <label>Modellwerte (Untere Umhüllende)</label>
                                    <tooltip>Modellwerte (Untere Umhüllende)</tooltip>
                                    <description>Modellwerte (Untere Umhüllende)</description>
                                </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_modellwerte_oben" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                    <name>Modellwerte (Obere Umhüllende)</name>
                                    <label>Modellwerte (Obere Umhüllende)</label>
                                    <tooltip>Modellwerte (Obere Umhüllende)</tooltip>
                                    <description>Modellwerte (Obere Umhüllende)</description>
                                </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_messwerte_w" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0">
                        <annotation>
                            <documentation xml:lang="de">
                                    <name>W-Messwerte (zur Information)</name>
                                    <label>W-Messwerte (zur Information)</label>
                                    <tooltip>W-Messwerte (zur Information)</tooltip>
                                    <description>W-Messwerte (zur Information)</description>
                                </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_vorhersage_cz" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0">
                        <annotation>
                            <documentation xml:lang="de">
                                    <name>(tschechische) Vorhersagewerte</name>
                                    <label>(tschechische) Vorhersagewerte</label>
                                    <tooltip>(tschechische) Vorhersagewerte</tooltip>
                                    <description>(tschechische) Vorhersagewerte</description>
                                </documentation>
                        </annotation>
                    </element>
                    <element name="accuracyPrediction" type="double" minOccurs="0">
                        <annotation>
                            <documentation xml:lang="de">
                                    <label>Vorhersagegenauigkeit [%/(60h)]</label>
                                    <tooltip>Genauigkeit der Vorhersage in % pro 60 Stunden zur Berechnung der Umhüllenden</tooltip>
                                    <description>Genauigkeit der Vorhersage in % pro 60 Stunden zur Berechnung der Umhüllenden</description>
                                </documentation>
                            <documentation xml:lang="en">
                                    <label>Forecast Accuracy [%/(60h)]</label>
                                    <tooltip>Accuracy of prediction in % per 60 hours in order to calculate confidence interval</tooltip>
                                    <description>Accuracy of prediction in % per 60 hours in order to calculate confidence interval</description>
                                </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ZuflussPegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:ZuflussPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ZuflussPegelType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence>
                    <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Abfluss-Ganglinie</name>
                                <label>Abfluss-Ganglinie</label>
                                <tooltip>Abfluss-Ganglinie</tooltip>
                                <description>Abfluss-Ganglinie</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
    <complexType name="AbstractPegelLinkPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence minOccurs="0" maxOccurs="0">
                    <element ref="modell:AbstractPegel"/>
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>
</schema>
