_import/trunk/KalypsoSachsen/KalypsoModelWavos/src/org/kalypso/model/wavos/schemata/modell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commons="org.kalypso.wavos.commons" xmlns:modell="org.kalypso.wavos.modell" xmlns:obslink="obslink.zml.kalypso.org" targetNamespace="org.kalypso.wavos.modell" elementFormDefault="qualified" version="0.1">
        <annotation>
                <appinfo xmlns:kapp="org.kalypso.appinfo">
                        <kapp:gmlVersion>2.1.2</kapp:gmlVersion>
                </appinfo>
        </annotation>
        <!--    <import namespace="http://www.opengis.net/gml" schemaLocation="basis/feature.xsd"/>-->
        <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
        <import namespace="org.kalypso.wavos.commons" schemaLocation="commons.xsd"/>
        <import namespace="obslink.zml.kalypso.org" schemaLocation="gml/bce/obslink.xsd"/>
        <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
        <element name="WavosModell" type="modell:WavosModellType" substitutionGroup="gml:_Feature">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Wavos-Modell</name>
                                <label>Wavos-Modell</label>
                                <tooltip>Wavos-Modell</tooltip>
                                <description>Wavos-Modell</description>
                        </documentation>
                </annotation>
        </element>
        <!-- 
        _________________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
        <complexType name="WavosModellType">
                <complexContent>
                        <extension base="commons:EmptyFeatureBaseType">
                                <sequence>
                                        <element name="name" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Name</name>
                                                                <label>Name</label>
                                                                <tooltip>Name</tooltip>
                                                                <description>Name</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="description" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Beschreibung</name>
                                                                <label>Beschreibung</label>
                                                                <tooltip>Beschreibung</tooltip>
                                                                <description>Beschreibung</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="internalModelId" type="commons:modellType">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Modellgebiet</name>
                                                                <label>Modellgebiet</label>
                                                                <tooltip>Modellgebiet</tooltip>
                                                                <description>Modellgebiet</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element ref="modell:pegelMember" minOccurs="0" maxOccurs="unbounded">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Pegel</name>
                                                                <label>Pegel</label>
                                                                <tooltip>Pegel</tooltip>
                                                                <description>Pegel</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element ref="modell:bauwerkMember" minOccurs="0" maxOccurs="unbounded">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Polder</name>
                                                                <label>Polder</label>
                                                                <tooltip>Polder</tooltip>
                                                                <description>Polder</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!-- 
        PEGEL (können wegen des ALTEN Schema-Parsers nicht in eigene XSD) 
    -->
        <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
        <element name="AbstractPegel" type="modell:AbstractPegelType" substitutionGroup="gml:_Feature" abstract="true">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Pegel</name>
                                <label>Pegel</label>
                                <tooltip>Pegel</tooltip>
                                <description>Pegel</description>
                        </documentation>
                </annotation>
        </element>
        <element name="AbstractBauwerk" type="modell:AbstractBauwerkType" substitutionGroup="gml:_Feature" abstract="true">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Bauwerk</name>
                                <label>Bauwerk</label>
                                <tooltip>Bauwerk</tooltip>
                                <description>Bauwerk</description>
                        </documentation>
                </annotation>
        </element>
        <element name="AbstractPolder" type="modell:AbstractPolderType" substitutionGroup="modell:AbstractBauwerk" abstract="true">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Polder</name>
                                <label>Polder</label>
                                <tooltip>Polder</tooltip>
                                <description>Polder</description>
                        </documentation>
                </annotation>
        </element>
        <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
        <!-- PEGEL -->
        <element name="VorhersagePegel" type="modell:VorhersagePegelType" substitutionGroup="modell:AbstractPegel">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Vorhersage-Pegel</name>
                                <label>Vorhersage-Pegel</label>
                                <tooltip>Vorhersage-Pegel</tooltip>
                                <description>Vorhersage-Pegel</description>
                        </documentation>
                </annotation>
        </element>
        <element name="ZuflussPegel" type="modell:ZuflussPegelType" substitutionGroup="modell:AbstractPegel">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Zufluss-Pegel</name>
                                <label>Zufluss-Pegel</label>
                                <tooltip>Zufluss-Pegel</tooltip>
                                <description>Zufluss-Pegel</description>
                        </documentation>
                </annotation>
        </element>
        <!--könnte wohl auch abstract sein-->
        <element name="pegelMember" type="modell:AbstractPegelPropertyType">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Pegel</name>
                                <label>Pegel</label>
                                <tooltip>Pegel</tooltip>
                                <description>Pegel</description>
                        </documentation>
                </annotation>
        </element>
        <!-- BAUWERKE -->
        <element name="Polder" type="modell:PolderType" substitutionGroup="modell:AbstractPolder">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Polder</name>
                                <label>Polder</label>
                                <tooltip>Polder</tooltip>
                                <description>Polder</description>
                        </documentation>
                </annotation>
        </element>
        <element name="Bauwerk" type="modell:BauwerkType" substitutionGroup="modell:AbstractBauwerk">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Bauwerk</name>
                                <label>Bauwerk</label>
                                <tooltip>Bauwerk</tooltip>
                                <description>Bauwerk</description>
                        </documentation>
                </annotation>
        </element>
        <!--könnte wohl auch abstract sein-->
        <!-- 
    ACHTUNG! Der alte Schema-Parser kann Ableitungen nicht über zwei Stufen auflösen, deshalb ist hier der Typ "falsch" gesetzt 
    <element name="bauwerkMember" type="modell:AbstractBauwerkPropertyType">
    -->
        <element name="bauwerkMember" type="modell:AbstractPolderPropertyType">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Bauwerk</name>
                                <label>Bauwerk</label>
                                <tooltip>Bauwerk</tooltip>
                                <description>Bauwerk</description>
                        </documentation>
                </annotation>
        </element>
        <!--könnte wohl auch abstract sein-->
        <element name="PolderMember" type="modell:AbstractPolderPropertyType">
                <annotation>
                        <documentation xml:lang="de">
                                <name>Polder</name>
                                <label>Polder</label>
                                <tooltip>Polder</tooltip>
                                <description>Polder</description>
                        </documentation>
                </annotation>
        </element>
        <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
        <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
        <complexType name="AbstractPegelPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:AbstractPegel"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
        <complexType name="AbstractPegelType">
                <complexContent>
                        <extension base="commons:EmptyFeatureBaseType">
                                <sequence>
                                        <element name="lage" type="gml:PointPropertyType">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Lage</name>
                                                                <label>Lage</label>
                                                                <tooltip>Lage</tooltip>
                                                                <description>Lage</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="name" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Pegelname</name>
                                                                <label>Pegelname</label>
                                                                <tooltip>Pegelname</tooltip>
                                                                <description>Pegelname</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="description" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Beschreibung</name>
                                                                <label>Beschreibung</label>
                                                                <tooltip>Beschreibung</tooltip>
                                                                <description>Beschreibung</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="id" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Pegel-ID</name>
                                                                <label>Pegel-ID</label>
                                                                <tooltip>Pegel-ID (Messstellen-ID)</tooltip>
                                                                <description>Pegel-ID (Messstellen-ID)</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="lageAmGewaesser" type="double">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Lage am Fluss [km]</name>
                                                                <label>Lage am Fluss [km]</label>
                                                                <tooltip>Lage am Fluss [km]</tooltip>
                                                                <description>Lage am Fluss [km]</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="pegelNullPunkt" type="double">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Pegelnullpunkt [m ü. NHN]</name>
                                                                <label>Pegelnullpunkt [m ü. NHN]</label>
                                                                <tooltip>Pegelnullpunkt [m ü. NHN]</tooltip>
                                                                <description>Pegelnullpunkt [m ü. NHN]</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="kenn" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de"> z.B. SCHO für Schöna, wird beim Schreiben des nativen Datenformates benötigt <name>interne Kennzeichnung</name>
                                                                <label>interne Kennzeichnung</label>
                                                                <tooltip>interne Kennzeichnung</tooltip>
                                                                <description>interne Kennzeichnung</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="lfdNum" type="int">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>interne laufende Nummer</name>
                                                                <label>interne laufende Nummer</label>
                                                                <tooltip>interne laufende Nummer</tooltip>
                                                                <description>interne laufende Nummer</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="river" type="commons:riverType">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Gewässer</name>
                                                                <label>Gewässer</label>
                                                                <tooltip>Gewässer</tooltip>
                                                                <description>Gewässer</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="datenUebergabe" type="commons:dataDeliveryType" default="W" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de"> Typ, in dem Zeitreihendaten an den Rechenkern übergeben werden (W/Q) <name>Typ der Datenübergabe</name>
                                                                <label>Typ der Datenübergabe</label>
                                                                <tooltip>Typ der Datenübergabe</tooltip>
                                                                <description>Typ der Datenübergabe</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="createAT" type="boolean" default="false" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de"> soll / muss AT-Datei aus ZML erzeugt werden? iIm Rechenkern stecken alle schon mit drin<name>AT-Datei zu erzeugen</name>
                                                                <label>AT-Datei erzeugen</label>
                                                                <tooltip>AT-Datei erzeugen</tooltip>
                                                                <description>AT-Datei erzeugen</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="projektionErlaubt" type="boolean" default="false" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de"> ja, wenn Eintrag/Zeile in Datei fluss.pro vorhanden <name>Projektion erlaubt</name>
                                                                <label>Projektion erlaubt</label>
                                                                <tooltip>Projektion erlaubt</tooltip>
                                                                <description>Projektion erlaubt</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="projektionEmpfohlen" type="commons:projektionType" default="0" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Empfehlung Projektion</name>
                                                                <label>Empfehlung Projektion</label>
                                                                <tooltip>Empfehlung Projektion</tooltip>
                                                                <description>Empfehlung Projektion</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="projektionEingschaltet" type="commons:projektionType" default="0" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Projektion</name>
                                                                <label>Projektion</label>
                                                                <tooltip>Projektion</tooltip>
                                                                <description>Projektion</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="zuflussVorhersage" type="boolean" default="false" nillable="false">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Zuflussvorhersage vorhanden</name>
                                                                <label>Zuflussvorhersage vorhanden</label>
                                                                <tooltip>Zuflussvorhersage vorhanden</tooltip>
                                                                <description>Zuflussvorhersage vorhanden</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_reserve_1" type="obslink:TimeseriesLinkFeatureProperty" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Reserveganglinie 1</name>
                                                                <label>Reserveganglinie 1</label>
                                                                <tooltip>Reserveganglinie 1</tooltip>
                                                                <description>Reserveganglinie 1</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_reserve_2" type="obslink:TimeseriesLinkFeatureProperty" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Reserveganglinie 2</name>
                                                                <label>Reserveganglinie 2</label>
                                                                <tooltip>Reserveganglinie 2</tooltip>
                                                                <description>Reserveganglinie 2</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_reserve_3" type="obslink:TimeseriesLinkFeatureProperty" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Reserveganglinie 3</name>
                                                                <label>Reserveganglinie 3</label>
                                                                <tooltip>Reserveganglinie 3</tooltip>
                                                                <description>Reserveganglinie 3</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_reserve_4" type="obslink:TimeseriesLinkFeatureProperty" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Reserveganglinie 4</name>
                                                                <label>Reserveganglinie 4</label>
                                                                <tooltip>Reserveganglinie 4</tooltip>
                                                                <description>Reserveganglinie 4</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
        <complexType name="AbstractBauwerkPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:AbstractBauwerk"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
        <complexType name="AbstractBauwerkType">
                <complexContent>
                        <extension base="commons:EmptyFeatureBaseType">
                                <sequence>
                                        <element name="lage" type="gml:PointPropertyType">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Lage</name>
                                                                <label>Lage</label>
                                                                <tooltip>Lage</tooltip>
                                                                <description>Lage</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="name" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Poldername</name>
                                                                <label>Poldername</label>
                                                                <tooltip>Poldername</tooltip>
                                                                <description>Poldername</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="description" type="string" nillable="true">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Beschreibung</name>
                                                                <label>Beschreibung</label>
                                                                <tooltip>Beschreibung</tooltip>
                                                                <description>Beschreibung</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="kenn" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de"> z.B. SCHO für Schöna, wird beim Schreiben des nativen Datenformates benötigt <name>interne Kennzeichnung</name>
                                                                <label>interne Kennzeichnung</label>
                                                                <tooltip>interne Kennzeichnung</tooltip>
                                                                <description>interne Kennzeichnung</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="lfdNum" type="int">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>interne laufende Nummer</name>
                                                                <label>interne laufende Nummer</label>
                                                                <tooltip>interne laufende Nummer</tooltip>
                                                                <description>interne laufende Nummer</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="river" type="commons:riverType">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Gewässer</name>
                                                                <label>Gewässer</label>
                                                                <tooltip>Gewässer</tooltip>
                                                                <description>Gewässer</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
        <complexType name="AbstractPolderPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:AbstractPolder"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <!--  Nicht abstrakt, weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
        <complexType name="AbstractPolderType">
                <complexContent>
                        <extension base="modell:AbstractBauwerkType">
                                <sequence> </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
        <!-- PEGEL -->
        <complexType name="VorhersagePegelPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:AbstractPegel"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <complexType name="VorhersagePegelType">
                <complexContent>
                        <extension base="modell:AbstractPegelType">
                                <sequence>
                                        <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Mess- und Vorgabewerte</name>
                                                                <label>Mess- und Vorgabewerte</label>
                                                                <tooltip>Mess- und Vorgabewerte</tooltip>
                                                                <description>Mess- und Vorgabewerte</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_information" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Ganglinie (zur Information)</name>
                                                                <label>Ganglinie (zur Information)</label>
                                                                <tooltip>Ganglinie (zur Information)</tooltip>
                                                                <description>Ganglinie (zur Information)</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_vorhersage" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Vorhersagewerte</name>
                                                                <label>Vorhersagewerte</label>
                                                                <tooltip>Vorhersagewerte</tooltip>
                                                                <description>Vorhersagewerte</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_vorhersage_unten" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>untere Umhüllende</name>
                                                                <label>untere Umhüllende</label>
                                                                <tooltip>untere Umhüllende</tooltip>
                                                                <description>untere Umhüllende</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_vorhersage_oben" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>obere Umhüllende</name>
                                                                <label>obere Umhüllende</label>
                                                                <tooltip>obere Umhüllende</tooltip>
                                                                <description>obere Umhüllende</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_vorhersage_original" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">ohne "Heranbiegen" an Messwerte <name>Vorhersagewerte (ohne Verschiebung)</name>
                                                                <label>Vorhersagewerte (ohne Verschiebung)</label>
                                                                <tooltip>Vorhersagewerte (ohne Verschiebung)</tooltip>
                                                                <description>Vorhersagewerte (ohne Verschiebung)</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_vorhersage_unten_original" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">ohne "Heranbiegen" an Messwerte <name>untere Umhüllende (ohne Verschiebung)</name>
                                                                <label>untere Umhüllende (ohne Verschiebung)</label>
                                                                <tooltip>untere Umhüllende (ohne Verschiebung)</tooltip>
                                                                <description>untere Umhüllende (ohne Verschiebung)</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="ganglinie_vorhersage_oben_original" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">ohne "Heranbiegen" an Messwerte <name>obere Umhüllende (ohne Verschiebung)</name>
                                                                <label>obere Umhüllende (ohne Verschiebung)</label>
                                                                <tooltip>obere Umhüllende (ohne Verschiebung)</tooltip>
                                                                <description>obere Umhüllende (ohne Verschiebung)</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="accuracyPrediction" type="double" minOccurs="0">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Vorhersagegenauigkeit [%/(60h)]</label>
                                                                <tooltip>Genauigkeit der Vorhersage in % pro 60 Stunden zur Berechnung der Umhüllenden</tooltip>
                                                                <description>Genauigkeit der Vorhersage in % pro 60 Stunden zur Berechnung der Umhüllenden</description>
                                                        </documentation>
                                                        <documentation xml:lang="en">
                                                                <label>Forecast Accuracy [%/(60h)]</label>
                                                                <tooltip>Accuracy of prediction in % per 60 hours in order to calculate confidence interval</tooltip>
                                                                <description>Accuracy of prediction in % per 60 hours in order to calculate confidence interval</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <complexType name="ZuflussPegelPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:ZuflussPegel"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <complexType name="ZuflussPegelType">
                <complexContent>
                        <extension base="modell:AbstractPegelType">
                                <sequence>
                                        <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Abfluss-Ganglinie</name>
                                                                <label>Abfluss-Ganglinie</label>
                                                                <tooltip>Abfluss-Ganglinie</tooltip>
                                                                <description>Abfluss-Ganglinie</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!-- BAUWERKE -->
        <complexType name="PolderPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:Polder"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <complexType name="PolderType">
                <complexContent>
                        <extension base="modell:AbstractPolderType">
                                <sequence>
                                        <element name="ganglinie_zustand" type="obslink:TimeseriesLinkFeatureProperty">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <name>Polderöffnung</name>
                                                                <label>Polderöffnung</label>
                                                                <tooltip>Polderöffnung</tooltip>
                                                                <description>Polderöffnung</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <complexType name="BauwerkPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence>
                                        <element ref="modell:Bauwerk"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <complexType name="BauwerkType">
                <complexContent>
                        <extension base="modell:AbstractBauwerkType">
                                <sequence> </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
        <complexType name="AbstractPegelLinkPropertyType">
                <complexContent>
                        <restriction base="gml:FeatureAssociationType">
                                <sequence minOccurs="0" maxOccurs="0">
                                        <element ref="modell:AbstractPegel"/>
                                </sequence>
                                <attributeGroup ref="gml:AssociationAttributeGroup"/>
                        </restriction>
                </complexContent>
        </complexType>
</schema>
