_dump/tags/Kalypso_2.2.0.RC1_build20091010/KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/breakline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of Kalypso
        
        Copyright (c) 2008 by
        
        Björnsen Beratende Ingenieure GmbH, Koblenz, Germany (Bjoernsen Consulting Engineers), http://www.bjoernsen.de
        Technische Universität Hamburg-Harburg, Institut für Wasserbau, Hamburg, Germany
        (Technical University Hamburg-Harburg, Institute of River and Coastal Engineering), http://www.tu-harburg.de/wb/
        
        Kalypso is free software: you can redistribute it and/or modify it under the terms  
        of the GNU Lesser General Public License (LGPL) as published by the Free Software 
        Foundation, either version 3 of the License, or (at your option) any later version.
        
        Kalypso is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
        warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
        
        You should have received a copy of the GNU Lesser General Public
        License along with Kalypso.  If not, see <http://www.gnu.org/licenses/>.
-->
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wspmcommon="org.kalypso.model.wspmcommon" targetNamespace="org.kalypso.model.wspmbreakline" xmlns:breakline="org.kalypso.model.wspmbreakline" elementFormDefault="qualified" version="0.1">
        <annotation>
                <appinfo xmlns:kapp="org.kalypso.appinfo">
                        <kapp:gmlVersion>3.1.1</kapp:gmlVersion>
                </appinfo>
        </annotation>
        <import namespace="org.kalypso.model.wspmcommon" schemaLocation="wspmCommons.xsd"/>
        <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
        <!-- schema for breaklines -->
        <!-- 
	_________________________________________________________________________________________
	ELEMENTS
	_________________________________________________________________________________________
	-->
        <element name="BreaklineCollection" type="breakline:BreaklineCollectionType" substitutionGroup="gml:_Feature">
                <annotation>
                        <documentation xml:lang="de">
                                <label>Bruchkanten</label>
                                <tooltip>Bruchkanten</tooltip>
                                <description>Bruchkanten</description>
                        </documentation>
                        <documentation xml:lang="en">
                                <label>Breaklines</label>
                                <tooltip>Breaklines</tooltip>
                                <description>Breaklines</description>
                        </documentation>
                </annotation>
        </element>
        <!--
	-->
        <element name="breaklineMember" type="breakline:BreaklinePropertyType" substitutionGroup="gml:featureMember">
                <annotation>
                        <documentation xml:lang="de">
                                <label>Bruchkante</label>
                                <tooltip>Bruchkante</tooltip>
                                <description>Bruchkante</description>
                        </documentation>
                        <documentation xml:lang="en">
                                <label>Breakline</label>
                                <tooltip>Breakline</tooltip>
                                <description>Breakline</description>
                        </documentation>
                </annotation>
        </element>
        <element name="Breakline" type="breakline:BreaklineType" substitutionGroup="gml:_Feature">
                <annotation>
                        <documentation xml:lang="de">
                                <label>Bruchkante ${property:org.kalypso.model.wspmbreakline#station}</label>
                                <tooltip>Bruchkante ${property:org.kalypso.model.wspmbreakline#station</tooltip>
                                <description>Bruchkante ${property:org.kalypso.model.wspmbreakline#station</description>
                        </documentation>
                        <documentation xml:lang="en">
                                <label>Breakline ${property:org.kalypso.model.wspmbreakline#station}</label>
                                <tooltip>Breakline ${property:org.kalypso.model.wspmbreakline#station</tooltip>
                                <description>Breakline ${property:org.kalypso.model.wspmbreakline#station</description>
                        </documentation>
                </annotation>
        </element>
        <!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________
	-->
        <complexType name="BreaklineCollectionPropertyType">
                <complexContent>
                        <restriction base="gml:FeaturePropertyType">
                                <sequence>
                                        <element ref="breakline:BreaklineCollection"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <complexType name="BreaklineCollectionType">
                <complexContent>
                        <extension base="wspmcommon:EmptyFeatureBaseType">
                                <sequence>
                                        <element ref="breakline:breaklineMember" minOccurs="0" maxOccurs="unbounded">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Bruchkanten</label>
                                                                <tooltip>Bruchkanten</tooltip>
                                                                <description>Bruchkanten</description>
                                                        </documentation>
                                                        <documentation xml:lang="en">
                                                                <label>Breaklines</label>
                                                                <tooltip>Breaklines</tooltip>
                                                                <description>Breaklines</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
        <!--
	-->
        <complexType name="BreaklinePropertyType">
                <complexContent>
                        <restriction base="gml:FeaturePropertyType">
                                <sequence>
                                        <element ref="breakline:Breakline"/>
                                </sequence>
                        </restriction>
                </complexContent>
        </complexType>
        <complexType name="BreaklineType">
                <complexContent>
                        <extension base="wspmcommon:EmptyFeatureBaseType">
                                <sequence>
                                        <element name="geometry" type="gml:LineStringPropertyType">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Bruchkantengeometrie</label>
                                                                <tooltip>Bruchkantengeometrie</tooltip>
                                                                <description>Bruchkantengeometrie</description>
                                                        </documentation>
                                                        <documentation xml:lang="en">
                                                                <label>Breakline geometry</label>
                                                                <tooltip>Breakline geometry</tooltip>
                                                                <description>Breakline geometry</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="station" type="wspmcommon:stationDouble">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Station</label>
                                                                <tooltip>Station</tooltip>
                                                                <description>Station</description>
                                                        </documentation>
                                                        <documentation xml:lang="en">
                                                                <label>Station</label>
                                                                <tooltip>Station</tooltip>
                                                                <description>Station</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="wsp" type="double">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Wasserspiegel</label>
                                                                <tooltip>Wasserspiegel</tooltip>
                                                                <description>Wasserspiegel</description>
                                                        </documentation>
                                                        <documentation xml:lang="en">
                                                                <label>Water level</label>
                                                                <tooltip>Water level</tooltip>
                                                                <description>Water level</description>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
</schema>
