trunk/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/schemata/simpleShapeCatchment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://sourceforge.kalypso.org/schemata/hydrology/simpleShapeCatchment" xmlns:ssc="http://sourceforge.kalypso.org/schemata/hydrology/simpleShapeCatchment"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>2.1.2</kapp:gmlVersion>
		</appinfo>
		<documentation>Simple catchment-node schema used for exporting custom shape for PLC.</documentation>
	</annotation>

	<import namespace="http://www.opengis.net/gml" />

	<element name="SimpleShapeCatchmentCollection" substitutionGroup="gml:_Feature">
		<complexType>
			<complexContent>
				<extension base="gml:AbstractFeatureType">
					<sequence>
						<element name="simpleShapeCatchmentMember" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence minOccurs="1">
									<element ref="ssc:SimpleShapeCatchment" />
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<!-- Definition of the members of the above collection. Just a simple feature. -->
	<element name="SimpleShapeCatchment" substitutionGroup="gml:_Feature">
		<complexType>
			<complexContent>
				<extension base="gml:AbstractFeatureType">
					<sequence>
						<element name="location" type="gml:MultiPolygonPropertyType" />
						<element name="drainageNodeID" type="string" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>


</schema>
