temp/tags/branch_kalypsoProduct_v2_0_20080528/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/v0.1/ombrometer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://org.kalypso.ombrometer" version="0.9" xmlns:na="http://org.kalypso.ombrometer" 
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified">
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="obslink.xsd"/>

	<element name="OmbrometerCollection" type="na:OmbrometerCollectionType"/>
	<complexType name="OmbrometerCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="ombrometerMember" type="na:OmbrometerAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="OmbrometerAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Ombrometer"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Ombrometer" type="na:OmbrometerType" substitutionGroup="gml:_Feature"/>
	<complexType name="OmbrometerType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="DWDID" type="string"/>
					<element name="NRepository" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="N" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="TRepository" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="T" type="obslink:TimeseriesLinkFeatureProperty"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
