temp/tags/STAND_SCHULUNG_DRESDEN_20041112/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/namodell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Andersen (no) -->
<schema targetNamespace="http://www.tuhh.de/kalypsoNA" version="0.9" 
	xmlns:na="http://www.tuhh.de/kalypsoNA" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified">
	<import namespace="http://www.opengis.net/gml" 
		schemaLocation="feature.xsd"/>
	<import namespace="obslink.zml.kalypso.org" 
		schemaLocation="obslink.xsd"/>
	<!--<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	-->
	
	<element name="NaModell" type="na:NaModellType"/>
	<complexType name="NaModellType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="CatchmentCollectionMember" 
						type="na:CatchmentCollectionAssociationType"/>
					<element name="ChannelCollectionMember" 
						type="na:ChannelCollectionAssociationType"/>
					<element name="NodeCollectionMember" 
						type="na:NodeCollectionAssociationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- __ Nodes _________________________________ -->
	<complexType name="NodeCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:NodeCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="NodeCollection" type="na:NodeCollectionType" 
		substitutionGroup="gml:_Feature"/>
	<complexType name="NodeCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="nodeMember" type="na:NodeAssociationType" 
						minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="NodeAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Node"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Node" type="na:NodeFeatureType" 
		substitutionGroup="gml:_Feature"/>
	<complexType name="NodeFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
                    <element name="Ort" type="gml:PointPropertyType"/>            
        			<element name="num" type="integer">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Nummer</label>
                                <tooltip>Knoten Nummer</tooltip>
                                <description>Jedem knoten ist eine Knotennummer zugewiesen. Diese ist eindeutig und sollte nicht veraendert werden</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="generateResult" type="boolean">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>berechne</label>
                                <tooltip>Ergebnis für diesen Knoten berechnen/erzeugen</tooltip>
                                <description></description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
        			<element name="downStreamChannelMember" type="na:ChannelAssociationType" minOccurs="0" maxOccurs="1">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>UnterwasserLink</label>
                                <tooltip>Gewaesserstrang der Unterwasser anschliesst</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<!-- ZR Zufluss falls zufluss vorhanden --> 
		            <element name="zuflussZRRepository" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Zufluss Eingang</label>
                                <tooltip>Verknuepfte Zuflusszeitreihe, Eingangsdaten</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
		            <element name="zuflussZR" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Zufluss Berechnung</label>
                                <tooltip>Verknuepfte Zuflusszeitreihe, Berechnungsdaten</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
          			<element name="nzufPfad" type="string"/> <!-- TODO loeschen -->
        			<!-- ZR Pegel falls Pegel vorhanden-->
		            <element name="pegelZRRepository" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Pegel(rep)</label>
                                <tooltip>Verknuepfung Pegel Repository</tooltip>
                                <description>.</description>
                            </documentation>
                                                   </annotation>
        			</element>
		            <element name="pegelZR" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Pegel (lok)</label>
                                <tooltip>Verknuepfung Pegel lokal</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
					<!-- ZR berechnet hier wird das ergebnis gespeichert-->
		            <element name="qberechnetZR" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Abfluss berechnet</label>
                                <tooltip>Berechnete Abflussganglinie</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <!-- verzweigung -->
					<element name="zproz" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Verzweigungsfaktor</label>
                                <tooltip>Anteil des Abflusses, der dem Verzweigungsknoten zugefuehrt wird (0-1)</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="verzweigungNodeMember" type="na:NodeAssociationType">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Verzweigung</label>
                                <tooltip>Verknuepfung Zielknoten der Verzweigung</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	

	<!-- ___________________________________ -->
	<complexType name="CatchmentCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:CatchmentCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="CatchmentCollection" type="na:CatchmentCollectionType" 
		substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CatchmentCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="catchmentMember" 
						type="na:CatchmentAssociationType" minOccurs="0" 
						maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Catchment" type="na:CatchmentFeatureType" 
		substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
                <sequence>
                    <!--
    ___________(inum,i5)____(ispk,i3)
(text,a80)
(flaech,*)
(pns,a1)_(kurzzeit,a)_(namfn,a)_(langzeit,a)_(faktn,f5.2)
(namft,a)_(namept,a)
(namfzf,a)
(namhydro,a)
(snowtype,a15)(ftem,*)_(fver,*)
    -->
                    <element name="Ort" type="gml:PolygonPropertyType"/>
                    <element name="inum" type="integer">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Nummer</label>
                                <tooltip>Teilgebietnummer</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="generateResult" type="boolean">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>berechnen</label>
                                <tooltip>Berechnung bzw. Ergebnisse erzeugen</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="ispk" type="integer">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Gebietsart</label>
                                <tooltip></tooltip>
                                <description>nicht veraenderbar</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="text" type="string">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Kommentar</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element> <!-- TODO benoetigt ? -->
                    <element name="flaech" type="long">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Flaeche</label>
                                <tooltip>Flaeche des Teilgebietes</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="pns" type="string"/> <!-- TODO loeschen, standardwert rausschreiben -->
                    <element name="kurzzeit" type="string"/> <!-- TODO loeschen, da jetzt Teilgebietsmodell -->
                    <element name="langzeit" type="string"/> <!-- TODO loeschen, da jetzt Teilgebietsmodell -->               
                    <element name="namfn" type="string"/> <!-- TODO loeschen, da standard-name -->
                    <element name="faktn" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Faktor Niederschlag</label>
                                <tooltip>Faktor mit dem der Niederschlag multipliziert wird</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="namft" type="string"/> <!-- TODO loeschen, da standard-name -->
                    <element name="namept" type="string"/> <!-- TODO loeschen, da standard-name -->
                    <element name="namfzf" type="string"/> <!-- TODO zeitflaechenfunktion lesen -->
                    <element name="namhydro" type="string"/> <!-- TODO hydrotope uebernehmen -->
                    <element name="snowtype" type="string"/> <!-- TODO standard oder snowdatei uebernehmen -->
                    <element name="ftem" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Temperaturverschiebung</label>
                                <tooltip>Korrekturwert Temperatur, additiv</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element> 
                    <element name="fver" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Korrektur Verdunstung</label>
                                <tooltip>Korreturwert Verdunstung, multiplikativ</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <!--
(vsg,f5.3)(anzlayy,i5)_____(bimax,f5.1)_____(bianf,f5.1)(izkn_vers,f5.1)_____(tint,f5.1)_____(rintmx,f5.1)
-->
                    <element name="vsg" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Versiegelungsgrad</label>
                                <tooltip>Versiegelungsgrad (0.0-1.0)</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="anzlayy" type="integer"/> <!-- TODO loeschen sollte aus listtenanzahl hervorgehen-->
                    <element name="bimax" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Korr. Max Interzeption</label>
                                <tooltip>Korrekturfaktor maximaler Inhalt Interzeptionsspeicher</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="bianf" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Korr. Anfang Interzeption</label>
                                <tooltip>Korrekturfaktor Anfangsinhalt Interzeptionsspeicher</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="faktorBianf" type="double"/> <!-- TODO loeschen, bianf ist schon der faktor -->                     
                    <element name="izkn_vers" type="integer"/> <!-- TODO loeschen, geht aus relation hervor -->
                    <element name="tint" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Anstieg Interflow</label>
                                <tooltip>Anstiegsrate Interflow</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element> 
                    <element name="rintmx" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Interflow max</label>
                                <tooltip>maximaler Interflow</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <!-- 
 (cinh,*)_(cind,*)_(cex,*)_(bmax,*)_(banf,*)_(fko,*)_(retlay,*)_(evalay,*)
siehe bodenkorrekturmember...
-->
                    <element name="bodenkorrekturmember" type="na:bodenschichtkorrekturAssociationType" maxOccurs="10"/>
                    <!--
(f_eva,f4.1)_(aint,f4.1)_(aigw,f6.2)_(fint,f4.2)_(ftra,f4.2)
(retvs,*)_(retob,*)_(retint,*)_(retbas,*)_(retgw,*)_(retklu,*)
(igwzu,*)
-->
                    <element name="f_eva" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Korr. Verdunstung Vegetationsabhaengig</label>
                                <tooltip>Vegetationsabhaengige Korrektur der Verdunstung</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="aint" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Anfangsinhalt Interzeptionsspeicher</label>
                                <tooltip>Anfangsinhalt Interzeptionsspeicher</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="aigw" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>Anfangsinhalt Grundwasserspeicher</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="faktorAigw" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>faktor AIGW</label>
                                <tooltip>Faktor</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="fint" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="ftra" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="retvs" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="retob" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="retint" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="faktorRetobRetint" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>                
                    <element name="retbas" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="retgw" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="retklu" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="igwzu" type="integer"/> <!-- TODO loeschen, sollte aus listenanzahl hervorgehen -->
                    <!--
 (ngwzu,*)_...
 (gwwi,*)_...
-->
                    
                    <element name="grundwasserabflussMember" type="na:grundwasserabflussAssociationType" maxOccurs="6">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="entwaesserungsStrangMember" type="na:ChannelAssociationType" minOccurs="0" maxOccurs="1">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <!--	<element name="ngwzu" type="string"/>
					<element name="gwwi" type="string"/>
					-->
                    <!--
(hgru,*)(hgro,*)(rtr,*)(pors,*)(gwsent,*)(klupor,*)(izkn,*)

-->
                    <element name="hgru" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="hgro" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="rtr" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="pors" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="gwsent" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="klupor" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                    <element name="izkn" type="integer"/> <!-- TODO loeschen, sollte aus relation hervorgehen -->
    
   					<element name="temperaturZRRepository" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
   					<element name="temperaturZRRepositoryVorhersage" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
   					<element name="temperaturZR" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>

					<!-- ZR niederschlag -->
   					<element name="niederschlagZRRepository" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					
   					<element name="niederschlagZRRepositoryVorhersage" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					
   					<element name="niederschlagZR" type="obslink:TimeseriesLink">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>                                        

                </sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ______________channels_____________________ -->
	<complexType name="ChannelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:ChannelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	
	<element name="ChannelCollection" 
		type="na:ChannelCollectionType" 
		substitutionGroup="gml:_Feature"/>
		
	<complexType name="ChannelCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="channelMember" 
						type="na:ChannelAssociationType" minOccurs="0" 
						maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	
		<complexType name="ChannelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:_Channel"/>					
				</sequence>				
			</restriction>			
		</complexContent>		
	</complexType>

	
	<element name="_Channel" abstract="true" type="na:AbstractChannelType" substitutionGroup="gml:_Feature"/>
<!-- Channel super type -->
		<complexType name="AbstractChannelType">
			<complexContent>
				<extension base="gml:AbstractFeatureType">
					<sequence>
         				<element name="Ort" type="gml:LineStringPropertyType">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>            
            			<element name="inum" type="integer">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
                		<element name="downStreamNodeMember" type="na:NodeAssociationType" minOccurs="0" maxOccurs="1">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>		
        			</sequence>		
				</extension>
			</complexContent>
		</complexType>


<!-- Virtual Channel -->	
	<element name="VirtualChannel" type="na:VirtualChannelFeatureType" 
		substitutionGroup="na:_Channel"/>
	<complexType name="VirtualChannelFeatureType">
		<complexContent>
			<extension base="na:AbstractChannelType">
				<sequence>
					<!-- virtueller channel hat sonst keine properties -->
					<!--<element name="kjh" type="string"/>-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>

<!-- KM-Channel -->	
	<element name="KMChannel" type="na:KMChannelFeatureType" 
		substitutionGroup="na:_Channel"/>
	<complexType name="KMChannelFeatureType">
		<complexContent>
			<extension base="na:AbstractChannelType">
				<sequence>
					<element name="qfmax" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="c" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="faktorRkf" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="faktorRnf" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="KMParameterMember" 
						type="na:KMParameterAssociationType" minOccurs="5" 
						maxOccurs="5">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="KMParameterAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:KMParameter"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="KMParameter" type="na:KMParameterType"/>
	<complexType name="KMParameterType">
		<complexContent>
			<extension base="na:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="qrk" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="rkf" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="rnf" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="rkv" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="rnv" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonGeometricAbstractFeatureType" abstract="true">
		<complexContent>
			<restriction base="gml:AbstractFeatureType">
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="bodenschichtkorrekturAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:bodenschichtkorrektur"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="bodenschichtkorrektur" type="na:bodenschichtkorrekturType" 
		substitutionGroup="gml:_Feature"/>
	<!--
 (cinh,*)_(cind,*)_(cex,*)_(bmax,*)_(banf,*)_(fko,*)_(retlay,*)_(evalay,*)
-->
	<complexType name="bodenschichtkorrekturType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="cinh" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="cind" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="cex" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="bmax" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="banf" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="fko" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="retlay" type="double">
                       <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
        			</element>
					<element name="evalay" type="double"/> <!-- TODO loeschen und standard schreiben, da vom NA-modell nicht benutzt -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="grundwasserabflussAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:grundwasserabfluss"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="grundwasserabfluss" type="na:grundwasserabflussType" 
		substitutionGroup="gml:_Feature"/>
	<complexType name="grundwasserabflussType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="ngwzu" type="na:CatchmentLinkType">
                        <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="gwwi" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <label>l</label>
                                <tooltip>tip</tooltip>
                                <description>.</description>
                            </documentation>
                            <documentation xml:lang="en">
                                <label>l</label>
                                <tooltip>t</tooltip>
                                <description>d</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CatchmentLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
