_dump/trunk/KalypsoModelWspmTuhhSchema/src/org/kalypso/model/wspm/tuhh/schema/schemata/wspmTuhhSteadyState.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.model.wspm.tuhh" xmlns:tuhh="org.kalypso.model.wspm.tuhh"
	xmlns:wspm="org.kalypso.model.wspm" xmlns:wspmcommon="org.kalypso.model.wspmcommon"
	xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
	xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="org.kalypso.model.wspm"
		schemaLocation="../../../../../../../../../KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/wspm.xsd"/>
	<import namespace="org.kalypso.model.wspmcommon"
		schemaLocation="../../../../../../../../../KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/wspmCommons.xsd"/>
	<import namespace="http://www.opengis.net/gml"
		schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om"
		schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<!-- Schema-Erweiterung für das stationäre WSPM der TU-HH -->
	<!-- TODO: KALYPSO-Header einfügen -->
	<!-- 
	_________________________________________________________________________________________
	ELEMENTS
	_________________________________________________________________________________________
	-->
	<element name="CalculationWspmTuhhSteadyState" type="tuhh:CalculationWspmTuhhSteadyStateType"
		substitutionGroup="wspm:AbstractCalculation">
		<annotation>
			<documentation xml:lang="de">
				<name>Berechnungsvariante - stationär (TU-HH)</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0}</label>
				<tooltip>${property:http://www.opengis.net/gml#name;0}</tooltip>
				<description><![CDATA[Berechnungsvariante '${property:http://www.opengis.net/gml#name;0}']]></description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="startConditionMember" type="tuhh:StartConditionPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>Untere Randbedingung (1. Profil)</label>
				<tooltip>Untere Randbedingung (am 1. Profil)</tooltip>
				<description>Untere Randbedingung (am 1. Profil)</description>
			</documentation>
		</annotation>
	</element>
	<element name="StartCondition" type="tuhh:StartConditionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Untere Randbedingung (1. Profil) - stationär (TU-HH)</name>
				<label>Untere Randbedingung (1. Profil)</label>
				<tooltip>Untere Randbedingung (am 1. Profil)</tooltip>
				<description>Untere Randbedingung (am 1. Profil)</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="runOffIntervalMember" type="tuhh:RunOffIntervalPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>Abflussintervall</label>
				<tooltip>Abflussintervall</tooltip>
				<description>Abflussintervall</description>
			</documentation>
		</annotation>
	</element>
	<element name="RunOffInterval" type="tuhh:RunOffIntervalType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Abflussintervall - stationär (TU-HH)</name>
				<label>Abflussintervall</label>
				<tooltip>Abflussintervall</tooltip>
				<description>Abflussintervall</description>
			</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="waterlevelParameterMember" type="tuhh:WaterlevelParameterPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>Numerische Parameter</label>
				<tooltip>Numerische Parameter</tooltip>
				<description>Numerische Parameter</description>
			</documentation>
		</annotation>
	</element>
	<element name="WaterlevelParameter" type="tuhh:WaterlevelParameterType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Numerische Parameter - stationär (TU-HH)</name>
				<label>Numerische Parameter</label>
				<tooltip>Numerische Parameter</tooltip>
				<description>Numerische Parameter</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="reachWspmTuhhSteadyStateMember" type="tuhh:ReachWspmTuhhSteadyStatePropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>Gewässerstränge</label>
				<tooltip>Gewässerstränge</tooltip>
				<description>Gewässerstränge</description>
			</documentation>
		</annotation>
	</element>
	<element name="ReachWspmTuhhSteadyState" type="tuhh:ReachWspmTuhhSteadyStateType"
		substitutionGroup="wspm:Reach">
		<annotation>
			<documentation xml:lang="de">
				<name>Gewässerstrang - stationär (TU-HH)</name>
				<label>${property:http://www.opengis.net/gml#name}</label>
				<tooltip>${property:http://www.opengis.net/gml#name}</tooltip>
				<description>${property:http://www.opengis.net/gml#name}</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="influentReachSegmentWspmTuhhSteadyStateMember"
		type="tuhh:InfluentReachSegmentWspmTuhhSteadyStatePropertyType"
		substitutionGroup="wspm:reachSegmentMember">
		<annotation>
			<documentation xml:lang="de">
				<label>Zufluss-Strangsegmente</label>
				<tooltip>Zufluss-Strangsegmente</tooltip>
				<description>Zufluss-Strangsegmente</description>
			</documentation>
		</annotation>
	</element>
	<!-- TODO Überflüssig?, kann eventuell weg. -->
	<element name="InfluentReachSegmentWspmTuhhSteadyState" type="wspm:InfluentReachSegmentType"
		substitutionGroup="wspm:AbstractReachSegment">
		<annotation>
			<documentation xml:lang="de">
				<name>Zufluss-Strangsegment - stationär (TU-HH)</name>
				<label>huhu???influentReachSegmentWspmTuhhSteadyState</label>
				<tooltip>???tooltip</tooltip>
				<description>???description</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="profileReachSegmentWspmTuhhSteadyStateMember"
		type="tuhh:ProfileReachSegmentWspmTuhhSteadyStatePropertyType"
		substitutionGroup="wspm:reachSegmentMember">
		<annotation>
			<documentation xml:lang="de">
				<label>Profil-Strangsegmente</label>
				<tooltip>Profil-Strangsegmente</tooltip>
				<description>Profil-Strangsegmente</description>
			</documentation>
		</annotation>
	</element>
	<element name="ProfileReachSegmentWspmTuhhSteadyState"
		type="tuhh:ProfileReachSegmentWspmTuhhSteadyStateType"
		substitutionGroup="wspm:ProfileReachSegment">
		<annotation>
			<documentation xml:lang="de">
				<name>Profil-Strangsegment - stationär (TU-HH)</name>
				<label>Profil Station km - ${property:org.kalypso.model.wspm#station}</label>
				<tooltip>Profil Station km - ${property:org.kalypso.model.wspm#station}</tooltip>
				<description>Profil Station km -
				${property:org.kalypso.model.wspm#station}</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="subReachDefinitionMember" type="tuhh:subReachDefinitionPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>Berechnungsabschnitt</label>
				<tooltip>Berechnungsabschnitt</tooltip>
				<description>Berechnungsabschnitt</description>
			</documentation>
		</annotation>
	</element>
	<element name="SubReachDefinition" type="tuhh:subReachDefinitionType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Berechnungsabschnitt - stationär (TU-HH)</name>
				<label>Berechnungsabschnitt</label>
				<tooltip>Berechnungsabschnitt</tooltip>
				<description>Berechnungsabschnitt</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="specialOptionsMember" type="tuhh:specialOptionsPropertyType"
		substitutionGroup="gml:featureMember">
		<annotation>
			<documentation xml:lang="de">
				<label>Zusatzoptionen</label>
				<tooltip>Zusatzoptionen</tooltip>
				<description>Zusatzoptionen (Berechnung von Sonderbauwerken)</description>
			</documentation>
		</annotation>
	</element>
	<element name="SpecialOptions" type="tuhh:specialOptionsType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Zusatzoptionen - stationär (TU-HH)</name>
				<label>Zusatzoptionen</label>
				<tooltip>Zusatzoptionen</tooltip>
				<description>Zusatzoptionen (Berechnung von Sonderbauwerken)</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________	
	-->
	<complexType name="CalculationWspmTuhhSteadyStateType">
		<complexContent>
			<extension base="wspm:AbstractCalculationType">
				<sequence>
					<element name="fliessgesetz" default="DARCY_WEISBACH_MIT_FORMEINFLUSS">
						<annotation>
							<documentation xml:lang="de">
								<label>Fließgesetz</label>
								<tooltip>Fließgesetz</tooltip>
								<description>verwendetes Fließgesetz</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="DARCY_WEISBACH_OHNE_FORMEINFLUSS">
									<annotation>
										<documentation xml:lang="de">
											<label>Darcy-Weisbach (Rohrströmungen, äquivalente
												Sandrauheiten, ks)</label>
											<tooltip>Darcy-Weisbach (Rohrströmungen, äquivalente
												Sandrauheiten, ks)</tooltip>
											<description>Fließgesetz nach Darcy-Weisbach
												(Rohrströmungen, äquivalente Sandrauheiten,
											ks)</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="DARCY_WEISBACH_MIT_FORMEINFLUSS">
									<annotation>
										<documentation xml:lang="de">
											<label>Darcy-Weisbach (offene Gerinne mit Formeinfluss,
												äquivalente Sandrauheiten, ks)</label>
											<tooltip>Darcy-Weisbach (offene Gerinne mit
												Formeinfluss, äquivalente Sandrauheiten, ks)</tooltip>
											<description>Fließgesetz nach Darcy-Weisbach (offene
												Gerinne mit Formeinfluss, äquivalente Sandrauheiten,
												ks)</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="MANNING_STRICKLER">
									<annotation>
										<documentation xml:lang="de">
											<label>Gauckler-Manning-Strickler (Rauheitsbeiwerte,
												kst)</label>
											<tooltip>Gauckler-Manning-Strickler (Rauheitsbeiwerte,
												kst)</tooltip>
											<description>Fließgesetz nach Gauckler-Manning-Strickler
												(Rauheitsbeiwerte, kst)</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="mode" default="WATERLEVEL">
						<annotation>
							<documentation xml:lang="de">
								<label>Berechnungsart</label>
								<tooltip>Berechnungsart</tooltip>
								<description>Berechnungsart</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="WATERLEVEL">
									<annotation>
										<documentation xml:lang="de">
											<label>Wasserspiegellagenberechnung</label>
											<tooltip>Wasserspiegellagenberechnung</tooltip>
											<description>Wasserspiegellagenberechnung</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="BF_UNIFORM">
									<annotation>
										<documentation xml:lang="de">
											<label><![CDATA[Bordvollberechnung - stationär-gleichförmige Abflussverhältnisse]]></label>
											<tooltip><![CDATA[ Bordvollberechnung - stationär-gleichförmige Abflussverhältnisse ]]></tooltip>
											<description><![CDATA[ Bordvollberechnung -	stationär-gleichförmige Abflussverhältnisse ]]></description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="BF_NON_UNIFORM">
									<annotation>
										<documentation xml:lang="de">
											<label>Bordvollberechnung - stationär-ungleichförmige
												Abflussverhältnisse</label>
											<tooltip>Bordvollberechnung - stationär-ungleichförmige
												Abflussverhältnisse</tooltip>
											<description>Bordvollberechnung -
												stationär-ungleichförmige
											Abflussverhältnisse</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element ref="tuhh:reachWspmTuhhSteadyStateMember">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerstrang</label>
								<tooltip>Referenz auf Gewässerstrang</tooltip>
								<description>Referenz auf Gewässerstrang</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:subReachDefinitionMember"/>
					<element ref="wspm:roughnessDefinitionCollectionMember" minOccurs="0"/>
					<element ref="wspm:vegetationDefinitionCollectionMember" minOccurs="0"/>
					<element ref="tuhh:waterlevelParameterMember"/>
					<element ref="tuhh:startConditionMember"/>
					<!-- TODO force it to be one of the water body's runOffEvents? -->
					<element name="runOffEventMember" type="om:AbstractObservationPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Abflussereignis</label>
								<tooltip>Referenz auf Abflussereignis</tooltip>
								<description>Referenz auf Abflussereignis</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:runOffIntervalMember"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="StartConditionPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:StartCondition"/>
		</sequence>
	</complexType>
	<complexType name="StartConditionType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="kind" default="CRITICAL_WATER_DEPTH">
						<annotation>
							<documentation xml:lang="de">
								<label>Art</label>
								<tooltip>Art der Randbedingung</tooltip>
								<description>Art der Randbedingung</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="CRITICAL_WATER_DEPTH">
									<annotation>
										<documentation xml:lang="de">
											<label>Grenztiefe</label>
											<tooltip>Grenztiefe</tooltip>
											<description>Untere Randbedingung (1.Profil):
											Grenztiefe</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="WATERLEVEL">
									<annotation>
										<documentation xml:lang="de">
											<label>Anfangswasserspiegel</label>
											<tooltip>Anfangswasserspiegel</tooltip>
											<description>Untere Randbedingung (1.Profil):
												Anfangswasserspiegel</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="UNIFORM_BOTTOM_SLOPE">
									<annotation>
										<documentation xml:lang="de">
											<label>stationär-gleichförmiges Gefälle</label>
											<tooltip>stationär-gleichförmiges Gefälle</tooltip>
											<description>Untere Randbedingung (1.Profil):
												stationär-gleichförmiges Gefälle</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="waterlevel" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswasserspiegel</label>
								<tooltip>Anfangswasserspiegel</tooltip>
								<description>Untere Randbedingung (1.Profil):
								Anfangswasserspiegel</description>
							</documentation>
						</annotation>
					</element>
					<element name="bottomSlope" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>stationär-gleichförmiges Gefälle</label>
								<tooltip>stationär-gleichförmiges Gefälle</tooltip>
								<description>Untere Randbedingung (1.Profil):
									stationär-gleichförmiges Gefälle</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="RunOffIntervalPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:RunOffInterval"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="RunOffIntervalType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<!-- TODO: Element Abflussintervall machen -->
					<element name="minimalRunOff" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Minimaler Abfluss [m³/s]</label>
								<tooltip>Minimaler Abfluss [m³/s]</tooltip>
								<description>Minimaler Abfluss [m³/s] des
								Abflussintervalls</description>
							</documentation>
						</annotation>
					</element>
					<element name="runOffStep" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Schrittbreite [m³/s]</label>
								<tooltip>Schrittbreite [m³/s]</tooltip>
								<description>Schrittbreite [m³/s] des
								Abflussintervalls</description>
							</documentation>
						</annotation>
					</element>
					<element name="maximalRunOff" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Maximaler Abfluss [m³/s]</label>
								<tooltip>Maximaler Abfluss [m³/s]</tooltip>
								<description>Maximaler Abfluss [m³/s] des
								Abflussintervalls</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="WaterlevelParameterPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:WaterlevelParameter"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="WaterlevelParameterType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="wspIteration" default="SIMPLE">
						<annotation>
							<documentation xml:lang="de">
								<label>Iterationsgenauigkeit</label>
								<tooltip>Iterationsgenauigkeit</tooltip>
								<description>Iterationsgenauigkeit (Berechnung des
								Wasserspiegels)</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="SIMPLE">
									<annotation>
										<documentation xml:lang="de">
											<label>einfache Iteration</label>
											<tooltip>einfache Iteration</tooltip>
											<description>Iterationsgenauigkeit: einfache
											Iteration</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="EXACT">
									<annotation>
										<documentation xml:lang="de">
											<label>genaue Berechnung durch Einschlussintervall</label>
											<tooltip>genaue Berechnung durch Einschlussintervall</tooltip>
											<description>Iterationsgenauigkeit: genaue Berechnung
												durch Einschlussintervall</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="verzoegerungsverlust" default="BJOERNSEN">
						<annotation>
							<documentation xml:lang="de">
								<label>Verzögerungsverlust</label>
								<tooltip>Verzögerungsverlust</tooltip>
								<description>Verzögerungsverlust</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="DVWK">
									<annotation>
										<documentation xml:lang="de">
											<label>nach DVWK (beta = 0.67)</label>
											<tooltip>nach DVWK (beta = 0.67)</tooltip>
											<description>Verzögerungsverlust nach DVWK (beta =
											0.67)</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="BJOERNSEN">
									<annotation>
										<documentation xml:lang="de">
											<label>nach Björnsen (beta = 0.5)</label>
											<tooltip>nach Björnsen (beta = 0.5)</tooltip>
											<description>Verzögerungsverlust nach Björnsen (beta =
												0.5)</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="DFG">
									<annotation>
										<documentation xml:lang="de">
											<label>nach DFG (beta = 2 / (1+Ai + 1/Ai) )</label>
											<tooltip>nach DFG (beta = 2 / (1+Ai + 1/Ai) )</tooltip>
											<description>Verzögerungsverlust nach DFG (beta = 2 /
												(1+Ai + 1/Ai) )</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="reibungsverlust" default="TRAPEZ_FORMULA">
						<annotation>
							<documentation xml:lang="de">
								<label>Berechnung von Reibungsverlusten</label>
								<tooltip>Berechnung von Reibungsverlusten</tooltip>
								<description>Berechnung von Reibungsverlusten</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="TRAPEZ_FORMULA">
									<annotation>
										<documentation xml:lang="de">
											<label>nach Trapezformel</label>
											<tooltip>nach Trapezformel</tooltip>
											<description>Berechnung von Reibungsverlusten nach
												Trapezformel</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="GEOMETRIC_FORMULA">
									<annotation>
										<documentation xml:lang="de">
											<label>durch geometrische Mittelung</label>
											<tooltip>durch geometrische Mittelung</tooltip>
											<description>Berechnung von Reibungsverlusten durch
												geometrische Mittelung</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element ref="tuhh:specialOptionsMember"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ReachWspmTuhhSteadyStatePropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="tuhh:ReachWspmTuhhSteadyState"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="ReachWspmTuhhSteadyStateType">
		<complexContent>
			<restriction base="wspm:ReachType">
				<sequence>
					<element ref="gml:metaDataProperty" minOccurs="0" maxOccurs="unbounded"/>
					<element ref="gml:description"/>
					<element ref="gml:name"/>
					<element ref="wspm:waterBodyMember">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässer</label>
								<tooltip>Referenz auf Gewässer</tooltip>
								<description>Referenz auf Gewässer</description>
							</documentation>
						</annotation>
					</element>
					<element ref="gml:lineStringMember"/>
					<element ref="wspm:reachSegmentMember" minOccurs="0" maxOccurs="unbounded"/>
					<!--  The tuhh reach is restricted to certain, tuhh specific, elements -->
					<!-- TODO: drüber nachdenken und richtig machen (Import!!!)					<choice minOccurs="0" maxOccurs="unbounded">
						<element ref="tuhh:influentReachSegmentWspmTuhhSteadyStateMember"/>
						<element ref="tuhh:profileReachSegmentWspmTuhhSteadyStateMember"/>
					</choice>
					-->
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="InfluentReachSegmentWspmTuhhSteadyStatePropertyType">
		<complexContent>
			<restriction base="wspm:ReachSegmentPropertyType">
				<sequence>
					<element ref="tuhh:InfluentReachSegmentWspmTuhhSteadyState"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="InfluentReachSegmentWspmTuhhSteadyStateType">
		<complexContent>
			<extension base="wspm:InfluentReachSegmentType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProfileReachSegmentWspmTuhhSteadyStatePropertyType">
		<complexContent>
			<restriction base="wspm:ReachSegmentPropertyType">
				<sequence>
					<element ref="tuhh:ProfileReachSegmentWspmTuhhSteadyState"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ProfileReachSegmentWspmTuhhSteadyStateType">
		<complexContent>
			<extension base="wspm:ProfileReachSegmentType">
				<sequence>
					<!-- Distances are commented out, because they are not yet (?)
					used by the tuhh steady-state flow model -->
					<!--
					<element name="distanceL" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???distanceL</label>
								<tooltip>???tooltip</tooltip>
								<description>Abstand UW??? linkes Vorland</description>
							</documentation>
						</annotation>
					</element>
					<element name="distanceM" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???distanceM</label>
								<tooltip>???tooltip</tooltip>
								<description>Abstand UW??? Hauptöffnung</description>
							</documentation>
						</annotation>
					</element>
					<element name="distanceR" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>???distanceR</label>
								<tooltip>???tooltip</tooltip>
								<description>Abstand UW??? rechtes Vorland</description>
							</documentation>
						</annotation>
					</element>
					-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="subReachDefinitionPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:SubReachDefinition"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="subReachDefinitionType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="startStation" type="wspmcommon:stationDouble">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangsstation</label>
								<tooltip>Anfangsstation</tooltip>
								<description>Anfangsstation des Berechnungsabschnitts</description>
							</documentation>
						</annotation>
					</element>
					<element name="endStation" type="wspmcommon:stationDouble">
						<annotation>
							<documentation xml:lang="de">
								<label>Endstation</label>
								<tooltip>Endstation</tooltip>
								<description>Endstation des Berechnungsabschnitts</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="specialOptionsPropertyType">
		<complexContent>
			<restriction base="gml:FeaturePropertyType">
				<sequence>
					<element ref="tuhh:SpecialOptions"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="specialOptionsType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="doCalcBridges" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>Brücken mit berechnen</label>
								<tooltip>Brücken mit berechnen</tooltip>
								<description>Brücken mit berechnen</description>
							</documentation>
						</annotation>
					</element>
					<element name="doCalcBarrages" type="boolean">
						<annotation>
							<documentation xml:lang="de">
								<label>Wehre mit berechnen</label>
								<tooltip>Wehre mit berechnen</tooltip>
								<description>Wehre mit berechnen</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
</schema>
