temp/trunk/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/namodellV3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Andersen (no) -->
<schema targetNamespace="http://www.tuhh.de/kalypsoNA" version="0.9" xmlns:na="http://www.tuhh.de/kalypsoNA" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" 
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified" >
	<import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<!--<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	-->
	<element name="NaModell" type="na:NaModellType"/>
	<complexType name="NaModellType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="CatchmentCollectionMember" type="na:CatchmentCollectionAssociationType"/>
					<element name="VirtualChannelCollectionMember" type="na:VirtualChannelCollectionAssociationType"/>
					<element name="KMChannelCollectionMember" type="na:KMChannelCollectionAssociationType"/>
					<!--<element name="" -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ___________________________________ -->
	<complexType name="CatchmentCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:CatchmentCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="CatchmentCollection" type="na:CatchmentCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="CatchmentCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="catchmentMember" type="na:CatchmentAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Catchment" type="na:CatchmentFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="CatchmentFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!--
    ___________(inum,i5)____(ispk,i3)
(text,a80)
(flaech,*)
(pns,a1)_(kurzzeit,a)_(namfn,a)_(langzeit,a)_(faktn,f5.2)
(namft,a)_(namept,a)
(namfzf,a)
(namhydro,a)
(snowtype,a15)(ftem,*)_(fver,*)
    -->
					<element name="Ort" type="gml:PolygonPropertyType"/>
					<element name="inum" type="string"/>
					<element name="ispk" type="string"/>
					<element name="text" type="string"/>
					<element name="flaech" type="string"/>
					<element name="pns" type="string"/>
					<element name="kurzzeit" type="string"/>
					<element name="namfn" type="string"/>
					<element name="langzeit" type="string"/>
					<element name="faktn" type="string"/>
					<element name="namft" type="string"/>
					<element name="namept" type="string"/>
					<element name="namfzf" type="string"/>
					<element name="namhydro" type="string"/>
					<element name="snowtype" type="string"/>
					<element name="ftem" type="string"/>
					<element name="fver" type="string"/>
					<!--
(vsg,f5.3)(anzlayy,i5)_____(bimax,f5.1)_____(bianf,f5.1)(izkn_vers,f5.1)_____(tint,f5.1)_____(rintmx,f5.1)
-->
					<element name="vsg" type="string"/>
					<element name="anzlayy" type="string"/>
					<element name="bimax" type="string"/>
					<element name="bianf" type="string"/>
					<element name="izkn_vers" type="string"/>
					<element name="tint" type="string"/>
					<element name="rintmx" type="string"/>
					<!-- 
 (cinh,*)_(cind,*)_(cex,*)_(bmax,*)_(banf,*)_(fko,*)_(retlay,*)_(evalay,*)
siehe bodenkorrekturmember...
-->
					<element name="bodenkorrekturmember" type="na:bodenschichtkorrekturAssociationType" maxOccurs="10"/>
					<!--
(f_eva,f4.1)_(aint,f4.1)_(aigw,f6.2)_(fint,f4.2)_(ftra,f4.2)
(retvs,*)_(retob,*)_(retint,*)_(retbas,*)_(retgw,*)_(retklu,*)
(igwzu,*)
-->
					<element name="f_eva" type="string"/>
					<element name="aint" type="string"/>
					<element name="aigw" type="string"/>
					<element name="fint" type="string"/>
					<element name="ftra" type="string"/>
					<element name="retvs" type="string"/>
					<element name="retob" type="string"/>
					<element name="retint" type="string"/>
					<element name="retbas" type="string"/>
					<element name="retgw" type="string"/>
					<element name="retklu" type="string"/>
					<element name="igwzu" type="string"/>
					<!--
 (ngwzu,*)_...
 (gwwi,*)_...
-->
					<!-- TODO -->
					<element name="grundwasserabflussMember" type="na:grundwasserabflussAssociationType" maxOccurs="6"/>
					<!--	<element name="ngwzu" type="string"/>
					<element name="gwwi" type="string"/>
					-->
					<!--
(hgru,*)(hgro,*)(rtr,*)(pors,*)(gwsent,*)(klupor,*)(izkn,*)

-->
					<element name="hgru" type="string"/>
					<element name="hgro" type="string"/>
					<element name="rtr" type="string"/>
					<element name="pors" type="string"/>
					<element name="gwsent" type="string"/>
					<element name="klupor" type="string"/>
					<element name="izkn" type="string"/>
					<!--                
                    <element name="BodenfeuchteMin" type="double"/>
                    <element name="Bodenfeuchte" type="double"/>
                    <element name="BodenfeuchteMax" type="double"/>
                    <element name="Ausdehnung" type="double"/>
   					<element name="Niederschlag_eingabeEingang" type="obslink:TimeseriesLink"/>
   					<element name="Niederschlag_eingabe" type="obslink:TimeseriesLink"/>
                    <element name="Wasserstand_gemessenEingang" type="obslink:TimeseriesLink"/>
                    <element name="Wasserstand_gemessen" type="obslink:TimeseriesLink"/>
                    <element name="Wasserstand_gerechnet" type="obslink:TimeseriesLink"/>
-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ___________________________________ -->
	<complexType name="VirtualChannelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:VirtualChannelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VirtualChannelCollection" type="na:VirtualChannelCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="VirtualChannelCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="virtualChannelMember" type="na:VirtualChannelAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="VirtualChannelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:VirtualChannel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VirtualChannel" type="na:VirtualChannelFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="VirtualChannelFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inum" type="string"/>
					<!-- virtueller channel hat sonst keine properties -->
					<!--<element name="kjh" type="string"/>-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ___________________________________ -->
	<complexType name="KMChannelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:KMChannelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="KMChannelCollection" type="na:KMChannelCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="KMChannelCollectionType">
		<complexContent>
			<restriction base="gml:AbstractFeatureCollectionType">
				<sequence>
					<element name="kmChannelMember" type="na:KMChannelAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="KMChannelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:KMChannel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="KMChannel" type="na:KMChannelFeatureType" substitutionGroup="gml:_Feature"/>
	<complexType name="KMChannelFeatureType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inum" type="string"/>
					<element name="qfmax" type="string"/>
					<element name="c" type="string"/>
					<element name="KMParameterMember" type="na:KMParameterAssociationType" minOccurs="5" maxOccurs="5"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="KMParameterAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:KMParameter"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="KMParameter" type="na:KMParameterType"/>
	<complexType name="KMParameterType">
		<complexContent>
			<extension base="na:NonGeometricAbstractFeatureType">
				<sequence>
					<element name="qrk" type="string"/>
					<element name="rkf" type="string"/>
					<element name="rnf" type="string"/>
					<element name="rkv" type="string"/>
					<element name="rnv" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NonGeometricAbstractFeatureType" abstract="true">
		<complexContent>
			<restriction base="gml:AbstractFeatureType">
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="bodenschichtkorrekturAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:bodenschichtkorrektur"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="bodenschichtkorrektur" type="na:bodenschichtkorrekturType" substitutionGroup="gml:_Feature"/>
	<!--
 (cinh,*)_(cind,*)_(cex,*)_(bmax,*)_(banf,*)_(fko,*)_(retlay,*)_(evalay,*)
-->
	<complexType name="bodenschichtkorrekturType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="cinh" type="string"/>
					<element name="cind" type="string"/>
					<element name="cex" type="string"/>
					<element name="bmax" type="string"/>
					<element name="banf" type="string"/>
					<element name="fko" type="string"/>
					<element name="retlay" type="string"/>
					<element name="evalay" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="grundwasserabflussAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="na:grundwasserabfluss"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="grundwasserabfluss" type="na:grundwasserabflussType" substitutionGroup="gml:_Feature"/>
	<complexType name="grundwasserabflussType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="ngwzu" type="na:CatchmentLinkType"/>
					<element name="gwwi" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CatchmentLinkType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>          
					<element ref="na:Catchment"/>
				</sequence>
			</restriction>
		</complexContent>	
	</complexType>
</schema>
