temp/trunk/KalypsoModelNA/src/org/kalypso/convert/namodel/schema/Parameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Technische Universität Hamburg Harburg (Technische Universität Hamburg-Harburg) -->
<xs:schema xmlns:par="http://www.tuhh.de/parameter" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.tuhh.de/parameter" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
	<xs:element name="typchar" type="string"/>
	<xs:element name="Parameter" type="par:ParameterType"/>
	<xs:complexType name="ParameterType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SnowCollectionMember" type="par:SnowCollectionAssociationType"/>
					<xs:element name="SoilCollectionMember" type="par:SoilCollectionAssociationType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--___SoilCollection_________________________________________________-->
	<xs:complexType name="SoilCollectionAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureAssociationType">
				<xs:sequence>
					<xs:element ref="par:SoilCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SoilCollection" type="par:SoilCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="SoilCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SoilMember" type="par:SoilAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SoilAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureAssociationType">
				<xs:sequence>
					<xs:element ref="par:AbstractSoil"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AbstractSoil" type="par:AbstractSoilType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="AbstractSoilType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType"/>
		</xs:complexContent>
	</xs:complexType>
	<!--___Bodentyp_________________________________________________-->
	<xs:element name="Bodentyp" type="par:SoilType" substitutionGroup="par:AbstractSoil"/>
	<xs:complexType name="SoilType">
		<xs:complexContent>
			<xs:extension base="par:AbstractSoilType">
				<xs:sequence>
					<!--
(text,a)
(text6,a10)(ianz,i4)
(char3,a8)(xtief,*)_(xret,*)
(char3,a8)(xtief,*)_(xret,*)
(char3,a8)(xtief,*)_(xret,*)
.
.
.
(text6,a10)(ianz,i4)
(char3,a8)(xtief,*)_(xret,*)
(char3,a8)(xtief,*)_(xret,*)
(char3,a8)(xtief,*)_(xret,*)
   -->
					<xs:element name="text" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Kommentar</label>
								<tooltip>Beschreibender Text, ohne weitere Bedeutung</tooltip>
								<description>Bodentypen für Modell</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="text6" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Bodenschlüssel</label>
								<tooltip>eder Bodentyp ist durch einen Bodenschlüssel gekennzeichnet, der die Verbindung der Hydrotopdatei darstellt</tooltip>
								<description>Bodenschlüssel auf den der Link aus der Hydrotopdatei bezogen ist</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ianz" type="integer">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Bodenhorizonte</label>
								<tooltip>Anzahl der Bodenhorizonte</tooltip>
								<description>Anzahl der Bodenhorizonte aus denen der Bodentyp zusammengesetzt ist</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="par:typchar">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Bodenartschlüssel</label>
								<tooltip>Jedem Horizont ist eine Bodenart durch einen Bodenartschlüssel zugewiesen</tooltip>
								<description>Bodenartschlüssel (Link zur Bodenart in der Bodenartdatei)</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xtief" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Mächtigkeit des Bodenhorizontes</label>
								<tooltip>Angabe in Dezimeter [dm]</tooltip>
								<description>Mächtigkeit des Bodenhorizontes</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xret" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Retentionskonstante Interflow</label>
								<tooltip>Angabe in Stunden [h]</tooltip>
								<description>Retentionskonstante Interflow</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--___Bodenart_________________________________________________-->
	<xs:element name="Bodenart" substitutionGroup="par:AbstractSoil">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="par:AbstractSoilType">
					<xs:sequence>
						<!--
(text,*)
(typchar,*)(1)_(typkap,*)(1)_(typwp,*)(1)_(typfk,*)(1)_(typbfm,*)(1)_(typkf,*)(1)_(typbf0,*)(1)
(typchar,*)(2)_(typkap,*)(2)_(typwp,*)(2)_(typfk,*)(2)_(typbfm,*)(2)_(typkf,*)(2)_(typbf0,*)(2)

.
.
.
(typchar,*)(50)_(typkap,*)(50)_(typwp,*)(50)_(typfk,*)(50)_(typbfm,*)(50)_(typkf,*)(50)_(typbf0,*)(50)   
-->
						<xs:element name="text" type="string">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>Kommentar</label>
									<tooltip>Beschreibender Text, ohne weitere Bedeutung</tooltip>
									<description>Dateibeschreibung, ohne weitere Verwendung</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="par:typchar">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>Bodenartschlüssel</label>
									<tooltip>Bodeartschlüssel</tooltip>
									<description>Bodenartschlüssel auf den der Link aus der Bodentyppdatei bezogen ist</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="typkap" type="string">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>Schlüssel für den Kapillaren Aufstieg</label>
									<tooltip>Schlüssel für den Kapillaren Aufstieg</tooltip>
									<description>Schlüssel für den Kapillaren Aufstieg, wird zur Zeit nicht weiter verwendet</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="typwp" type="double">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>Welkepunkt</label>
									<tooltip>Welkepunkt, Angabe in Millimeter pro Dezimeter [mm/dm]</tooltip>
									<description>Welkepunkt</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="typfk" type="double">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>Feldkapazität</label>
									<tooltip>Feldkapazität, Angabe in Millimeter pro Dezimeter [mm/dm]</tooltip>
									<description>Feldkapazität</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="typbfm" type="double">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>maximales Porenvolumen</label>
									<tooltip>maximales Porenvolumen, Angabe in Millimeter pro Dezimeter [mm/dm]</tooltip>
									<description>maximales Porenvolumen</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="typkf" type="double">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>kf-Wert</label>
									<tooltip>kf-Wert, Angabe in Millimeter pro Tag [mm/d]</tooltip>
									<description>kf-Wert</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="typbf0" type="double">
							<xs:annotation>
								<xs:documentation xml:lang="de">
									<label>Anfangsbodenfeuchte</label>
									<tooltip>Anfangsbodenfeuchte, Angabe in Prozent [%]</tooltip>
									<description>Anfangsbodenfeuchte</description>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--___SnowCollection_________________________________________________-->
	<xs:complexType name="SnowCollectionAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureAssociationType">
				<xs:sequence>
					<xs:element ref="par:SnowCollection"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SnowCollection" type="par:SnowCollectionType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="SnowCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SnowMember" type="par:SnowAssociationType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SnowAssociationType">
		<xs:complexContent>
			<xs:restriction base="gml:FeatureAssociationType">
				<xs:sequence>
					<xs:element ref="par:Schnee"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--___Snow_________________________________________________-->
	<xs:element name="Schnee" type="par:SnowType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="SnowType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<!--
(texttyp,a20)(xwwo,*)_(xwwmax,*)_(xsnotem,*)_(xsnorad,*)_(xh0,*)
   -->
					<xs:element name="texttyp" type="string">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Schneetyp</label>
								<tooltip>Schneetyp Name</tooltip>
								<description>Schneetyp, welcher einem Gebiet zugeordnet werden kann</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xwwo" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Wasseranteil im Schneel</label>
								<tooltip>Wasseranteil im Schnee (Neuschneedichte)  [1/100]</tooltip>
								<description>Wasseranteil im Schnee (Neuschneedichte)</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xwwmax" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>maximaler Wasseranteil</label>
								<tooltip>maximaler Wasseranteil (maximale Lagerungsdichte - Beginn der Schneeschmelze), Angabe in Prozent [%]</tooltip>
								<description>maximaler Wasseranteil (maximale Lagerungsdichte - Beginn der Schneeschmelze)</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xsnotem" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>temperaturabhängige Schneeschmelzrate</label>
								<tooltip>temperaturabhängige Schneeschmelzrate, Angabe in Millimeter pro Stunde [mm/h]</tooltip>
								<description>temperaturabhängige Schneeschmelzrate</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xsnorad" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>strahlungsabhängige Schneeschmelzrate</label>
								<tooltip>strahlungsabhängige Schneeschmelzrate, Angabe in Millimeter pro Stunde [mm/h]</tooltip>
								<description>strahlungsabhängige Schneeschmelzrate</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xh0" type="double">
						<xs:annotation>
							<xs:documentation xml:lang="de">
								<label>Anfangsschneehöhe</label>
								<tooltip>Anfangsschneehöhe, Angabe in Millimeter [mm]</tooltip>
								<description>Anfangsschneehöhe</description>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
