_import/trunk/KalypsoSachsen/KalypsoModelElbePolte/src/org/kalypso/lhwzsachsen/zwischengebiete/schemata/modell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commons="org.kalypso.zwg.commons" xmlns:modell="org.kalypso.zwg.modell"
    xmlns:obslink="obslink.zml.kalypso.org" targetNamespace="org.kalypso.zwg.modell" elementFormDefault="qualified" version="0.1">
    <annotation>
        <appinfo xmlns:kapp="org.kalypso.appinfo">
            <kapp:gmlVersion>2.1.2</kapp:gmlVersion>
        </appinfo>
    </annotation>
    <!--    <import namespace="http://www.opengis.net/gml" schemaLocation="basis/feature.xsd"/>-->
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
    <import namespace="org.kalypso.zwg.commons" schemaLocation="commons.xsd"/>
    <import namespace="obslink.zml.kalypso.org" schemaLocation="gml/bce/obslink.xsd"/>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="ZwgModell" type="modell:ZwgModellType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietsmodell</name>
                <label>Zwischengebietsmodell</label>
                <tooltip>Zwischengebietsmodell</tooltip>
                <description>Zwischengebietsmodell</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="ZwgModellType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Name</name>
                                <label>Name</label>
                                <tooltip>Name</tooltip>
                                <description>Name</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung</name>
                                <label>Beschreibung</label>
                                <tooltip>Beschreibung</tooltip>
                                <description>Beschreibung</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:zwgZuflussPegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Zwischengebietszuflüsse</name>
                                <label>Zwischengebietszuflüsse</label>
                                <tooltip>Zwischengebietszuflüsse</tooltip>
                                <description>Zwischengebietszuflüsse</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        PEGEL (können wegen des ALTEN Schema-Parsers nicht in eigene XSD) 
    -->
    <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="AbstractPegel" type="modell:AbstractPegelType" substitutionGroup="gml:_Feature" abstract="true">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="pegelMember" type="modell:PegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="zwgZuflussPegelMember" type="modell:ZwgZuflussPegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietszufluss</name>
                <label>Zwischengebietszufluss</label>
                <tooltip>Zwischengebietszufluss</tooltip>
                <description>Zwischengebietszufluss</description>
            </documentation>
        </annotation>
    </element>
    <element name="ZwgZuflussPegel" type="modell:ZwgZuflussPegelType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietszufluss</name>
                <label>Zwischengebietszufluss</label>
                <tooltip>Zwischengebietszufluss</tooltip>
                <description>Zwischengebietszufluss</description>
            </documentation>
        </annotation>
    </element>
    <element name="zuflussPegelMember" type="modell:ZuflussPegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Zuflusspegel</name>
                <label>Zuflusspegel</label>
                <tooltip>Zuflusspegel</tooltip>
                <description>Zuflusspegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="ZuflussPegel" type="modell:ZuflussPegelType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Zuflusspegel</name>
                <label>Zuflusspegel</label>
                <tooltip>Zuflusspegel</tooltip>
                <description>Zuflusspegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
    <!--  Nicht abstrakt weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
    <complexType name="AbstractPegelType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="lage" type="gml:PointPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Lage</name>
                                <label>Lage</label>
                                <tooltip>Lage</tooltip>
                                <description>Lage</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname</name>
                                <label>Pegelname</label>
                                <tooltip>Pegelname</tooltip>
                                <description>Pegelname</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung des Pegels</name>
                                <label>Beschreibung des Pegels</label>
                                <tooltip>Beschreibung des Pegels</tooltip>
                                <description>Beschreibung des Pegels</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="id" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegel-ID</name>
                                <label>Pegel-ID</label>
                                <tooltip>Pegel-ID (Messstellen-ID)</tooltip>
                                <description>Pegel-ID (Messstellen-ID)</description>
                            </documentation>
                        </annotation>
                    </element>
                          <element name="river" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Gewässer</name>
                                <label>Gewässer</label>
                                <tooltip>Gewässer</tooltip>
                                <description>Gewässer</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="PegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:AbstractPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ZwgZuflussPegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:ZwgZuflussPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ZwgZuflussPegelType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence>
                    <element name="a" type="double" default="0.0" nillable="false">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>a [m³/s] =</name>
                                <label>a [m³/s] =</label>
                                <tooltip>a [m³/s] =</tooltip>
                                <description>a [m³/s] =</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="b" type="double" default="1.0" nillable="false">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>b =</name>
                                <label>b =</label>
                                <tooltip>b =</tooltip>
                                <description>b =</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Ganglinie (gesamt)</name>
                                <label>Ganglinie (gesamt)</label>
                                <tooltip>Ganglinie (gesamt)</tooltip>
                                <description>Ganglinie (gesamt)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:zuflussPegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Zuflusspegel</name>
                                <label>Zuflusspegel</label>
                                <tooltip>Zuflusspegel</tooltip>
                                <description>Zuflusspegel</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ZuflussPegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:ZuflussPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ZuflussPegelType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence>
                    <element name="istSummand" type="boolean" default="true" nillable="false"/>
                    <element name="ganglinie_messwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Messwerte</name>
                                <label>Messwerte</label>
                                <tooltip>Messwerte</tooltip>
                                <description>Messwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
    <complexType name="AbstractPegelLinkPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence minOccurs="0" maxOccurs="0">
                    <element ref="modell:AbstractPegel"/>
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>
</schema>
