_dump/branches/branch_kalypsoProduct_v2_0/KalypsoModelWspmTuhhSchema/src/org/kalypso/model/wspm/tuhh/schema/schemata/wspmTuhhSteadyState.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.model.wspm.tuhh" xmlns:tuhh="org.kalypso.model.wspm.tuhh"
	xmlns:wspm="org.kalypso.model.wspm" xmlns:wspmcommon="org.kalypso.model.wspmcommon"
	xmlns:wspmProf="org.kalypso.model.wspmprofile"
	xmlns:runoff="org.kalypso.model.wspmrunoff" xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om"
	xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="org.kalypso.model.wspm"
		schemaLocation="../../../../../../../../../KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/wspm.xsd" />
	<import namespace="org.kalypso.model.wspmcommon"
		schemaLocation="../../../../../../../../../KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/wspmCommons.xsd" />
	<import namespace="org.kalypso.model.wspmrunoff"
		schemaLocation="../../../../../../../../../KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/runOff.xsd" />
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd" />
	<!-- Schema-Erweiterung für das stationäre WSPM der TU-HH -->
	<!-- TODO: KALYPSO-Header einfügen -->

	<include schemaLocation="wspmTuhhQintervallResults.xsd" />

	<!-- 
		_________________________________________________________________________________________
		ELEMENTS
		_________________________________________________________________________________________
	-->
	<element name="CalculationWspmTuhhSteadyState" type="tuhh:CalculationWspmTuhhSteadyStateType"
		substitutionGroup="wspm:AbstractCalculation">
		<annotation>
			<documentation xml:lang="de">
				Deprecated: use the new calculations cases instead!
				<name>Berechnungsvariante - stationär (TU-HH)</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</label>
				<tooltip>${property:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</tooltip>
				<description>
					<![CDATA[${property:http://www.opengis.net/gml#description;-keine Beschreibung vorhanden-}]]>
				</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Calculation case - steady (TU-HH)</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0;-no name-}</label>
				<tooltip>${property:http://www.opengis.net/gml#name;0;-no name-}</tooltip>
				<description>
					<![CDATA[${property:http://www.opengis.net/gml#description;-no description-}]]>
				</description>
			</documentation>
		</annotation>
	</element>

	<element name="CalculationReibConstWspmTuhhSteadyState" type="tuhh:CalculationReibConstWspmTuhhSteadyStateType"
		substitutionGroup="wspm:AbstractCalculation">
		<annotation>
			<documentation xml:lang="de">
				<name>Berechnungsvariante - stationär (TU-HH) - konstantes Reibungsgefälle</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</label>
				<tooltip>${property:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</tooltip>
				<description>
					<![CDATA[${property:http://www.opengis.net/gml#description;-keine Beschreibung vorhanden-}]]>
				</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Calculation case - steady (TU-HH)- constant XXXX???</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0;-no name-}</label>
				<tooltip>${property:http://www.opengis.net/gml#name;0;-no name-}</tooltip>
				<description>
					<![CDATA[${property:http://www.opengis.net/gml#description;-no description-}]]>
				</description>
			</documentation>
		</annotation>
	</element>


	<!-- 
	-->
	<element name="StartCondition" type="tuhh:StartConditionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Untere Randbedingung (1. Profil) - stationär (TU-HH)</name>
				<label>Untere Randbedingung (1. Profil)</label>
				<tooltip>Untere Randbedingung (am 1. Profil)</tooltip>
				<description>Untere Randbedingung (am 1. Profil)</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Lower boundary condition (1. profile) - steady (TU-HH)</name>
				<label>Lower boundary condition (at 1. profile)</label>
				<tooltip>Lower boundary condition (at 1. profile)</tooltip>
				<description>Lower boundary condition (at 1. profile)</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="RunOffInterval" type="tuhh:RunOffIntervalType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Abflussintervall - stationär (TU-HH)</name>
				<label>Abflussintervall</label>
				<tooltip>Abflussintervall</tooltip>
				<description>Abflussintervall</description>
			</documentation>
			<documentation xml:lang="en">
				<name>discharge interval - steady (TU-HH)</name>
				<label>discharge interval</label>
				<tooltip>discharge interval</tooltip>
				<description>discharge interval</description>
			</documentation>
		</annotation>
	</element>
	<!--
	-->
	<element name="WaterlevelParameter" type="tuhh:WaterlevelParameterType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Numerische Parameter - stationär (TU-HH)</name>
				<label>Numerische Parameter</label>
				<tooltip>Numerische Parameter</tooltip>
				<description>Numerische Parameter</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Numerical parameters - steady (TU-HH)</name>
				<label>Numerical parameters</label>
				<tooltip>Numerical parameters</tooltip>
				<description>Numerical parameters</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="ReachWspmTuhhSteadyState" type="tuhh:ReachWspmTuhhSteadyStateType"
		substitutionGroup="wspm:AbstractReach">
		<annotation>
			<documentation xml:lang="de">
				<name>
					<![CDATA[ Gewässerstrang - stationär (TU-HH) ]]>
				</name>
				<label>
					<![CDATA[ ${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-} ]]>
				</label>
				<tooltip>
					<![CDATA[ ${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-} ]]>
				</tooltip>
				<description>
					<![CDATA[ ${property:http://www.opengis.net/gml#description;-Beschreibung nicht gesetzt-} ]]>
				</description>
			</documentation>
			<documentation xml:lang="en">
				<name>
					<![CDATA[ River string - steady (TU-HH) ]]>
				</name>
				<label>
					<![CDATA[ ${listProperty:http://www.opengis.net/gml#name;0;-no name-} ]]>
				</label>
				<tooltip>
					<![CDATA[ ${listProperty:http://www.opengis.net/gml#name;0;-no name-} ]]>
				</tooltip>
				<description>
					<![CDATA[ ${property:http://www.opengis.net/gml#description;-no description-} ]]>
				</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<!--element name="influentReachSegmentWspmTuhhSteadyStateMember"
		type="tuhh:InfluentReachSegmentWspmTuhhSteadyStatePropertyType"
		substitutionGroup="wspm:reachSegmentMember">
		<annotation>
		<documentation xml:lang="de">
		<label>Zufluss-Strangsegmente</label>
		<tooltip>Zufluss-Strangsegmente</tooltip>
		<description>Zufluss-Strangsegmente</description>
		</documentation>
		<documentation xml:lang="en">
		<label>Influent string segments</label>
		<tooltip>Influent string segments</tooltip>
		<description>Influent string segments</description>
		</documentation>
		</annotation>
		</element-->
	<!-- TODO Überflüssig?, kann eventuell weg. -->
	<!--element name="InfluentReachSegmentWspmTuhhSteadyState" type="wspm:InfluentReachSegmentType"
		substitutionGroup="wspm:AbstractReachSegment">
		<annotation>
		<documentation xml:lang="de">
		<name>Zufluss-Strangsegment - stationär (TU-HH)</name>
		<label>huhu???influentReachSegmentWspmTuhhSteadyState</label>
		<tooltip>???tooltip</tooltip>
		<description>???description</description>
		</documentation>
		</annotation>
		</element-->
	<!-- 
	-->
	<element name="ProfileReachSegmentWspmTuhhSteadyState" type="tuhh:ProfileReachSegmentWspmTuhhSteadyStateType"
		substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Profil-Strangsegment - stationär (TU-HH)</name>
				<label>Station km ${property:org.kalypso.model.wspm.tuhh#station;-}</label>
			        <tooltip>Station km ${property:org.kalypso.model.wspm.tuhh#station;-}</tooltip>
			        <description>Station km ${property:org.kalypso.model.wspm.tuhh#station;-}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Profile string segment - steady (TU-HH)</name>
			        <label>Station km ${property:org.kalypso.model.wspm.tuhh#station;-}</label>
			        <tooltip>Station km ${property:org.kalypso.model.wspm.tuhh#station;-}</tooltip>
			        <description>Station km ${property:org.kalypso.model.wspm.tuhh#station;-}</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="SubReachDefinition" type="tuhh:subReachDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Berechnungsabschnitt - stationär (TU-HH)</name>
				<label>Berechnungsabschnitt</label>
				<tooltip>Berechnungsabschnitt</tooltip>
				<description>Berechnungsabschnitt</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Calculation segment - steady (TU-HH)</name>
				<label>Calculation segment</label>
				<tooltip>Calculation segment</tooltip>
				<description>Calculation segment</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	-->
	<element name="SpecialOptions" type="tuhh:specialOptionsType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Zusatzoptionen - stationär (TU-HH)</name>
				<label>Zusatzoptionen</label>
				<tooltip>Zusatzoptionen</tooltip>
				<description>Zusatzoptionen (Berechnung von Sonderbauwerken)</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Additional options - steady (TU-HH)</name>
				<label>Additional options</label>
				<tooltip>Additional options</tooltip>
				<description>Additional options (calculation of special structures)</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
		_________________________________________________________________________________________
		TYPES
		_________________________________________________________________________________________	
	-->
	<complexType name="CalculationWspmTuhhSteadyStateType">
		<complexContent>
			<extension base="wspm:AbstractCalculationType">
				<sequence>
					<element ref="tuhh:fliessgesetz" />
					<element name="mode" default="WATERLEVEL">
						<annotation>
							<documentation xml:lang="de">
								<label>Berechnungsart</label>
								<tooltip>
									Auswahl der Berechnungsart (Wasserspiegellagenberechnung o. Bordvollberechnung)
								</tooltip>
								<description>
									Auswahl der Berechnungsart (Wasserspiegellagenberechnung o. Bordvollberechnung)
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Type of calculation</label>
								<tooltip>Choose type of calculation (water surface or bank-full)</tooltip>
								<description>Choose type of calculation (water surface or bank-full)</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="WATERLEVEL">
									<annotation>
										<documentation xml:lang="de">
											<label>Wasserspiegellagenberechnung</label>
											<tooltip>Wasserspiegellagenberechnung</tooltip>
											<description>Wasserspiegellagenberechnung</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Water surface calculation</label>
											<tooltip>Water surface calculation</tooltip>
											<description>Water surface calculation</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="BF_UNIFORM">
									<annotation>
										<documentation xml:lang="de">
											<label>
												<![CDATA[Bordvollberechnung - stationär-gleichförmige Abflussverhältnisse]]>
											</label>
											<tooltip>
												<![CDATA[ Bordvollberechnung - stationär-gleichförmige Abflussverhältnisse ]]>
											</tooltip>
											<description>
												<![CDATA[ Bordvollberechnung -	stationär-gleichförmige Abflussverhältnisse ]]>
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>
												<![CDATA[Bank-full - steady-uniform discharge]]>
											</label>
											<tooltip>
												<![CDATA[ Bank-full - steady-uniform discharge ]]>
											</tooltip>
											<description>
												<![CDATA[ Bank-full - steady-uniform discharge ]]>
											</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="BF_NON_UNIFORM">
									<annotation>
										<documentation xml:lang="de">
											<label>
												<![CDATA[ Bordvollberechnung - stationär-ungleichförmige Abflussverhältnisse ]]>
											</label>
											<tooltip>
												<![CDATA[ Bordvollberechnung - stationär-ungleichförmige Abflussverhältnisse ]]>
											</tooltip>
											<description>
												<![CDATA[ Bordvollberechnung - stationär-ungleichförmige	Abflussverhältnisse ]]>
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>
												<![CDATA[ Bank-full - steady-non-uniform discharge ]]>
											</label>
											<tooltip>
												<![CDATA[ Bank-full - steady-non-uniform discharge ]]>
											</tooltip>
											<description>
												<![CDATA[ Bank-full - steady-non-uniform discharge ]]>
											</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="reachWspmTuhhSteadyStateMember" type="tuhh:ReachWspmTuhhSteadyStatePropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerstrang</label>
								<tooltip>
									Auswahl des Gewässerstrangs, für den die Berechnung durchgeführt wird.
								</tooltip>
								<description>
									Auswahl des Gewässerstrangs, für den die Berechnung durchgeführt wird.
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>River string</label>
								<tooltip>Selection of river string included in calculation.</tooltip>
								<description>Selection of river string included in calculation.</description>
							</documentation>
						</annotation>
					</element>
					<element name="subReachDefinitionMember" type="tuhh:subReachDefinitionPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Berechnungsabschnitt</label>
								<tooltip>Berechnungsabschnitt</tooltip>
								<description>Berechnungsabschnitt</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Calculation segment</label>
								<tooltip>Calculation segment</tooltip>
								<description>Calculation segment</description>
							</documentation>
						</annotation>
					</element>
					<!-- TODO: not used at this moment -->
					<!--element ref="wspm:roughnessDefinitionCollectionMember" minOccurs="0"/-->
					<!--element ref="wspm:vegetationDefinitionCollectionMember" minOccurs="0"/-->
					<element name="waterlevelParameterMember" type="tuhh:WaterlevelParameterPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Numerische Parameter</label>
								<tooltip>Numerische Parameter</tooltip>
								<description>Numerische Parameter</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Numerical parameter</label>
								<tooltip>Numerical parameter</tooltip>
								<description>Numerical parameter</description>
							</documentation>
						</annotation>
					</element>
					<element name="startConditionMember" type="tuhh:StartConditionPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Untere Randbedingung (1. Profil)</label>
								<tooltip>Untere Randbedingung (am 1. Profil)</tooltip>
								<description>Untere Randbedingung (am 1. Profil)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Lower boundary condition (1. profile)</label>
								<tooltip>Lower boundary condition (1. profile)</tooltip>
								<description>Lower boundary condition (1. profile)</description>
							</documentation>
						</annotation>
					</element>
					<!-- TODO force it to be one of the water body's runOffEvents? -->
					<element name="runOffEventMember" type="runoff:RunOffEventLinkPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Abflussereignis</label>
								<tooltip>Auswahl des Abflussereignisses</tooltip>
								<description>Auswahl des Abflussereignisses</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Discharge event</label>
								<tooltip>Selection of discharge event</tooltip>
								<description>Selection of discharge event</description>
							</documentation>
						</annotation>
					</element>
					<element name="runOffIntervalMember" type="tuhh:RunOffIntervalPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Abflussintervall</label>
								<tooltip>
									Definition eines Abflussintervalls (nur bei Bordvollrechnung und Kalinin-Miljukov)
								</tooltip>
								<description>
									Definition eines Abflussintervalls (nur bei Bordvollrechnung und Kalinin-Miljukov)
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Discharge interval</label>
								<tooltip>
									Definition of discharge interval (only for bank-full and Kalinin-Miljukov
									calculations)
								</tooltip>
								<description>
									Definition of discharge interval (only for bank-full and Kalinin-Miljukov
									calculations)
								</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CalculationReibConstWspmTuhhSteadyStateType">
		<complexContent>
			<extension base="wspm:AbstractCalculationType">
				<sequence>
					<element name="reachWspmTuhhSteadyStateMember" type="tuhh:ReachWspmTuhhSteadyStatePropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerstrang</label>
								<tooltip>
									Auswahl des Gewässerstrangs, für den die Berechnung durchgeführt wird.
								</tooltip>
								<description>
									Auswahl des Gewässerstrangs, für den die Berechnung durchgeführt wird.
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>River string</label>
								<tooltip>Selection of river string included in calculation.</tooltip>
								<description>Selection of river string included in calculation.</description>
							</documentation>
						</annotation>
					</element>
					<element name="subReachDefinitionMember" type="tuhh:subReachDefinitionPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Berechnungsabschnitt</label>
								<tooltip>Berechnungsabschnitt</tooltip>
								<description>Berechnungsabschnitt</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Calculation segment</label>
								<tooltip>Calculation segment</tooltip>
								<description>Calculation segment</description>
							</documentation>
						</annotation>
					</element>
					<element name="waterlevelParameterMember" type="tuhh:WaterlevelParameterPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Numerische Parameter</label>
								<tooltip>Numerische Parameter</tooltip>
								<description>Numerische Parameter</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Numerical parameter</label>
								<tooltip>Numerical parameter</tooltip>
								<description>Numerical parameter</description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:bottomSlope" />
					<element name="runOffIntervalMember" type="tuhh:RunOffIntervalPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Abflussintervall</label>
								<tooltip>
									Definition eines Abflussintervalls (nur bei Bordvollrechnung und Kalinin-Miljukov)
								</tooltip>
								<description>
									Definition eines Abflussintervalls (nur bei Bordvollrechnung und Kalinin-Miljukov)
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Discharge interval</label>
								<tooltip>
									Definition of discharge interval (only for bank-full and Kalinin-Miljukov
									calculations)
								</tooltip>
								<description>
									Definition of discharge interval (only for bank-full and Kalinin-Miljukov
									calculations)
								</description>
							</documentation>
						</annotation>
					</element>
					<element name="calcPolynomesMember" type="tuhh:CalcPolynomesPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Polynomerzeugung</label>
								<tooltip><![CDATA[Parameter für die Erzeugung der Polynome]]></tooltip>
								<description><![CDATA[Parameter für die Erzeugung der Polynome]]></description>
							</documentation>
							<documentation xml:lang="en">
								<label>Polynomial Processing</label>
								<tooltip><![CDATA[Polynomial processing parameters]]></tooltip>
								<description><![CDATA[Parameters to tweak processing of the polynomials.]]></description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="fliessgesetz" type="tuhh:fluidModelType" default="DARCY_WEISBACH_MIT_FORMEINFLUSS">
		<annotation>
			<documentation xml:lang="de">
				<label>Fließgesetz</label>
				<tooltip>Auswahl des anzuwendenden Fließgesetzes (Darcy-Weißbach o. Manning-Strickler)</tooltip>
				<description>Auswahl des anzuwendenden Fließgesetzes (Darcy-Weißbach o. Manning-Strickler)</description>
			</documentation>
			<documentation xml:lang="en">
				<label>Fluid model</label>
				<tooltip>Selection of flow resistance model (Darcy-Weißbach or Manning-Strickler)</tooltip>
				<description>Selection of flow resistance model (Darcy-Weißbach or Manning-Strickler)</description>
			</documentation>
		</annotation>
	</element>

	<simpleType name="fluidModelType">
		<restriction base="string">
			<enumeration value="DARCY_WEISBACH_OHNE_FORMEINFLUSS">
				<annotation>
					<documentation xml:lang="de">
						<label>
							<![CDATA[ Darcy-Weisbach (Rohrströmungen, äquivalente Sandrauheiten, ks) ]]>
						</label>
						<tooltip>
							<![CDATA[ Darcy-Weisbach (Rohrströmungen, äquivalente Sandrauheiten, ks) ]]>
						</tooltip>
						<description>
							<![CDATA[ Fließgesetz nach Darcy-Weisbach (Rohrströmungen, äquivalente Sandrauheiten, ks) ]]>
						</description>
					</documentation>
					<documentation xml:lang="en">
						<label>
							<![CDATA[ Darcy-Weisbach (pipe flows, equivalent sand roughnesses, ks) ]]>
						</label>
						<tooltip>
							<![CDATA[ Darcy-Weisbach (pipe flows, equivalent sand roughnesses, ks) ]]>
						</tooltip>
						<description>
							<![CDATA[ Darcy-Weisbach fluid model(pipe flows, equivalent sand roughnesses, ks) ]]>
						</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DARCY_WEISBACH_MIT_FORMEINFLUSS">
				<annotation>
					<documentation xml:lang="de">
						<label>
							<![CDATA[ Darcy-Weisbach (offene Gerinne mit Formeinfluss, äquivalente Sandrauheiten, ks) ]]>
						</label>
						<tooltip>
							<![CDATA[ Darcy-Weisbach (offene Gerinne mit Formeinfluss, äquivalente Sandrauheiten, ks) ]]>
						</tooltip>
						<description>
							<![CDATA[ Fließgesetz nach Darcy-Weisbach (offene Gerinne mit Formeinfluss, äquivalente Sandrauheiten, ks) ]]>
						</description>
					</documentation>
					<documentation xml:lang="en">
						<label>
							<![CDATA[ Darcy-Weisbach (open channels with profile impact, equivalent sand roughnesses, ks) ]]>
						</label>
						<tooltip>
							<![CDATA[ Darcy-Weisbach (open channels with profile impact,	equivalent sand roughnesses, ks) ]]>
						</tooltip>
						<description>
							<![CDATA[ Darcy-Weisbach fluid model (open channels with profile impact,	equivalent sand roughnesses, ks) ]]>
						</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MANNING_STRICKLER">
				<annotation>
					<documentation xml:lang="de">
						<label>
							<![CDATA[ Gauckler-Manning-Strickler (Rauheitsbeiwerte, kst) ]]>
						</label>
						<tooltip>
							<![CDATA[ Gauckler-Manning-Strickler (Rauheitsbeiwerte, kst) ]]>
						</tooltip>
						<description>
							<![CDATA[ Fließgesetz nach Gauckler-Manning-Strickler (Rauheitsbeiwerte, kst) ]]>
						</description>
					</documentation>
					<documentation xml:lang="en">
						<label>
							<![CDATA[ Gauckler-Manning-Strickler (roughness coefficients, kst) ]]>
						</label>
						<tooltip>
							<![CDATA[ Gauckler-Manning-Strickler (roughness coefficients, kst) ]]>
						</tooltip>
						<description>
							<![CDATA[ Gauckler-Manning-Strickler fluid model (roughness coefficients, kst) ]]>
						</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>


	<!-- 
	-->
	<complexType name="StartConditionPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:StartCondition" />
		</sequence>
	</complexType>
	<complexType name="StartConditionType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="kind" default="CRITICAL_WATER_DEPTH">
						<annotation>
							<documentation xml:lang="de">
								<label>Art</label>
								<tooltip>Auswahl der Randbedingung am ersten Profil (Unterlauf)</tooltip>
								<description>Auswahl der Randbedingung am ersten Profil (Unterlauf)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Type</label>
								<tooltip>Selection of boundary condition for first profile (lower reaches)</tooltip>
								<description>
									Selection of boundary condition for first profile (lower reaches)
								</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="CRITICAL_WATER_DEPTH">
									<annotation>
										<documentation xml:lang="de">
											<label>Grenztiefe</label>
											<tooltip>Grenztiefe</tooltip>
											<description>Untere Randbedingung (1.Profil): Grenztiefe</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Critical water depth</label>
											<tooltip>Critical water depth</tooltip>
											<description>
												<![CDATA[ Lower boundary condition (1. profile):	critical water depth ]]>
											</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="WATERLEVEL">
									<annotation>
										<documentation xml:lang="de">
											<label>Anfangswasserspiegel</label>
											<tooltip>Anfangswasserspiegel</tooltip>
											<description>
												<![CDATA[ Untere Randbedingung (1.Profil): Anfangswasserspiegel ]]>
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Initial water level</label>
											<tooltip>Initial water level</tooltip>
											<description>
												<![CDATA[ Lower boundary condition (1. profile):	initial water level ]]>
											</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="UNIFORM_BOTTOM_SLOPE">
									<annotation>
										<documentation xml:lang="de">
											<label>stationär-gleichförmiges Gefälle</label>
											<tooltip>stationär-gleichförmiges Gefälle</tooltip>
											<description>
												<![CDATA[ Untere Randbedingung (1.Profil): stationär-gleichförmiges Gefälle ]]>
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Steady-uniform slope</label>
											<tooltip>Steady-uniform slope</tooltip>
											<description>
												<![CDATA[ Lower boundary condition (1. profile):	steady-uniform slope ]]>
											</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="waterlevel" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangswasserspiegel</label>
								<tooltip><![CDATA[Anfangswasserspiegel (mNN) am ersten Profil (Unterlauf), abhängig von der Art der Randbedingung]]></tooltip>
								<description>cdata<![CDATA[Anfangswasserspiegel (mNN) am ersten Profil (Unterlauf), abhängig von der Art der Randbedingung]]></description>
							</documentation>
							<documentation xml:lang="en">
								<label>Initial water level</label>
								<tooltip><![CDATA[Initial water level (mNN) at first profile (lower reaches), depending on type of boundary condition]]></tooltip>
								<description><![CDATA[Initial water level (mNN) at first profile (lower reaches), depending on type of boundary condition]]></description>
							</documentation>
						</annotation>
					</element>
					<element ref="tuhh:bottomSlope" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="bottomSlope" type="decimal">
		<annotation>
			<documentation xml:lang="de">
				<label>stationär-gleichförmiges Gefälle</label>
				<tooltip>
					Sohlgefälle (absolut!) am ersten Profil (Unterlauf), abhängig von der Art der Randbedingung
				</tooltip>
				<description>
					Sohlgefälle (absolut!) am ersten Profil (Unterlauf), abhängig von der Art der Randbedingung
				</description>
			</documentation>
			<documentation xml:lang="en">
				<label>Steady-uniform slope</label>
				<tooltip>
					Slope of river bed (absolute!) at first profile (lower reaches), depending on type of boundary
					condition
				</tooltip>
				<description>
					Slope of river bed (absolute!) at first profile (lower reaches), depending on type of boundary
					condition
				</description>
			</documentation>
		</annotation>
	</element>


	<!-- 
	-->
	<complexType name="RunOffIntervalPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:RunOffInterval" />
		</sequence>
	</complexType>
	<complexType name="RunOffIntervalType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<!-- TODO: Element Abflussintervall machen -->
					<element name="minimalRunOff" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Minimaler Abfluss [m³/s]</label>
								<tooltip>kleinster Wert des Abflussintervalls</tooltip>
								<description>kleinster Wert des Abflussintervalls</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Minimum discharge [m³/s]</label>
								<tooltip>Minimum value of discharge interval</tooltip>
								<description>Minimum value of discharge interval</description>
							</documentation>
						</annotation>
					</element>
					<element name="runOffStep" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Schrittbreite [m³/s]</label>
								<tooltip>Schrittbreite des Abflussintervalls</tooltip>
								<description>Schrittbreite des Abflussintervalls</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Step length [m³/s]</label>
								<tooltip>Step length of discharge interval</tooltip>
								<description>Step length of discharge interval</description>
							</documentation>
						</annotation>
					</element>
					<element name="maximalRunOff" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Maximaler Abfluss [m³/s]</label>
								<tooltip>größter Wert des Abflussintervalls</tooltip>
								<description>größter Wert des Abflussintervalls</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Maximum discharge [m³/s]</label>
								<tooltip>Maximum value of discharge interval</tooltip>
								<description>Maximum value of discharge interval</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="CalcPolynomesPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:CalcPolynomes" />
		</sequence>
	</complexType>
	<element name="CalcPolynomes" type="tuhh:CalcPolynomesType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Polynomberechnung</name>
				<label>Polynomberechnung</label>
				<tooltip>Polynomberechnung</tooltip>
				<description>Polynomberechnung</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Polynome Calculation</name>
				<label>Polynome Calculation</label>
				<tooltip>Polynome Calculation</tooltip>
				<description>Polynome Calculation</description>
			</documentation>
		</annotation>
	</element>	
	<complexType name="CalcPolynomesType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="degree" default="4">
						<annotation>
							<documentation xml:lang="de">
								<label>Grad</label>
								<tooltip>Grad</tooltip>
								<description>Grad</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Degree</label>
								<tooltip>Degree</tooltip>
								<description>Degree</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="int">
								<enumeration value="2"/>
								<enumeration value="3"/>
								<enumeration value="4"/>
							</restriction>
						</simpleType>
					</element>
					<element name="trippleIt" type="boolean" default="false">
						<annotation>
							<documentation xml:lang="de">
								<label>Generelle Dreiteilung</label>
								<tooltip>Falls aktiviert, werden die Polynome für alle Parameter dreigeteilt, sonst nur für alpha.</tooltip>
							</documentation>
							<documentation xml:lang="en">
								<label>Triple Polynomes</label>
								<tooltip>If active, all parameters get tripled polynomes, else onyl the alpha values are tripled.</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="trippleMode" default="bordvoll" nillable="false">
						<annotation>
							<documentation xml:lang="de">
								<label>Art der Dreiteilung</label>
								<tooltip>Art der Dreiteilung</tooltip>
							</documentation>
							<documentation xml:lang="en">
								<label>Triple Mode</label>
								<tooltip>Triple Mode</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="bordvoll">
									<annotation>
										<documentation xml:lang="de">
											<label>Bordvollpunkte</label>
											<tooltip>Dreiteilung wird anhand der Lage der Bordvollpunkte je Profil ermittelt.</tooltip>
										</documentation>
										<documentation xml:lang="en">
											<label>!Bordvollpunkte!</label>
											<tooltip>!Dreiteilung anhand der Lage der Bordvollpunkte je Profil!</tooltip>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="slopeChange">
									<annotation>
										<documentation xml:lang="de">
											<label>Steigungswechsel</label>
											<tooltip><![CDATA[Dreiteilung wird Aufgrund des Steigungswechsels bestimmt. Angabe zusätzlicher Parameter notwendig.]]></tooltip>
										</documentation>
										<documentation xml:lang="en">
											<label>!Steigungswechsel!</label>
											<tooltip><![CDATA[!Dreiteilung wird Aufgrund des Steigungswechsels bestimmt. Angabe zusätzlicher Parameter notwendig.!]]></tooltip>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>						
					</element>
					<element name="runoffSlope" default="02.0000">
						<annotation>
							<documentation xml:lang="de">
								<label>Steigungswechsel Abfluss</label>
								<tooltip><![CDATA[Wert wird nur berücksichtigt, wenn Dreiteilung = Steigungswechsel. 
Ansatz des Q-Polynoms2 sobald die Veränderung der Steigung um den Faktor 2 und größer.
Zulässiger Wertebereich: [1,002, 100[]]></tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="decimal">
								<fractionDigits value="4"></fractionDigits>
								<minInclusive value="1.002"></minInclusive>
								<maxExclusive value="100"></maxExclusive>
							</restriction>
						</simpleType>
					</element>
					<element name="areaSlope" default="02.0000">
						<annotation>
							<documentation xml:lang="de">
								<label>Steigungswechsel Fläche</label>
								<tooltip><![CDATA[Wert wird nur berücksichtigt, wenn Dreiteilung = Steigungswechsel. 
Ansatz des A-Polynoms2 sobald die Veränderung der Steigung um den Faktor 2 und größer.
Zulässiger Wertebereich: [1,002, 100[]]></tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="decimal">
								<fractionDigits value="4"></fractionDigits>
								<minInclusive value="1.002"></minInclusive>
								<maxExclusive value="100"></maxExclusive>
							</restriction>
						</simpleType>
					</element>
					<element name="alphaSlope" default="02.0000">
						<annotation>
							<documentation xml:lang="de">
								<label>Steigungswechsel alpha</label>
								<tooltip><![CDATA[Wert wird nur berücksichtigt, wenn Dreiteilung = Steigungswechsel. 
Ansatz des Alpha-Polynoms2 sobald die Veränderung der Steigung um den Faktor 2 und größer.
Zulässiger Wertebereich: [1,002, 100[]]></tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="decimal">
								<fractionDigits value="4"></fractionDigits>
								<minInclusive value="1.002"></minInclusive>
								<maxExclusive value="100"></maxExclusive>
							</restriction>
						</simpleType>
					</element>
					<element name="weightSplinePoint" default="1.0">
						<annotation>
							<documentation xml:lang="de">
								<label>Wichtung Spline-Punkt</label>
								<tooltip><![CDATA[Wichtungsfaktor für den Endpunkt von Polynom1 und dem Startpunkt von Polynom2 zur Verbesserung der Splinefunktion.
Für Wichtungsfaktor = 1 werden alle Stützstellen gleichmäßig gewichtet.
Zulässiger Wertebereich: [1, 10000[]]></tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="decimal">
								<fractionDigits value="4"></fractionDigits>
								<minInclusive value="1"></minInclusive>
								<maxExclusive value="100"></maxExclusive>
							</restriction>
						</simpleType>
					</element>					
					<element name="ignoreOutlier" type="boolean" default="false">
						<annotation>
							<documentation xml:lang="de">
								<label>Ausreisser ignorieren</label>
								<tooltip>Ausreisser (=Rücksprünge) bei der Polynomerstellung ignorieren.</tooltip>
							</documentation>
							<documentation xml:lang="en">
								<label>Ignore Outlier</label>
								<tooltip>Ignore outlier when createing the polynomes.</tooltip>
							</documentation>
						</annotation>
					</element>
					<element name="alphaLimit" default="1.40">
						<annotation>
							<documentation xml:lang="de">
								<label>maximaler Impulsbeiwert</label>
								<tooltip>Maximaler Impulsbeiwert, limitiert die Berechnung der Alpha-Polynome.</tooltip>
							</documentation>
							<documentation xml:lang="en">
								<label>Max. Impulse</label>
								<tooltip>Max. Impulse, limits the calculation of the alpha-polynomes.</tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="decimal">
								<fractionDigits value="2"></fractionDigits>
								<minExclusive value="0.0"></minExclusive>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="WaterlevelParameterPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:WaterlevelParameter" />
		</sequence>
	</complexType>
	<complexType name="WaterlevelParameterType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="exeVersion" default="_2_1_2_1">
						<annotation>
							<documentation xml:lang="de">
								<label><![CDATA[Version Rechenkern]]></label>
								<tooltip><![CDATA[Version des Rechenkerns]]></tooltip>
							</documentation>
							<documentation xml:lang="en">
								<label><![CDATA[Calc-Core Version]]></label>
								<tooltip><![CDATA[Version of the Calculation Core]]></tooltip>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="_2_1_2_1">
									<annotation>
										<documentation xml:lang="de">
											<label><![CDATA[_2.1.2.1 (07.05.2008)]]></label>
										</documentation>
										<documentation xml:lang="en">
											<label><![CDATA[_2.1.2.1 (2008/05/07)]]></label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="_2_1_1_0">
									<annotation>
										<documentation xml:lang="de">
											<label><![CDATA[_2.1.1.0 (26.02.2008)]]></label>
										</documentation>
										<documentation xml:lang="en">
											<label><![CDATA[_2.1.1.0 (2008/02/26)]]></label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="_2_1_0_0">
									<annotation>
										<documentation xml:lang="de">
											<label><![CDATA[_2.1.0.0 (19.02.2008)]]></label>
										</documentation>
										<documentation xml:lang="en">
											<label><![CDATA[_2.1.0.0 (2008/02/19)]]></label>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="_2_0_6_6">
									<annotation>
										<documentation xml:lang="de">
											<label><![CDATA[2.0.6.6 (07.02.2008)]]></label>
										</documentation>
										<documentation xml:lang="en">
											<label><![CDATA[2.0.6.6 (2008/02/07)]]></label>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="wspIteration" default="SIMPLE">
						<annotation>
							<documentation xml:lang="de">
								<label>Iterationsgenauigkeit</label>
								<tooltip>
									Iterationsmethodik bei der WSP-Berechnung (Standard=einfache Iteration)
								</tooltip>
								<description>
									Iterationsmethodik bei der WSP-Berechnung (Standard=einfache Iteration)
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Iteration precision</label>
								<tooltip>Iteration method for WSP calculation (standard=simple iteration)</tooltip>
								<description>
									Iteration method for WSP calculation (standard=simple iteration)
								</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="SIMPLE">
									<annotation>
										<documentation xml:lang="de">
											<label>einfache Iteration</label>
											<tooltip>einfache Iteration</tooltip>
											<description>Iterationsgenauigkeit: einfache Iteration</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Simple iteration</label>
											<tooltip>Simple iteration</tooltip>
											<description>Iteration precision: simple iteration</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="EXACT">
									<annotation>
										<documentation xml:lang="de">
											<label>genaue Berechnung durch Einschlussintervall</label>
											<tooltip>genaue Berechnung durch Einschlussintervall</tooltip>
											<description>
												Iterationsgenauigkeit: genaue Berechnung durch Einschlussintervall
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Exact calculation using inclusion interval</label>
											<tooltip>Exact calculation using inclusion interval</tooltip>
											<description>
												Iteration precision: exact calculation using inclusion interval
											</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="verzoegerungsverlust" default="BJOERNSEN">
						<annotation>
							<documentation xml:lang="de">
								<label>Verzögerungsverlust</label>
								<tooltip>Berechnungsweise des Verzögerungsverlustes (Standard=DVWK)</tooltip>
								<description>Berechnungsweise des Verzögerungsverlustes (Standard=DVWK)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Delay attrition</label>
								<tooltip>Type of delay attrition (standard=DVWK)</tooltip>
								<description>Type of delay attrition (standard=DVWK)</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="DVWK">
									<annotation>
										<documentation xml:lang="de">
											<label>nach DVWK (beta = 0.67)</label>
											<tooltip>nach DVWK (beta = 0.67)</tooltip>
											<description>Verzögerungsverlust nach DVWK (beta = 0.67)</description>
										</documentation>
										<documentation xml:lang="en">
											<label>according to DVWK (beta = 0.67)</label>
											<tooltip>according to DVWK (beta = 0.67)</tooltip>
											<description>Delay attrition according to DVWK (beta = 0.67)</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="BJOERNSEN">
									<annotation>
										<documentation xml:lang="de">
											<label>nach Björnsen (beta = 0.5)</label>
											<tooltip>nach Björnsen (beta = 0.5)</tooltip>
											<description>Verzögerungsverlust nach Björnsen (beta = 0.5)</description>
										</documentation>
										<documentation xml:lang="en">
											<label>according to Björnsen (beta = 0.5)</label>
											<tooltip>according to Björnsen (beta = 0.5)</tooltip>
											<description>
												Delay attrition according to Björnsen (beta = 0.5)
											</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="DFG">
									<annotation>
										<documentation xml:lang="de">
											<label>nach BWK</label>
											<tooltip>nach BWK</tooltip>
											<description>Verzögerungsverlust nach BWK</description>
										</documentation>
										<documentation xml:lang="en">
											<label>according to BWK</label>
											<tooltip>according to BWK</tooltip>
											<description>Delay attrition according to BWK</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="reibungsverlust" default="TRAPEZ_FORMULA">
						<annotation>
							<documentation xml:lang="de">
								<label>Berechnung von Reibungsverlusten</label>
								<tooltip>Berechnung des Reibungsverlustes (Standard=Trapezformel)</tooltip>
								<description>Berechnung des Reibungsverlustes (Standard=Trapezformel)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Calculation of friction attrition</label>
								<tooltip>Calculation of friction attrition (standard=trapezoidal)</tooltip>
								<description>Calculation of friction attrition (standard=trapezoidal)</description>
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="TRAPEZ_FORMULA">
									<annotation>
										<documentation xml:lang="de">
											<label>nach Trapezformel</label>
											<tooltip>nach Trapezformel</tooltip>
											<description>
												Berechnung von Reibungsverlusten nach Trapezformel
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Trapezoidal rule</label>
											<tooltip>Trapezoidal rule</tooltip>
											<description>
												Calculation of friction attrition according to trapezoidal rule
											</description>
										</documentation>
									</annotation>
								</enumeration>
								<enumeration value="GEOMETRIC_FORMULA">
									<annotation>
										<documentation xml:lang="de">
											<label>durch geometrische Mittelung</label>
											<tooltip>durch geometrische Mittelung</tooltip>
											<description>
												Berechnung von Reibungsverlusten durch geometrische Mittelung
											</description>
										</documentation>
										<documentation xml:lang="en">
											<label>Geometric averaging</label>
											<tooltip>Geometric averaging</tooltip>
											<description>
												Calculation of friction attrition according to geometric averaging
											</description>
										</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="specialOptionsMember" type="tuhh:specialOptionsPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Zusatzoptionen</label>
								<tooltip>Zusatzoptionen</tooltip>
								<description>Zusatzoptionen (Berechnung von Sonderbauwerken)</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Additional options</label>
								<tooltip>Additional options</tooltip>
								<description>Additional options (calculation of building structures)</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ReachWspmTuhhSteadyStatePropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="tuhh:ReachWspmTuhhSteadyState" />
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup" />
	</complexType>

	<complexType name="ReachWspmTuhhSteadyStateType">
		<annotation>
			<appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty
					kapp:functionId="org.kalypso.model.wspm.tuhh.schema.function.WaterBodyParentFunctionProperty"
					kapp:property="tuhh:waterBodyLinkMember">
				</kapp:functionProperty>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="wspm:AbstractReachType">
				<sequence>
					<element name="waterBodyLinkMember" type="wspm:WaterBodyLinkPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässer</label>
								<tooltip>Übergeordnetes Gewässer</tooltip>
								<description>Übergeordnetes Gewässer</description>
							</documentation>
							<documentation xml:lang="en">
								<label>River</label>
								<tooltip>Superior river</tooltip>
								<description>Superior river</description>
							</documentation>
						</annotation>
					</element>
					<element name="waterAxis" type="gml:LineStringPropertyType">
						<annotation>
							<appinfo>This property is backuped by the observation (profileMember) itself.</appinfo>
							<documentation xml:lang="de">
								<label>Gewässerachse</label>
								<tooltip>(generierte) Gewässerachse</tooltip>
								<description>(generierte) Gewässerachse</description>
							</documentation>
							<documentation xml:lang="en">
								<label>River axis</label>
								<tooltip>(Generated) River axis</tooltip>
								<description>(Generated) River axis</description>
							</documentation>
						</annotation>
					</element>
					<element name="reachSegmentMember" type="tuhh:ProfileReachSegmentWspmTuhhSteadyStatePropertyType"
						minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässerstrangsegmente</label>
								<tooltip>Gewässerstrangsegmente</tooltip>
								<description>Gewässerstrangsegmente</description>
							</documentation>
							<documentation xml:lang="en">
								<label>River string segments</label>
								<tooltip>River string segments</tooltip>
								<description>River string segments</description>
							</documentation>
						</annotation>
					</element>
					<element name="markerMember" type="tuhh:ProfileMarkerPropertyType" minOccurs="0"
						maxOccurs="unbounded">
						<annotation>
							<documentation>This list of markers is generated from the profile-segments.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ProfileReachSegmentWspmTuhhSteadyStatePropertyType">
		<sequence>
			<element ref="tuhh:ProfileReachSegmentWspmTuhhSteadyState" />
		</sequence>
	</complexType>

	<complexType name="ProfileReachSegmentWspmTuhhSteadyStateType">
		<annotation>
			<appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty kapp:functionId="org.kalypso.gml.functionProperty.copyProperty"
					kapp:property="tuhh:station">
					<kapp:parameter>
						<!-- TODO -->
						<kapp:name>xpath</kapp:name>
						<kapp:value>tuhh:profileMember/wspmProf:Profile/wspmProf:station</kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>copySet</kapp:name>
						<kapp:value>false</kapp:value>
					</kapp:parameter>
				</kapp:functionProperty>
				<kapp:functionProperty kapp:functionId="org.kalypso.gml.functionProperty.copyProperty"
					kapp:property="tuhh:profileLocation">
					<kapp:parameter>
						<!-- TODO -->
						<kapp:name>xpath</kapp:name>
						<kapp:value>tuhh:profileMember/wspmProf:Profile/wspmProf:profileLocation</kapp:value>
					</kapp:parameter>
					<kapp:parameter>
						<kapp:name>copySet</kapp:name>
						<kapp:value>true</kapp:value>
					</kapp:parameter>
				</kapp:functionProperty>
			</appinfo>
			<documentation>The profileLocation is in reality retrieved from the underlying profile.</documentation>
		</annotation>

		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="station" type="wspmcommon:stationDouble">
						<annotation>
							<appinfo>This property is backuped by the observation (profileMember) itself.</appinfo>
							<documentation xml:lang="de">
								<label>Station [km]</label>
								<tooltip>
									Stelle im Gewässerstrang, an dem das unten selektierte Profil platziert wird.
								</tooltip>
								<description>
									Stelle im Gewässerstrang, an dem das unten selektierte Profil platziert wird.
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Station [km]</label>
								<tooltip>Station in string, where the profile selected below will be placed.</tooltip>
								<description>
									Station in string, where the profile selected below will be placed.
								</description>
							</documentation>
						</annotation>
					</element>

					<element name="profileMember" type="wspm:ProfileLinkPropertyType">
						<annotation>
							<documentation xml:lang="de">
								<label>Profil</label>
								<tooltip>Für Strangsegment verwendetes Profil</tooltip>
								<description>Für Strangsegment verwendetes Profil</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Profile</label>
								<tooltip>String segment profile</tooltip>
								<description>String segment profile</description>
							</documentation>
						</annotation>
					</element>

					<element name="profileLocation" type="gml:LineStringPropertyType">
						<annotation>
							<appinfo>
								This property is backed by profileMember, more explicit by the referenced
								profile-observation.
							</appinfo>
							<documentation xml:lang="de">
								<label>Profillinie</label>
								<tooltip>Profillinie</tooltip>
								<description>Profillinie</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Profile location</label>
								<tooltip>Profile location</tooltip>
								<description>Profile location</description>
							</documentation>
						</annotation>
					</element>

					<!-- Distances are commented out, because they are not yet (?)
						used by the tuhh steady-state flow model -->
					<!--
						<element name="distanceL" type="double">
						<annotation>
						<documentation xml:lang="de">
						<label>???distanceL</label>
						<tooltip>???tooltip</tooltip>
						<description>Abstand UW??? linkes Vorland</description>
						</documentation>
						</annotation>
						</element>
						<element name="distanceM" type="double">
						<annotation>
						<documentation xml:lang="de">
						<label>???distanceM</label>
						<tooltip>???tooltip</tooltip>
						<description>Abstand UW??? Hauptöffnung</description>
						</documentation>
						</annotation>
						</element>
						<element name="distanceR" type="double">
						<annotation>
						<documentation xml:lang="de">
						<label>???distanceR</label>
						<tooltip>???tooltip</tooltip>
						<description>Abstand UW??? rechtes Vorland</description>
						</documentation>
						</annotation>
						</element>
					-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="subReachDefinitionPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:SubReachDefinition" />
		</sequence>
	</complexType>
	<complexType name="subReachDefinitionType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="startStation" type="wspmcommon:stationDouble">
						<annotation>
							<documentation xml:lang="de">
								<label>Anfangsstation</label>
								<tooltip>
									Anfangsstation (Unterlauf), Wert unabhänigig von der Profilstationierung!
								</tooltip>
								<description>
									Anfangsstation (Unterlauf), Wert unabhänigig von der Profilstationierung!
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Initial station</label>
								<tooltip>Initial station (lower reach), value depending on profile stationing!</tooltip>
								<description>
									Initial station (lower reach), value depending on profile stationing!
								</description>
							</documentation>
						</annotation>
					</element>
					<element name="endStation" type="wspmcommon:stationDouble">
						<annotation>
							<documentation xml:lang="de">
								<label>Endstation</label>
								<tooltip>Endstation (Oberlauf), Wert unabhänigig von der Profilstationierung!</tooltip>
								<description>
									Endstation (Oberlauf), Wert unabhänigig von der Profilstationierung!
								</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Final station</label>
								<tooltip>Final station (upper reach), value depending on profile stationing!</tooltip>
								<description>
									Final station (upper reach), value depending on profile stationing!
								</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="specialOptionsPropertyType">
		<sequence minOccurs="1" maxOccurs="1">
			<element ref="tuhh:SpecialOptions" />
		</sequence>
	</complexType>
	<complexType name="specialOptionsType">
		<complexContent>
			<extension base="wspmcommon:EmptyFeatureBaseType">
				<sequence>
					<element name="doCalcBridges" type="boolean" default="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Brücken mit berechnen</label>
								<tooltip><![CDATA[falls aktiv, werden Brücken und Durchlässe bei der Berechnung berücksichtigt.]]></tooltip>
								<description><![CDATA[falls aktiv, werden Brücken und Durchlässe bei der Berechnung berücksichtigt.]]></description>
							</documentation>
							<documentation xml:lang="en">
								<label>Include bridges</label>
								<tooltip>if activated, bridges and outlets are included in calculation.</tooltip>
								<description>Bridges and outlets are included in calculation.</description>
							</documentation>
						</annotation>
					</element>
					<element name="doCalcBarrages" type="boolean" default="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Wehre mit berechnen</label>
								<tooltip>falls aktiv, werden Wehre bei der Berechnung berücksichtigt.</tooltip>
								<description>falls aktiv, werden Wehre bei der Berechnung berücksichtigt.</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Include weirs</label>
								<tooltip>if activated, weirs are included in calculation.</tooltip>
								<description>Weirs are included in calculation.</description>
							</documentation>
						</annotation>
					</element>
					<element name="useExtremeRoughness" type="boolean" default="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Extreme Rauhigkeit berücksichtigen</label>
								<tooltip>falls aktiv, wird bei geringen Wassertiefen der Ansatz für extreme Rauheiten verwendet.</tooltip>
							</documentation>
							<documentation xml:lang="en">
								<label>if activated, the method of 'extreme roughness' will be used for small waterdepths</label>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<complexType name="ProfileMarkerPropertyType">
		<sequence>
			<element ref="tuhh:ProfileMarker" />
		</sequence>
	</complexType>

	<element name="ProfileMarker" type="tuhh:ProfileMarkerType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>Marker</label>
				<tooltip>Markierungen im Profil</tooltip>
				<description>Markierung im Profil wie z.B. Trennflächen</description>
			</documentation>
		</annotation>
	</element>

	<complexType name="ProfileMarkerType">
		<annotation>
			<appinfo xmlns:kapp="org.kalypso.appinfo">
				<kapp:functionProperty kapp:functionId="org.kalypso.gmlschema.functionProperty.dontinvalidgeo"
					kapp:property="tuhh:location">
				</kapp:functionProperty>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- Reference to component dict? -->
					<element name="type" type="string" />
					<element name="location" type="gml:PointPropertyType" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

</schema>
