KalypsoCore/src/org/kalypso/ogc/gml/test/obslink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="obslink.zml.kalypso.org" elementFormDefault="qualified" attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:obslink="obslink.zml.kalypso.org">
        <import namespace="zml.kalypso.org" schemaLocation="observation.xsd"/> 

    <complexType name="obslink">
        <sequence minOccurs="1" maxOccurs="1">
            <element name="observation" type="xlink:xlink-base"></element>        
        </sequence>
    </complexType>
    
    <element name="ObservationLink" type="obslink:obslink"/>
</schema>
