_dump/trunk/KalypsoModelWspmSobekSchema/src/org/kalypso/model/wspm/sobek/schema/schemata/wspmSobekCommons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:om="http://www.opengis.net/om" xmlns:wspmSobekCommon="org.kalypso.model.wspm.sobek.common" targetNamespace="org.kalypso.model.wspm.sobek.common" elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<!-- TODO: KALYPSO-Header einfügen -->
	<!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________	
	-->
	<complexType name="EmptyFeatureBaseType">
		<complexContent>
			<restriction base="gml:AbstractFeatureType">
				<!-- Force id attribute, because Kalypso needs it -->
				<attribute ref="gml:id" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<simpleType name="stationDouble">
		<restriction base="decimal">
			<fractionDigits value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="boundaryConditionType">
		<restriction base="string">
			<enumeration value="bc_q">
				<annotation>
					<documentation xml:lang="de">
						<label>Abfluss</label>
						<tooltip>Abfluss</tooltip>
						<description>Abfluss</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Discharge</label>
						<tooltip>Discharge</tooltip>
						<description>Discharge</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="bc_w">
				<annotation>
					<documentation xml:lang="de">
						<label>Wasserstand</label>
						<tooltip>Wasserstand</tooltip>
						<description>Wasserstand</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Waterlevel</label>
						<tooltip>Waterlevel</tooltip>
						<description>Waterlevel</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="bc_wq">
				<annotation>
					<documentation xml:lang="de">
						<label>W/Q-Tabelle</label>
						<tooltip>W/Q-Tabelle</tooltip>
						<description>W/Q-Tabelle</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Q-H Relation</label>
						<tooltip>Q-H Relation</tooltip>
						<description>Q-H Relation</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="connectionNodeEnumType">
		<restriction base="string">
			<enumeration value="base">
				<annotation>
					<documentation xml:lang="de">
						<label>Connection Node</label>
						<tooltip>Connection Node</tooltip>
						<description>Connection Node</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Connection Node</label>
						<tooltip>Connection Node</tooltip>
						<description>Connection Node</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkage">
				<annotation>
					<documentation xml:lang="de">
						<label>Linkage Node</label>
						<tooltip>Linkage Node</tooltip>
						<description>Linkage Node</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Linkage Node</label>
						<tooltip>Linkage Node</tooltip>
						<description>Linkage Node</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="boundaryCondition">
				<annotation>
					<documentation xml:lang="de">
						<label>Boundary Condition Node</label>
						<tooltip>Boundary Condition Node</tooltip>
						<description>Boundary Condition Node</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Boundary Condition Node</label>
						<tooltip>Boundary Condition Node</tooltip>
						<description>Boundary Condition Node</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- 
		______________________________
		Very basic simple types
		______________________________
	-->
	<simpleType name="uniqueIdType">
		<restriction base="string"> </restriction>
	</simpleType>
	<simpleType name="yesNoType">
		<restriction base="string">
			<enumeration value="Yes">
				<annotation>
					<documentation xml:lang="de">
						<label>Ja</label>
						<tooltip>Ja</tooltip>
						<description>Ja</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Yes</label>
						<tooltip>Yes</tooltip>
						<description>Yes</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="No">
				<annotation>
					<documentation xml:lang="de">
						<label>Nein</label>
						<tooltip>Nein</tooltip>
						<description>Nein</description>
					</documentation>
					<documentation xml:lang="en">
						<label>No</label>
						<tooltip>No</tooltip>
						<description>No</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- 
		______________________________
		Special Sobek simple types (especially enumerations)
		______________________________
	-->
	<simpleType name="sbkInterpolationTypeType">
		<restriction base="string">
			<enumeration value="Interpolation.Continuous">
				<annotation>
					<documentation xml:lang="de">
						<label>stufenlos</label>
						<tooltip>stufenlos</tooltip>
						<description>stufenlos</description>
					</documentation>
					<documentation xml:lang="en">
						<label>continuous</label>
						<tooltip>continuous</tooltip>
						<description>continuous</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Interpolation.Block">
				<annotation>
					<documentation xml:lang="de">
						<label>stückweise konstant</label>
						<tooltip>stückweise konstant</tooltip>
						<description>stückweise konstant</description>
					</documentation>
					<documentation xml:lang="en">
						<label>block</label>
						<tooltip>block</tooltip>
						<description>block</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkFlowDirectionInclNoneType">
		<restriction base="string">
			<enumeration value="Direction.Both">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv und negativ</label>
						<tooltip>positiv und negativ</tooltip>
						<description>positiv und negativ</description>
						</documentation>
					<documentation xml:lang="en">
						<label>positive and negative</label>
						<tooltip>positive and negative</tooltip>
						<description>positive and negative</description>
						</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Positive">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv</label>
						<tooltip>positiv</tooltip>
						<description>positiv</description>
						</documentation>
					<documentation xml:lang="en">
						<label>positive</label>
						<tooltip>positive</tooltip>
						<description>positive</description>
						</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Negative">
				<annotation>
					<documentation xml:lang="de">
						<label>negativ</label>
						<tooltip>negativ</tooltip>
						<description>negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>negative</label>
						<tooltip>negative</tooltip>
						<description>negative</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.None">
				<annotation>
					<documentation xml:lang="de">
						<label>keine</label>
						<tooltip>keine</tooltip>
						<description>keine</description>
					</documentation>
					<documentation xml:lang="en">
						<label>none</label>
						<tooltip>none</tooltip>
						<description>none</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkFlowDirectionType">
		<restriction base="string">
			<enumeration value="Direction.Both">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv und negativ</label>
						<tooltip>positiv und negativ</tooltip>
						<description>positiv und negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive and negative</label>
						<tooltip>positive and negative</tooltip>
						<description>positive and negative</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Positive">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv</label>
						<tooltip>positiv</tooltip>
						<description>positiv</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive</label>
						<tooltip>positive</tooltip>
						<description>positive</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Negative">
				<annotation>
					<documentation xml:lang="de">
						<label>negativ</label>
						<tooltip>negativ</tooltip>
						<description>negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>negative</label>
						<tooltip>negative</tooltip>
						<description>negative</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkFlowDirectionPosAndNegType">
		<restriction base="string">
			<enumeration value="Direction.Positive">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv</label>
						<tooltip>positiv</tooltip>
						<description>positiv</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive</label>
						<tooltip>positive</tooltip>
						<description>positive</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Negative">
				<annotation>
					<documentation xml:lang="de">
						<label>negativ</label>
						<tooltip>negativ</tooltip>
						<description>negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>negative</label>
						<tooltip>negative</tooltip>
						<description>negative</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkControlPositionType">
		<restriction base="string">
			<enumeration value="PumpControl.Upward">
				<annotation>
					<documentation xml:lang="de">
						<label>aufwärts</label>
						<tooltip>aufwärts</tooltip>
						<description>aufwärts</description>
					</documentation>
					<documentation xml:lang="en">
						<label>upward</label>
						<tooltip>upward</tooltip>
						<description>upward</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PumpControl.Downward">
				<annotation>
					<documentation xml:lang="de">
						<label>abwärts</label>
						<tooltip>abwärts</tooltip>
						<description>abwärts</description>
					</documentation>
					<documentation xml:lang="en">
						<label>downward</label>
						<tooltip>downward</tooltip>
						<description>downward</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PumpControl.Both">
				<annotation>
					<documentation xml:lang="de">
						<label>auf- und abwärts</label>
						<tooltip>auf- und abwärts</tooltip>
						<description>auf- und abwärts</description>
					</documentation>
					<documentation xml:lang="en">
						<label>up- and downward</label>
						<tooltip>up- and downward</tooltip>
						<description>up- and downward</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkRiverDatabaseStructInterpolationTypeType">
		<restriction base="string">
			<enumeration value="Sobek.RiverDatabaseStructure.InterpolationType.Linear">
				<annotation>
					<documentation xml:lang="de">
						<label>linear</label>
						<tooltip>linear</tooltip>
						<description>linear</description>
					</documentation>
					<documentation xml:lang="en">
						<label>linear</label>
						<tooltip>linear</tooltip>
						<description>linear</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sobek.RiverDatabaseStructure.InterpolationType.Spline">
				<annotation>
					<documentation xml:lang="de">
						<label>Spline</label>
						<tooltip>Spline</tooltip>
						<description>Spline</description>
					</documentation>
					<documentation xml:lang="en">
						<label>spline</label>
						<tooltip>spline</tooltip>
						<description>spline</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkReductionTypeType">
		<restriction base="string">
			<enumeration value="ReductionFactor.Constant">
				<annotation>
					<documentation xml:lang="de">
						<label>konstant</label>
						<tooltip>konstant</tooltip>
						<description>konstant</description>
					</documentation>
					<documentation xml:lang="en">
						<label>constant</label>
						<tooltip>constant</tooltip>
						<description>constant</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ReductionFactor.Waterlevel">
				<annotation>
					<documentation xml:lang="de">
						<label>Höhendifferenz [m]</label>
						<tooltip>Höhendifferenz [m]</tooltip>
						<description>Höhendifferenz [m]</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Level Difference [m]</label>
						<tooltip>Level Difference [m]</tooltip>
						<description>Level Difference [m]</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkCrestShapeType">
		<restriction base="string">
			<enumeration value="Sobek.Structures.RiverWeir.CrestShape.Broad">
				<annotation>
					<documentation xml:lang="de">
						<label>breit</label>
						<tooltip>breit</tooltip>
						<description>breit</description>
					</documentation>
					<documentation xml:lang="en">
						<label>broad</label>
						<tooltip>broad</tooltip>
						<description>broad</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sobek.Structures.RiverWeir.CrestShape.Triangular">
				<annotation>
					<documentation xml:lang="de">
						<label>dreieckig</label>
						<tooltip>dreieckig</tooltip>
						<description>dreieckig</description>
					</documentation>
					<documentation xml:lang="en">
						<label>triangular</label>
						<tooltip>triangular</tooltip>
						<description>triangular</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sobek.Structures.RiverWeir.CrestShape.Round">
				<annotation>
					<documentation xml:lang="de">
						<label>rund</label>
						<tooltip>rund</tooltip>
						<description>rund</description>
					</documentation>
					<documentation xml:lang="en">
						<label>round</label>
						<tooltip>round</tooltip>
						<description>round</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sobek.Structures.RiverWeir.CrestShape.Sharp">
				<annotation>
					<documentation xml:lang="de">
						<label>spitz</label>
						<tooltip>spitz</tooltip>
						<description>spitz</description>
					</documentation>
					<documentation xml:lang="en">
						<label>sharp</label>
						<tooltip>sharp</tooltip>
						<description>sharp</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="sbkRiverDatabaseStructSecondAxisTypeType">
		<restriction base="string">
			<enumeration value="Sobek.RiverDatabaseStructure.SecondAxisValue.h2">
				<annotation>
					<documentation xml:lang="de">
						<label>h2</label>
						<tooltip>h2</tooltip>
						<description>h2</description>
					</documentation>
					<documentation xml:lang="en">
						<label>h2</label>
						<tooltip>h2</tooltip>
						<description>h2</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sobek.RiverDatabaseStructure.SecondAxisValue.Deltah">
				<annotation>
					<documentation xml:lang="de">
						<label>delta h</label>
						<tooltip>delta h</tooltip>
						<description>delta h</description>
					</documentation>
					<documentation xml:lang="en">
						<label>delta h</label>
						<tooltip>delta h</tooltip>
						<description>delta h</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="lastBoundaryTypeType">
		<restriction base="string">
			<enumeration value="zml">
				<annotation>
					<documentation xml:lang="de">
						<label>ZML-Import</label>
						<tooltip>ZML-Import</tooltip>
						<description>ZML-Import</description>
					</documentation>
					<documentation xml:lang="en">
						<label>ZML Import</label>
						<tooltip>ZML Import</tooltip>
						<description>ZML Import</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="const">
				<annotation>
					<documentation xml:lang="de">
						<label>Konstante Zeitreihe</label>
						<tooltip>Konstante Zeitreihe</tooltip>
						<description>Konstante Zeitreihe</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Constant Time Series</label>
						<tooltip>Constant Time Series</tooltip>
						<description>Constant Time Series</description>
					</documentation>
				</annotation>
			</enumeration>
			<!-- 
			<enumeration value="openmi">
				<annotation>
					<documentation xml:lang="de">
						<label>openMI</label>
						<tooltip>openMI</tooltip>
						<description>openMI</description>
					</documentation>
					<documentation xml:lang="en">
						<label>openMI</label>
						<tooltip>openMI</tooltip>
						<description>openMI</description>
					</documentation>
				</annotation>
			</enumeration>
			-->
		</restriction>
	</simpleType>
	<complexType name="TablePropertyType">
		<sequence>
			<element ref="wspmSobekCommon:Table"/>
		</sequence>
	</complexType>
	<element name="Table" type="wspmSobekCommon:TableType" substitutionGroup="om:Observation">
		<annotation>
			<documentation xml:lang="de">
			<label>Sbk Table</label>
			<tooltip>Sbk Table</tooltip>
			<description>Sbk Table</description>
		</documentation>
			<documentation xml:lang="en"> 
			<label>Sbk Table</label>
			<tooltip>Sbk Table</tooltip>
			<description>Sbk Table</description>
		</documentation>
		</annotation>
	</element>
	<complexType name="TableType">
		<complexContent>
			<extension base="om:ObservationType">
				<sequence>
					<element name="interpolationType" type="wspmSobekCommon:sbkInterpolationTypeType" default="Interpolation.Continuous" nillable="false">
						<annotation>
							<documentation xml:lang="de">
								<label>Art der Interpolation</label>
								<tooltip>Art der Interpolation</tooltip>
								<description>Art der Interpolation</description>
							</documentation>
							<documentation xml:lang="en"> 
								<label>Type of interpolation</label>
								<tooltip>Type of interpolation</tooltip>
								<description>Type of interpolation</description>
							</documentation>
						</annotation>
					</element>
					<element name="interpolationPeriod" type="wspmSobekCommon:yesNoType" default="No" nillable="false">
						<annotation>
							<documentation xml:lang="de">
								<label>period</label>
								<tooltip>period</tooltip>
								<description>period</description>
							</documentation>
							<documentation xml:lang="en">
								<label>period</label>
								<tooltip>period</tooltip>
								<description>period</description>
							</documentation>
						</annotation>
					</element>
					<element name="interpolationValue" type="byte" default="0" nillable="false">
						<annotation>
							<documentation xml:lang="de">
								<label>value</label>
								<tooltip>value</tooltip>
								<description>value</description>
							</documentation>
							<documentation xml:lang="en">
								<label>value</label>
								<tooltip>value</tooltip>
								<description>value</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
		______________________________
		Very basic simple types
		______________________________
	-->
	<simpleType name="notNegDoubleType">
		<restriction base="double">
			<minInclusive value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="percentageType">
		<restriction base="double">
			<minInclusive value="0"/>
			<maxInclusive value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="posDoubleType">
		<restriction base="double">
			<minExclusive value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="notNegIntType">
		<restriction base="int">
			<minInclusive value="0"/>
		</restriction>
	</simpleType>
</schema>
