_dump/trunk/KalypsoModelWspmSobekSchema/src/org/kalypso/model/wspm/sobek/schema/schemata/wspmSobek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns:om="http://www.opengis.net/om" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wspmSobek="org.kalypso.model.wspm.sobek"
	xmlns:wspmSobekCommon="org.kalypso.model.wspm.sobek.common" xmlns:obslink="obslink.zml.kalypso.org" xmlns:wspmprofile="org.kalypso.model.wspmprofile" targetNamespace="org.kalypso.model.wspm.sobek"
	elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="org.kalypso.model.wspm.sobek.common" schemaLocation="wspmSobekCommons.xsd"/>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<import namespace="http://www.opengis.net/om" schemaLocation="http://dev.bjoernsen.de/ogc/schema/om/1.0.30/om.xsd"/>
	<import namespace="http://www.opengis.net/swe" schemaLocation="http://dev.bjoernsen.de/ogc/schema/sweCommon/1.0.30/swe.xsd"/>
	<import namespace="org.kalypso.model.wspmprofile" schemaLocation="../../../../../../../../../KalypsoModelWspmSchema/src/org/kalypso/model/wspm/schema/schemata/profile.xsd"/>
	<import namespace="obslink.zml.kalypso.org"/>
	<!-- schema for WSPM = 'water surface profile model' -->
	<!-- TODO: KALYPSO-Header einfügen -->
	<!-- 
	_________________________________________________________________________________________
	ELEMENTS
	_________________________________________________________________________________________
	-->
	<!--
		_________________________________________________________________________________________
		NODE ELEMENTS
		_________________________________________________________________________________________
	-->
	<!--
		Abstraktes Element für alle Nodes.
	-->
	<element name="AbstractNode" abstract="true" type="wspmSobek:AbstractNodeType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>AbstractNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>AbstractNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>AbstractNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>AbstractNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<element name="AbstractNetworkNode" abstract="true" type="wspmSobek:AbstractNetworkNodeType" substitutionGroup="wspmSobek:AbstractNode">
		<annotation>
			<documentation xml:lang="de">
				<label>AbstractNetworkNode - ${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>AbstractNetworkNode</tooltip>
				<description>AbstractNetworkNode</description>
			</documentation>
		</annotation>
	</element>
	<!--
		LinkageNode
	-->
	<element name="nodeMember" type="wspmSobek:NodePropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>nodeMember</label>
				<tooltip>nodeMember</tooltip>
				<description>nodeMember</description>
			</documentation>
			<documentation xml:lang="en">
				<label>nodeMember</label>
				<tooltip>nodeMember</tooltip>
				<description>nodeMember</description>
			</documentation>
		</annotation>
	</element>
	<element name="LinkageNode" type="wspmSobek:LinkageNodeType" substitutionGroup="wspmSobek:ConnectionNode">
		<annotation>
			<documentation xml:lang="de">
				<name>LinkageNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>LinkageNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>LinkageNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>LinkageNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>LinkageNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>LinkageNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<element name="AbstractCalculationPoint" type="wspmSobek:AbstractCalculationPointType" substitutionGroup="wspmSobek:AbstractNetworkNode" abstract="true">
		<annotation>
			<documentation xml:lang="de">
				<name>AbstractCalculationPoint</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>AbstractCalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>AbstractCalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>AbstractCalculationPoint</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>AbstractCalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>AbstractCalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<element name="BoundaryConditionNode" type="wspmSobek:BoundaryConditionNodeType" substitutionGroup="wspmSobek:ConnectionNode">
		<annotation>
			<documentation xml:lang="de">
				<name>BoundaryConditionNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>BoundaryConditionNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>BoundaryConditionNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>BoundaryConditionNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>BoundaryConditionNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>BoundaryConditionNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<element name="CrossSectionNode" type="wspmSobek:CrossSectionNodeType" substitutionGroup="wspmSobek:AbstractCalculationPoint">
		<annotation>
			<documentation xml:lang="de">
				<name>CrossSectionNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>CrossSectionNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>CrossSectionNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>CrossSectionNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>CrossSectionNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>CrossSectionNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<element name="ConnectionNode" type="wspmSobek:ConnectionNodeType" substitutionGroup="wspmSobek:AbstractCalculationPoint">
		<annotation>
			<documentation xml:lang="de">
				<name>ConnectionNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>ConnectionNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>ConnectionNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>ConnectionNode</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>ConnectionNode - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>ConnectionNode - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<element name="CalculationPoint" type="wspmSobek:CalculationPointType" substitutionGroup="wspmSobek:AbstractCalculationPoint">
		<annotation>
			<documentation xml:lang="de">
				<name>CalculationPoint</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>CalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>CalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>CalculationPoint</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>CalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>CalculationPoint - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________
	-->
	<!--
		_______________________________________________________________________________________
		NODE TYPES
		_________________________________________________________________________________________
	-->
	<!--
		abstrakte Node-Typen allgemein
	-->
	<complexType name="AbstractNodeType" abstract="true">
		<complexContent>
			<extension base="wspmSobekCommon:EmptyFeatureBaseType">
				<sequence>
					<element name="name" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Bezeichnung</label>
								<tooltip>Bezeichnung</tooltip>
								<description>Bezeichnung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Name</label>
								<tooltip>Name</tooltip>
								<description>Name</description>
							</documentation>
						</annotation>
					</element>
					<element name="description" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Beschreibung</label>
								<tooltip>Beschreibung</tooltip>
								<description>Beschreibung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Description</label>
								<tooltip>Description</tooltip>
								<description>Description</description>
							</documentation>
						</annotation>
					</element>
					<element name="location" type="gml:PointPropertyType"/>
					<element name="uniqueID" type="wspmSobekCommon:uniqueIdType"/>
					<element name="stationName" type="string" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
		abstrakter Knoten-Typ für Netzwerkknoten
	-->
	<complexType name="AbstractNetworkNodeType" abstract="true">
		<complexContent>
			<extension base="wspmSobek:AbstractNodeType"/>
		</complexContent>
	</complexType>
	<complexType name="NodePropertyType">
		<sequence>
			<element ref="wspmSobek:AbstractNode"/>
		</sequence>
	</complexType>
	<complexType name="LinkageNodeType">
		<complexContent>
			<extension base="wspmSobek:ConnectionNodeType">
				<sequence>
					<element name="linksToBranch" type="wspmSobek:BranchLinkPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CalculationPointType">
		<complexContent>
			<extension base="wspmSobek:AbstractCalculationPointType">
				<sequence> </sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractCalculationPointType" abstract="true">
		<complexContent>
			<extension base="wspmSobek:AbstractNetworkNodeType">
				<sequence>
					<element name="linkedInflowCalcLink" type="wspmSobek:CalcLinkLinkPropertyType" minOccurs="0" maxOccurs="1"/>
					<element name="linkedOutflowCalcLink" type="wspmSobek:CalcLinkLinkPropertyType" minOccurs="0" maxOccurs="1"/>
					<element name="isActiveCalcPoint" type="boolean" default="true" nillable="false"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoundaryConditionNodeType">
		<complexContent>
			<extension base="wspmSobek:ConnectionNodeType">
				<sequence>
					<element name="bcType" type="wspmSobekCommon:boundaryConditionType">
						<annotation>
							<documentation xml:lang="de">
								<label>Typ der Randbedingung</label>
								<tooltip>Typ der Randbedingung</tooltip>
								<description>Typ der Randbedingung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Boundary Condition Type</label>
								<tooltip>Boundary Condition Type</tooltip>
								<description>Boundary Condition Type</description>
							</documentation>
						</annotation>
					</element>
					<element ref="wspmSobek:lastfallDefinitionMember" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CrossSectionNodeType">
		<complexContent>
			<extension base="wspmSobek:AbstractCalculationPointType">
				<sequence>
					<element name="linkedProfile" type="wspmSobek:ProfileLinkPropertyType"/>
					<element name="linksToBranch" type="wspmSobek:BranchLinkPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ConnectionNodeType">
		<complexContent>
			<extension base="wspmSobek:AbstractCalculationPointType">
				<sequence>
					<element name="linkedInflowBranches" type="wspmSobek:BranchLinkPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="linkedOutflowBranches" type="wspmSobek:BranchLinkPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeOfConnectionNode" type="wspmSobekCommon:connectionNodeEnumType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- CalcLink-Dinge -->
	<element name="calcLinkMember" type="wspmSobek:CalcLinkPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>calcLinkMember</label>
				<tooltip>calcLinkMember</tooltip>
				<description>calcLinkMember</description>
			</documentation>
			<documentation xml:lang="en">
				<label>calcLinkMember</label>
				<tooltip>calcLinkMember</tooltip>
				<description>calcLinkMember</description>
			</documentation>
		</annotation>
	</element>
	<element name="CalcLink" type="wspmSobek:calcLinkType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>CalcLink</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>CalcLink - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>CalcLink - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>CalcLink</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>CalcLink - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>CalcLink - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="CalcLinkPropertyType">
		<sequence>
			<element ref="wspmSobek:CalcLink"/>
		</sequence>
	</complexType>
	<complexType name="calcLinkType">
		<complexContent>
			<extension base="wspmSobekCommon:EmptyFeatureBaseType">
				<sequence>
					<element name="name" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Bezeichnung</label>
								<tooltip>Bezeichnung</tooltip>
								<description>Bezeichnung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Name</label>
								<tooltip>Name</tooltip>
								<description>Name</description>
							</documentation>
						</annotation>
					</element>
					<element name="description" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Beschreibung</label>
								<tooltip>Beschreibung</tooltip>
								<description>Beschreibung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Description</label>
								<tooltip>Description</tooltip>
								<description>Description</description>
							</documentation>
						</annotation>
					</element>
					<element name="uniqueID" type="wspmSobekCommon:uniqueIdType"/>
					<element name="upperCalculationPoint" type="wspmSobek:CalculationPointLinkPropertyType"/>
					<element name="lowerCalculationPoint" type="wspmSobek:CalculationPointLinkPropertyType"/>
					<element name="linkedBranch" type="wspmSobek:BranchLinkPropertyType"/>
					<element name="calculatedLine" type="gml:LineStringPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
		Branch-Dinge 
	-->
	<element name="branchMember" type="wspmSobek:BranchPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>branchMember</label>
				<tooltip>branchMember</tooltip>
				<description>branchMember</description>
			</documentation>
			<documentation xml:lang="en">
				<label>branchMember</label>
				<tooltip>branchMember</tooltip>
				<description>branchMember</description>
			</documentation>
		</annotation>
	</element>
	<element name="Branch" type="wspmSobek:branchType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Branch</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>Branch - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>Branch - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Branch</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>Branch - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>Branch - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="BranchPropertyType">
		<sequence>
			<element ref="wspmSobek:Branch"/>
		</sequence>
	</complexType>
	<complexType name="branchType">
		<complexContent>
			<extension base="wspmSobekCommon:EmptyFeatureBaseType">
				<sequence>
					<element name="name" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Bezeichnung</label>
								<tooltip>Bezeichnung</tooltip>
								<description>Bezeichnung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Name</label>
								<tooltip>Name</tooltip>
								<description>Name</description>
							</documentation>
						</annotation>
					</element>
					<element name="description" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Beschreibung</label>
								<tooltip>Beschreibung</tooltip>
								<description>Beschreibung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Description</label>
								<tooltip>Description</tooltip>
								<description>Description</description>
							</documentation>
						</annotation>
					</element>
					<element name="river" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewässer</label>
								<tooltip>Gewässer</tooltip>
								<description>Gewässer</description>
							</documentation>
							<documentation xml:lang="en">
								<label>River</label>
								<tooltip>River</tooltip>
								<description>River</description>
							</documentation>
						</annotation>
					</element>
					<element name="uniqueID" type="wspmSobekCommon:uniqueIdType"/>
					<element name="riverLine" type="gml:LineStringPropertyType"/>
					<element name="length" type="double"/>
					<element name="upperConnectionNode" type="wspmSobek:ConnectionNodeLinkPropertyType"/>
					<element name="lowerConnectionNode" type="wspmSobek:ConnectionNodeLinkPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- Lastfall-Dinge -->
	<element name="lastfallMember" type="wspmSobek:LastfallPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>lastfallMember</label>
				<tooltip>lastfallMember</tooltip>
				<description>lastfallMember</description>
			</documentation>
			<documentation xml:lang="en">
				<label>lastfallMember</label>
				<tooltip>lastfallMember</tooltip>
				<description>lastfallMember</description>
			</documentation>
		</annotation>
	</element>
	<element name="Lastfall" type="wspmSobek:lastfallType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Lastfall</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>Lastfall - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>Lastfall - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Loading Case</name>
				<label>${property:org.kalypso.model.wspm.sobek#name}</label>
				<tooltip>Loading Case - ${property:org.kalypso.model.wspm.sobek#name}</tooltip>
				<description>Loading Case - ${property:org.kalypso.model.wspm.sobek#name}</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="LastfallPropertyType">
		<sequence>
			<element ref="wspmSobek:Lastfall"/>
		</sequence>
	</complexType>
	<complexType name="lastfallType">
		<complexContent>
			<extension base="wspmSobekCommon:EmptyFeatureBaseType">
				<sequence>
					<element name="name" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Bezeichnung</label>
								<tooltip>Bezeichnung</tooltip>
								<description>Bezeichnung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Name</label>
								<tooltip>Name</tooltip>
								<description>Name</description>
							</documentation>
						</annotation>
					</element>
					<element name="description" type="string" nillable="true">
						<annotation>
							<documentation xml:lang="de">
								<label>Beschreibung</label>
								<tooltip>Beschreibung</tooltip>
								<description>Beschreibung</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Description</label>
								<tooltip>Description</tooltip>
								<description>Description</description>
							</documentation>
						</annotation>
					</element>
					<element name="simulationBegin" type="date" nillable="false">
						<annotation>
							<documentation xml:lang="de">
								<label>Beginn der Simulation</label>
								<tooltip>Beginn der Simulation</tooltip>
								<description>Beginn der Simulation</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Start of Simulation</label>
								<tooltip>Start of Simulation</tooltip>
								<description>Start of Simulation</description>
							</documentation>
						</annotation>
					</element>
					<element name="simulationEnd" type="date" nillable="false">
						<annotation>
							<documentation xml:lang="de">
								<label>Ende der Simulation</label>
								<tooltip>Ende der Simulation</tooltip>
								<description>Ende der Simulation</description>
							</documentation>
							<documentation xml:lang="en">
								<label>End of Simulation</label>
								<tooltip>End of Simulation</tooltip>
								<description>End of Simulation</description>
							</documentation>
						</annotation>
					</element>
					<element name="preSimulationTime" type="int" nillable="false" default="12">
						<annotation>
							<documentation xml:lang="de">
								<label>Vorlaufrechnung [h]</label>
								<tooltip>Vorlaufrechnung [h]</tooltip>
								<description>Vorlaufrechnung [h]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Length of Feeding Simulation [h]</label>
								<tooltip>Length of Feeding Simulation [h]</tooltip>
								<description>Length of Feeding Simulation [h]</description>
							</documentation>
						</annotation>
					</element>
					<element name="simulationTimestep" type="int" nillable="false" default="10">
						<annotation>
							<documentation xml:lang="de">
								<label>Zeitschritt [min]</label>
								<tooltip>Zeitschritt [min]</tooltip>
								<description>Zeitschritt [min]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Time Step [min]</label>
								<tooltip>Time Step [min]</tooltip>
								<description>Time Step [min]</description>
							</documentation>
						</annotation>
					</element>
					<element name="resultTimeStepAsMultiple" type="int" nillable="false" default="3">
						<annotation>
							<documentation xml:lang="de">
								<label>Ergebnis Zeitschritt [Anzahl Zeitschritte]</label>
								<tooltip>Ergebnis Zeitschritt [Anzahl Zeitschritte]</tooltip>
								<description>Ergebnis Zeitschritt [Anzahl Zeitschritte]</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Result Time Step [Count of Time Steps]</label>
								<tooltip>Result Time Step [Count of Time Steps]</tooltip>
								<description>Result Time Step [Count of Time Steps]</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="lastfallDefinitionMember" type="wspmSobek:LastfallDefinitionPropertyType">
		<annotation>
			<documentation xml:lang="de">
				<label>Lastfall Definitionen</label>
				<tooltip>Lastfall Definitionen</tooltip>
				<description>Lastfall Definitionen</description>
			</documentation>
			<documentation xml:lang="en">
				<label>Loading Case Definitions</label>
				<tooltip>Loading Case Definitions</tooltip>
				<description>Loading Case Definitions</description>
			</documentation>
		</annotation>
	</element>
	<element name="LastfallDefinition" type="wspmSobek:lastfallDefinitionType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation xml:lang="de">
				<name>Lastfall Definition</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</label>
				<tooltip>Lastfall Definition - ${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</tooltip>
				<description>Lastfall Definition - ${listProperty:http://www.opengis.net/gml#name;0;-Name nicht gesetzt-}</description>
			</documentation>
			<documentation xml:lang="en">
				<name>Loading Case Definition</name>
				<label>${listProperty:http://www.opengis.net/gml#name;0;-no name-}</label>
				<tooltip>Loading Case Definition - ${listProperty:http://www.opengis.net/gml#name;0;-no name-}</tooltip>
				<description>Loading Case Definition - ${listProperty:http://www.opengis.net/gml#name;0;-no name-}</description>
			</documentation>
		</annotation>
	</element>
	<complexType name="LastfallDefinitionPropertyType">
		<sequence>
			<element ref="wspmSobek:LastfallDefinition"/>
		</sequence>
	</complexType>
	<complexType name="lastfallDefinitionType">
		<complexContent>
			<extension base="wspmSobekCommon:EmptyFeatureBaseType">
				<sequence>
					<element name="linkedLastfall" type="wspmSobek:LastfallLinkPropertyType"/>
					<element name="data" type="om:ObservationType"/>
					<element name="sourceRepositoryObservation" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="observationBegin" type="date" nillable="true"/>
					<element name="observationEnd" type="date" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- 
		_________________________________________________________________________________________
		LINK PROPERTIES
		_________________________________________________________________________________________
	-->
	<complexType name="LinkageNodeLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmSobek:LinkageNode"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="ConnectionNodeLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmSobek:ConnectionNode"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="ProfileLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmprofile:Profile"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="BranchLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmSobek:Branch"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="CalcLinkLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmSobek:CalcLink"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="CalculationPointLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmSobek:AbstractCalculationPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<complexType name="LastfallLinkPropertyType">
		<sequence minOccurs="0" maxOccurs="0">
			<element ref="wspmSobek:Lastfall"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
</schema>
