_dump/trunk/KalypsoModelWspmSobekSchema/src/org/kalypso/model/wspm/sobek/schema/schemata/wspmSobekCommons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wspmSobekCommon="org.kalypso.model.wspmcommon" targetNamespace="org.kalypso.model.wspm.sobek.common"
	elementFormDefault="qualified" version="0.1">
	<annotation>
		<appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<!-- schema for WSPM = 'water surface profile model' -->
	<!-- TODO: KALYPSO-Header einfügen -->
	<!-- 
	_________________________________________________________________________________________
	TYPES
	_________________________________________________________________________________________	
	-->
	<complexType name="EmptyFeatureBaseType">
		<complexContent>
			<restriction base="gml:AbstractFeatureType">
				<!-- Force id attribute, because Kalypso needs it -->
				<attribute ref="gml:id" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- 
	-->
	<simpleType name="stationDouble">
		<restriction base="decimal">
			<fractionDigits value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="boundaryConditionType">
		<restriction base="string">
			<enumeration value="bc_q">
				<annotation>
					<documentation xml:lang="de">
						<label>Abfluss</label>
						<tooltip>Abfluss</tooltip>
						<description>Abfluss</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Discharge</label>
						<tooltip>Discharge</tooltip>
						<description>Discharge</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="bc_w">
				<annotation>
					<documentation xml:lang="de">
						<label>Wasserstand</label>
						<tooltip>Wasserstand</tooltip>
						<description>Wasserstand</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Waterlevel</label>
						<tooltip>Waterlevel</tooltip>
						<description>Waterlevel</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="bc_wq">
				<annotation>
					<documentation xml:lang="de">
						<label>W/Q-Tabelle</label>
						<tooltip>W/Q-Tabelle</tooltip>
						<description>W/Q-Tabelle</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Q-H Relation</label>
						<tooltip>Q-H Relation</tooltip>
						<description>Q-H Relation</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="connectionNodeEnumType">
		<restriction base="string">
			<enumeration value="base">
				<annotation>
					<documentation xml:lang="de">
						<label>Connection Node</label>
						<tooltip>Connection Node</tooltip>
						<description>Connection Node</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Connection Node</label>
						<tooltip>Connection Node</tooltip>
						<description>Connection Node</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="linkage">
				<annotation>
					<documentation xml:lang="de">
						<label>Linkage Node</label>
						<tooltip>Linkage Node</tooltip>
						<description>Linkage Node</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Linkage Node</label>
						<tooltip>Linkage Node</tooltip>
						<description>Linkage Node</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="boundaryCondition">
				<annotation>
					<documentation xml:lang="de">
						<label>Boundary Condition Node</label>
						<tooltip>Boundary Condition Node</tooltip>
						<description>Boundary Condition Node</description>
					</documentation>
					<documentation xml:lang="en">
						<label>Boundary Condition Node</label>
						<tooltip>Boundary Condition Node</tooltip>
						<description>Boundary Condition Node</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- 
		______________________________
		Very basic simple types
		______________________________
	-->
	<simpleType name="uniqueIdType">
		<restriction base="string"> </restriction>
	</simpleType>
	<!-- 
		______________________________
		Special Sobek simple types (especially enumerations)
		______________________________
	-->
	<simpleType name="sbkFlowDirectionType">
		<restriction base="string">
			<enumeration value="Direction.Both">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv und negativ</label>
						<tooltip>positiv und negativ</tooltip>
						<description>positiv und negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive and negative</label>
						<tooltip>positive and negative</tooltip>
						<description>positive and negative</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Positive">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv</label>
						<tooltip>positiv</tooltip>
						<description>positiv</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive</label>
						<tooltip>positive</tooltip>
						<description>positive</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Direction.Negative">
				<annotation>
					<documentation xml:lang="de">
						<label>negativ</label>
						<tooltip>negativ</tooltip>
						<description>negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>negative</label>
						<tooltip>negative</tooltip>
						<description>negative</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="sbkControlPositionType">
		<restriction base="string">
			<enumeration value="PumpControl.Upward">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv und negativ</label>
						<tooltip>positiv und negativ</tooltip>
						<description>positiv und negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive and negative</label>
						<tooltip>positive and negative</tooltip>
						<description>positive and negative</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PumpControl.Downward">
				<annotation>
					<documentation xml:lang="de">
						<label>positiv</label>
						<tooltip>positiv</tooltip>
						<description>positiv</description>
					</documentation>
					<documentation xml:lang="en">
						<label>positive</label>
						<tooltip>positive</tooltip>
						<description>positive</description>
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PumpControl.Negative">
				<annotation>
					<documentation xml:lang="de">
						<label>negativ</label>
						<tooltip>negativ</tooltip>
						<description>negativ</description>
					</documentation>
					<documentation xml:lang="en">
						<label>negative</label>
						<tooltip>negative</tooltip>
						<description>negative</description>
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<!-- 
		______________________________
		Very basic simple types
		______________________________
	-->
	<simpleType name="notNegDoubleType">
		<restriction base="double">
			<minInclusive value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="percentageType">
		<restriction base="double">
			<minInclusive value="0"/>
			<maxInclusive value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="posDoubleType">
		<restriction base="double">
			<minExclusive value="0"/>
		</restriction>
	</simpleType>
	<simpleType name="notNegIntType">
		<restriction base="int">
			<minInclusive value="0"/>
		</restriction>
	</simpleType>
</schema>
