_import/branches/Branch-RMA10s-hassan/branch-2005-12-2-kalypso-1-0/KalypsoSachsen/KalypsoModelSpree/src/org/kalypso/lhwzsachsen/spree/schemata/modell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="org.kalypso.spree.modell" version="0.1" xmlns:spree="org.kalypso.spree.modell" xmlns:ombrometer="org.kalypso.spree.ombrometer" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obslink="obslink.zml.kalypso.org" elementFormDefault="qualified">
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://lfug-kv-01:8080/KalypsoConf/schemata/gml2_2002/feature.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://lfug-kv-01:8080/KalypsoConf/schemata/gml2_2002/xlinks.xsd"/>
	<import namespace="obslink.zml.kalypso.org" schemaLocation="http://lfug-kv-01:8080/KalypsoConf/schemata/gml2_2002/obslink.xsd"/>
	<import namespace="org.kalypso.spree.ombrometer" schemaLocation="ombrometer.xsd"/>

	<!-- Eigentliches Spree-Modell -->	
	<element name="SpreeModell" type="spree:_SpreeModellType"/>
	<complexType name="_SpreeModellType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="PegelCollectionAssociation" type="spree:PegelCollectionAssociationType"/>
					<element name="TalsperreCollectionAssociation" type="spree:TalsperreCollectionAssociationType"/>
					<element name="VorgabeCollectionAssociation" type="spree:VorgabeCollectionAssociationType"/>
					<element name="OmbrometerCollectionAssociation" type="ombrometer:OmbrometerCollectionAssociationType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Ombrometer-Liste</label>
								<tooltip>Liste der Ombrometer</tooltip>
								<description>Liste der Ombrometer</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PegelCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:PegelCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="PegelCollection" type="spree:PegelCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="PegelCollectionType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="PegelMember" type="spree:PegelAssociationType" minOccurs="10" maxOccurs="10"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PegelAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:_Pegel"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	
	<complexType name="EmptyFeatureBaseType">
		<complexContent>
			<restriction base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	
	<element name="_Pegel" abstract="true"  type="spree:_PegelType" substitutionGroup="gml:_Feature" />
	<complexType name="_PegelType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="Wasserstand_gemessen" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Wasserstand_gerechnet" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Wasserstand_vorhersage" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Wasserstand_vorhersage_unten" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0"/>
					<element name="Wasserstand_vorhersage_oben" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0"/>
					<element name="accuracyPrediction" type="double" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Vorhersagegenauigkeit [%/(60h)]</label>
								<tooltip>Genauigkeit der Vorhersage in % pro 60 Stunden zur Berechnung der Umhüllenden</tooltip>
								<description>Genauigkeit der Vorhersage in % pro 60 Stunden zur Berechnung der Umhüllenden</description>
							</documentation>
							<documentation xml:lang="en">
								<label>Forecast Accuracy [%/(60h)]</label>
								<tooltip>Accuracy of prediction in % per 60 hours in order to calculate confidence interval</tooltip>
								<description>Accuracy of prediction in % per 60 hours in order to calculate confidence interval</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Einzugsgebiet" type="spree:_EinzugsgebietType" substitutionGroup="spree:_Pegel" />
	<complexType name="_EinzugsgebietType">
		<complexContent>
			<extension base="spree:_PegelType">
				<sequence>
					<element name="BodenfeuchteMin" type="double"/>
					<element name="Bodenfeuchte" type="double"/>
					<element name="BodenfeuchteMax" type="double"/>
					<element name="Niederschlag_rechnung" type="obslink:TimeseriesLinkFeatureProperty"/>
				    <element name="GEOM_EZG" type="gml:PolygonPropertyType" minOccurs="0">
						<annotation>
							<documentation xml:lang="de">
								<label>Einzugsgebietgrenzen</label>
								<tooltip>Geometrie des Einzugsgebietes</tooltip>
								<description>Geometrische Begrenzung des Einzugsgebietes</description>
							</documentation>
						</annotation>
				    </element>
					<element name="gewichtung" type="spree:GewichtungsAssociationType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewichtung Ombrometer</label>
								<tooltip>Zuordnung der Ombrometerstationen zu diesem Einzugsgebiet</tooltip>
								<description>Gewichtungsfaktoren zur Zuordnung von Ombrrometern zu diesem Einzugsgebiet</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="FlusslaufModell" type="spree:_FlusslaufModellType" substitutionGroup="spree:_Pegel"/>
	<complexType name="_FlusslaufModellType">
		<complexContent>
			<extension base="spree:_PegelType">
				<sequence>
					<element name="Korrektur_Faktor" type="double"/>
					<element name="Korrektur_Niveau" type="double"/>
					<element name="Korrektur_Laufzeit" type="double"/>
					<element name="KorrekturEmpfehlungLaufzeit" type="double"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="TalsperreCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:TalsperreCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="TalsperreCollection" type="spree:TalsperreCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="TalsperreCollectionType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="TalsperreMember" type="spree:TalsperreAssociationType" minOccurs="2" maxOccurs="2"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TalsperreAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:Talsperre"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="Talsperre" type="spree:_TalsperrenType" substitutionGroup="gml:_Feature"/>
	<complexType name="_TalsperrenType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Anfangsstauvolumen" type="double"/>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="Abgabe" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Abgabe_plausibilisiert" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Zufluss_berechnet" type="obslink:TimeseriesLinkFeatureProperty"/>
					<element name="Stauinhalt" type="obslink:TimeseriesLinkFeatureProperty"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="VorgabeCollectionAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:VorgabeCollection"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="VorgabeCollection" type="spree:VorgabeCollectionType" substitutionGroup="gml:_Feature"/>
	<complexType name="VorgabeCollectionType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="VorgabeMember" type="spree:VorgabeAssociationType" minOccurs="5" maxOccurs="5"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VorgabeAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:_Vorgabe"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<element name="_Vorgabe" abstract="true" type="spree:_VorgabeType" substitutionGroup="gml:_Feature"/>
	<complexType name="_VorgabeType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="Name" type="string"/>
					<element name="Ort" type="gml:PointPropertyType"/>
					<element name="Abfluss" type="obslink:TimeseriesLinkFeatureProperty"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Flutung" type="spree:_VorgabeType" substitutionGroup="spree:_Vorgabe"/>
	<complexType name="_FlutungType">
		<complexContent>
			<extension base="spree:_VorgabeType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Zufluss" type="spree:_ZuflussType" substitutionGroup="spree:_Vorgabe"/>
	<complexType name="_ZuflussType">
		<complexContent>
			<extension base="spree:_VorgabeType"/>
		</complexContent>
	</complexType>
	
	
	<!-- Relation TG nach RelationsFeature -->
	<complexType name="GewichtungsAssociationType">
		<complexContent>
			<restriction base="gml:FeatureAssociationType">
				<sequence>
					<element ref="spree:GewichtungsElement"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- RelationsFeature -->
	<element name="GewichtungsElement" type="spree:GewichtungsType" substitutionGroup="gml:_Feature"/>
	<complexType name="GewichtungsType">
		<complexContent>
			<extension base="spree:EmptyFeatureBaseType">
				<sequence>
					<element name="faktor" type="double">
						<annotation>
							<documentation xml:lang="de">
								<label>Gewichtung</label>
								<tooltip>Gewichtungsfaktor</tooltip>
								<description>Gewichtungsfaktor mit welchem der Zugeordnete Omrometer zu diesem Einzugsgebiet veranschlagt wird.</description>
							</documentation>
						</annotation>
					</element>
					<element name="ombrometerMember" type="ombrometer:OmbrometerAssociationType">
						<annotation>
							<documentation xml:lang="de">
								<label>Niederschlagsstation</label>
								<tooltip>Niederschlagsstation</tooltip>
								<description>Niederschlagsstation</description>
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>