_import/trunk/_obsolete/KalypsoSachsen/KalypsoModelWavos/src/org/kalypso/model/wavos/schemata/control.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:wavos="org.kalypso.wavos.control" elementFormDefault="qualified" targetNamespace="org.kalypso.wavos.control" version="0.1">
        <import namespace="http://www.opengis.net/gml" schemaLocation="feature.xsd"/>
        <element name="WavosControl" type="wavos:_WavosControlType"/>
        <complexType name="_WavosControlBaseType">
                <complexContent>
                        <restriction base="gml:AbstractFeatureType"/>
                </complexContent>
        </complexType>
        <complexType name="_WavosControlType">
                <complexContent>
                        <extension base="wavos:_WavosControlBaseType">
                                <sequence>
                                        <element name="scenarioId" type="string" maxOccurs="1" minOccurs="0" >
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Szenario Id</label>
                                                                <tooltip>Id des Szenario in welchem die Rechnung durchgeführt wird</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element  name="scenarioName" type="string" maxOccurs="1" minOccurs="0">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Szenario</label>
                                                                <tooltip>Name des Szenario in welchem die Rechnung durchgeführt wird</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="scenarioDescription" type="string" maxOccurs="1" minOccurs="0" >
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Szenario Beschreibung</label>
                                                                <tooltip>Beschreibung des Szenario in welchem die Rechnung durchgeführt wird</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <!---           will be calculated via Tagesanfang (startforecast - simulationDuration [d])      -->
                                        <element name="startsimulation" type="dateTime">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Start der Simulation</label>
                                                                <tooltip>Startzeitpunkt der Modellrechung</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="startforecast" nillable="false" type="dateTime">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Start der Vorhersage</label>
                                                                <tooltip>Startzeitpunkt der Vorhersagerechnung</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="simulationDuration" nillable="false" type="int">
                                                <annotation>
                                                        <documentation xml:lang="de"> startsimulation = Tagesanfang(startforecast - simulationDuration) <label>Simulationszeitraum [d]</label>
                                                                <tooltip>Dauer der Simulationsrechnung [d]</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="forecastDuration" nillable="false" type="int">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Vorhersagezeitraum [h]</label>
                                                                <tooltip>Vorhersagezeitraum [h]</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="editor" nillable="true" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Ersteller</label>
                                                                <tooltip>Name des Erstellers</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="description" nillable="true" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Beschreibung</label>
                                                                <tooltip>Kurzbeschreibung dieser Rechenvariante</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="comment" nillable="true" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Kommentar</label>
                                                                <tooltip>Langbeschreibung dieser Rechenvariante</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="calctime" nillable="true" type="dateTime">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Erstellungszeitpunkt</label>
                                                                <tooltip>Zeitpunkt der Erstellung der Rechenvariante</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element name="mergeCasePath" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Fortgesetzte Rechenvariante</label>
                                                                <tooltip>Pfad auf fortgesetzte Rechenvariante</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element default="1" name="intervalAmount" nillable="false" type="int">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Zeitschritt [h]</label>
                                                                <tooltip>Zeitschritt [h]</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element default="false" name="useAWerte" nillable="false" type="boolean">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Anfangswerte verwenden</label>
                                                                <tooltip>Anfangswerte verwenden</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                        <element default="Es sind keine Anfangswerte vorhanden." name="useAWerteText" nillable="false" type="string">
                                                <annotation>
                                                        <documentation xml:lang="de">
                                                                <label>Status der Anfangswerte</label>
                                                                <tooltip>Status der Anfangswerte</tooltip>
                                                                <description/>
                                                        </documentation>
                                                </annotation>
                                        </element>
                                </sequence>
                        </extension>
                </complexContent>
        </complexType>
</schema>
