_import/trunk/Gaja3dService/schema/gaja3d/wps/0.4.0/wpsExecute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wps="http://www.opengeospatial.net/wps"
	xmlns:ows="http://www.opengeospatial.net/ows" targetNamespace="http://www.opengeospatial.net/wps"
	elementFormDefault="qualified" version="0.4.0" xml:lang="en">
	<annotation>
		<appinfo>$Id: wpsExecute.xsd 103 2007-02-12 16:01:33Z albert $</appinfo>
		<documentation>This XML Schema Document encodes the WPS Execute operation request and response.
		Copyright (c) Open Geospatial Consortium (2005). </documentation>
	</annotation>
	<!--
		============================================================= includes
		and imports
		==============================================================
-->
	<include schemaLocation="wpsCommon.xsd" />
	<import namespace="http://www.opengeospatial.net/ows"
		schemaLocation="../../ows/1.0.0/owsDomainType.xsd" />
	<import namespace="http://www.opengeospatial.net/ows"
		schemaLocation="../../ows/1.0.0/owsDataIdentification.xsd" />
	<import namespace="http://www.opengeospatial.net/ows"
		schemaLocation="../../ows/1.0.0/owsExceptionReport.xsd" />
	<!--
		============================================================= elements
		and types
		==============================================================
-->
	<element name="Execute">
		<annotation>
			<documentation>WPS Execute operation request, to execute one identified Process. If a process is to be run multiple times, each run shall be submitted as a separate Execute request. </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="wps:RequestBaseType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Identifier of the Process to be executed. This Process identifier shall be as listed in the ProcessOfferings section of the WPS Capabilities document. </documentation>
							</annotation>
						</element>
						<element name="DataInputs" type="wps:DataInputsType"
							minOccurs="0">
							<annotation>
								<documentation>List of input (or parameter) values provided to the process, including each of the Inputs needed to execute the process. It is possible to have no inputs provided only when all the inputs are predetermined fixed resources. In all other cases, at least one input is required. </documentation>
							</annotation>
						</element>
						<element name="OutputDefinitions" type="wps:OutputDefinitionsType"
							minOccurs="0">
							<annotation>
								<documentation>List of definitions of the outputs (or parameters) requested from the process. These outputs are not normally identified, unless the client is specifically requesting a limited subset of outputs, and/or is requesting output formats and/or schemas and/or encodings different from the defaults and selected from the alternatives identified in the process description, or wishes to customize the descriptive information about the output. </documentation>
							</annotation>
						</element>
					</sequence>
					<attribute name="store" type="boolean" use="optional"
						default="false">
						<annotation>
							<documentation>Specifies if the complex valued output(s) of this process should be stored by the process as web-accessible resources. If store is "true", the server shall store all the complex valued output(s) of the process so that the client can retrieve them as required. If store is "false", all the complex valued output(s) shall be encoded in the Execute operation response. This parameter shall not be included unless the corresponding "storeSupported" parameter is included and is "true" in the ProcessDescription for this process. </documentation>
						</annotation>
					</attribute>
					<attribute name="status" type="boolean" use="optional"
						default="false">
						<annotation>
							<documentation>Specifies if the Execute operation response shall be returned quickly with status information, or not returned until process execution is complete. This parameter shall not be included unless the corresponding "statusSupported" parameter is included and is "true" in the ProcessDescription for this process. </documentation>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<complexType name="DataInputsType">
		<annotation>
			<documentation>List of the Inputs provided as part of the Execute Request. </documentation>
		</annotation>
		<sequence>
			<element name="Input" type="wps:IOValueType" maxOccurs="unbounded">
				<annotation>
					<documentation>Unordered list of one or more inputs to be used by the process, including each of the Inputs needed to execute the process. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="OutputDefinitionsType">
		<annotation>
			<documentation>List of definitions of the outputs (or parameters) requested from the process. </documentation>
		</annotation>
		<sequence>
			<element name="Output" type="wps:OutputDefinitionType"
				maxOccurs="unbounded">
				<annotation>
					<documentation>Unordered list of one or more definitions of the outputs requested. This element shall be repeated for each Output that offers a choice of format, and the client wishes to use one that is not identified as the default, and/or for each Output that the client wishes to customize the descriptive information about the output. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="OutputDefinitionType">
		<annotation>
			<documentation>Definition of a format, encoding,  schema, and unit-of-measure for an output to be returned from a process. </documentation>
		</annotation>
		<sequence>
			<element ref="ows:Identifier">
				<annotation>
					<documentation>Unambiguous identifier or name of an output, unique for this process. </documentation>
				</annotation>
			</element>
			<element ref="ows:Title" minOccurs="0">
				<annotation>
					<documentation>Title of the process output, normally available for display to a human. This element should be used if the client wishes to customize the Title in the execute response. This element should not be used if the Title provided for this output in the ProcessDescription is adequate. </documentation>
				</annotation>
			</element>
			<element ref="ows:Abstract" minOccurs="0">
				<annotation>
					<documentation>Brief narrative description of a process output, normally available for display to a human. This element should be used if the client wishes to customize the Abstract in the execute response. This element should not be used if the Abstract provided for this output in the ProcessDescription is adequate. </documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="uom" type="anyURI" use="optional">
			<annotation>
				<documentation>Reference to the unit of measure (if any) requested for this output. A uom can be referenced when a client wants to specify one of the units of measure supported for this output. This uom shall be a unit of measure referenced for this output of this process in the Process full description. </documentation>
			</annotation>
		</attribute>
		<attributeGroup ref="wps:ComplexValueEncoding" />
	</complexType>
	<!-- =========================================================== -->
	<attributeGroup name="ComplexValueEncoding">
		<annotation>
			<documentation>References the XML schema, format, and encoding of a complex value. </documentation>
		</annotation>
		<attribute name="format" type="ows:MimeType" use="optional">
			<annotation>
				<documentation>The Format of this input or requested for this output (e.g., text/XML). This element shall be omitted when the Format is indicated in the http header of the output. When included, this format shall be one published for this output or input in the Process full description. </documentation>
			</annotation>
		</attribute>
		<attribute name="encoding" type="anyURI" use="optional">
			<annotation>
				<documentation>The encoding of this input or requested for this output (e.g., UTF-8). This "encoding" shall be included whenever the encoding required is not the default encoding indicated in the Process full description. When included, this encoding shall be one published for this output or input in the Process full description. </documentation>
			</annotation>
		</attribute>
		<attribute name="schema" type="anyURI" use="optional">
			<annotation>
				<documentation>Web-accessible XML Schema Document that defines the content model of this complex resource (e.g., encoded using GML 2.2 Application Schema).  This reference should be included for XML encoded complex resources to facilitate validation. </documentation>
				<documentation>PS I changed the name of this attribute to be consistent with the ProcessDescription.  The original was giving me validation troubles in XMLSpy. </documentation>
			</annotation>
		</attribute>
	</attributeGroup>
	<!-- ==============INPUT AND OUTPUT VALUES ====================== -->
	<!-- =========================================================== -->
	<complexType name="IOValueType">
		<annotation>
			<documentation>Value of one input to a process or one output from a process. </documentation>
		</annotation>
		<complexContent>
			<extension base="wps:DescriptionType">
				<annotation>
					<documentation>In this use, the DescriptionType shall describe this process input or output. </documentation>
				</annotation>
				<group ref="wps:ValueFormChoice" />
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<group name="ValueFormChoice">
		<annotation>
			<documentation>Identifies the form of this input or output value, and provides supporting information. </documentation>
		</annotation>
		<choice>
			<element name="ComplexValueReference" type="wps:ComplexValueReferenceType">
				<annotation>
					<documentation>Identifies this input or output value as a web accessible resource, and references that resource. For an input, this element may be used by a client for any process input coded as ComplexData in the ProcessDescription. For an output, this element shall be used by a server when "store" in the Execute request is "true". </documentation>
				</annotation>
			</element>
			<element name="ComplexValue" type="wps:ComplexValueType">
				<annotation>
					<documentation>Identifies this input or output value as a complex value data structure encoded in XML (e.g., using GML), and provides that complex value data structure. For an input, this element may be used by a client for any process input coded as ComplexData in the ProcessDescription. For an output, this element shall be used by a server when "store" in the Execute request is "false". </documentation>
				</annotation>
			</element>
			<element name="LiteralValue" type="wps:LiteralValueType">
				<annotation>
					<documentation>Identifies this input or output value as a literal value of a simple quantity (e.g., one number), and provides that value. </documentation>
				</annotation>
			</element>
			<element name="BoundingBoxValue" type="ows:BoundingBoxType">
				<annotation>
					<documentation>Identifies this input or output value as an ows:BoundingBox data structure, and provides that ows:BoundingBox data structure. </documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<!-- =========================================================== -->
	<complexType name="ComplexValueReferenceType">
		<attributeGroup ref="wps:ValueReference" />
	</complexType>
	<!-- =========================================================== -->
	<attributeGroup name="ValueReference">
		<annotation>
			<documentation>Reference to an input or output value that is a web accessible resource. </documentation>
		</annotation>
		<attribute ref="ows:reference" use="required">
			<annotation>
				<documentation>Reference to a web-accessible resource that can be used as input, or is provided by the process as output. This attribute shall contain a URL from which this input/output can be electronically retrieved. </documentation>
			</annotation>
		</attribute>
		<attributeGroup ref="wps:ComplexValueEncoding" />
	</attributeGroup>
	<!-- =========================================================== -->
	<complexType name="ComplexValueType" mixed="true">
		<annotation>
			<documentation>One complex value (such as an image), including a definition of the complex value data structure (i.e., schema, format, and encoding). </documentation>
		</annotation>
		<complexContent mixed="true">
			<extension base="anyType">
				<attributeGroup ref="wps:ComplexValueEncoding" />
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="LiteralValueType">
		<annotation>
			<documentation>One simple literal value (such as an integer or real number) that is embedded in the Execute operation request or response. </documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<annotation>
					<documentation>String containing the Literal value (e.g., "49").</documentation>
				</annotation>
				<attribute name="dataType" type="anyURI" use="optional">
					<annotation>
						<documentation>Identifies the data type of this literal input or output. This dataType should be included for each quantity whose value is not a simple string. </documentation>
					</annotation>
				</attribute>
				<attribute name="uom" type="anyURI" use="optional">
					<annotation>
						<documentation>Identifies the unit of measure of this literal input or output. This unit of measure should be referenced for any numerical value that has units (e.g., "meters", but not a more complete reference system). Shall be a UOM identified in the Process description for this input or output. </documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<!-- =========== EXECUTE RESPONSE ============================== -->
	<!-- =========================================================== -->
	<element name="ExecuteResponse" type="wps:ExecuteResponseType">
		<annotation>
			<documentation>WPS Execute operation response. By default, this XML document is delivered to the client in response to an Execute request. If "status" is "false" in the Execute operation request, this document is normally returned when process execution has been completed.
			If "status" in the Execute request is "true", this response shall be returned as soon as the Execute request has been accepted for processing. In this case, the same XML document is also made available as a web-accessible resource from the URL identified in the statusLocation, and the WPS server shall repopulate it once the process has completed. It may repopulate it on an ongoing basis while the process is executing.
			However, the response to an Execute request will not include this element in the special case where the output is a single complex value result and the Execute request indicates that "store" is "false". Instead, the server shall return the complex result (e.g., GIF image or GML) directly, without encoding it in the ExecuteResponse. If processing fails in this special case, the normal ExecuteResponse shall be sent, with the error condition indicated. This option is provided to simplify the programming required for simple clients and for service chaining. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="ExecuteResponseType">
		<annotation>
			<documentation>Response to an Execute operation request. </documentation>
		</annotation>
		<sequence>
			<element ref="ows:Identifier">
				<annotation>
					<documentation>Identifier of the Process requested to be executed. This Process identifier shall be as listed in the ProcessOfferings section of the WPS Capabilities document. </documentation>
				</annotation>
			</element>
			<element name="Status" type="wps:StatusType">
				<annotation>
					<documentation>Execution status of this process. </documentation>
				</annotation>
			</element>
			<element name="DataInputs" type="wps:DataInputsType"
				minOccurs="0">
				<annotation>
					<documentation>Inputs that were provided as part of the execute request. This element can be omitted as an implementation decision by the WPS server. However, it is often advisable to have the response include this information, so the client can confirm that the request was received correctly, and to provide a source of metadata if the client wishes to store the result for future reference. </documentation>
				</annotation>
			</element>
			<element name="OutputDefinitions" type="wps:OutputDefinitionsType"
				minOccurs="0">
				<annotation>
					<documentation>Complete list of Output data types that were requested as part of the Execute request. This element can be omitted as an implementation decision by the WPS server. However, it is often advisable to have the response include this information, so the client can confirm that the request was received correctly, and to provide a source of metadata if the client wishes to store the result for future reference. </documentation>
				</annotation>
			</element>
			<element name="ProcessOutputs" minOccurs="0">
				<annotation>
					<documentation>List of values of the Process output parameters. Normally there would be at least one output when the process has completed successfully. If the process has not finished executing, the implementer can choose to include whatever final results are ready at the time the Execute response is provided. If the reference locations of outputs are known in advance, these URLs may be provided before they are populated. </documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="Output" type="wps:IOValueType" maxOccurs="unbounded">
							<annotation>
								<documentation>Unordered list of values of all the outputs produced by this process. It is not necessary to include an output until the Status is ProcessSucceeded. </documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="statusLocation" type="anyURI" use="optional">
			<annotation>
				<documentation>The URL referencing the location from which the ExecuteResponse can be retrieved. If "status" is "true" in the Execute request, the ExecuteResponse should also be found here as soon as the process returns the initial response to the client. It should persist at this location as long as the outputs are accessible from the server. The outputs may be stored for as long as the implementer of the server decides. If the process takes a long time, this URL can be repopulated on an ongoing basis in order to keep the client updated on progress. Before the process has succeeded, the ExecuteResponse contains information about the status of the process, including whether or not processing has started, and the percentage completed. It may also optionally contain the inputs and any ProcessStartedType interim results. When the process has succeeded, the ExecuteResponse found at this URL shall contain the output values or references to them. </documentation>
			</annotation>
		</attribute>
		<attribute name="version" type="ows:VersionType" use="required">
			<annotation>
				<documentation>Version of the WPS interface specification implemented by the server. </documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- =========== STATUS ========================================= -->
	<!-- =========================================================== -->
	<complexType name="StatusType">
		<annotation>
			<documentation>Description of the status of process execution. </documentation>
		</annotation>
		<choice>
			<element name="ProcessAccepted" type="string">
				<annotation>
					<documentation>Indicates that this process has been accepted by the server, but is in a queue and has not yet started to execute. The contents of this human-readable text string is left open to definition by each server implementation, but is expected to include any messages the server may wish to let the clients know. Such information could include how long the queue is, or any warning conditions that may have been encountered. The client may display this text to a human user. </documentation>
				</annotation>
			</element>
			<element name="ProcessStarted" type="wps:ProcessStartedType">
				<annotation>
					<documentation>Indicates that this process has been has been accepted by the server, and processing has begun. </documentation>
				</annotation>
			</element>
			<element name="ProcessSucceeded" type="string">
				<annotation>
					<documentation>Indicates that this process has successfully completed execution. The contents of this human-readable text string is left open to definition by each server, but is expected to include any messages the server may wish to let the clients know, such as how long the process took to execute, or any warning conditions that may have been encountered. The client may display this text string to a human user. The client should make use of the presence of this element to trigger automated or manual access to the results of the process. If manual access is intended, the client should use the presence of this element to present the results as downloadable links to the user. </documentation>
				</annotation>
			</element>
			<element name="ProcessFailed" type="wps:ProcessFailedType">
				<annotation>
					<documentation>Indicates that execution of this process has failed, and includes error information. </documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="ProcessStartedType">
		<annotation>
			<documentation>Indicates that this process has been has been accepted by the server, and processing has begun. </documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<annotation>
					<documentation>A human-readable text string whose contents are left open to definition by each WPS server, but is expected to include any messages the server may wish to let the clients know. Such information could include how much longer the process may take to execute, or any warning conditions that may have been encountered to date. The client may display this text to a human user. </documentation>
				</annotation>
				<attribute name="PercentCompleted" use="optional">
					<annotation>
						<documentation>Percentage of the process that has been completed, where 0 means the process has just started, and 100 means the process is complete. This attribute should be included if the process is expected to execute for a long time (i.e. more than a few minutes). This percentage is expected to be accurate to within ten percent. </documentation>
					</annotation>
					<simpleType>
						<restriction base="integer">
							<minInclusive value="0" />
							<maxInclusive value="100" />
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="ProcessFailedType">
		<annotation>
			<documentation>Indicator that the process has failed to execute successfully. The reason for failure is given in the exception report. </documentation>
		</annotation>
		<sequence>
			<element ref="ows:ExceptionReport" />
		</sequence>
	</complexType>
	<!-- =========================================================== -->
</schema>