_import/trunk/Gaja3dSimulation/src/org/kalypso/gaja3d/simulation/schema/gaja3d.xsd

<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gaja3d="http://org.kalypso.gaja3d.service"
	xmlns:gaja3dsim="http://org.kalypso.gaja3d.simulation" targetNamespace="http://org.kalypso.gaja3d.simulation"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:appinfo xmlns:kapp="org.kalypso.appinfo">
			<kapp:gmlVersion>3.1.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>

	<!--
		********************* IMPORTS AND INCLUDES ***********************
	-->
	<xs:import namespace="http://www.opengis.net/gml"
		schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd" />
	<xs:import namespace="http://org.kalypso.gaja3d.service"
		schemaLocation="platform:/resource/Gaja3dService/service/schema/gaja3d/wpsExecute_gaja3d_0.4.xsd" />

	<!--
		***************************DEFINITIONS****************************
	-->
	<xs:element name="Boundaries" type="gaja3dsim:BoundariesType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="BoundariesType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gaja3d:Boundary" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DemGrids" type="gaja3dsim:DemGridsType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="DemGridsType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gaja3d:DemGrid" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Breaklines" type="gaja3dsim:BreaklinesType"
		substitutionGroup="gml:_Feature" />
	<xs:complexType name="BreaklinesType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="gaja3d:Breaklines" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>