_import/trunk/KalypsoSachsen/KalypsoModelElbePolte/src/org/kalypso/lhwzsachsen/elbepolte/schemata/modell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commons="org.kalypso.elbepolte.commons" xmlns:modell="org.kalypso.elbepolte.modell"
    xmlns:obslink="obslink.zml.kalypso.org" targetNamespace="org.kalypso.elbepolte.modell" elementFormDefault="qualified" version="0.1">
    <annotation>
        <appinfo xmlns:kapp="org.kalypso.appinfo">
            <kapp:gmlVersion>2.1.2</kapp:gmlVersion>
        </appinfo>
    </annotation>
    <!--    <import namespace="http://www.opengis.net/gml" schemaLocation="basis/feature.xsd"/>-->
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
    <import namespace="org.kalypso.elbepolte.commons" schemaLocation="commons.xsd"/>
    <import namespace="obslink.zml.kalypso.org" schemaLocation="gml/bce/obslink.xsd"/>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="ElbePolteModell" type="modell:ElbePolteModellType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Elbe-Modell (IB Polte)</name>
                <label>Elbe-Modell (IB Polte)</label>
                <tooltip>Elbe-Modell (IB Polte)</tooltip>
                <description>Elbe-Modell (IB Polte)</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="ElbePolteModellType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Name</name>
                                <label>Name</label>
                                <tooltip>Name</tooltip>
                                <description>Name</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung</name>
                                <label>Beschreibung</label>
                                <tooltip>Beschreibung</tooltip>
                                <description>Beschreibung</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hw_type" type="commons:hwTypType" default="1">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>HW-Typ</name>
                                <label>HW-Typ</label>
                                <tooltip>HW-Typ</tooltip>
                                <description>HW-Typ</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="rido" type="boolean" default="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Nachführung RIDO</name>
                                <label>Nachführung RIDO</label>
                                <tooltip>Nachführung RIDO</tooltip>
                                <description>Nachführung RIDO</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:streckeMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Strecken</name>
                                <label>Strecken</label>
                                <tooltip>Strecken</tooltip>
                                <description>Strecken</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:pegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegel</name>
                                <label>Pegel</label>
                                <tooltip>Pegel</tooltip>
                                <description>Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:zwgZuflussMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Zwischengebietszuflüsse</name>
                                <label>Zwischengebietszuflüsse</label>
                                <tooltip>Zwischengebietszuflüsse</tooltip>
                                <description>Zwischengebietszuflüsse</description>
                            </documentation>
                        </annotation>
                    </element> 
                    <element ref="modell:internerHPegelMember" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>interne Hilfspegel</name>
                                <label>interne Hilfspegel</label>
                                <tooltip>interne Hilfspegel</tooltip>
                                <description>interne Hilfspegel</description>
                            </documentation>
                        </annotation>
                        </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        PEGEL (können wegen des ALTEN Schema-Parsers nicht in eigene XSD) 
    -->
    <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="AbstractPegel" type="modell:AbstractPegelType" substitutionGroup="gml:_Feature" abstract="true">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="AbstractMainPegel" type="modell:AbstractMainPegelType" substitutionGroup="modell:AbstractPegel" abstract="true">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="pegelMember" type="modell:PegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="StartPegel" type="modell:StartPegelType" substitutionGroup="modell:AbstractMainPegel">
<!--        <element name="StartPegel" type="modell:StartPegelType" substitutionGroup="modell:AbstractPegel">-->
            <annotation>
            <documentation xml:lang="de">
                <name>Start-Pegel</name>
                <label>Start-Pegel</label>
                <tooltip>Start-Pegel</tooltip>
                <description>Start-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="ElbePegel" type="modell:ElbePegelType" substitutionGroup="modell:AbstractMainPegel">
<!--        <element name="ElbePegel" type="modell:ElbePegelType" substitutionGroup="modell:AbstractPegel">-->
            <annotation>
            <documentation xml:lang="de">
                <name>Elbe-Pegel</name>
                <label>Elbe-Pegel</label>
                <tooltip>Elbe-Pegel</tooltip>
                <description>Elbe-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="zwgZuflussMember" type="modell:ZwgZuflussPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietszufluss</name>
                <label>Zwischengebietszufluss</label>
                <tooltip>Zwischengebietszufluss</tooltip>
                <description>Zwischengebietszufluss</description>
            </documentation>
        </annotation>
    </element>
    <element name="ZwgZufluss" type="modell:ZwgZuflussType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietszufluss</name>
                <label>Zwischengebietszufluss</label>
                <tooltip>Zwischengebietszufluss</tooltip>
                <description>Zwischengebietszufluss</description>
            </documentation>
        </annotation>
    </element>
     <element name="internerHPegelMember" type="modell:InternerHPegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>interner Hilfs-Pegel</name>
                <label>interner Hilfs-Pegel</label>
                <tooltip>interner Hilfs-Pegel</tooltip>
                <description>interner Hilfs-Pegel</description>
            </documentation>
        </annotation>
    </element> 
    <element name="InternerHPegel" type="modell:InternerHPegelType" substitutionGroup="modell:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>interner Hilfs-Pegel</name>
                <label>interner Hilfs-Pegel</label>
                <tooltip>interner Hilfs-Pegel</tooltip>
                <description>interner Hilfs-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
    <!--  Nicht abstrakt weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
    <complexType name="AbstractMainPegelType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence> </sequence>
            </extension>
        </complexContent>
    </complexType> 
    <!--  Nicht abstrakt weils sonst vom alten Kalypso Gml-Parser ignoriert wird.  -->
    <complexType name="AbstractPegelType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="lage" type="gml:PointPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Lage</name>
                                <label>Lage</label>
                                <tooltip>Lage</tooltip>
                                <description>Lage</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname</name>
                                <label>Pegelname</label>
                                <tooltip>Pegelname</tooltip>
                                <description>Pegelname</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name_de" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname (deutsch)</name>
                                <label>Pegelname (deutsch)</label>
                                <tooltip>Pegelname (deutsch)</tooltip>
                                <description>Pegelname (deutsch)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name_cz" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname (tschechisch)</name>
                                <label>Pegelname (tschechisch)</label>
                                <tooltip>Pegelname (tschechisch)</tooltip>
                                <description>Pegelname (tschechisch)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung des Pegels</name>
                                <label>Beschreibung des Pegels</label>
                                <tooltip>Beschreibung des Pegels</tooltip>
                                <description>Beschreibung des Pegels</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="id" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegel-ID</name>
                                <label>Pegel-ID</label>
                                <tooltip>Pegel-ID (Messstellen-ID)</tooltip>
                                <description>Pegel-ID (Messstellen-ID)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="nr" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>interne Pegel-Nr.</name>
                                <label>interne Pegel-Nr</label>
                                <tooltip>interne Pegel-Nr</tooltip>
                                <description>interne Pegel-Nr</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="river" type="commons:riverType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Gewässer</name>
                                <label>Gewässer</label>
                                <tooltip>Gewässer</tooltip>
                                <description>Gewässer</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="PegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:AbstractMainPegel"/>
<!--                    <element ref="modell:AbstractPegel"/>-->
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="StartPegelType">
        <complexContent>
            <extension base="modell:AbstractMainPegelType">
<!--                <extension base="modell:AbstractPegelType">-->
                    <sequence>
                    <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Mess- und Vorgabewerte</name>
                                <label>Mess- und Vorgabewerte</label>
                                <tooltip>Mess- und Vorgabewerte</tooltip>
                                <description>Mess- und Vorgabewerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ElbePegelType">
        <complexContent>
            <extension base="modell:AbstractMainPegelType">
<!--                <extension base="modell:AbstractPegelType">-->
                    <sequence>
                    <element name="ganglinie_messwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Messwerte</name>
                                <label>Messwerte</label>
                                <tooltip>Messwerte</tooltip>
                                <description>Messwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_modellwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Modellwerte</name>
                                <label>Modellwerte</label>
                                <tooltip>Modellwerte</tooltip>
                                <description>Modellwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_vorhersage_cz" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>(tschechische) Vorhersagewerte</name>
                                <label>(tschechische) Vorhersagewerte</label>
                                <tooltip>(tschechische) Vorhersagewerte</tooltip>
                                <description>(tschechische) Vorhersagewerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ZwgZuflussPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:ZwgZufluss"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ZwgZuflussType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence>
                    <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Mess- und Vorgabewerte</name>
                                <label>Mess- und Vorgabewerte</label>
                                <tooltip>Mess- und Vorgabewerte</tooltip>
                                <description>Mess- und Vorgabewerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InternerHPegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:InternerHPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="InternerHPegelType">
        <complexContent>
            <extension base="modell:AbstractPegelType">
                <sequence> </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
    <complexType name="AbstractPegelLinkPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence minOccurs="0" maxOccurs="0">
                    <element ref="modell:AbstractPegel"/>
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>
    <!--
    STRECKE (können wegen des ALTEN Schema-Parsers nicht in eigene XSD)
-->
    <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="streckeMember" type="modell:StreckePropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Strecke</name>
                <label>Strecke</label>
                <tooltip>Strecke</tooltip>
                <description>Strecke</description>
            </documentation>
        </annotation>
    </element>
    <element name="Strecke" type="modell:StreckeType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Strecke</name>
                <label>Strecke</label>
                <tooltip>Strecke</tooltip>
                <description>Strecke</description>
            </documentation>
        </annotation>
    </element>
    <element name="paramSetMember" type="modell:ParamSetPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Parameter-Satz</name>
                <label>Parameter-Satz</label>
                <tooltip>Parameter-Satz</tooltip>
                <description>Parameter-Satz</description>
            </documentation>
        </annotation>
    </element>
    <element name="ParamSet" type="modell:ParamSetType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Parameter-Satz</name>
                <label>Parameter-Satz</label>
                <tooltip>Parameter-Satz</tooltip>
                <description>Parameter-Satz</description>
            </documentation>
        </annotation>
    </element>
    <element name="stufenParamSetMember" type="modell:StufenParamSetPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Stufen-Parameter-Satz</name>
                <label>Stufen-Parameter-Satz</label>
                <tooltip>Stufen-Parameter-Satz</tooltip>
                <description>Stufen-Parameter-Satz</description>
            </documentation>
        </annotation>
    </element>
    <element name="StufenParamSet" type="modell:StufenParamSetType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Stufen-Parameter-Satz</name>
                <label>Stufen-Parameter-Satz</label>
                <tooltip>Stufen-Parameter-Satz</tooltip>
                <description>Stufen-Parameter-Satz</description>
            </documentation>
        </annotation>
    </element>
    <element name="bMember" type="modell:BPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Translationsfaktor für die Werte des Eingangspegels</name>
                <label>Translationsfaktor für die Werte des Eingangspegels</label>
                <tooltip>Translationsfaktor für die Werte des Eingangspegels</tooltip>
                <description>Translationsfaktor für die Werte des Eingangspegels</description>
            </documentation>
        </annotation>
    </element>
    <element name="B" type="modell:BType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Translationsfaktor für die Werte des Eingangspegels</name>
                <label>Translationsfaktor für die Werte des Eingangspegels</label>
                <tooltip>Translationsfaktor für die Werte des Eingangspegels</tooltip>
                <description>Translationsfaktor für die Werte des Eingangspegels</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
    <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="StreckePropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:Strecke"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="StreckeType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Streckenname</name>
                                <label>Streckenname</label>
                                <tooltip>Streckenname</tooltip>
                                <description>Streckenname</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung der Strecke</name>
                                <label>Beschreibung der Strecke</label>
                                <tooltip>Beschreibung der Strecke</tooltip>
                                <description>Beschreibung der Strecke</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="pegel_oberwasser" type="modell:AbstractPegelLinkPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Oberwasser-Pegel</name>
                                <label>Oberwasser-Pegel</label>
                                <tooltip>Oberwasser-Pegel</tooltip>
                                <description>Oberwasser-Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="pegel_oberwasser2" type="modell:AbstractPegelLinkPropertyType" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Oberwasser-Pegel (2)</name>
                                <label>Oberwasser-Pegel (2)</label>
                                <tooltip>Oberwasser-Pegel (2)</tooltip>
                                <description>Oberwasser-Pegel (2)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="pegel_unterwasser" type="modell:AbstractPegelLinkPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Unterwasser-Pegel</name>
                                <label>Unterwasser-Pegel</label>
                                <tooltip>Unterwasser-Pegel</tooltip>
                                <description>Unterwasser-Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="river" type="commons:riverType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Gewässer</name>
                                <label>Gewässer</label>
                                <tooltip>Gewässer</tooltip>
                                <description>Gewässer</description>
                            </documentation>
                        </annotation>
                    </element>
                    <!-- StreckenParameter  -->
                    <element name="zwg_zuschlag" type="double" default="0.0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Zwischengebietszuschlag [%]</name>
                                <label>Zwischengebietszuschlag [%]</label>
                                <tooltip>Zwischengebietszuschlag [%]</tooltip>
                                <description>Zwischengebietszuschlag [%]</description>
                            </documentation>
                        </annotation>
                        <!--  <simpleType>
                            <restriction base="double">
                            <minInclusive value="0.0"/>
                            <maxInclusive value="100.0"/>
                            </restriction>
                            </simpleType> -->
                    </element>
                    <element name="nr" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Strecken-Nr.</name>
                                <label>Strecken-Nr.</label>
                                <tooltip>Strecken-Nr.</tooltip>
                                <description>Strecken-Nr.</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="db" type="double" default="0.0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Änderung des Basisdurchflusses [m³/s]</name>
                                <label>Änderung des Basisdurchflusses [m³/s]</label>
                                <tooltip>Änderung des Basisdurchflusses [m³/s]</tooltip>
                                <description>Änderung des Basisdurchflusses [m³/s]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="lt" type="int" default="0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Änderung der Totzeit [Anzahl Zeitschritte]</name>
                                <label>Änderung der Totzeit [Anzahl Zeitschritte]</label>
                                <tooltip>Änderung der Totzeit [Anzahl Zeitschritte]</tooltip>
                                <description>Änderung der Totzeit [Anzahl Zeitschritte]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="replaceValues" type="boolean" default="false">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Ersetzen der Mess- durch Modellwerte</name>
                                <label>Ersetzen der Mess- durch Modellwerte</label>
                                <tooltip>Ersetzen der Mess- durch Modellwerte</tooltip>
                                <description>Ersetzen der Mess- durch Modellwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="nr_feko" type="int" default="2">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Nachführung FEKO</name>
                                <label>Nachführung FEKO</label>
                                <tooltip>Nachführung FEKO</tooltip>
                                <description>Nachführung FEKO</description>
                            </documentation>
                        </annotation>
                        <!--  <simpleType>
                          <restriction base="int">
                                <minInclusive value="0"/>
                                <maxInclusive value="4"/>
                            </restriction>
                        </simpleType> -->
                    </element>
                    <element ref="modell:paramSetMember" minOccurs="1" maxOccurs="4">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Parameter-Sätze</name>
                                <label>Parameter-Sätze</label>
                                <tooltip>Parameter-Sätze</tooltip>
                                <description>Parameter-Sätze</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ParamSetPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:ParamSet"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ParamSetType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="hw_type" type="commons:hwTypType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>HW-Typ</name>
                                <label>HW-Typ</label>
                                <tooltip>HW-Typ</tooltip>
                                <description>HW-Typ</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="QL1" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>max. Durchfluss der ersten Gewässerstufe [m³/s]</name>
                                <label>max. Durchfluss der ersten Gewässerstufe [m³/s]</label>
                                <tooltip>max. Durchfluss der ersten Gewässerstufe [m³/s]</tooltip>
                                <description>max. Durchfluss der ersten Gewässerstufe [m³/s]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="QL2" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>max. Durchfluss der zweiten Gewässerstufe [m³/s]</name>
                                <label>max. Durchfluss der zweiten Gewässerstufe [m³/s]</label>
                                <tooltip>max. Durchfluss der zweiten Gewässerstufe [m³/s]</tooltip>
                                <description>max. Durchfluss der zweiten Gewässerstufe [m³/s]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="km" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Entfernung zw. Eingangs- und Ausgangspegel [km]</name>
                                <label>Entfernung zw. Eingangs- und Ausgangspegel [km]</label>
                                <tooltip>Entfernung zw. Eingangs- und Ausgangspegel [km]</tooltip>
                                <description>Entfernung zw. Eingangs- und Ausgangspegel [km]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ce" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Speicherkonstante</name>
                                <label>Speicherkonstante</label>
                                <tooltip>Speicherkonstante</tooltip>
                                <description>Speicherkonstante</description>
                                <!-- <description>Zeitfaktor für die Entleerung des Ausuferungsspeichers</description> -->
                            </documentation>
                        </annotation>
                    </element>
                    <element name="is" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Indexverschiebung für den Ausuferungsspeicher</name>
                                <label>Indexverschiebung für den Ausuferungsspeicher</label>
                                <tooltip>Indexverschiebung für den Ausuferungsspeicher</tooltip>
                                <description>Indexverschiebung für den Ausuferungsspeicher</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:stufenParamSetMember" minOccurs="1" maxOccurs="3">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Stufen-Parameter-Sätze</name>
                                <label>Stufen-Parameter-Sätze</label>
                                <tooltip>Stufen-Parameter-Sätze</tooltip>
                                <description>Stufen-Parameter-Sätze</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StufenParamSetPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:StufenParamSet"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="StufenParamSetType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="tl" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Systemlaufzeit in der Strecke</name>
                                <label>Systemlaufzeit in der Strecke</label>
                                <tooltip>Systemlaufzeit in der Strecke</tooltip>
                                <description>Systemlaufzeit in der Strecke</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="a1" type="double">
                        <!--  ACHTUNG: bei Ausgabe ggf. mit (-1) multiplizieren -->
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Regressionsfaktor zum Wert (n-1)</name>
                                <label>Regressionsfaktor zum Wert (n-1)</label>
                                <tooltip>Regressionsfaktor zum Wert (n-1)</tooltip>
                                <description>Regressionsfaktor zum Wert (n-1)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="a2" type="double">
                        <!--  ACHTUNG: bei Ausgabe ggf. mit (-1) multiplizieren -->
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Regressionsfaktor zum Wert (n-2)</name>
                                <label>Regressionsfaktor zum Wert (n-2)</label>
                                <tooltip>Regressionsfaktor zum Wert (n-2)</tooltip>
                                <description>Regressionsfaktor zum Wert (n-2)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element ref="modell:bMember" minOccurs="1" maxOccurs="9">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Translationsfaktoren für die Werte des Eingangspegels</name>
                                <label>Translationsfaktoren für die Werte des Eingangspegels</label>
                                <tooltip>Translationsfaktoren für die Werte des Eingangspegels</tooltip>
                                <description>Translationsfaktoren für die Werte des Eingangspegels</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="f" type="double" nillable="true">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Anteil Gesamtdurchfluss, der in den Speicher fließt [%]</name>
                                <label>Anteil Gesamtdurchfluss, der in den Speicher fließt [%]</label>
                                <tooltip>Anteil Gesamtdurchfluss, der in den Speicher fließt [%]</tooltip>
                                <description/>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="modell:B"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="BType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="b" type="double">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Translationsfaktor</name>
                                <label>Translationsfaktor</label>
                                <tooltip>Translationsfaktor</tooltip>
                                <description>Translationsfaktor</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
</schema>
