_import/trunk/KalypsoSachsen/KalypsoModelElbePolte/src/org/kalypso/lhwzsachsen/elbepolte/schemata/pegel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commons="org.kalypso.elbepolte.commons" xmlns:modell="org.kalypso.elbepolte.modell"
    xmlns:pegel="org.kalypso.elbepolte.pegel" xmlns:obslink="obslink.zml.kalypso.org" targetNamespace="org.kalypso.elbepolte.pegel" elementFormDefault="qualified" version="0.1">
    <annotation>
        <appinfo xmlns:kapp="org.kalypso.appinfo">
            <kapp:gmlVersion>2.1.2</kapp:gmlVersion>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
    <import namespace="obslink.zml.kalypso.org" schemaLocation="gml/bce/obslink.xsd"/>
    <import namespace="org.kalypso.elbepolte.commons" schemaLocation="commons.xsd"/>
    <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="AbstractPegel" type="pegel:AbstractPegelType" substitutionGroup="gml:_Feature" abstract="true">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="AbstractMainPegel" type="pegel:AbstractMainPegelType" substitutionGroup="pegel:AbstractPegel" abstract="true">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="pegelMember" type="pegel:PegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Pegel</name>
                <label>Pegel</label>
                <tooltip>Pegel</tooltip>
                <description>Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="StartPegel" type="pegel:StartPegelType" substitutionGroup="pegel:AbstractMainPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Start-Pegel</name>
                <label>Start-Pegel</label>
                <tooltip>Start-Pegel</tooltip>
                <description>Start-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="ElbePegel" type="pegel:ElbePegelType" substitutionGroup="pegel:AbstractMainPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Elbe-Pegel</name>
                <label>Elbe-Pegel</label>
                <tooltip>Elbe-Pegel</tooltip>
                <description>Elbe-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="zwgZuflussMember" type="pegel:ZwgZuflussPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietszufluss</name>
                <label>Zwischengebietszufluss</label>
                <tooltip>Zwischengebietszufluss</tooltip>
                <description>Zwischengebietszufluss</description>
            </documentation>
        </annotation>
    </element>
    <element name="ZwgZufluss" type="pegel:ZwgZuflussType" substitutionGroup="pegel:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>Zwischengebietszufluss</name>
                <label>Zwischengebietszufluss</label>
                <tooltip>Zwischengebietszufluss</tooltip>
                <description>Zwischengebietszufluss</description>
            </documentation>
        </annotation>
    </element>
    <element name="internerHPegelMember" type="pegel:InternerHPegelPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>interner Hilfs-Pegel</name>
                <label>interner Hilfs-Pegel</label>
                <tooltip>interner Hilfs-Pegel</tooltip>
                <description>interner Hilfs-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <element name="InternerHPegel" type="pegel:InternerHPegelType" substitutionGroup="pegel:AbstractPegel">
        <annotation>
            <documentation xml:lang="de">
                <name>interner Hilfs-Pegel</name>
                <label>interner Hilfs-Pegel</label>
                <tooltip>interner Hilfs-Pegel</tooltip>
                <description>interner Hilfs-Pegel</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="AbstractMainPegelType" abstract="true">
        <complexContent>
            <extension base="pegel:AbstractPegelType">
                <sequence> </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractPegelType" abstract="true">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="lage" type="gml:PointPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Lage</name>
                                <label>Lage</label>
                                <tooltip>Lage</tooltip>
                                <description>Lage</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname</name>
                                <label>Pegelname</label>
                                <tooltip>Pegelname</tooltip>
                                <description>Pegelname</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name_de" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname (deutsch)</name>
                                <label>Pegelname (deutsch)</label>
                                <tooltip>Pegelname (deutsch)</tooltip>
                                <description>Pegelname (deutsch)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="name_cz" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegelname (tschechisch)</name>
                                <label>Pegelname (tschechisch)</label>
                                <tooltip>Pegelname (tschechisch)</tooltip>
                                <description>Pegelname (tschechisch)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung des Pegels</name>
                                <label>Beschreibung des Pegels</label>
                                <tooltip>Beschreibung des Pegels</tooltip>
                                <description>Beschreibung des Pegels</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="id" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Pegel-ID</name>
                                <label>Pegel-ID</label>
                                <tooltip>Pegel-ID (Messstellen-ID)</tooltip>
                                <description>Pegel-ID (Messstellen-ID)</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="nr" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>interne Pegel-Nr.</name>
                                <label>interne Pegel-Nr</label>
                                <tooltip>interne Pegel-Nr</tooltip>
                                <description>interne Pegel-Nr</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="river" type="commons:riverType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Gew채sser</name>
                                <label>Gew채sser</label>
                                <tooltip>Gew채sser</tooltip>
                                <description>Gew채sser</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="PegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="pegel:AbstractPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="StartPegelType">
        <complexContent>
            <extension base="pegel:AbstractMainPegelType">
                <sequence>
                    <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Mess- und Vorgabewerte</name>
                                <label>Mess- und Vorgabewerte</label>
                                <tooltip>Mess- und Vorgabewerte</tooltip>
                                <description>Mess- und Vorgabewerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ElbePegelType">
        <complexContent>
            <extension base="pegel:AbstractMainPegelType">
                <sequence>
                    <element name="ganglinie_messwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Messwerte</name>
                                <label>Messwerte</label>
                                <tooltip>Messwerte</tooltip>
                                <description>Messwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_modellwerte" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Modellwerte</name>
                                <label>Modellwerte</label>
                                <tooltip>Modellwerte</tooltip>
                                <description>Modellwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="ganglinie_vorhersage_cz" type="obslink:TimeseriesLinkFeatureProperty" minOccurs="0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>(tschechische) Vorhersagewerte</name>
                                <label>(tschechische) Vorhersagewerte</label>
                                <tooltip>(tschechische) Vorhersagewerte</tooltip>
                                <description>(tschechische) Vorhersagewerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ZwgZuflussPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="pegel:ZwgZufluss"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ZwgZuflussType">
        <complexContent>
            <extension base="pegel:AbstractPegelType">
                <sequence>
                    <element name="ganglinie_gesamt" type="obslink:TimeseriesLinkFeatureProperty">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Mess- und Vorgabewerte</name>
                                <label>Mess- und Vorgabewerte</label>
                                <tooltip>Mess- und Vorgabewerte</tooltip>
                                <description>Mess- und Vorgabewerte</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InternerHPegelPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="pegel:InternerHPegel"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="InternerHPegelType">
        <complexContent>
            <extension base="pegel:AbstractPegelType">
                <sequence> </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
    <complexType name="AbstractPegelLinkPropertyType">
        <sequence minOccurs="0" maxOccurs="0">
            <element ref="pegel:AbstractPegel"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>
