_import/trunk/KalypsoSachsen/KalypsoModelElbePolte/src/org/kalypso/lhwzsachsen/elbepolte/schemata/strecke.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commons="org.kalypso.elbepolte.commons" xmlns:modell="org.kalypso.elbepolte.modell"
    xmlns:strecke="org.kalypso.elbepolte.strecke" xmlns:pegel="org.kalypso.elbepolte.pegel" targetNamespace="org.kalypso.elbepolte.strecke" elementFormDefault="qualified" version="0.1">
    <annotation>
        <appinfo xmlns:kapp="org.kalypso.appinfo">
            <kapp:gmlVersion>2.1.2</kapp:gmlVersion>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
    <import namespace="org.kalypso.elbepolte.commons" schemaLocation="commons.xsd"/>
    <import namespace="org.kalypso.elbepolte.pegel" schemaLocation="pegel.xsd"/>
    <!-- 
        _________________________________________________________________________________________
        ABSTRACT ELEMENTS
        _________________________________________________________________________________________
    -->
    <!-- 
        _________________________________________________________________________________________
        ELEMENTS
        _________________________________________________________________________________________
    -->
    <element name="streckeMember" type="strecke:StreckePropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Strecke</name>
                <label>Strecke</label>
                <tooltip>Strecke</tooltip>
                <description>Strecke</description>
            </documentation>
        </annotation>
    </element>
    <element name="Strecke" type="strecke:StreckeType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Strecke</name>
                <label>Strecke</label>
                <tooltip>Strecke</tooltip>
                <description>Strecke</description>
            </documentation>
        </annotation>
    </element>
    <element name="paramSetMember" type="strecke:ParamSetPropertyType">
        <annotation>
            <documentation xml:lang="de">
                <name>Parameter-Satz</name>
                <label>Parameter-Satz</label>
                <tooltip>Parameter-Satz</tooltip>
                <description>Parameter-Satz</description>
            </documentation>
        </annotation>
    </element>
    <element name="ParamSet" type="strecke:ParamSetType" substitutionGroup="gml:_Feature">
        <annotation>
            <documentation xml:lang="de">
                <name>Parameter-Satz</name>
                <label>Parameter-Satz</label>
                <tooltip>Parameter-Satz</tooltip>
                <description>Parameter-Satz</description>
            </documentation>
        </annotation>
    </element>
    <!-- 
        _______________________________________________________________________________________
        ABSTRACT TYPES
        _________________________________________________________________________________________	
    -->
    <!-- 
        _______________________________________________________________________________________
        TYPES
        _________________________________________________________________________________________	
    -->
    <complexType name="StreckePropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="strecke:Strecke"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="StreckeType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="name" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Streckenname</name>
                                <label>Streckenname</label>
                                <tooltip>Streckenname</tooltip>
                                <description>Streckenname</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="description" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Beschreibung der Strecke</name>
                                <label>Beschreibung der Strecke</label>
                                <tooltip>Beschreibung der Strecke</tooltip>
                                <description>Beschreibung der Strecke</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="pegel_oberwasser" type="pegel:AbstractPegelLinkPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Oberwasser-Pegel</name>
                                <label>Oberwasser-Pegel</label>
                                <tooltip>Oberwasser-Pegel</tooltip>
                                <description>Oberwasser-Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="pegel_unterwasser" type="pegel:AbstractPegelLinkPropertyType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Unterwasser-Pegel</name>
                                <label>Unterwasser-Pegel</label>
                                <tooltip>Unterwasser-Pegel</tooltip>
                                <description>Unterwasser-Pegel</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="river" type="commons:riverType">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Gewässer</name>
                                <label>Gewässer</label>
                                <tooltip>Gewässer</tooltip>
                                <description>Gewässer</description>
                            </documentation>
                        </annotation>
                    </element>
                    <!-- StreckenParameter  -->
                    <element name="zwg_zuschlag" type="double" default="0.0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Zwischengebietszuschlag [%]</name>
                                <label>Zwischengebietszuschlag [%]</label>
                                <tooltip>Zwischengebietszuschlag [%]</tooltip>
                                <description>Zwischengebietszuschlag [%]</description>
                            </documentation>
                        </annotation>
                        <!--  <simpleType>
                            <restriction base="double">
                            <minInclusive value="0.0"/>
                            <maxInclusive value="100.0"/>
                            </restriction>
                            </simpleType> -->
                    </element>
                    <element name="nr" type="string">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Strecken-Nr.</name>
                                <label>Strecken-Nr.</label>
                                <tooltip>Strecken-Nr.</tooltip>
                                <description>Strecken-Nr.</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="db" type="double" default="0.0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Änderung des Basisdurchflusses [m³/s]</name>
                                <label>Änderung des Basisdurchflusses [m³/s]</label>
                                <tooltip>Änderung des Basisdurchflusses [m³/s]</tooltip>
                                <description>Änderung des Basisdurchflusses [m³/s]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="lt" type="int" default="0">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Änderung der Totzeit [Anzahl Zeitschritte]</name>
                                <label>Änderung der Totzeit [Anzahl Zeitschritte]</label>
                                <tooltip>Änderung der Totzeit [Anzahl Zeitschritte]</tooltip>
                                <description>Änderung der Totzeit [Anzahl Zeitschritte]</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="replaceValues" type="boolean" default="false">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Ersetzen der Mess- durch Modellwerte</name>
                                <label>Ersetzen der Mess- durch Modellwerte</label>
                                <tooltip>Ersetzen der Mess- durch Modellwerte</tooltip>
                                <description>Ersetzen der Mess- durch Modellwerte</description>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="nr_feko" type="int" default="2">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Nachführung FEKO</name>
                                <label>Nachführung FEKO</label>
                                <tooltip>Nachführung FEKO</tooltip>
                                <description>Nachführung FEKO</description>
                            </documentation>
                        </annotation>
                        <!--  <simpleType>
                          <restriction base="int">
                                <minInclusive value="0"/>
                                <maxInclusive value="4"/>
                            </restriction>
                        </simpleType> -->
                    </element>
                    <element ref="strecke:paramSetMember" minOccurs="1" maxOccurs="unbounded">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>Parameter-Sätze</name>
                                <label>Parameter-Sätze</label>
                                <tooltip>Parameter-Sätze</tooltip>
                                <description>Parameter-Sätze</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ParamSetPropertyType">
        <complexContent>
            <restriction base="gml:FeatureAssociationType">
                <sequence>
                    <element ref="strecke:ParamSet"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ParamSetType">
        <complexContent>
            <extension base="commons:EmptyFeatureBaseType">
                <sequence>
                    <element name="hw_type" type="commons:hwTypType" default="1">
                        <annotation>
                            <documentation xml:lang="de">
                                <name>HW-Typ</name>
                                <label>HW-Typ</label>
                                <tooltip>HW-Typ</tooltip>
                                <description>HW-Typ</description>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- 
        _________________________________________________________________________________________
        LINK PROPERTY TYPES 
        _________________________________________________________________________________________	
    -->
</schema>
