_import/trunk/_obsolete/KalypsoModel2D/src/org/kalypso/calc2d/schemata/control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Dejan Antanaskovic (TUHH) -->
<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:kapp="org.kalypso.appinfo" xmlns:ns1="http://www.tu-harburg.de/wb/kalypso/schemata/2dModel" targetNamespace="http://www.tu-harburg.de/wb/kalypso/schemata/2dModel" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:appinfo>
			<kapp:gmlVersion>3.1</kapp:gmlVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="platform:/resource/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/>
	<!-- xs:import namespace="http://www.opengis.net/gml" schemaLocation="../../../../../../KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/ -->
	<!-- xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/-->
	<!-- xs:import namespace="http://www.opengis.net/gml" schemaLocation="D:/Eclipse/Workspace/KalypsoContributionsOGC31/src/org/kalypso/contribs/ogc31/schemata/gml/3.1.1/base/gml.xsd"/-->
	<xs:element name="R10" type="ns1:R10Type" substitutionGroup="gml:_Feature">
	</xs:element>
	<xs:complexType name="R10Type">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="files_block" type="ns1:files_blockType"/>
					<xs:element name="allocation_limits_data_block" type="ns1:allocation_limits_data_blockType" minOccurs="0"/>
					<xs:element name="control_data_block" type="ns1:control_data_blockType"/>
					<xs:element name="properties_data_block" type="ns1:properties_data_blockType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="files_blockType">
		<xs:sequence>
			<xs:element name="OUTFIL" type="xs:string"/>
			<xs:element name="INELTFL" type="xs:string" minOccurs="0"/>
			<xs:element name="INELEV" type="xs:string" minOccurs="0"/>
			<xs:element name="INHYD" type="xs:string" minOccurs="0"/>
			<xs:element name="INHARM" type="xs:string" minOccurs="0"/>
			<xs:element name="OUTCON" type="xs:string" minOccurs="0"/>
			<xs:element name="INWAVE" type="ns1:INWAVEType" minOccurs="0"/>
			<xs:element name="INSTRESS" type="xs:string" minOccurs="0"/>
			<xs:element name="INCSTR" type="xs:string" minOccurs="0"/>
			<xs:element name="INTIMS" type="xs:string" minOccurs="0"/>
			<xs:element name="ENDFIL" type="xs:string" fixed="ENDFIL"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="allocation_limits_data_blockType">
		<xs:sequence>
			<xs:element name="MAXFRONT" type="xs:string" minOccurs="0"/>
			<xs:element name="BUFFSIZ" type="xs:string" minOccurs="0"/>
			<xs:element name="BUFSIZL" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXQPTS" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXQINPT" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXHPTS" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXHINPT" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXELPTS" type="xs:string" minOccurs="0"/>
			<xs:element name="MAXEINPT" type="xs:string" minOccurs="0"/>
			<xs:element name="ENDLIMIT" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="control_data_blockType">
		<xs:sequence>
			<xs:element name="TI" type="xs:string" minOccurs="0"/>
			<xs:element name="CO" type="ns1:COType"/>
			<xs:element name="C1" type="ns1:C1Type"/>
			<xs:element name="C2" type="ns1:C2Type"/>
			<xs:element name="C3" type="ns1:C3Type"/>
			<xs:element name="C4" type="ns1:C4Type"/>
			<xs:element name="C5" type="ns1:C5Type"/>
			<xs:element name="CV" type="ns1:CVType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="properties_data_blockType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ED1" type="ns1:ED1Type"/>
			<xs:element name="ED2" type="ns1:ED2Type"/>
			<xs:element name="WDT" type="ns1:WDTType"/>
			<xs:element name="MP" type="ns1:MPType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="COType">
		<xs:sequence>
			<xs:element name="IOPTZD" type="ns1:IOPTZDType"/>
			<xs:element name="IDNOPT" type="ns1:IDNOPTType"/>
			<xs:element name="IYRR" type="xs:gYear"/>
			<xs:element name="DAYOFY" type="ns1:DAYOFYType"/>
			<xs:element name="TET" type="ns1:TETType"/>
			<xs:element name="IEDSW" type="ns1:IEDSWType"/>
			<xs:element name="TBFACT" type="ns1:TBFACTType" default="0.2"/>
			<xs:element name="TBMIN" type="xs:float"/>
			<xs:element name="IPROJ" type="ns1:IPROJType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C1Type">
		<xs:sequence>
			<xs:element name="NDP" type="xs:int" fixed="0"/>
			<xs:element name="IGRV" type="xs:int" fixed="1"/>
			<xs:element name="IZB" type="xs:int" fixed="1"/>
			<xs:element name="IPASS1" type="xs:int" fixed="0"/>
			<xs:element name="IPASS2" type="xs:int" fixed="0"/>
			<xs:element name="IPASS3" type="xs:int" fixed="0"/>
			<xs:element name="IZERS" type="xs:int" fixed="0"/>
			<xs:element name="IDIFSW" type="xs:int" fixed="0"/>
			<xs:element name="INOTR" type="xs:int" fixed="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C2Type">
		<xs:sequence>
			<xs:element name="OMEGA" type="xs:float"/>
			<xs:element name="ELEV" type="xs:float"/>
			<xs:element name="XSCALE" type="xs:int" fixed="1"/>
			<xs:element name="YSCALE" type="xs:int" fixed="1"/>
			<xs:element name="ZSCALE" type="xs:int" fixed="1"/>
			<xs:element name="IDEBUG" type="xs:int" fixed="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C3Type">
		<xs:sequence>
			<xs:element name="CMIN" type="xs:int" fixed="1"/>
			<xs:element name="CPR" type="xs:int" fixed="1"/>
			<xs:element name="UNOM" type="ns1:UNOMType"/>
			<xs:element name="UDIR" type="ns1:UDIRType"/>
			<xs:element name="HMIN" type="ns1:HMINType"/>
			<xs:element name="DSET" type="ns1:DSETType"/>
			<xs:element name="DSETD" type="ns1:DSETDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C4Type">
		<xs:sequence>
			<xs:element name="SALI" type="ns1:SALIType"/>
			<xs:element name="TEMPI" type="ns1:TEMPIType"/>
			<xs:element name="SEDI" type="ns1:SEDIType"/>
			<xs:element name="UINP" type="xs:float" minOccurs="0"/>
			<xs:element name="VINP" type="xs:float" minOccurs="0"/>
			<xs:element name="PRCNT" type="ns1:PRCNTType" default="0.0" minOccurs="0"/>
			<xs:element name="DMIX" type="xs:float" fixed="0.0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C5Type">
		<xs:sequence>
			<xs:element name="NITI" type="ns1:NITIType"/>
			<xs:element name="NITN" type="ns1:NITNType"/>
			<xs:element name="TSTART" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation>Not used</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NCYC" type="ns1:NCYCType"/>
			<xs:element name="IPRT" type="xs:int" fixed="0"/>
			<xs:element name="NPRTI" type="xs:int" fixed="1"/>
			<xs:element name="NPRTF" type="xs:int" fixed="1"/>
			<xs:element name="IRSAV" type="xs:int" fixed="0"/>
			<xs:element name="IDSWT" type="xs:int" fixed="1"/>
			<xs:element name="NBSFRQ" type="xs:int" fixed="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CVType">
		<xs:sequence>
			<xs:element name="CONV_1" type="ns1:CONV_1Type"/>
			<xs:element name="CONV_2" type="ns1:CONV_2Type"/>
			<xs:element name="CONV_3" type="ns1:CONV_3Type"/>
			<xs:element name="CONV_4" type="ns1:CONV_4Type"/>
			<xs:element name="CONV_5" type="ns1:CONV_5Type"/>
			<xs:element name="CONV_6" type="ns1:CONV_6Type" minOccurs="0"/>
			<xs:element name="IDRPT" type="ns1:IDRPTType" default="0"/>
			<xs:element name="DRFACT" type="ns1:DRFACTType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ED1Type">
		<xs:sequence>
			<xs:element name="J" type="ns1:JType"/>
			<xs:element name="ORT_J1" type="xs:float"/>
			<xs:element name="ORT_J2" type="xs:float"/>
			<xs:element name="ORT_J3" type="xs:float"/>
			<xs:element name="ORT_J4" type="xs:float"/>
			<xs:element name="ORT_J5" type="xs:float" fixed="-1.0"/>
			<xs:element name="ORT_J6" type="xs:float"/>
			<xs:element name="ORT_J7" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ED2Type">
		<xs:sequence>
			<xs:element name="ORT_J8" type="xs:float" fixed="0.6"/>
			<xs:element name="ORT_J9" type="xs:float" fixed="0.6"/>
			<xs:element name="ORT_J10" type="xs:float" fixed="0.001"/>
			<xs:element name="ORT_J11" type="xs:float"/>
			<xs:element name="ORT_J12" type="xs:float"/>
			<xs:element name="ORT_J13" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WDTType">
		<xs:sequence>
			<xs:element name="J" type="ns1:JType"/>
			<xs:element name="WGHT" type="xs:float"/>
			<xs:element name="WLEN" type="xs:float"/>
			<xs:element name="TRANSEL" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MPType">
		<xs:sequence>
			<xs:element name="J" type="xs:int" minOccurs="0" maxOccurs="0">
				<xs:annotation>
					<xs:documentation>Unused</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC1" type="xs:float" default="4.5"/>
			<xs:element name="AC2" type="xs:float" default="2.0"/>
			<xs:element name="AC3" type="xs:float" default="0.04"/>
			<xs:element name="AC4" type="xs:float" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="INWAVEType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IN3WAVE"/>
			<xs:enumeration value="INBNWAVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IOPTZDType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDNOPTType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="-1"/>
			<xs:enumeration value="-2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DAYOFYType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="366"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TETType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
			<xs:maxExclusive value="24.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IEDSWType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="-1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TBFACTType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
			<xs:maxExclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IPROJType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UNOMType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UDIRType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HMINType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSETType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSETDType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SALIType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TEMPIType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="-273.16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEDIType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PRCNTType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NITIType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NITNType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NCYCType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONV_1Type">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONV_2Type">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONV_3Type">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONV_4Type">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONV_5Type">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CONV_6Type">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDRPTType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DRFACTType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
