_import/trunk/Kalypso/KalypsoDSS/src/org/kalypso/gmlschema/resources/xplanung/BPlanGML_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Dr. Joachim Benner (FZK/IAI) -->
<!-- 
	Anwendungsschema: BPlanGML
	Erzeugt von NAS Schema Generator
	Erstellt: 02.11.2005 09:12:40
-->
<xs:schema targetNamespace="http://www.xplanung.de/bplangml"
 xmlns:adv="http://www.adv-online.de"
 xmlns:bplan="http://www.xplanung.de/bplangml" xmlns:gml="http://www.opengis.net/gml" xmlns:wfs="http://www.opengis.net/wfs" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="2.1">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	<!-- Paket Praesentationsobjekte -->
	<xs:element name="BPlanPPO" type="bplan:BPlanPPOType" substitutionGroup="bplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanPPOType">
		<xs:annotation>
			<xs:documentation>
Punktförmiges Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PointPropertyType"/>
					<xs:element name="drehwinkel" type="xs:double" default="0" minOccurs="0"/>
					<xs:element name="skalierung" type="xs:double" default="1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLPO" type="bplan:BPlanLPOType" substitutionGroup="bplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanLPOType">
		<xs:annotation>
			<xs:documentation>
Linienförmiges Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:MultiLineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFPO" type="bplan:BPlanFPOType" substitutionGroup="bplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanFPOType">
		<xs:annotation>
			<xs:documentation>
Flächenförmiges Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PolygonPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanPraesentationsobjekt" type="bplan:BPlanPraesentationsobjektType" abstract="true" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanPraesentationsobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Generisches Präsentationsobjekt
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="signaturnummer" type="xs:string"/>
					<xs:element name="darstellungsprioritaetLinie" type="xs:integer" minOccurs="0"/>
					<xs:element name="darstellungsprioritaetFlaeche" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FontNeigungType">
		<xs:annotation>
			<xs:documentation>
Enumeration der definierten Fontneigungen.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="senkrecht"/>
			<xs:enumeration value="kursiv"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HorizontaleAusrichtungType">
		<xs:annotation>
			<xs:documentation>
Enumeration der definierten horizontalen Fontausrichtungen
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="linksbündig"/>
			<xs:enumeration value="rechtsbündig"/>
			<xs:enumeration value="zentrisch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="BPlanPTO" type="bplan:BPlanPTOType" substitutionGroup="bplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanPTOType">
		<xs:annotation>
			<xs:documentation>
Textförmiges Präsentationsobjekt mit punktförmiger Textgeometrie.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="schriftinhalt" type="xs:string" minOccurs="0"/>
					<xs:element name="fontName" type="xs:string" minOccurs="0"/>
					<xs:element name="fontSperrung" type="xs:double" default="0" minOccurs="0"/>
					<xs:element name="fontGroesse" type="xs:double" minOccurs="0"/>
					<xs:element name="skalierung" type="xs:double" default="1" minOccurs="0"/>
					<xs:element name="fontFarbe" type="xs:string" minOccurs="0"/>
					<xs:element name="fontNeigung" type="bplan:FontNeigungType" default="senkrecht" minOccurs="0"/>
					<xs:element name="horizontaleAusrichtung" type="bplan:HorizontaleAusrichtungType" default="linksbündig" minOccurs="0"/>
					<xs:element name="vertikaleAusrichtung" type="bplan:VertikaleAusrichtungType" default="Basis" minOccurs="0"/>
					<xs:element name="art" type="xs:string" minOccurs="0"/>
					<xs:element name="hat" type="gml:FeatureAssociationType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanLPO</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="position" type="gml:PointPropertyType"/>
					<xs:element name="drehwinkel" type="xs:double" default="0" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLTO" type="bplan:BPlanLTOType" substitutionGroup="bplan:BPlanPraesentationsobjekt"/>
	<xs:complexType name="BPlanLTOType">
		<xs:annotation>
			<xs:documentation>
Textförmiges Präsentationsobjekt mit linienförmiger Textgeometrie.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPraesentationsobjektType">
				<xs:sequence>
					<xs:element name="schriftinhalt" type="xs:string" minOccurs="0"/>
					<xs:element name="fontName" type="xs:string" minOccurs="0"/>
					<xs:element name="fontSperrung" type="xs:double" default="0" minOccurs="0"/>
					<xs:element name="fontGroesse" type="xs:double" minOccurs="0"/>
					<xs:element name="skalierung" type="xs:double" default="1" minOccurs="0"/>
					<xs:element name="fontFarbe" type="xs:string" minOccurs="0"/>
					<xs:element name="fontNeigung" type="bplan:FontNeigungType" default="senkrecht" minOccurs="0"/>
					<xs:element name="horizontaleAusrichtung" type="bplan:HorizontaleAusrichtungType" default="linksbündig" minOccurs="0"/>
					<xs:element name="vertikaleAusrichtung" type="bplan:VertikaleAusrichtungType" default="Basis" minOccurs="0"/>
					<xs:element name="art" type="xs:string" minOccurs="0"/>
					<xs:element name="hat" type="gml:FeatureAssociationType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanLPO</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="position" type="gml:LineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="VertikaleAusrichtungType">
		<xs:annotation>
			<xs:documentation>
Enumeration der definierten vertikalen Fontausrichtungen
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Basis"/>
			<xs:enumeration value="Mitte"/>
			<xs:enumeration value="oben"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Basisobjekte -->
	<xs:element name="BPlanEbene" type="bplan:BPlanEbeneType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanEbeneType">
		<xs:annotation>
			<xs:documentation>
Diese Klasse modelliert alle Festsetzungen einer bestimmten vertikalen Ebene eines BPlans.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="ebene" type="xs:integer" default="0"/>
					<xs:element name="bedeutung" type="xs:string" minOccurs="0"/>
					<xs:element name="gehoertZuBPlan" type="gml:FeatureAssociationType">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlan</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="fachobjekt" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanObjekt</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="praesentationsobjekt" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanPraesentationsobjekt</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlan" type="bplan:BPlanType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanType">
		<xs:annotation>
			<xs:documentation>
Diese Klasse modelliert einen vollständigen BPlan, der aus ein oder mehreren vertikalen Ebenen zusammengesetzt sein kann.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="gkz" type="xs:integer"/>
					<xs:element name="name" type="xs:string" minOccurs="0"/>
					<xs:element name="nummer" type="xs:string" minOccurs="0"/>
					<xs:element name="beschreibung" type="xs:string" minOccurs="0"/>
					<xs:element name="stadt" type="xs:string" minOccurs="0"/>
					<xs:element name="begruendung" type="xs:string" minOccurs="0"/>
					<xs:element name="umweltbericht" type="xs:string" minOccurs="0"/>
					<xs:element name="realisierung" type="xs:string" minOccurs="0"/>
					<xs:element name="verfahrensstand" type="bplan:VerfahrensstandType" minOccurs="0"/>
					<xs:element name="hoehenbezug" type="xs:string" minOccurs="0"/>
					<xs:element name="datum" type="xs:date" minOccurs="0"/>
					<xs:element name="ebene" type="gml:FeatureAssociationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanEbene</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="textlicheFestsetzungen" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:TextlicheFestsetzung</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="verfahrensMerkmale" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:VerfahrensMerkmal</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFlaechenobjekt" type="bplan:BPlanFlaechenobjektType" abstract="true" substitutionGroup="bplan:BPlanObjekt"/>
	<xs:complexType name="BPlanFlaechenobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften BPlanGML-Fachobjekte, die zum Flächenschluss beitragen oder andere Flächen überlagern. Die einzelnen zum Flächenschluss beitragenen Objekte überlappen sich nicht, sondern berühren sich allenfalls am Aussenrand. Die Vereinigung aller Flächenschluss-Objekte überdeckt den Geltungsbereich des BPlan (Klasse RaeumlicherGeltungsbereich) vollständig.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PolygonPropertyType"/>
					<xs:element name="flaechenschluss" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanFlaechenschlussobjekt" type="bplan:BPlanFlaechenschlussobjektType" abstract="true" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BPlanFlaechenschlussobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die zusammen mit anderen Flächenschluss-Objekten das Planungsgebiet überschneidungsfrei überdecken (Flächenschluss-Objekte). Das Attribut 'flaechenschluss' der Basisklasse hat in dieser Klasse immer den Wert 'true'.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanLinienobjekt" type="bplan:BPlanLinienobjektType" abstract="true" substitutionGroup="bplan:BPlanObjekt"/>
	<xs:complexType name="BPlanLinienobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle linienförmigen BPlanGML Fachobjekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:LineStringPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanObjekt" type="bplan:BPlanObjektType" abstract="true" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BPlanObjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle BPlanGML-Fachobjekte. Die Attribute dieser Basisklasse werden über den Vererbungs-Mechanismus an alle Fachobjekte weitergegeben. Sie modellieren damit Eigenschaften, die potentiell in jeder Festsetzung eines BPlans vorkommen können.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="text" type="xs:string" minOccurs="0"/>
					<xs:element name="nachrichtUebernahme" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="hinweis" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="aufnahmeAlsFestsetzung" type="xs:boolean" default="true" minOccurs="0"/>
					<xs:element name="vermerk" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="gesetzlicheGrundlage" type="xs:string" minOccurs="0"/>
					<xs:element name="bedienungStart" type="xs:string" minOccurs="0"/>
					<xs:element name="bedienungEnde" type="xs:string" minOccurs="0"/>
					<xs:element name="startDatum" type="xs:date" minOccurs="0"/>
					<xs:element name="endDatum" type="xs:date" minOccurs="0"/>
					<xs:element name="textSchluessel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="abweichenderHoehenbezug" type="xs:string" minOccurs="0"/>
					<xs:element name="hMin" type="xs:double" minOccurs="0"/>
					<xs:element name="hMax" type="xs:double" minOccurs="0"/>
					<xs:element name="hZwingend" type="xs:double" minOccurs="0"/>
					<xs:element name="benutzt" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanPraesentationsobjekt</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="gehoertZuBPlanEbene" type="gml:FeatureAssociationType" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BPlanEbene</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanPunktobjekt" type="bplan:BPlanPunktobjektType" abstract="true" substitutionGroup="bplan:BPlanObjekt"/>
	<xs:complexType name="BPlanPunktobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle punktförmigen BPlanGML-Fachobjekte.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="position" type="gml:PointPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BPlanUeberlagerungsobjekt" type="bplan:BPlanUeberlagerungsobjektType" abstract="true" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BPlanUeberlagerungsobjektType" abstract="true">
		<xs:annotation>
			<xs:documentation>
Basisklasse für alle flächenhaften Objekte, die andere Flächen überlagern.  Das Attribut 'flaechenschluss' der Basisklasse hat in dieser Klasse immer den Wert 'false'.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TextlicheFestsetzung" type="bplan:TextlicheFestsetzungType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="TextlicheFestsetzungType">
		<xs:annotation>
			<xs:documentation>
Ein Abschnitt der textlichen Festsetzungen des BPlans.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="schluessel" type="xs:string"/>
					<xs:element name="text" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VerfahrensMerkmal" type="bplan:VerfahrensMerkmalType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="VerfahrensMerkmalType">
		<xs:annotation>
			<xs:documentation>
Vermerk eines am Aufstellungsverfahrens beteiligten Akteurs.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="vermerk" type="xs:string"/>
					<xs:element name="datum" type="xs:date"/>
					<xs:element name="signatur" type="xs:string"/>
					<xs:element name="signiert" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="VerfahrensstandType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der möglichen Verfahrensstände im BPlan-Verfahren
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aufstellungsbeschluss"/>
			<xs:enumeration value="Entwurf"/>
			<xs:enumeration value="Satzung"/>
			<xs:enumeration value="Rechtskraft"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Baugebiet, Baugebietsteil -->
	<xs:element name="BaugebietsFlaechenTeil" type="bplan:BaugebietsFlaechenTeilType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="BaugebietsFlaechenTeilType">
		<xs:annotation>
			<xs:documentation>
Teil eines Baugebiets mit einheitlicher Art und Maß der baulichen Nutzung.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="DNmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="DNmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="FR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="dachform" type="xs:string" minOccurs="0"/>
					<xs:element name="artDerBaulichenNutzung" type="bplan:ArtDerBaulichenNutzungType"/>
					<xs:element name="rechtlicheHerkunft" type="bplan:RechtlicheHerkunftType" minOccurs="0"/>
					<xs:element name="bauweise" type="bplan:BauweiseType" minOccurs="0"/>
					<xs:element name="bebauungsArt" type="bplan:BebauungsArtType" minOccurs="0"/>
					<xs:element name="bebauungVordereGrenze" type="bplan:GrenzBebauungType" minOccurs="0"/>
					<xs:element name="bebauungRueckwaertigeGrenze" type="bplan:GrenzBebauungType" minOccurs="0"/>
					<xs:element name="bebauungSeitlicheGrenze" type="bplan:GrenzBebauungType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ArtDerBaulichenNutzungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinsiedlungsgebiet"/>
			<xs:enumeration value="ReinesWohngebiet"/>
			<xs:enumeration value="AllgWohngebiet"/>
			<xs:enumeration value="BesonderesWohngebiet"/>
			<xs:enumeration value="Dorfgebiet"/>
			<xs:enumeration value="Mischgebiet"/>
			<xs:enumeration value="Kerngebiet"/>
			<xs:enumeration value="Gewerbegebiet"/>
			<xs:enumeration value="Industriegebiet"/>
			<xs:enumeration value="SondergebietErholung"/>
			<xs:enumeration value="SondergebietSonst"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BauweiseType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OffeneBauweise"/>
			<xs:enumeration value="GeschlosseneBauweise"/>
			<xs:enumeration value="AbweichendeBauweise"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RechtlicheHerkunftType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bundesrecht"/>
			<xs:enumeration value="Landesrecht"/>
			<xs:enumeration value="Gemeinderecht"/>
			<xs:enumeration value="KennzParag9BauGB"/>
			<xs:enumeration value="NachrichtlUebernahme"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Baugebiet" type="bplan:BaugebietType" substitutionGroup="bplan:BPlanObjekt"/>
	<xs:complexType name="BaugebietType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer für die Bebauung vorgesehene Fläche. Innerhalb dieser Fläche können Art und Mass der baulichen  Nutzung sowie Gestaltungs-Festsetzungen variieren. Bei einer entsprechenden Änderung ist ein neues Objekt BaugebietFlaechenTeil zu bilden.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanObjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="DNmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="DNmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="FR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="dachform" type="xs:string" minOccurs="0"/>
					<xs:element name="versionBauNVO" type="xs:string" minOccurs="0"/>
					<xs:element name="flaechenteil" type="gml:FeatureAssociationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:BaugebietsFlaechenTeil</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlaecheMitBesonderemNutzungszweck" type="bplan:FlaecheMitBesonderemNutzungszweckType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="FlaecheMitBesonderemNutzungszweckType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer Fläche mit besonderem Nutzungszweck, der durch besondere städtebauliche Gründe erfordert wird (§9 Abs. 1 Nr. 9 BauGB.)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="DNmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="DNmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="FR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="dachform" type="xs:string" minOccurs="0"/>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
<!-- doemming das wird nicht benutzt -->
	<xs:complexType name="GestaltungBaugebietType">
		<xs:annotation>
			<xs:documentation>
Parameter zur Festsetzung von Gestaltungs-Merkmalen
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DNmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DNmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="FR" type="xs:decimal" minOccurs="0"/>
			<xs:element name="dachform" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
<!-- doemming -->
	<xs:complexType name="FestsetzungenBaugebietType">
		<xs:annotation>
			<xs:documentation>
Parameter zur Festsetzung des Masses der baulichen Nutzung.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
			<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
			<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
			<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Baugrenze" type="bplan:BaugrenzeType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="BaugrenzeType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer Baugrenze (§9 Abs. 1 Nr. 2 BauGB, §22 und 23 BauNVO).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="bautiefe" type="xs:double" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Baulinie" type="bplan:BaulinieType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="BaulinieType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer Baulinie (§9 Abs. 1 Nr. 2 BauGB, §22 und 23 BauNVO)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UeberbaubareGrundstuecksflaeche" type="bplan:UeberbaubareGrundstuecksflaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="UeberbaubareGrundstuecksflaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzung der überbaubaren Grundstücksfläche (§9, Abs. 1, Nr. 2 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="Zmin" type="xs:double" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:double" minOccurs="0"/>
					<xs:element name="Zzwingend" type="xs:double" minOccurs="0"/>
					<xs:element name="baugrenze" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:Baugrenze</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="baulinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:Baulinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FirstRichtung" type="bplan:FirstRichtungType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="FirstRichtungType">
		<xs:annotation>
			<xs:documentation>
Gestaltungs-Festsetzung der Firstrichtung, beruhend auf Landesrecht, gemäß §9 Abs. 4 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BebauungsArtType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Einzelhaeuser"/>
			<xs:enumeration value="Doppelhaeuser"/>
			<xs:enumeration value="Hausgruppen"/>
			<xs:enumeration value="EinzelDoppelhaeuser"/>
			<xs:enumeration value="EinzelhaeuserHausgruppen"/>
			<xs:enumeration value="DoppelhaeuserHausgruppen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GrenzBebauungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Verboten"/>
			<xs:enumeration value="Erlaubt"/>
			<xs:enumeration value="Erzwungen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FoerderungsFlaeche" type="bplan:FoerderungsFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FoerderungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche, auf der ganz oder teilweise nur Wohngebäude, die mit Mitteln der sozialen Wohnraumförderung gefördert werden könnten, errichtet werden dürfen (§9, Abs. 1, Nr. 7 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PersGruppenBestimmteFlaeche" type="bplan:PersGruppenBestimmteFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="PersGruppenBestimmteFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche, auf denen ganz oder teilweise nur Wohngebäude errichtet werden dürfen, die für Personengruppen mit besonderem Wohnbedarf bestimmt sind (§9, Abs. 1, Nr. 8 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="NebenanlagenFlaeche" type="bplan:NebenanlagenFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="NebenanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche für Nebenanlagen, die auf Grund anderer Vorschriften für die Nutzung von Grundstücken erforderlich sind, wie Spiel-, Freizeit- und Erholungsflächen sowie die Fläche für Stellplätze und Garagen mit ihren Einfahrten (§9 Abs. 4 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungNebenanlagenType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
					<xs:element name="z" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GemeinschaftsanlagenFlaeche" type="bplan:GemeinschaftsanlagenFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="GemeinschaftsanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Fläche für Gemeinschaftsanlagen für bestimmte räumliche Bereiche wie    Kinderspielplätze, Freizeiteinrichtungen, Stellplätze und Garagen (§9 Abs. 22 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungGemeinschaftsanlagenType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
					<xs:element name="z" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungGemeinschaftsanlagenType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gemeinschaftsstellplaetze"/>
			<xs:enumeration value="Gemeinschaftsgaragen"/>
			<xs:enumeration value="Spielplatz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungNebenanlagenType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Stellplaetze"/>
			<xs:enumeration value="Garagen"/>
			<xs:enumeration value="Spielplatz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Gemeinbedarf, Spiel- und Sportanlagen -->
	<xs:element name="GemeinbedarfsFlaeche" type="bplan:GemeinbedarfsFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="GemeinbedarfsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, hier Flächen für den Gemeindebedarf (§9, Abs. 1, Nr.5 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungGemeindebedarfType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SpielSportanlagenFlaeche" type="bplan:SpielSportanlagenFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="SpielSportanlagenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Einrichtungen und Anlagen zur Versorgung mit Gütern und Dienstleistungen des öffentlichen und privaten Bereichs, hier Flächen für Sport- und Spielanlagen (§9, Abs. 1, Nr. 5 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungSpielSportanlageType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungGemeindebedarfType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OffentlicheVerwaltung"/>
			<xs:enumeration value="Schule"/>
			<xs:enumeration value="Kirche"/>
			<xs:enumeration value="Sozial"/>
			<xs:enumeration value="Gesundheit"/>
			<xs:enumeration value="Kultur"/>
			<xs:enumeration value="Sport"/>
			<xs:enumeration value="Schutzbauwerk"/>
			<xs:enumeration value="Feuerwehr"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungSpielSportanlageType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sportanlage"/>
			<xs:enumeration value="Spielanlage"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Ver- und Entsorgung -->
	<xs:element name="VerEntsorgungsFlaeche" type="bplan:VerEntsorgungsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="VerEntsorgungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Versorgungsanlagen, für die Abfallentsorgung und Abwasserbeseitigung sowie für Ablagerungen (§9 Abs. 1, Nr. 12, 14 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungVerEntsorgungType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungVerEntsorgungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Elektrizitaet"/>
			<xs:enumeration value="Gas"/>
			<xs:enumeration value="Fernwaerme"/>
			<xs:enumeration value="Wasser"/>
			<xs:enumeration value="Abwasser"/>
			<xs:enumeration value="Abfall"/>
			<xs:enumeration value="Ablagerungen"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="VerEntsorgungsleitung" type="bplan:VerEntsorgungsleitungType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="VerEntsorgungsleitungType">
		<xs:annotation>
			<xs:documentation>
Die Führung von oberirdischen oder unterirdischen Versorgungsanlagen und    -leitungen (§9 Abs. 1, Nr. 13 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="unterirdisch" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Verkehr -->
	<xs:element name="VerkehrsFlaeche" type="bplan:VerkehrsFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="VerkehrsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Strassenverkehrsfläche (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="nutzungsform" type="bplan:NutzungsformType" minOccurs="0"/>
					<xs:element name="begrenzungslinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:Strassenbegrenzungslinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VerkehrsflaecheBesondererZweckbestimmung" type="bplan:VerkehrsflaecheBesondererZweckbestimmungType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="VerkehrsflaecheBesondererZweckbestimmungType">
		<xs:annotation>
			<xs:documentation>
Verkehrsfläche besonderer Zweckbestimmung (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungVerkehrsflaecheType" minOccurs="0"/>
					<xs:element name="nutzungsform" type="bplan:NutzungsformType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
					<xs:element name="begrenzungslinie" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:Strassenbegrenzungslinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NutzungsformType">
		<xs:annotation>
			<xs:documentation>
Aufzählung möglicher Nutzungsformen einer Fläche
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Privat"/>
			<xs:enumeration value="Oeffentlich"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungVerkehrsflaecheType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der möglichen besonderen Zweckbestimmungen einer Verfekrsfläche
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FlaechenParken"/>
			<xs:enumeration value="Fussgaengerbereich"/>
			<xs:enumeration value="VerkehrsberuhigterBereich"/>
			<xs:enumeration value="RadFussweg"/>
			<xs:enumeration value="Radweg"/>
			<xs:enumeration value="Fussweg"/>
			<xs:enumeration value="AbstellenVonFahrraedern"/>
			<xs:enumeration value="Bruecke"/>
			<xs:enumeration value="Durchgang"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Strassenbegrenzungslinie" type="bplan:StrassenbegrenzungslinieType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="StrassenbegrenzungslinieType">
		<xs:annotation>
			<xs:documentation>
Straßenbegrenzungslinie (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BereichOhneEinAusfahrt" type="bplan:BereichOhneEinAusfahrtType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="BereichOhneEinAusfahrtType">
		<xs:annotation>
			<xs:documentation>
Bereich ohne Ein- und Ausfahrt (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Einfahrtsbereich" type="bplan:EinfahrtsbereichType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="EinfahrtsbereichType">
		<xs:annotation>
			<xs:documentation>
Einfahrtsbereich (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Einfahrt" type="bplan:EinfahrtType" substitutionGroup="bplan:BPlanPunktobjekt"/>
	<xs:complexType name="EinfahrtType">
		<xs:annotation>
			<xs:documentation>
Einfahrt (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="richtung" type="xs:double"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungLuftverkehrFlaecheType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der möglichen Zweckbestimmungen einer Luftverkehrs-Fläche.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Flughafen"/>
			<xs:enumeration value="Landeplatz"/>
			<xs:enumeration value="Segelfluggelaende"/>
			<xs:enumeration value="HubschrauberLandeplatz"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungBahnflaecheType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der Zweckbestimmungen einer BAHNFLÄCHE
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bahnanlage"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LuftverkehrFlaeche" type="bplan:LuftverkehrFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="LuftverkehrFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für den Luftverkehr (§9, Abs. 1, Nr. 11 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungLuftverkehrFlaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BahnFlaeche" type="bplan:BahnFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="BahnFlaecheType">
		<xs:annotation>
			<xs:documentation>
Rläche für den Bahnverkehr (§9, Abs. 1, Nr. 11 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungBahnflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BahnLinie" type="bplan:BahnLinieType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="BahnLinieType">
		<xs:annotation>
			<xs:documentation>
Festsetzung der Führung einer Bahnlinie (§9 Abs. 1 Nr. 11 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungBahnLinieType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungBahnLinieType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der möglichen Zweckbestimmungen einer Bahnlinie
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Strassenbahn"/>
			<xs:enumeration value="Seilbahn"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Strassenkoerper" type="bplan:StrassenkoerperType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="StrassenkoerperType">
		<xs:annotation>
			<xs:documentation>
Flächen für Aufschüttungen, Abgrabungen und Stützmauern, soweit sie zur Herstellung des Straßenkörpers erforderlich sind (§9, Abs. 1, Nr. 26 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="typ" type="bplan:StrassenkoerperHerstellungType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StrassenkoerperLinie" type="bplan:StrassenkoerperLinieType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="StrassenkoerperLinieType">
		<xs:annotation>
			<xs:documentation>
Linienhafte Festsetzung für Aufschüttungen, Abgrabungen und Stützmauern, soweit sie zur Herstellung des Straßenkörpers erforderlich ist (§ 9 Abs. 1 Nr. 26 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="typ" type="bplan:StrassenkoerperHerstellungType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="StrassenkoerperHerstellungType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der möglichen Maßnahmen zur Herstellung des Straßenkörpers
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Aufschuettung"/>
			<xs:enumeration value="Abgrabung"/>
			<xs:enumeration value="Stuetzmauer"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Wasser -->
	<xs:element name="WasserFlaeche" type="bplan:WasserFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="WasserFlaecheType">
		<xs:annotation>
			<xs:documentation>
Wasserfläche (§9 Abs. 1 Nr. 16 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungWasserflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungWasserflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hafen"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="WasserwirtschaftsFlaeche" type="bplan:WasserwirtschaftsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="WasserwirtschaftsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für die Wasserwirtschaft, den Hochwasserschutz  und die Regelungen des Wasserabflusses (§9 Abs. 1 Nr. 16 und Abs. 6a BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungWasserwirtschaftsflaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WasserrechtlicheFestsetzungsFlaeche" type="bplan:WasserrechtlicheFestsetzungsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="WasserrechtlicheFestsetzungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen mit wasserrechtlichen Festsetzungen (§9 Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungWasserrechtlicheFestsetzungType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungWasserwirtschaftsflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HochwasserRueckhaltebecken"/>
			<xs:enumeration value="Ueberschwemmgebiet"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungWasserrechtlicheFestsetzungType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SchutzgebietQuellGrundwasser"/>
			<xs:enumeration value="SchutzgebietOberflaechengewaesser"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="VorbHochwSchutzFlaeche" type="bplan:VorbHochwSchutzFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="VorbHochwSchutzFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festgesetztes Überschwemmungsgebiet im Sinne des § 31b Abs. 2 Satz 3 und 4 des Wasserhaushaltsgesetzes (§9, Abs. 6a BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungVorbHochwSchutzFlaecheType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungVorbHochwSchutzFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FestgesetztesUeberschwemmgebiet"/>
			<xs:enumeration value="NochNichtFestgesetztesUeberschwemmgebiet"/>
			<xs:enumeration value="UeberschwemmGefaehrdetesGebiet"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Naturschutz, Landschaftsbild, Naturhaushalt -->
	<xs:element name="SchutzPflegeEntwicklungsFlaeche" type="bplan:SchutzPflegeEntwicklungsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="SchutzPflegeEntwicklungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung von Flächen für Maßnahmen zum Schutz, zur Pflege und zur Entwicklung von Natur und Landschaft (§9 Abs. 1 Nr. 20 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnpflanzungBindungErhaltungsFlaeche" type="bplan:AnpflanzungBindungErhaltungsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AnpflanzungBindungErhaltungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Für einzelne Flächen oder für ein Bebauungsplangebiet oder Teile davon sowie für Teile baulicher Anlagen mit Ausnahme der für landwirtschaftliche Nutzungen oder Wald festgesetzten Flächen:
a) Festsetzung des Anpflanzens von Bäumen, Sträuchern und sonstigen Bepflanzungen;
b) Festsetzung von Bindungen für Bepflanzungen und für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern;  (§9 Abs. 1 Nr. 25 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="massnahme" type="bplan:MassnahmeType"/>
					<xs:element name="gegenstand" type="bplan:AnpflanzungBindungErhaltungsGegenstandType" minOccurs="0"/>
					<xs:element name="objektReihe" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:AnpflanzungBindungErhaltungsLinie</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="einzelObjekt" type="gml:FeatureAssociationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<adv:referenziertesElement>bplan:AnpflanzungBindungErhaltungsMassnahme</adv:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SchutzgebietFlaeche" type="bplan:SchutzgebietFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="SchutzgebietFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung von Schutzgebieten und Schutzobjekten im Sinne des Naturschutzrechts ($9 Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungSchutzgebietType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AnpflanzungBindungErhaltungsGegenstandType">
		<xs:annotation>
			<xs:documentation>
Gegenstand der nach §9, Abs. 1, Nr. 25 festgesetzten Maßnahme
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Baeume"/>
			<xs:enumeration value="Straeucher"/>
			<xs:enumeration value="SonstBepflanzung"/>
			<xs:enumeration value="Gewaesser"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZweckbestimmungSchutzgebietType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Naturschutzgebiet"/>
			<xs:enumeration value="Nationalpark"/>
			<xs:enumeration value="Landschaftsschutzgebiet"/>
			<xs:enumeration value="Naturpark"/>
			<xs:enumeration value="Naturdenkmal"/>
			<xs:enumeration value="GeschuetzterLandschaftsBestandteil"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AnpflanzungBindungErhaltungsMassnahme" type="bplan:AnpflanzungBindungErhaltungsMassnahmeType" substitutionGroup="bplan:BPlanPunktobjekt"/>
	<xs:complexType name="AnpflanzungBindungErhaltungsMassnahmeType">
		<xs:annotation>
			<xs:documentation>
a) Punktförmige Festsetzung des Anpflanzens von Bäumen, Sträuchern und sonstigen Bepflanzungen;
b) Punktförmige Festsetzung von Bindungen für Bepflanzungen und für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern;  (§9 Abs. 1 Nr. 25 und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="massnahme" type="bplan:MassnahmeType"/>
					<xs:element name="gegenstand" type="bplan:AnpflanzungBindungErhaltungsGegenstandType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnpflanzungBindungErhaltungsLinie" type="bplan:AnpflanzungBindungErhaltungsLinieType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="AnpflanzungBindungErhaltungsLinieType">
		<xs:annotation>
			<xs:documentation>
a) Linienhafte Festsetzung des Anpflanzens von Bäumen, Sträuchern und sonstigen Bepflanzungen;
b) Linienhafte Festsetzung von Bindungen für Bepflanzungen und für die Erhaltung von Bäumen, Sträuchern und sonstigen Bepflanzungen sowie von Gewässern;  (§9 Abs. 1 Nr. 25a und Abs. 6 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="massnahme" type="bplan:MassnahmeType"/>
					<xs:element name="gegenstand" type="bplan:AnpflanzungBindungErhaltungsGegenstandType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MassnahmeType">
		<xs:annotation>
			<xs:documentation>
Liste der nach §9, Abs.1, Nr. 25 möglichen Maßnahmen
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Erhaltung"/>
			<xs:enumeration value="Anpflanzung"/>
			<xs:enumeration value="Bindung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AusgleichsFlaeche" type="bplan:AusgleichsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AusgleichsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer Fläche zum Ausgleich im Sinne des § 1a Abs.3 und §9 Abs. 1a BauGB.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AusgleichsMassnahme" type="bplan:AusgleichsMassnahmeType" substitutionGroup="bplan:BPlanPunktobjekt"/>
	<xs:complexType name="AusgleichsMassnahmeType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer Maßnahme zum Ausgleich im Sinne des § 1a Abs.3 und §9 Abs. 1a BauGB.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPunktobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Landwirtschaft, Wald- und Grünflächen -->
	<xs:element name="LandwirtschaftsFlaeche" type="bplan:LandwirtschaftsFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="LandwirtschaftsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzungen von Flächen für die Landwirtschaft  (§9, Abs. 1, Nr. 18a BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="WaldFlaeche" type="bplan:WaldFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="WaldFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzung von Waldflächen  (§9, Abs. 1, Nr. 18b BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungWaldflaecheType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungWaldflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Erholungswald"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="GruenFlaeche" type="bplan:GruenFlaecheType" substitutionGroup="bplan:BPlanFlaechenschlussobjekt"/>
	<xs:complexType name="GruenFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzungen von öffentlichen und privaten Grünflächen(§9, Abs. 1, Nr. 15 BauGB)  und von Flächen für die Kleintierhaltung (§9, Abs. 1, Nr. 19 BauGB) ,
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenschlussobjektType">
				<xs:sequence>
					<xs:element name="maxZahlWohnungen" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmin" type="xs:integer" minOccurs="0"/>
					<xs:element name="Fmax" type="xs:integer" minOccurs="0"/>
					<xs:element name="GFZmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFZmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GFmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BMZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="BM" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GRZ" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GR" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmin" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Zmax" type="xs:decimal" minOccurs="0"/>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungGruenflaecheType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="nutzungsForm" type="bplan:NutzungsformType" minOccurs="0"/>
					<xs:element name="sonstigeZweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungGruenflaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Parkanlage"/>
			<xs:enumeration value="Dauerkleingarten"/>
			<xs:enumeration value="Sportplatz"/>
			<xs:enumeration value="Spielplatz"/>
			<xs:enumeration value="Zeltplatz"/>
			<xs:enumeration value="Badeplatz"/>
			<xs:enumeration value="Friedhof"/>
			<xs:enumeration value="Kleintierhaltung"/>
			<xs:enumeration value="Sonstiges"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Sonstige Festsetzungen -->
	<xs:element name="RaeumlicherGeltungsbereich" type="bplan:RaeumlicherGeltungsbereichType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="RaeumlicherGeltungsbereichType">
		<xs:annotation>
			<xs:documentation>
Grenze des räumlichen Geltungsbereichs des Bebauungsplans (§9 Abs. 7 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="aufstellungsbeschluss" type="xs:date" minOccurs="0"/>
					<xs:element name="veraenderungssperre" type="xs:date" minOccurs="0"/>
					<xs:element name="satzungsbeschluss" type="xs:date" minOccurs="0"/>
					<xs:element name="rechtsverordnung" type="xs:date" minOccurs="0"/>
					<xs:element name="datumDesInkrafttretens" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="KennzeichnungFlaeche" type="bplan:KennzeichnungFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="KennzeichnungFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen für Kennzeichnungen gemäß §9 Abs. 5 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="bplan:ZweckbestimmungKennzeichnungFlaecheType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ZweckbestimmungKennzeichnungFlaecheType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UmweltgefaehrdendeStoffe"/>
			<xs:enumeration value="Naturgewalten"/>
			<xs:enumeration value="Bergbau"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="WegerechteBelasteteFlaeche" type="bplan:WegerechteBelasteteFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="WegerechteBelasteteFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzung von Flächen, die mit Geh-, Fahr-, und Leitungsrechten zugunsten der Allgemeinheit, eines Erschließungsträgers, oder eines beschränkten Personenkreises belastet sind  (§ 9 Abs. 1 Nr. 21 und Abs. 6 BauGB).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zugunstenVon" type="xs:string" minOccurs="0"/>
					<xs:element name="thema" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FreiFlaeche" type="bplan:FreiFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FreiFlaecheType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung der Flächen, die von der Bebauung freizuhalten sind, und ihre Nutzung (§ 9 Abs. 1 Nr. 10 und Nr. 24 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="nutzung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FlaecheAllgemein" type="bplan:FlaecheAllgemeinType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="FlaecheAllgemeinType">
		<xs:annotation>
			<xs:documentation>
Aufnahme von flächenfaften Festsetzungen aus dem Landesrecht in einen Bebaaungsplan gemäß §9 Abs. 4 BauGB, sowie nachrichtliche Übernahme nach anderen gesetzlichen Vorschriften gemäß §9 Abs.6 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="HoehenObjekt" type="bplan:HoehenObjektType" substitutionGroup="bplan:BPlanPunktobjekt"/>
	<xs:complexType name="HoehenObjektType">
		<xs:annotation>
			<xs:documentation>
Festsetzungen nach §6 Abs. 1 BauGB für übereinanderliegende Geschosse und Ebenen und sonstige Teile baulicher Anlagen (§9 Abs.3 BauGB).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="hoehe" type="xs:decimal"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LinieAllgemein" type="bplan:LinieAllgemeinType" substitutionGroup="bplan:BPlanLinienobjekt"/>
	<xs:complexType name="LinieAllgemeinType">
		<xs:annotation>
			<xs:documentation>
Aufnahme von linienhaften Festsetzungen aus dem Landesrecht in einen Bebaaungsplan gemäß §9 Abs. 4 BauGB, sowie nachrichtliche Übernahme nach anderen gesetzlichen Vorschriften gemäß §9 Abs.6 BauGB
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanLinienobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PunktAllgemein" type="bplan:PunktAllgemeinType" substitutionGroup="bplan:BPlanPunktobjekt"/>
	<xs:complexType name="PunktAllgemeinType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPunktobjektType">
				<xs:sequence>
					<xs:element name="zweckbestimmung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Aufschüttung, Abgrabung, Bodenschätze -->
	<xs:element name="AufschuettungsFlaeche" type="bplan:AufschuettungsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AufschuettungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen auf Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Aufschüttungen
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AbgrabungsFlaeche" type="bplan:AbgrabungsFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="AbgrabungsFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen auf Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Abgrabungen
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BodenschaetzeFlaeche" type="bplan:BodenschaetzeFlaecheType" substitutionGroup="bplan:BPlanFlaechenobjekt"/>
	<xs:complexType name="BodenschaetzeFlaecheType">
		<xs:annotation>
			<xs:documentation>
Flächen auf Aufschüttungen, Abgrabungen oder für die Gewinnung von Bodenschätzen (§ 9 Abs. 1 Nr. 17 und Abs. 6 BauGB). Hier: Flächen für Gewinnung von Bodenschätzen
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanFlaechenobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Paket Erhaltungssatzung und Denkmalschutz -->
	<xs:element name="DenkmalschutzBereich" type="bplan:DenkmalschutzBereichType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="DenkmalschutzBereichType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer Fläche zur Erhaltung baulicher Anlagen und der Eigenart von Gebieten (§172 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DenkmalschutzEnsemble" type="bplan:DenkmalschutzEnsembleType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="DenkmalschutzEnsembleType">
		<xs:annotation>
			<xs:documentation>
Umgrenzung eines Denkmalgeschützten Ensembles
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DenkmalschutzEinzelanlage" type="bplan:DenkmalschutzEinzelanlageType" substitutionGroup="bplan:BPlanPunktobjekt"/>
	<xs:complexType name="DenkmalschutzEinzelanlageType">
		<xs:annotation>
			<xs:documentation>
Punktförmige denkmalgeschützte Einzelanlage
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanPunktobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ErhaltungsBereich" type="bplan:ErhaltungsBereichType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="ErhaltungsBereichType">
		<xs:annotation>
			<xs:documentation>
Fläche, auf denen der Rückbau, die Änderung oder die Nutzungsänderung baulichen Anlagen der Genehmigung durch die Gemeinde bedarf (§172 BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="grund" type="bplan:ErhaltungsGrundType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ErhaltungsGrundType">
		<xs:annotation>
			<xs:documentation>
Aufzählung der Gründe für eine Erhaltungssatzung
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="StaedtebaulicheGestalt"/>
			<xs:enumeration value="Wohnbevoelkerung"/>
			<xs:enumeration value="Umstrukturierung"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Paket Umweltbezogene Festsetzungen -->
	<xs:element name="ImmissionsschutzFlaeche" type="bplan:ImmissionsschutzFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="ImmissionsschutzFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzung einer von der Bebauung freizuhaltenden Schutzfläche und ihre Nutzung, sowie einer Fläche für besondere Anlagen und Vorkehrungen zum Schutz vor schädlichen Umwelteinwirkungen und sonstigen Gefahren im Sinne des Bundes-Immissionsschutzgesetzes sowie die zum Schutz vor solchen Einwirkungen oder zur  Vermeidung oder Minderung solcher Einwirkungen zu treffenden baulichen und sonstigen technischen Vorkehrungen (§9, Abs. 1, Nr. 24 BauGB).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence>
					<xs:element name="nutzung" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LuftreinhalteFlaeche" type="bplan:LuftreinhalteFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="LuftreinhalteFlaecheType">
		<xs:annotation>
			<xs:documentation>
Festsetzung von Gebieten, in denen zum Schutz vor schädlichen Umwelteinwirkungen im Sinne des        Bundes-Immissionsschutzgesetzes bestimmte Luft verunreinigende Stoffe nicht oder nur beschränkt verwendet werden dürfen (§9, Abs. 1, Nr. 23a BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TechnikBestimmteFlaeche" type="bplan:TechnikBestimmteFlaecheType" substitutionGroup="bplan:BPlanUeberlagerungsobjekt"/>
	<xs:complexType name="TechnikBestimmteFlaecheType">
		<xs:annotation>
			<xs:documentation>
Gebiet, in dem bei der Errichtung von Gebäuden bestimmte bauliche Maßnahmen für den Einsatz erneuerbarer Energien wie insbesondere Solarenergie getroffen werden müssen (§9, Abs. 1, Nr. 23b BauGB)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bplan:BPlanUeberlagerungsobjektType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
